[2021-05-14 07:48] brylie opened #876 "Add i18n tags to all Django templates"
As we port templates from the SPA app over to regular Django templates, ensure that we add localization support for all static texts. Prior to the 2.0 release, review all templates to make sure the internationalization is complete.

[2021-05-14 11:31] Swanand01 commented on #857
Hi @brylie, I have performed all the above changes, but I am stuck on the makemigrations part.
[code]

This is the error I got when I ran django-admin makemigrations from the project directory.
Thanks.

[2021-05-15 01:56] pat-nel87 commented on #845
I'd be interested in helping out with this, thank you

[2021-05-15 07:46] #864 closed, assigned to nobody

[2021-05-15 08:00] #865 closed, assigned to nobody

[2021-05-15 08:11] brylie commented on #857
@Swanand01 please push your code to GitHub and open a pull request. Add the following text in the first line of your pull request description:

[code]

I will take a look at your code and try to reproduce or fix the issue.

[2021-05-15 08:13] brylie commented on #856
Closed by #875

[2021-05-15 08:13] #856 closed, assigned to tberm

[2021-05-15 08:14] brylie commented on #830
Closed by #875

[2021-05-15 08:14] #830 closed, assigned to tberm

[2021-05-15 09:27] brylie commented on #781
Hei @JOO33, would you mind changing my role in the CiviWiki members to be an Owner? I want to set up a team and send invites to all of our contributors so they are included in the organization as well.

[2021-05-16 15:19] pscheid2 commented on #781
Hey all! It's awesome to see you picking this project back up.

I'm curious what you think a good goal for a minimal set of features to get working in production would be? I definitely agree that simplification is needed, both on the technical side and on the product side of the project.

Maybe we start working to get the app back up in production with just civis/civi threads and a super basic fee

[2021-05-16 16:18] brylie commented on #781
That sounds like a great MVP :-)

[2021-05-17 09:53] brylie commented on #781
Closing this issue as we have defined a [2.0 Milestone](https://github.com/CiviWiki/OpenCiviWiki/milestone/5) with many planned tasks.

[2021-05-17 09:53] #781 closed

[2021-05-17 23:52] North15 commented on #851
Hey @brylie, I would like to take on this task if it's still open and needs to be resolved. Thanks.

[2021-05-18 05:54] soumallyadev07 commented on #851
Hey @brylie  Would love to help with this!

[2021-05-18 07:47] brylie commented on #851
Thanks, @soumallyadev07! Please let me know your progress and any hurdles in getting a development environment set up. I'll assign you to the issue, so we can indicate that it is in progress.

[2021-05-18 07:48] brylie commented on #851
@soumallyadev07, would you mind saying how you found out about the CiviWiki project? I want to continue with community-building efforts, so any information about how to reach new contributors is welcome.

[2021-05-18 08:00] brylie opened #885 "Restructure CiviWiki organization to facilitate community stewardship"
Currently, the CiviWiki organization has three members:

- @mdwest (Owner)
- @JOO33 (Owner)
- @brylie (Member)

While we are trying to recognize all contributors in our README, it may be more beneficial to invite contributors to join our GitHub organization.

As a first step towards greater community involvement in the CiviWiki project, let's:

1. create one or more groups in the CiviWiki organiza

[2021-05-18 08:01] brylie commented on #885
@mdwest or @JOO33, would you mind adding me as an Owner in the CiviWiki organization so I can work on the above-mentioned changes?

[2021-05-18 08:12] brylie commented on #851
@soumallyadev07 would you be willing to start by upgrading the Django dependency to version 3.2 LTS? If so, we can start with issue #848

[2021-05-18 10:46] soumallyadev07 commented on #851
I'll set up my Dev Environment and get started!

[2021-05-18 10:47] soumallyadev07 commented on #851
I actually found this project on [https://up-for-grabs.net/](https://up-for-grabs.net/)

[2021-05-18 10:48] soumallyadev07 commented on #851
Sure! I'll upgrade and send a pull request for you to check

[2021-05-18 11:24] loukikstudent commented on #854
Hi, new to contributing but would love to help out, if i can do it

[2021-05-18 11:33] soumallyadev07 commented on #851
Hey! I'm trying to set up my Dev Environment and upgrading the dependencies and I ran into 2 issues as of now, the psycopg2  is not getting install and throwing an error(Attached Screenshot).
<img src="https://i.ibb.co/4RP2yL9/Screenshot-421.png" alt="error" style="height: 100px; width:100px;"/>

2nd issue is coming from asgi-redis as it requires a lower version of channels while Django and some o

[2021-05-18 12:12] North15 commented on #21
@brylie I'm available to help on this issue. Thanks!

[2021-05-18 20:28] mohas1203 commented on #851
Instead of trying `pip install psycopg2` try `pip install psycopg2-binary`, I'm pretty sure its the same thing. Check out [this article](https://pysql.tecladocode.com/section05/lectures/04_psycopg2_vs_psycopg2-binary/) to learn about the differences.

[2021-05-19 06:13] soumallyadev07 commented on #851
Thanks! I installed psycopg2-binary but I still don't seem to understand the error that is being generated here.

[2021-05-19 20:26] mohas1203 commented on #851
@soumallyadev07 To install psycopg2 there are a lot of dependencies that you need for it whereas psycopg2-binary usually just works after being downloaded. You can also check out this [discussion ](https://github.com/psycopg/psycopg2/issues/674) where the address some of the problems

[2021-05-20 06:54] fardeenes7 commented on #21
I'm a beginner on this path. I hope you consider me for the issue.

[2021-05-20 06:56] fardeenes7 commented on #851
Can I get a chance to work on the issue? I would really love to

[2021-05-20 19:58] brylie commented on #851
In reqrirements.txt, change the following line

[code]

to

[code]

Then re-run the build process.

[2021-05-20 19:59] brylie commented on #21
Thanks @North15. I have assigned you to the issue.

Would you consider collaborating with @fardeenes7 so they can get started with CiviWiki development?

[2021-05-20 19:59] brylie commented on #854
Thanks, @loukikstudent! I have assigned you to the issue.

Out of interest, how did you find out about CiviWiki?

[2021-05-20 20:28] North15 commented on #21
@brylie Thanks for assigning me the issue! Definitely, @fardeenes7 if you want to start working on making changes to the models I'll start on the functions. Then once we complete those we can meet somewhere in the middle of the classes. Let me know if that sounds good to you.

[2021-05-21 04:24] soumallyadev07 commented on #851
I've changed and installed all the requirements and then tried to run -
[code]
in the "project" folder but I'm getting the **ModuleNotFoundError: No module named 'celery'** error even though celery is installed using pip.
![Screenshot (424)](https://user-images.githubusercontent.com/55331884/119081820-73d22500-ba1a-11eb-83cb-002ce4b554a1.png)

[2021-05-21 04:56] fardeenes7 commented on #21
@North15 I'm okay with that.

[2021-05-21 06:38] fardeenes7 commented on #21
Added docstring to all model files. Submitted merge request. If you could give a look @brylie

[2021-05-21 08:37] brylie commented on #21
Thanks @North15 and @fardeenes7

I merged the PR opened by @fardeenes7

[2021-05-21 08:38] brylie commented on #851
Edit: we will keep the Celery dependency, as it is needed for sending emails.

[2021-05-21 08:39] brylie commented on #851
Please notice the following part of the issue description:

    django-notifications-hq (double-check how it is being used)
    channels
    celery
    asgi-redis
    coreapi
    requests (after disabling code that integrates 3rd party data)
    sunlight
    honcho
    sentry-sdk

[2021-05-21 08:46] fardeenes7 commented on #851
hey @brylie  should I give it a try?

[2021-05-21 12:14] loukikstudent commented on #854
Thank you for the assignment @brylie .
I was actually just browsing GitHub explore to see if there are any cool repos that i could utilize in my projects, then came across this repo's issues tagged with "good first issue" and thought to myself i might as well try and give back to the community that has given me so much and also i contributed before the whole hacktoberfest reeks havoc

[2021-05-21 16:56] brylie commented on #851
@fardeenes7 it is a bit confusing for multiple people to work on the same issue. Would you consider trying an issue that is not assigned in our 2.0 backlog?

https://github.com/CiviWiki/OpenCiviWiki/milestone/5

[2021-05-22 07:00] brylie commented on #854
Thanks for the info @loukikstudent

Please let me know if you have any difficulties with or need advice regarding to this issue :-)

[2021-05-22 08:20] yutytuty commented on #854
Hi, also new to contributing and was wondering if I could help with this issue? This is the first project I am contributing to so was wondering if I can ask for help here as well.
Thank you in advance!

[2021-05-22 08:47] yutytuty commented on #847
Hi, can I try to solve this issue? This is my first time contributing to an open source project so I was wondering if I can ask questions here :)
Thank you in advance!

[2021-05-22 10:23] lisbonjoker commented on #885
We could use either Matrix or a self-hosted RocketChat

[2021-05-22 17:44] brylie commented on #847
Sure @yutytuty. I will assign you to this issue.

[2021-05-22 17:55] brylie opened #889 "Move webapp static templates to Django app(s)"
The JavaScript app, located in the `webapp` directory, contains most of the frontend templates. We want to preserve the look and feel of CiviWiki through this 2.0 transition.

Move all [static templates in the `webapp` directory](https://github.com/CiviWiki/OpenCiviWiki/tree/develop/project/webapp/templates) into Django app folders (we can assist with project structure). Convert the template synta

[2021-05-23 07:50] yutytuty commented on #847
I'm having an issue installing the dependencies. I solved the first one by changing pyscopg2 to pyscopg-binary and now it's showing this.
![Screenshot from 2021-05-23 03-50-06](https://user-images.githubusercontent.com/49990984/119252393-fe7d6600-bb79-11eb-9953-747ca1872769.png)

[2021-05-23 15:08] Uttam-Singhh commented on #889
Hello @brylie,
I would love to work on this.
It would be great if you can assign me this task and guide me more on this issue.

[2021-05-23 17:13] Hemangii commented on #847
Hi,
I guess I know how to fix this. Can I work on this ?

[2021-05-23 19:51] loukikstudent commented on #854
Hi, i went through the code, i saw the Hashtag model, you want me to modify it so that it uses django-taggit and replace hashtag with keyword everywhere. I shouldnt be changing the Hashtag model name right?

[2021-05-24 06:12] yutytuty commented on #847
I can't seem to get the dependencies working. Can you remove me from this issue @brylie

[2021-05-25 11:51] brylie commented on #889
Thanks, @Uttam-Singhh!

The basic goal here is to deprecate the JavaScript SPA frontend. Instead, we will use conventional Django apps that include the relevant templates.

The SPA templates have an elegant aesthetic that we want to preserve. So, the idea is to move the template definitions into the Django application directory and convert the Handlebars syntax into the Django template syntax, pre

[2021-05-25 12:00] brylie commented on #889
@Uttam-Singhh I have added a checklist to follow in the issue description.

Please let me know if you have any difficulties along the way.

[2021-05-25 12:02] brylie commented on #854
Correct. In effect, we can remove the `Hashtag` model and use a `TaggableManager` field on any model that (ForeignKey) references `Hashtag`.

E.g.

[code]

Change the following fields to use `TagabbleManager` as in the example above:
https://github.com/CiviWiki/OpenCiviWiki/blob/b5802ad07ca3b42c6a77b383b6c450841fdff916/project/api/models/thread.py#L94

https://github.com/CiviWiki/OpenCiviWiki/blob

[2021-05-25 12:03] Uttam-Singhh commented on #889
Thank you so much @brylie. I will start working on this!

[2021-05-25 12:56] brylie commented on #847
@yutytuty we will try to fix the Dockerfile ASAP. Sorry for the difficulties.

[2021-05-25 13:20] brylie commented on #847
@yutytuty I have fixed the Dockerfile so that it includes all necessary dependencies. Can you please verify that the project will run on your computer via Docker? I.e. run the following command in the base directory (where we keep docker-compose.yml):

[code]

[2021-05-25 16:37] loukikstudent commented on #854
I have made the changes to satisfy the conditions of this issue, the problem is that i am trying to test it with docker deploy but i keep getting error in civiwiki-backend.
[code]

I have tried using EOL conversion but had no success. @brylie kindly look into the PR and let me know if any other changes are required and also could you help me with test of this code in docker as well.
Thank you

[2021-05-25 17:57] Uttam-Singhh commented on #889
Hello, @brylie I am facing an issue while running the server on my system whenever I use `python manage.py`.
I get this error please help me!
![Capture](https://user-images.githubusercontent.com/63050765/119545715-bd22cb80-bdb0-11eb-831d-15f9b6118ec2.JPG)

[2021-05-26 04:37] brylie commented on #848
@North15, would you be interested in taking this issue?

[2021-05-26 04:38] brylie commented on #851
@North15 would you be interested in working on issue #848? That is a really important issue for keeping us up to date with Django LTS.

[2021-05-26 04:41] brylie commented on #854
@loukikstudent try running CiviWiki without Docker. It should work reasonably well with just Python virtual environment. Try on a fresh version of the develop branch, as we have simplified the dependencies substantially today. Then, apply your changes against a fresh branch, so you don't have to wrestle with Git too much.

[2021-05-26 04:42] brylie commented on #889
@Uttam-Singhh try again on a fresh version of the `develop` branch. I have fixed the issue you are experiencing.

E.g. do

[code]

then

[code]

Base your new branch on the fresh develop branch.

[2021-05-26 04:44] brylie commented on #889
Note: I have added the desired app structure as well:

- `/project/threads/templates/threads` for Civi and Thread related templates
- `/project/accounts/templates/accounts/` for account-related templates (log in/out, manage profile)

[2021-05-26 08:53] North15 commented on #851
@brylie Yes, I can start working on this issue.

[2021-05-26 10:25] brylie commented on #851
@North15 ok, let's carry the conversation over to issue #848

[2021-05-26 11:07] EkanshBhatnagar commented on #848
Hey I would be interested in taking this issue .

[2021-05-26 11:07] EkanshBhatnagar commented on #848
Could you guide me to the details.

[2021-05-26 11:18] brylie commented on #848
@EkanshBhatnagar thank you for your interest. @North15 has already agreed to take this task, so we should give them the opportunity first.

Would you be interested in a different task from our [2.0 milestone](https://github.com/CiviWiki/OpenCiviWiki/milestone/5)?

[2021-05-26 11:21] brylie commented on #21
Closed by @North15

[2021-05-26 11:21] #21 closed

[2021-05-26 11:43] North15 commented on #848
@brylie I'll start working on this in the afternoon, I'll let you know if I run into any issues.

[2021-05-26 13:13] loukikstudent commented on #854
Hi @brylie,
 I have migrated the changes also added it under "INSTALLED_APPS" as well as updated requirements.txt.

The issue is in api/accounts.py -> Accounts model the field ai_interests, i cannot add TaggleManager() because it through an error during migrations
ValueError: You can't have two TaggableManagers with the same through model.
Because of this i cannot completely remove the Hashtag mod

[2021-05-26 14:40] brylie commented on #854
Feel free to remove the `ai_interests` field, as it is not needed.

[2021-05-26 14:56] loukikstudent commented on #854
The changes have been made.
@brylie hi sorry, i was really confused about the PRs so i issues a new PR with all the changes PR #900.

[2021-05-26 20:22] North15 commented on #848
@brylie I ran `sudo docker-compose up` and I received this error at the end.
`ERROR: Service 'backend' failed to build: The command '/bin/sh -c apt-get update && apt-get install -y --no-install-recommends   git   gcc   vim   build-essential   unzip   xvfb   libxi6   libgconf-2-4   default-jdk   supervisor &&   apt-get clean && /' returned a non-zero code: 126
`

[2021-05-26 20:58] North15 commented on #848
I was able to run `sudo docker-compose up` and to have it complete successfully with a couple of changes in the Dockerfile. I'm working on the upgrade now.

[2021-05-26 21:31] North15 commented on #848
So, from what I can tell when I installed the latest version of Django, and a few errors were thrown.
`
norser@norser-OptiPlex-3010:~/Documents/GitHub/OpenCiviWiki$ python3 -m pip install -U Django
`
`
ERROR: daphne 1.4.2 has requirement asgiref~=1.1, but you'll have asgiref 3.3.4 which is incompatible.
ERROR: channels 1.1.8 has requirement asgiref~=1.1, but you'll have asgiref 3.3.4 which is inco

[2021-05-27 06:00] EkanshBhatnagar commented on #848
@brylie I want to contribute could you guide to a issue that it a good introduction/first issue for me to start with.

[2021-05-27 09:30] #854 closed, assigned to loukikstudent

[2021-05-27 09:33] brylie commented on #848
@North15 be careful when using `sudo`. Is there a particular reason for using `sudo` with `docker-compose up`?

Also, make sure you are using the latest code from the develop branch. Some of the packages you mention have been removed from the Dockerfile and requirements.txt in the past couple of days.

[2021-05-27 09:36] brylie commented on #18
Closing as this has been completed.

[2021-05-27 09:36] #18 closed

[2021-05-27 09:37] brylie commented on #844
Closing since this is pretty much done.

[2021-05-27 09:37] #844 closed, assigned to nobody

[2021-05-27 09:38] brylie commented on #845
I believe we will still need Celery to send emails, so I'll close this issue as "wontfix"

[2021-05-27 09:38] #845 closed, assigned to nobody

[2021-05-27 09:38] brylie commented on #157
Closing since we have a working Dockerfile and docker-compose.yml

[2021-05-27 09:38] #157 closed

[2021-05-27 09:40] brylie commented on #848
@EkanshBhatnagar how about you work on removing our Google Maps code in issue #7? We aren't keeping user locations anymore so we just need to clean up all code related to Google Maps. Let's continue the conversation in issue #7

[2021-05-27 09:41] brylie commented on #7
@EkanshBhatnagar would you like to take this issue?

[2021-05-27 09:44] brylie commented on #855
@blackpandan I'm just checking in. Is there any way I can be of assistance with this task?

Make sure to work with the latest development branch, since some of the work in this task has already been done in other tasks.

[2021-05-27 10:04] #857 closed, assigned to Swanand01

[2021-05-28 14:33] jdcbautista commented on #7
If they don't, can I?

[2021-05-29 14:45] brylie commented on #7
@jdcbautista sure thing! I'll go ahead and assign you.

Please let me know if I may be of assistance.

[2021-05-30 18:22] aishuo07 commented on #889
is this issue open

[2021-05-31 19:04] Floyd-Droid commented on #868
I'm interested in this issue. I could begin by annotating the functions of the frontend views, unless there is a better place to start.

Also, it seems [django-stubs](https://github.com/typeddjango/django-stubs) would be helpful to integrate.

[2021-05-31 22:52] a7madnassar commented on #855
I would like to help with this task if there's any work left to be done.

[2021-06-01 07:52] brylie commented on #889
@aishuo07 yes, would you like to take the issue? We can break it into small parts to make it easier to get started.

[2021-06-01 07:53] brylie commented on #855
Thanks, @a7madnassar I'll assign you to the issue. Please keep me updated with any progress or difficulties. I'm available to help.

[2021-06-01 09:10] Uttam-Singhh commented on #889
Yeah, @brylie actually it is a great idea, It will be really beneficial to newcomers like me.
Also, sorry for not working on this issue I was busy with my College Exams. Apologies!

[2021-06-01 09:32] a7madnassar commented on #855
Great, I was just wondering what is left in this issue. Also, some mentioned files do not exist in the "develop" branch. For example the settings.py file. Can you point me in the right direction here? Thanks.

[2021-06-01 10:11] max1204 commented on #889
Anyone still working on this issue?

[2021-06-01 10:49] brylie commented on #855
The `settings.py` file is in the `/project/civiwiki/` directory.

I updated the description to remove some parts that have already been done. The remaining tasks should refer to the `accounts` app, which is located in `/project/accounts/`.

E.g. create the custom user model in the Accounts app.

[2021-06-01 12:08] a7madnassar commented on #855
I forked the "develop" branch to work on. However, this branch does not include the /project/civiwiki directory in it. Which branch should I fork for the modifications?

[2021-06-01 12:42] a7madnassar commented on #855
I guess it should be the "all-contributors/add-fardeenes7" branch, right? Also, for the custom user, are we extending django.contrib.auth.models.User or django.contrib.auth.models.AbstractUser?

[2021-06-01 18:07] aishuo07 commented on #889
Yes Sir

[2021-06-02 07:59] brylie commented on #889
@aishuo07 and @max1204, I have assigned you both to this issue. Perhaps you can discuss how to work together on the task?

[2021-06-02 08:00] brylie commented on #889
@Uttam-Singhh all good. It's easy to say yes to too many things.

[2021-06-02 08:01] brylie commented on #855
My bad. The `develop` branch has `/project/core/` directory where you can find settings. The `/project/accounts/` directory is the destination for all accounts-related code and templates.

[2021-06-02 12:40] a7madnassar commented on #855
Great, that makes it clear now. Thanks.

[2021-06-02 13:50] aishuo07 commented on #889
Yes we can discuss the Task

[2021-06-02 13:53] aishuo07 commented on #889
Hello max Aish here you can contact me via my LinkedIn https://www.linkedin.com/in/aish-kanodia/ and we can discuss further

[2021-06-02 15:49] aishuo07 commented on #889
can u help me with handlebars what are handlebars

[2021-06-02 16:56] brylie commented on #889
Handlebars is a template language used in many JavaScript applications.

https://handlebarsjs.com/

When writing a web application, we need to display data. We use HTML markup to display data, but sometimes need to be able to do things like loop over a list of items or display items based on conditional logic. Template languages add a bit more capabilities to the HTML.

Django has its own template

[2021-06-02 20:12] aishuo07 commented on #889
Okay so you are saying to convert the handlebars part in web app js templates to Django compatible templates and move them to the folder /project/threads/templates/threads/   and /project/threads/templates/accounts/

[2021-06-03 07:43] brylie commented on #889
Yes. I'm not sure whether "Handlebars" is even relevant. The goal is, as you understand, to move the templates into the Django app and use Django template syntax.

I realize this task may be more involved than I originally thought, since a lot of the logic is in Backbone.js files. Please let me know if you encounter any roadblocks.

[2021-06-03 09:56] max1204 commented on #889
@aishuo07 @brylie I did move all the templates to the folders that were specified. And so far it hasn't broken anything.
I still have to separate the account templates. for now, they all are in the same folder. I'll identify and then move them to `/project/accounts/templates/accounts/`

[2021-06-03 12:45] aishuo07 commented on #889
hii max how can we connect

[2021-06-03 21:50] a7madnassar commented on #855
I started working on this issue and was able to create a custom User class that extends django.contrib.auth.models.User. This means it will be just a proxy model. I also investigated the rest of the tasks and most of them should be OK except for the main task of moving the Account model to the new accounts app. I will keep this task as the last one because currently if I try to drop and add the ne

[2021-06-04 07:53] max1204 commented on #889
@aishuo07 Let's connect on discord. My handle is `max1204#8184`

[2021-06-04 08:21] brylie commented on #855
@a7madnassar please make a pull request with your current changes. That way, we can review your code already at this point and possibly help resolve/avoid some issues. Once you have opened a pull request, I will try and help with the migrations issue.

[2021-06-05 02:10] CJZ-14 commented on #847
Hi @brylie, I can try to assist with this issue if it still needs to be fixed. Please let me know. Thanks!

[2021-06-05 08:46] max1204 commented on #889
@brylie
I'm testing the app after changes and there is a URL /settings the view for this is in `/project/frontend_views/views.py` it is trying to access the property `longitude` and `latitude` but the Account model doesn't have any property like that.
Someone working on it or this is still due?

[2021-06-05 20:18] a7madnassar commented on #855
@brylie I just submitted a pull request for the work I have done so far. Here's a summary of what I did:
1. Swapped the default User model for a custom model that extends django.contrib.auth.models.AbstractUser.
2. Implemented registration and login logic using class-based views under a new '/accounts/' path. Users currently can register and log in.

I chose to postpone creating the new Account mo

[2021-06-06 10:55] brylie commented on #847
Thanks, @CJZ-14! I'll assign you to the task. Please open a pull request with your changes when you start development. That way, I can help out along the way.

[2021-06-06 10:57] brylie commented on #889
@max1204, the user location data has been removed from the account, so should also be removed from any views, templates, etc. If you come across any user location fields, feel free to remove them as part of your PR.

[2021-06-06 11:01] #855 closed, assigned to a7madnassar

[2021-06-06 14:30] max1204 commented on #889
@brylie , What do we do about the templates that don't exist. i.e. `partials/account/tabs/my_bills.html` `map.html` ?

Also if I can see the demo as there are two URLs that are not printing anything they are empty. Just wanted to make sure what changes I  need to make in order to clear the Handlebars syntax.

[2021-06-06 20:10] a7madnassar commented on #848
I can work on this issue. If needed.

[2021-06-06 20:31] brylie commented on #848
@a7madnassar sure, thanks! Please make sure to use the latest development branch, since we have removed some dependencies (like channels).

[2021-06-06 20:32] a7madnassar commented on #848
I'm already running the project on Django 3.2.4 right now. Just assign me this issue and I will submit my pull request. Thanks.

[2021-06-06 20:33] brylie commented on #889
@max12304, both `my_bills` and `map` templates should no longer be needed since we have removed the legislation and user location features. Are there any other templates that don't have a home?

[2021-06-06 21:01] a7madnassar opened #908 "Create reset password view under the accounts app."
Currently, when the user wants to reset the password, they go to a Django admin page, which has a different look.  Newly implemented registration and login views have been created under the '/accounts/' path. This task is to replace the current reset password page with a page that looks like the registration and login pages.

[2021-06-06 23:36] jdcbautista commented on #7
@brylie Thanks!

I've forked the repo and started making some changes today.  I'm currently stuck installing modules.  I'm running python 2.7.16 within a virtualenv and zsh is killing every operation I try to run.

Currently on an M1 Mac.  Did some digging and others are experiencing trouble with python 2.7 + virtualenv on M1 chips.

I'll dig a bit more and maybe take a stab on an intel based lapt

[2021-06-07 04:33] GokuMizuno commented on #7
Whatever happened to the pre-2018 upgrade to Python 3 performed on the
codebase?

Was that not merged?

On Sun, Jun 6, 2021, 19:36 Julius ***@***.***> wrote:

[2021-06-07 07:44] brylie commented on #7
@jdcbautista, as @GokuMizuno mentions, CiviWiki was upgraded to support Python 3.x. We now only support Python 3.7 and above.

The Python 3 upgrade was done to keep our dependencies up-to-date while aligning with the broader [decision to sunset Python 2.x on Jan. 1st, 2020](https://www.python.org/doc/sunset-python-2/). Admittedly, there may be some files that mention Python 2.x, that have slipped

[2021-06-07 07:49] brylie opened #909 "Ensure local-setup documentation is still valid"
We have a [local-setup document](https://github.com/CiviWiki/OpenCiviWiki/blob/develop/docs/contributing/local-setup.md) to help new contributors run CiviWiki on their local computers. With recent changes, some of the details in local-setup.md may be irrelevant.

Make sure we update the local-setup.md with correct details for getting started with CiviWiki development.

[2021-06-07 09:53] max1204 commented on #889
@brylie, so far these are the ones that are not available. RIght now I'm looking into the settings URL it is empty, not sure if that is empty because work is being done on this or not.

[2021-06-07 12:58] a7madnassar commented on #908
@brylie can you please assign this task to me. I created it to complete the work done on the user registration/login section. This task is to migrate the current reset password page into the new '/accounts/' path.

[2021-06-07 13:29] brylie commented on #908
Thanks @a7madnassar!

[2021-06-07 13:30] brylie commented on #889
@max1204 just focus on the templates that you are able to find for now. Keep a list of missing templates, and we can create a follow-up task.

[2021-06-07 17:12] Floyd-Droid commented on #909
Hi @brylie, I'd like to work on this issue.

[2021-06-07 21:12] North15 opened #911 "Error when running 'docker-compose up'"
#### Issue
---
When I run ```docker-compose up``` I get the following error:

[code]
I'm not sure what the error is referring to, but I cannot seem to get it fixed. I made sure that I have ```django-taggit``` installed and everything looks good on that side.

Any thoughts?

Thanks

[2021-06-08 13:01] brylie commented on #909
Thanks @Floyd-Droid! I'll assign you.

[2021-06-08 14:00] manuneerav commented on #889
is this issue still open?

[2021-06-08 14:02] brylie commented on #889
@manuneerav yes, the issue is still open. We have two developers who are taking a look. Perhaps you could coordinate with @max1204 to see how they may need assistance? This task is great for pair programming :-)

[2021-06-09 02:30] max1204 commented on #889
@manuneerav  Let's connect on discord. My handle is max1204#8184.
My progress is a bit slow on weekdays. But I think this weekend it will be finished.

@brylie I have a few questions about some URLs.

[2021-06-09 07:07] brylie commented on #889
@max1204 what are your questions about URLs?

[2021-06-09 18:06] Floyd-Droid commented on #909
Hello, @brylie. I'm having trouble getting an account set up. Here is my process:

(1) Create/activate a virtual environment and install dependencies
(2) python manage.py migrate
(3) install categories.json fixture
(4) collect static files
(5) create superuser
(6) run the server

When I go to register (same info as superuser), I get two errors:
(1) "Sorry, this username already exists"
(2) "An acc

[2021-06-10 07:21] brylie commented on #909
Go to log in, rather than register. The `createsuperuser` command has already created an account without needing to register through the UI.

[2021-06-10 10:15] max1204 commented on #889
@brylie, I have a question about the URL /settings and /profile/{username}. So on my local setup when I'm running these URLs I get the header and footer but the middle section is empty.

Is someone working on it or it should print something?

[2021-06-10 10:40] brylie commented on #889
@max1204 It might be better to re-write the missing template elements from scratch, using your own insight and intuition. Start by sketching what a user profile would look like (e.g. draw it on paper) and post your sketch to this thread. Then, we will create a simple Django template based on your sketch.

[2021-06-10 10:44] brylie opened #914 "Create user profile template"
When migrating the old frontend templates to Django, we noticed the user profile was not rendering any content. Rather than weed through the proclaimed "horrendous code" that was responsible for rendering the BackBone view, let's just write a _simple_ user profile template from scratch.

https://github.com/CiviWiki/OpenCiviWiki/blob/374381b6e4b9b556580157f33fbd8c67204c1b36/project/webapp/static/js

[2021-06-10 10:46] brylie opened #915 "Create settings view/tempate"
When migrating the old frontend templates to Django, we noticed the settings view was not rendering any content. Rather than weed through the Backbone.js code that was responsible for rendering the view, let's just write a _simple_ user profile template from scratch.

## Task
- determine what fields are available on the settings page
- sketch a basic settings page using pencil and paper or a drawi

[2021-06-10 10:48] brylie commented on #889
@max1204, I created separate tickets to track the user profile and settings template/view:
https://github.com/CiviWiki/OpenCiviWiki/issues/914
https://github.com/CiviWiki/OpenCiviWiki/issues/915

What other templates should I create tasks for?

@aishuo07 @manuneerav @Uttam-Singhh and @max1204 please determine if/how to divide up the tasks so they can be completed in parallel.

[2021-06-10 15:49] Floyd-Droid commented on #909
I still get the 'Not found' error. After some searching, it seems that the createsuperuser command creates an accounts.models.User instance. However, in accounts/authentication.py, line 71:

https://github.com/CiviWiki/OpenCiviWiki/blob/374381b6e4b9b556580157f33fbd8c67204c1b36/project/accounts/authentication.py#L69-L76

It attempts to grab a corresponding Account instance, but there are none in th

[2021-06-11 09:04] praneethratna commented on #914
I'm a newcomer and would like to contribute in solving this issue, Could you please help me out?

[2021-06-11 11:31] brylie commented on #909
Ok, we probably need to configure the default user model. I created issue #917 to make sure the default user model is used.

I will create a separate issue to track the resolution of this registration/login bug you describe.

[2021-06-11 11:37] brylie opened #917 "Configure default user model"
With recent work on a custom user model, we may have forgotten to configure Django to use the custom user model as default when creating new users.

Make sure our `User` model is configured as the project default (in the base settings).
https://github.com/CiviWiki/OpenCiviWiki/blob/374381b6e4b9b556580157f33fbd8c67204c1b36/project/accounts/models.py#L5-L11

[2021-06-11 11:54] brylie opened #918 "Ensure register/login links and views work correctly"
We need to make sure our "register" and "login" pages work correctly.

## Context
We are in the process of converting all of our templates to regular Django templates. Previously, the templates were created using Backbone.js and some other templating language.

We have also recently configured a custom user model.

## Bug report
@Floyd-Droid reports

## Task
- [ ] ensure that the "register" and "l

[2021-06-11 11:55] brylie commented on #918
@a7madnassar would you be able to double-check that the views, templates, and related links for "register" and "login" all work correctly?

[2021-06-11 17:12] max1204 commented on #889
@brylie I don't there are more I'll work on it this weekend. I was busy last 2-3 days.
I don't think anyone else is working on it.

[2021-06-11 22:29] a7madnassar commented on #918
@brylie yes, I will take a look at it. Just wondering if this bug is in the current authentication/registration or the new one? I will check both anyways.

[2021-06-11 23:20] a7madnassar commented on #918
@brylie The problem is that the admin user is created using Django and the other users are created using the frontend. The app currently creates a User record as well as an Account record. The account record does not exist for the superuser because Django didn't create it. So, is it essential for superusers to access from the frontend? Django provides its own admin app and the superuser will be ab

[2021-06-12 05:07] devRawnie commented on #914
[Here](https://github.com/CiviWiki/OpenCiviWiki/blob/develop/project/accounts/models.py#L5-L11), I couldn't find any fields specified in the User model. Is there some other model, defined elsewhere?

[2021-06-13 15:16] shashankks0987 commented on #917
@brylie I'd like to start contributing to this project and want to start off with this issue. Could you elaborate on this: User model is configured as the project default

[2021-06-13 16:13] shashankks0987 commented on #917
Also nothing past the login page is developed yet right? Because after my local setup it sends me to /beta

[2021-06-13 16:17] shashankks0987 commented on #917
Isn't this what you're looking for
[code]
It is already present in settings.py @brylie

[2021-06-13 19:17] brylie commented on #918
@a7madnassar we should use a single user model, which you created. If it hasn't already, Django needs to be configured to use that "default" user model throughout the project. As part of our migration to using Django templates, we should replace the login and registration views with class-based views that use the correct user model. Most of these pieces are already in place, we just need to follow

[2021-06-13 19:27] brylie commented on #914
We have an `Account` model that is basically the equivalent of a user profile:

https://github.com/CiviWiki/OpenCiviWiki/blob/374381b6e4b9b556580157f33fbd8c67204c1b36/project/api/models/account.py#L105

I propose we
1. move the `Account` model source code into the `accounts` app
2. rename the `Account` model to `Profile`
3. create a FormView for the `Profile` model with route
4. change front-end l

[2021-06-13 19:27] pscheid2 commented on #99
Is it critical to have the propublica integration functioning in this milestone 2.0?

I don't see this as a core feature of the civiwiki site, so I'm thinking we remove this from milestone 2.0 and maybe even close this issue until it becomes a priority.

[2021-06-13 19:38] brylie opened #920 "Remove Waffle.io link from README"
The Waffle.io service is now defunct. As such, we should remove the Waffle.io link/badge from our README.

[2021-06-13 19:41] pscheid2 commented on #87
Completing this issue has very large scope since it includes things like "setting up CI" and being "basic code complete". We have separate issues for these tasks, so I'm thinking we should close this issue since we have other issues tracking the work from this checklist that we want to focus on.

I think it's a good idea to review this checklist when we finish milestone 2.0, but most likely broken

[2021-06-13 19:41] #87 closed

[2021-06-13 19:43] brylie opened #921 "Discuss possibilities for community chat channel"
As our community grows, we want to support collaboration by recommending a primary chat channel/service. Our current recommended community chat channel is Matrix/Riot.im, which has recently been re-branded as [Element](https://element.io/) and undergone usability improvements.

As there aren't a lot of participants in the Riot.im chat, it might be a good opportunity to re-assess which chat service

[2021-06-13 19:47] pscheid2 opened #922 "Change chat client to Discord/Slack to promote more participation"
I've noticed recently that we have low participation in our current Matrix chatroom and I'm wondering if it is related to the chat client being somewhat clunky and unfamiliar to people?

Would we have more participation if we used a Discord or Slack chat server?

I think having a space for developers to ask questions and chat about the roadmap is important for collaboration and improves our abilit

[2021-06-13 19:48] pscheid2 commented on #922
This issue duplicates https://github.com/CiviWiki/OpenCiviWiki/issues/921

[2021-06-13 19:48] #922 closed, assigned to nobody

[2021-06-13 19:49] brylie commented on #921
We originally set up the channel on Riot.im with several complementary aims:

- offer a channel for the CiviWiki community to congregate and collaborate
- participate in a democratic, federated, and open-source chat community
- co-mingle with other communities and open-source projects

In the subsequent years, the CiviWiki project has gone dormant, so there haven't been many active community membe

[2021-06-13 19:56] pscheid2 commented on #921
I think the most important piece is increasing our participation in whatever chat client we choose.

I'm most familiar with Discord or Slack, but am fine with other options if they don't create any barriers to collaboration. @brylie as the most active project member, what are your chat preferences?

[2021-06-13 19:56] brylie commented on #99
@pscheid2 we actually have tasks to remove all code related to elected representatives and bills from CiviWiki as part of the 2.0 milestone.

- #830 - remove features related to elected representatives
- #857 - remove features related to legislation

The elected representatives and legislation features added considerable complexity to CiviWiki, while extending it beyond its core value of promoting

[2021-06-13 20:00] pscheid2 commented on #99
Great! Given that we have other issues open to remove code related to representatives and bills, we should be able to close this issue.

[2021-06-13 20:01] brylie commented on #921
I don't have a super-strong opinion on the matter, but tend to prefer chat networks that are federated and open-source when possible. That said, I have profiles on Discord, Element, Libera IRC, Signal, Slack, Telegram, and WhatsApp, which is becoming a bit mind-boggling.

Perhaps we can re-assess the user experience situation with Element and then decide whether we want to move to another network?

[2021-06-13 20:03] pscheid2 commented on #921
Sounds good to me! Let's use the existing chat for a while and reconsider if we start see downsides.

[2021-06-13 20:03] brylie commented on #921
I'm also thinking that most of our current communications needs might be served by an asynchronous tool, such as [Discourse](https://www.discourse.org/). Discourse is open-source, has a blend of features that make it suited for near-real-time chat and asynchronous community engagement, and offers free hosting for open-source projects.

[2021-06-13 20:04] brylie commented on #921
GitHub is also good for asynchronous and near-real-time discussions. There are so many options :-)

[2021-06-13 20:05] brylie commented on #99
Closing, as agreed with @pscheid2

[2021-06-13 20:05] #99 closed

[2021-06-13 20:07] brylie commented on #917
Thanks for the clarification @shashankks0987. I'll assign you to this issue and close it since you did the research and found there wasn't any code needed. In any case, this should count as a code contribution even though you didn't need to change anything.

So, the main task becomes to make sure we are using the correct user model in our login/register views #918 Would you consider contributing t

[2021-06-13 20:08] pscheid2 commented on #921
Github is good for asynchronous communication, but I think we're missing a space for brainstorming and developer questions/technical help which in my opinion github is not great for.

[2021-06-13 20:08] brylie commented on #918
@shashankks0987 has also confirmed that our default user model is configured correctly. So, it seems like the remaining task is to just use the correct user model in our register/login views

[2021-06-13 20:10] brylie commented on #918
@shashankks0987 and @a7madnassar would you mind collaborating on this issue? Our register/login views are critical for continued development of the project.

[2021-06-13 20:21] brylie commented on #921
By the way, I have been looking into setting up a [WorkAdventure](https://workadventu.re/) virtual office for the CiviWiki organization. E.g. we could call it our CiviWiki virtual office and have meetings and such, which might feel a bit more welcoming than a text channel.

What are your thoughts and experiences with virtual collaboration environments like WorkAdventure or Gather.town?

[2021-06-13 20:21] pscheid2 commented on #598
Do we still have access to our heroku account for deploying the app?

I'm curious if we will need to set up a new account to deploy milestone 2.0.

[2021-06-13 20:23] pscheid2 commented on #921
I don't have any experience with either but I have heard more praise for gather.town

[2021-06-13 20:32] brylie commented on #598
I'd like to steer us away from Heroku at some point (perhaps not immediately.)

I believe the CiviWiki development deployment (including database) can run on a single [Dokku](https://dokku.com/) instance costing around 3-5€ per month on [Hetzner](https://www.hetzner.com/cloud) or [DigitalOcean](https://www.digitalocean.com/products/droplets/).

Likewise, the [DigitalOcean App Platform](https://www

[2021-06-13 22:11] a7madnassar commented on #918
@brylie and @shashankks0987 the code has been updated to reference the new custom user. That is not the issue. The current issues are:

1. A superuser cannot log in to the app. This is expected behavior because the current logic requires an `Account` record associated with the user. The superuser created by Django does not have an `Account` record. That's why the user cannot log in. In my opinion,

[2021-06-13 23:38] a7madnassar commented on #918
@brylie and @shashankks0987 I came up with a solution to solve the registration issue. Currently, the code runs a Celery task to send the activation email on registration. I think having Celery as a dependency is not a great choice at this stage. Celery needs workers and a broker configured and running. This blocks completing the registration process correctly. I think Celery can be added eventual

[2021-06-14 07:20] brylie commented on #918
@a7madnassar great proposal. I'll make a separate task to track and discuss removing the Celery dependency. Would you mind if I assign you to the Celery removal task?

[2021-06-14 07:23] brylie opened #925 "Remove Celery dependency"
Split from #918

We currently use Celery to handle asynchronous tasks such as sending on boarding emails. At this stage of the project, Celery may be too complicated for our needs.

Remove Celery and ensure that tasks that previously relied on Celery will still function without it.

[2021-06-14 07:57] #67 closed

[2021-06-14 08:15] shashankks0987 commented on #917
Alright, you can close this. #918 is already implemented I guess, Is there anything I can take up?

[2021-06-14 08:18] brylie commented on #917
@shashankks0987 try to reproduce/fix the bug report in #918. I think the register and login views are using the wrong user model. I have been able to reproduce the bug.

[2021-06-14 08:18] #917 closed, assigned to nobody

[2021-06-14 08:19] brylie commented on #918
@a7madnassar are the login/register views using the correct `User` model?

[2021-06-14 08:22] brylie opened #926 "Move Account and Profile related code to accounts app"
We still have some code in the `api` directory that is related to user accounts/profiles. Move all account/profile code to the `accounts` app and refactor as needed.

Relatedly, rename the `Account` model to `Profile`.

## Task
Below are the overarching steps involved in completing this issue. Some steps are optional but might help us achieve cleaner and more maintainable code.

- [ ] Move all cod

[2021-06-14 08:23] brylie commented on #914
I opened an issue to move all accounts related code to the accounts app and rename the `Account` model to `Profile`: #926

[2021-06-14 08:24] brylie commented on #914
This task can focus on rendering the profile edit form and should be considered a child task of #926

[2021-06-14 08:25] brylie commented on #917
@shashankks0987 would you be interested in refactoring our accounts code by moving from the `api` directory into the `accounts` app and renaming the `Account` model to `Profile`? #926

[2021-06-14 08:26] brylie commented on #926
@shashankks0987 would you be interested in taking this issue?

[2021-06-14 08:27] shashankks0987 commented on #918
@brylie I'm being redirected to /beta page upon registration of a new user. Is this issue looking to fix the same?
or is it trying to fix this:
[code]

I feel this issue is trying to solve two different problems

[2021-06-14 08:28] shashankks0987 commented on #926
@brylie  Yes I'd be happy to

[2021-06-14 08:30] brylie commented on #926
Thanks! I've assigned you.

I'll try and add a list of related code that I can find.

When working, try to figure out which code isn't needed anymore and remove it. If there is a more conventional way to do things with Django, replace any custom code with the conventional method

[2021-06-14 08:45] brylie commented on #918
@shashankks0987 we should remove all references to "beta". There is an open issue to remove all "closed beta" code:
https://github.com/CiviWiki/OpenCiviWiki/issues/849

[2021-06-14 08:50] brylie commented on #849
@shashankks0987 this is another high priority task, which might be worth completing before #926

[2021-06-14 08:58] #920 closed, assigned to nobody

[2021-06-14 13:22] pscheid2 commented on #45
It looks like we have both pyup-bot and dependabot set up for this repo already. Both are creating automatic pull requests to update dependencies when they become out of date.

[2021-06-14 13:22] #45 closed

[2021-06-14 14:53] max1204 commented on #915
@brylie issue #889 PR was merged. And there you mentioned two tickets This issue and one other issue. So I'm working on this.

The #889  do we close it or add something to it?

[2021-06-14 15:35] a7madnassar commented on #918
@brylie yes, the code is using the new custom User.

[2021-06-14 15:37] a7madnassar commented on #925
@brylie please assign this issue to me. I already have the changes done. Thanks

[2021-06-14 15:50] brylie commented on #918
OK, can you test out the login and register views please to make sure they are correct? Is the only login/register bug related to Celery?

[2021-06-14 16:56] shashankks0987 commented on #849
@brylie Cool I can take this up before #926.
 I need some clarification on where the user should be redirected instead of '/beta' ?

[2021-06-14 20:33] brylie commented on #849
Sure thing! Just redirect the user to the front page after logging in. Make sure the page indicates they are logged in, e.g. by displaying a log out button.

[2021-06-14 21:32] a7madnassar commented on #918
@brylie I tested the login/register functionality and once we remove the Celery dependency. Registration works correctly. As for login, only users created using the frontend can log in. I think this issue should be closed once Celery removal is done.

[2021-06-14 23:58] a7madnassar commented on #925
@brylie I implemented the fix successfully. The only problem is I always push to my develop branch forked from the main `develop` branch. Currently, my branch is ahead of the `develop` branch because of my commit for upgrading Django to 3.2. I created a pull request for that task and it was never merged. I just downloaded the current `develop` branch and ran the server and the app is broken, becau

[2021-06-15 04:41] NoriakiMawatari commented on #926
Helloo @brylie, I'm very interested in contributing and would love to help with this issue or another good first issue! Please let me know what can I do for the team.

[2021-06-15 07:12] RiddhiAthreya commented on #926
hey @brylie I'm new to contributing to open source and would love to contribute here! Let me know if there are issues I can contribute to!

[2021-06-15 12:57] brylie commented on #926
Thank you for your offer @RiddhiAthreya and @NoriakiMawatari. Since @shashankks0987 is currently working on this task, we would need to see how you might assist them.

@shashankks0987 is there any way that @RiddhiAthreya and @NoriakiMawatari can assist you with this task?

[2021-06-15 12:59] brylie commented on #925
Closed by #933

[2021-06-15 13:24] shashankks0987 commented on #926
I'm currently working on issue #849 as that was of higher priority. I thought I'll get back to this after that. If they are open to take it, you can assign them too and I can later continue from where they left off

[2021-06-15 13:45] shashankks0987 commented on #849
@brylie How do you guys access the tables in the database usually? Using \d through psql in the docker container is not showing me any tables

[2021-06-15 13:57] shashankks0987 commented on #849
I'm a little confused with something here:
With this diff:
[code]

Whenever I try to login I'm getting a google_api_key missing error:
![image](https://user-images.githubusercontent.com/47640763/122065593-b1ef1880-ce0f-11eb-95cd-72fad6d0e21a.png)

What am I missing here?

[2021-06-15 14:31] brylie commented on #849
It looks like you might be bumping into an issue with Google Maps. Specifically, the `/setup` route/view has some code related to Google Maps. However, we want to remove Google Maps from our project: https://github.com/CiviWiki/OpenCiviWiki/issues/7

Would you consider removing the Google dependency before taking this "closed beta" issue? That would help out other developers too.

[2021-06-17 08:50] RiddhiAthreya commented on #926
@brylie can I be assigned this issue?

[2021-06-17 09:34] brylie commented on #926
@RiddhiAthreya sure thing. You're assigned :-)

If you wouldn't mind, please check in with @shashankks0987 periodically as they are stewarding this task along with a couple of related tasks

[2021-06-17 14:12] pscheid2 commented on #848
Fixed by: https://github.com/CiviWiki/OpenCiviWiki/pull/933

[2021-06-17 14:12] #848 closed, assigned to a7madnassar, North15

[2021-06-17 14:17] pscheid2 commented on #911
Hey @North15! I was just able to get the site running with `docker-compose up` on the `develop` branch.

Can you try `docker-compose build` or deleting the current docker containers in the docker for desktop app and then rerunning docker-compose up?

[2021-06-17 14:28] pscheid2 commented on #925
celery is still listed in our requirements.txt and we still have some code referencing that old email sending logic.

[2021-06-17 19:02] a7madnassar commented on #925
@brylie and @pscheid2 the task was created mainly to address the registration failure issue. The commit includes the fix for that and more without removing Celery completely. Because it might be re-integrated in the future, I chose not to remove the current Celery app and the related tasks. I will remove any references to them for now.

[2021-06-18 12:53] manuneerav commented on #915
@brylie I am assuming that in this profile settings page you need fields mostly related to user personal data i.e first name, last name, location etc.  Please specify if there is anything else that you need.

[2021-06-18 13:11] pscheid2 commented on #925
It's my preference to remove the dependency entirely if we do not plan on using it for now, but open to other input if we think keeping it around for something other than the registration flow is valuable.

[2021-06-18 14:13] brylie commented on #911
@North15 same here. Make sure you are using the latest `develop` branch. We can probably close this issue, as it may have been resolved with recent changes.

[2021-06-18 14:15] brylie commented on #915
@manuneerav yes, let's just focus on the profile fields now until we find any other settings that need a form.

[2021-06-18 14:16] brylie commented on #925
I agree with @pscheid2. If we aren't actively using any code or dependency, we should remove it from the project.

[2021-06-18 15:16] pscheid2 opened #939 "sqlite3 doesn't seem to support some db operations we use in our app"
When running the app with sqlite in development on the /settings page, I'm getting the following error when trying to make changes to a users first and last name.

It seems like sqlite might be incompatible with some db operations we use in our app.

![image](https://user-images.githubusercontent.com/6983738/122582256-f0f6b700-d025-11eb-9bd1-cd0c639d3fd3.png)

cc: @brylie

[2021-06-18 16:15] brylie commented on #939
@pscheid2 can you share the full stack trace?

I believe this may be a relatively narrow case, and possibly resulting from custom SQL. In any case, we should aim to simplify all of our DB usage to what can be achieved with sqlite, until we know there is a specific feature of another DB that would be useful to the project.

[2021-06-18 16:23] brylie commented on #939
What happens if you remove this, unused, line?

https://github.com/CiviWiki/OpenCiviWiki/blob/2dec5e9b1ec8caa4d9c8f256505334888b97fd7c/project/frontend_views/views.py#L191

[2021-06-18 16:26] brylie commented on #849
Closed by #934

[2021-06-18 16:29] brylie commented on #939
Based on a search, this issue may also be related to our use of `.distinct`:

https://github.com/CiviWiki/OpenCiviWiki/search?q=distinct

[2021-06-18 22:45] a7madnassar commented on #925
@brylie and @pscheid2 I will work on removing Celery entirely then. I will submit a pull request once I'm done.

[2021-06-18 23:23] a7madnassar commented on #925
@brylie I just submitted a pull request for removing Celery completely from the app.

[2021-06-18 23:27] a7madnassar commented on #908
@brylie I have the reset password functionality working. But I have to wait for the Celery pull request I just submitted to be accepted. Once you merge my last Celery removal changes. I will submit another pull request for the password reset flow.

Thanks

[2021-06-19 06:49] #925 closed, assigned to a7madnassar

[2021-06-19 06:50] brylie commented on #908
@a7madnassar I just merged the Celery PR :-)

[2021-06-19 09:02] manuneerav commented on #915
![IMG20210619142645.jpg](https://user-images.githubusercontent.com/59529237/122637228-190c1600-d10b-11eb-8e04-91142e91c8fb.jpg)

[2021-06-19 09:04] manuneerav commented on #915
Have a look at it

[2021-06-19 17:13] brylie commented on #915
Looks great. Let's start with the basic text fields and handle the profile image in a separate task. I like the layout.

[2021-06-19 17:14] brylie commented on #915
Make sure both buttons have the same text. I.e "save changes"  is a good text. It might be simple enough to have only one button that submits the form.

[2021-06-19 18:43] a7madnassar commented on #908
@brylie cool, I will submit another PR for this soon. Thanks

[2021-06-20 10:00] #908 closed, assigned to a7madnassar

[2021-06-20 12:09] a7madnassar commented on #918
@brylie I think we should close this issue now. Login, registration and password reset are all working correctly now.

[2021-06-20 13:25] pscheid2 commented on #939
Full stack trace

[code]

[2021-06-20 16:50] #918 closed, assigned to nobody

[2021-06-20 16:53] #7 closed

[2021-06-23 21:09] ghost commented on #915
Hi, I'm pretty new at this and this is the first project I try to contribute to. Is there a way I can contribute? Here or on another Issue?

[2021-06-24 07:07] brylie commented on #915
Thanks @yanijun! Perhaps you can work with @manuneerav on this task to move it along? @manuneerav has already provided a sketch of the desired form fields so now it is a good time to build the form using Django code

[2021-06-24 07:08] #909 closed, assigned to Floyd-Droid

[2021-06-24 07:10] max1204 commented on #227
@brylie
We can just remove the username and replace it with a random username and random email and then disable the account.
Also, we can create a user that is reserved for just deleted accounts.
Let me know your thoughts on this one

[2021-06-24 07:22] brylie commented on #227
@max1204 I like your ideas. Would you mind sketching the "delete my account" page template and sharing the sketch in this discussion?

[2021-06-24 07:24] brylie commented on #227
@max1204 I've added a task list to the issue description based on your idea.

[2021-06-24 15:21] mullera3 commented on #915
Hello I'm looking to contribute to any open source project. This is going to be my first time contributing to an open source is there anything I can do to help? @brylie

[2021-06-25 09:52] brylie commented on #915
@mullera3 would you like to help test out the developer documentation? We want to make sure it is easy for new developers to get started with CiviWiki, so the documentation is really important.

[2021-06-28 11:35] max1204 commented on #227
@brylie I was thinking about the design do we really need the template for deletion. We could just merge this into the settings or profile page.

The only need I see is when we need to show the user what information will be deleted.
![design](https://user-images.githubusercontent.com/20409353/123630310-01cbd780-d833-11eb-949b-de3a534f9619.jpeg)

[2021-06-28 12:26] brylie commented on #227
@max1204 the button would suffice. Make sure there is a confirmation step that warns the user that they will not be able to log in after the account is deleted and that the account is anonymized instead of fully deleted in order to preserve data integrity.

[2021-06-28 12:30] ghost commented on #915
hey I'm kinda lost in all of this is there an group chat (discord/slack) for help and questions?

[2021-06-28 12:33] brylie commented on #915
@yanijun the best option right now is to discuss issues on GitHub, which is nearly real-time but also keeps conversations contained in the context of an issue.

What specific issue(s) are you encountering with development?

[2021-06-28 12:53] ghost commented on #915
ok so is docker really necessary for me to work on the project?  And seen there is no code yet for the template should I open a fork for it or how should I proceed once I have some code written that I'd like to be reviewed?

[2021-06-28 13:01] Shreyas4991 commented on #227
A couple of concerns:

1. What happens to the content created by the user deleting their account?
2. If the content is being retained, how is it being anonymised? How are links changed? Suppose I created an account and shared the link for one of my posts, then I delete my accounts. But the link I posted might still be associated with me through search engines and social media. Such links need to b

[2021-06-28 13:18] brylie commented on #915
Docker should be optional. If you have difficulty running the project with just `python manage.py runserver` please let me know, so I can simplify the development process.

Yes, we need to build this template from scratch. Start with a basic sketch then use the Django Forms and templates to build the form.

[2021-06-28 13:20] brylie commented on #227
The content should remain in-tact for now, until we think of a more comprehensive strategy. We are just expunging the user name, by replacing fields with text like "account deleted." That way, the content should still function correctly. External services are out of our purview, so we are not responsible for "forgetting" the user outside CiviWiki.

[2021-06-29 02:32] GokuMizuno commented on #227
Why not just have an account flag isActive, and set it to false when the
account owner deletes it?  Then, when pulling comments in a thread, check
for the flag.  If the flag is false, then make the display namw be
something like [deleted].

In pseudocode

If (!isActive):
    Account.DisplayName = "[deleted]";
Else:
    Account.DisplayName = Account.Name;

Hope this helps.

On Mon, Jun 28, 2021, 09

[2021-06-29 08:41] brylie commented on #227
Part of the idea here is that we need to handle GDPR "[right to be forgotten](https://en.wikipedia.org/wiki/Right_to_be_forgotten)" requests. So, we should consider how to safely expunge the personally identifiable information (PII) from the database as well.

[2021-07-11 07:01] dpspcghst commented on #939
I watched @jabrielcjones try to fix this issue yesterday. I sent him this link and it seemed to help:

https://stackoverflow.com/questions/54249017/distinct-on-fields-is-not-supported-by-this-database-backend

`distinct('field_name')` is not supported in MySQL. It only supports `distinct()`.
`distinct('field_name')` will only work on PostgresSQL.

[2021-07-11 12:03] jabrielcjones commented on #939
After @deepspaceghost and I implemented his suggestion, the error went away. We're now regression testing the fix.

[2021-07-12 16:31] brylie commented on #939
@jabrielcjones would you mind opening a pull request with the solution you found?

[2021-07-12 17:01] jabrielcjones commented on #939
@brylie Done. https://github.com/CiviWiki/OpenCiviWiki/pull/951

[2021-07-13 01:00] pscheid2 commented on #911
@North15 I'm going to close this issue since we aren't able to reproduce on the latest develop branch. Please comment or reopen if your still stuck!

[2021-07-13 01:00] #911 closed, assigned to nobody

[2021-07-13 01:17] pscheid2 opened #952 "Improve unit test coverage"
We currently have relatively low unit test coverage of our backend python code. This makes it very difficult to ensure that changes we are making don't break existing app functionality, or that new functionality behaves the way we expect.

We should add some unit tests using the `django.test` package, to improve test coverage.

Once we have some coverage we can work on setting up a CI pipeline tha

[2021-07-13 10:16] brylie commented on #952
Sounds good. Since this might be a bit of an epic, let's create a checklist in the issue description to serve as a roadmap. The checklist can be split off as separate tasks, if needed.

[2021-07-21 09:27] #939 closed, assigned to nobody

[2021-07-21 14:47] wassafshahzad commented on #915
Is this issue still open  ?

[2021-07-21 15:26] wassafshahzad commented on #952
Can I just start or would you assign this to me please.

[2021-07-21 16:23] ghost commented on #915
Hi, yes. I am out of my depth here, I think I kinda jumped the gun here trying to get this done. I still need some studying.
Hope I will be able to return and help in the future.

[2021-07-21 18:08] wassafshahzad commented on #915
Ok I'll start going through the setting view and drawing the sketch

[2021-07-23 13:19] brylie commented on #952
@wassafshahzad as requested, I assigned you. Please create a checklist of models and views without test coverage so we can tackle this issue as an epic. For models, we don't need to unit test Django core functionality, such as whether field definitions work correctly, so just add models where we have added or shadowed methods. For views, use your discretion as to what needs to be covered by unit t

[2021-07-23 13:30] wassafshahzad commented on #952
Thank you for assigning me the issue I will start working on it.

[2021-07-27 09:58] vishalda commented on #915
Hey @brylie, I would like to work on this issue with @manuneerav

[2021-07-30 08:35] FatalTrip opened #957 "Setup Issue"
when running "pip install -r requirements.txt", I kept getting an error "The headers or library files could not be found for zlib,
    a required dependency when compiling Pillow from source. Please see the install instructions at:
       https://pillow.readthedocs.io/en/latest/installation.html". It took me a while but I found the error was telling me there was a problem with the installed versio

[2021-07-30 08:38] FatalTrip commented on #957
I'm learning more as we speak and think this was supposed to be a pull request.

[2021-07-30 09:00] #957 closed, assigned to nobody

[2021-07-30 09:02] FatalTrip opened #958 "Update documentation to remove references to congress.json"
I spent a while looking for the initial data congress.json that the contributing.md document says to loaddata in. It turns out the .json was not in the data directory so I had to skip that step. What should I do? submit a pull request with that step taken out?

[2021-08-02 09:18] brylie commented on #958
We have recently removed support for the "elected officials", which were based on the U.S. electoral system. The documentation was not updated to reflect that the data are no longer needed. We'll update the docs ASAP :-)

[2021-08-02 09:24] brylie commented on #915
@VDA-001, thanks! I'll co-assign you to the task.

[2021-08-03 16:17] aniket-banyal commented on #958
May I work on it? It would be a good first issue for me!

[2021-08-03 16:20] FatalTrip commented on #958
Feel free too! Anytime there is an issue you can work on it and contribute without asking. :)

[2021-08-03 16:27] aniket-banyal commented on #958
Am I just supposed to remove this from CONTRIBUTING.md?
[code]

[2021-08-03 16:28] FatalTrip commented on #958
I am pretty new too, but I think that's all we have to do to fix this issue :)

[2021-08-03 16:31] aniket-banyal commented on #958
Thank u @FatalTrip! I will begin working on it.

[2021-08-03 17:05] #958 closed, assigned to aniket-banyal

[2021-08-04 14:28] aniket-banyal opened #962 "Don't use general Exception class to catch exceptions"
`except Exception as e` is usually not considered a good practice.

https://github.com/CiviWiki/OpenCiviWiki/blob/aa44eeb0e90944a229dc2fa35e83925c97e40e41/project/accounts/authentication.py#L165-L166

https://github.com/CiviWiki/OpenCiviWiki/blob/aa44eeb0e90944a229dc2fa35e83925c97e40e41/project/accounts/authentication.py#L233-L234

Maybe these should be catching some specific Exceptions

[2021-08-04 16:15] aniket-banyal commented on #849
There is still `beta_access` field in `Account`

https://github.com/CiviWiki/OpenCiviWiki/blob/aa44eeb0e90944a229dc2fa35e83925c97e40e41/project/api/models/account.py#L123

`CLOSED_BETA` is still being used in these 2 places-
https://github.com/CiviWiki/OpenCiviWiki/blob/aa44eeb0e90944a229dc2fa35e83925c97e40e41/project/accounts/views.py#L57-L58

https://github.com/CiviWiki/OpenCiviWiki/blob/aa44eeb

[2021-08-04 16:18] brylie commented on #849
@dummy26 yes. Please open a specific PR for those changes. Good catch!

[2021-08-04 16:21] aniket-banyal commented on #849
Sure!

[2021-08-04 16:29] aniket-banyal commented on #849
Should I commit these migration files also?
![Screenshot (368)](https://user-images.githubusercontent.com/40134444/128218720-46bbb380-ec75-41f5-94d0-846bb2ca1947.png)

[2021-08-04 17:24] brylie commented on #849
Yes, migrations get committed to the source control.

[2021-08-05 04:33] aniket-banyal opened #964 "Profile Error - partials/account/tabs/my_bills.html doesn't exist"
Internal Server Error: /profile/ani

Error - django.template.exceptions.TemplateDoesNotExist: partials/account/tabs/my_bills.html

I checked and found that my_bills.html was deleted in b600ead9fc563eef6086fb1c46120d71dba97703

[2021-08-05 05:26] aniket-banyal commented on #231
For me this issue still exists in Microsoft Edge and Chrome

Also, similar issue can be found on login page if password has been saved -

![Screenshot (370)](https://user-images.githubusercontent.com/40134444/128295561-75701b28-4254-456e-a49e-4326c49333a2.png)

[2021-08-05 07:31] #849 closed, assigned to aniket-banyal, shashankks0987

[2021-08-05 07:38] brylie commented on #964
Good catch. We removed (most) functionality related to bills/legislation but seem to have overlooked this template. Please consider removing the reference to the template and any similar code you may find.

[2021-08-05 08:06] aniket-banyal commented on #964
You may assign it to me

[2021-08-05 08:09] brylie commented on #885
Ping @mdwest and @JOO33

[2021-08-05 12:54] aniket-banyal commented on #964
https://github.com/CiviWiki/OpenCiviWiki/blob/76d49d5a01de3ae0e89c71a8b4499c7b5625e8de/project/threads/templates/threads/account.html#L74

I made this change - `src="{% static 'js/account.js' %}"`
And removed references to mybills

Now on opening profile, it just continues to load indefinitely (Might be related to #914)

Also take a look at the error in console -

![Screenshot (373)](https://user-

[2021-08-05 13:14] aniket-banyal commented on #964
Do I need to change the files in `project\staticfiles` folder or would they be automatically changed?

[2021-08-05 16:09] brylie commented on #964
Well, we're in the process of replacing the JavaScript UI with static templates that get rendered by Django. So the ideal outcome here would be to replace this template with a Django-only template and delete the deprecated JS for this particular view. You can feel free to take creative liberty with the rendered output but it might be worth using the existing styles since they are fairly nice.

[2021-08-05 16:13] brylie commented on #964
For the specific error, it looks like we changed the `hashtags` field to just `tags` and neglected to update the related code.

https://github.com/CiviWiki/OpenCiviWiki/blob/76d49d5a01de3ae0e89c71a8b4499c7b5625e8de/project/api/models/civi.py#L107

It might be worth searching the project for uses of the `hashtags` field and replacing it with `tags` to see how far we get.

[2021-08-06 10:58] #964 closed, assigned to aniket-banyal

[2021-08-08 19:53] codingfarhan commented on #915
Hey, new to open source here. Have worked on a few Django projects previously. Willing to contribute code. Anyway I can help on this (or any other) issue?

[2021-08-10 20:36] wassafshahzad commented on #915
@brylie  I have created a pull request for this issue please to review

[2021-08-11 21:03] wassafshahzad commented on #914
@brylie  I worked on settings forms issue and this looks similar to that so could you assign it to  me?
secondly should we also have a PR  template  ?  I can create one if you could create a ticket for it an assign it to me

[2021-08-12 23:34] tiago-nogueira commented on #231
Can I give tris a try?

[2021-08-15 04:54] calicomills commented on #962
@dummy26
Can I take this up?

[2021-08-15 04:57] aniket-banyal commented on #962
Sure!

[2021-08-17 10:58] brylie commented on #915
Thanks @wassafshahzad. I have just reviewed the PR after a week's absence from GitHub. Please address the lint issues mentioned by @pep8speaks and we can merge the PR

[2021-08-17 11:01] brylie commented on #914
@wassafshahzad thanks for the help :-) I've assigned you to the issue.

[2021-08-17 11:02] brylie commented on #231
@tiago-nogueira yes, feel free to work on this bug. Perhaps you @wassafshahzad can offer some guidance on how to update this form template, if needed?

[2021-08-17 11:04] brylie commented on #962
@calicomills, thanks for your help. I've assigned you to the issue.

[2021-08-17 11:30] wassafshahzad commented on #914
No problem always happy to help

[2021-08-17 17:47] calicomills commented on #962
@brylie @dummy26 I think many actual errors can go hidden using the general` Exception` class, I think we should have separate custom `Exception` classes and `raise` custom exceptions when we encounter something wrong, and consequently ditch the try/except block.

Something like this,

[code]

[2021-08-18 09:03] brylie commented on #962
@calicomills looks good. That way it would be descriptive.

[2021-08-19 12:01] sandipan898 commented on #926
Is this issue still open to fix, or someone have already fixed it?

[2021-08-19 12:05] wassafshahzad commented on #914
@brylie would you kindly explain how will this be different from the settings form?
I could make it so that this form is readonly and clicking an edit button will redirect you to settings form.

[2021-08-19 12:23] Adyyousf commented on #926
can i fix this issue?

[2021-08-19 12:27] Adyyousf commented on #915
hey I'm finding issue to solve and start contributing to opensource. Is there anything I can do to help? I know Django and have worked on it.

[2021-08-19 12:45] wassafshahzad commented on #915
Hi, you can go to the issue tab to view and pick an issue you would like to work on.

[2021-08-20 06:45] mharyam commented on #876
Hello @brylie,
Can I take this?

[2021-08-20 12:17] brylie commented on #914
@wassafshahzad good point. Let's perhaps deprecate the "user profile" form/template in favor of the settings page. I.e. just link directly to the settings page and remove any code/mention of "profile" perhaps?

[2021-08-20 12:19] brylie commented on #926
@skattel49 still has a pull request in prorgress here and @wassafshahzad is working on related code. Let's try to avoid too many collisions in this area of the project.

@wassafshahzad, is there any way that @sandipan898 and @Adyyousf may assist you?

[2021-08-20 12:20] brylie commented on #915
@Adyyousf, we have several issues with the "[good first issue](https://github.com/CiviWiki/OpenCiviWiki/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22)" label.

[2021-08-20 12:32] brylie commented on #876
@mharyam yes please :-) I'll assign you to the issue. Please let us know how we can be of assistance.

[2021-08-20 15:35] calicomills commented on #962
OK..I will start working on this.

[2021-08-20 18:01] mharyam commented on #876
Thank you, I will.

[2021-08-23 20:27] mharyam commented on #876
Hello @brylie,

For this task, do you think it is ideal I add template tag {%trans%} to all the individual templates?

[2021-08-24 09:06] brylie commented on #876
@mharyam, yes. Follow the [guidelines from Django documentation](https://docs.djangoproject.com/en/3.1/topics/i18n/).

[2021-08-24 20:59] matthewdeanmartin commented on #598
You should remove the www.civiwiki.org link from the GitHub project front page if y'all don't control the domain anymore. Parked domains often are loaned out to malicious code distributors.

[2021-08-25 09:22] brylie commented on #598
@matthewdeanmartin good point. I removed the link. We own the civi.wiki domain, but don't have any content there. Perhaps we can set up a static placeholder for now.

[2021-08-25 12:57] brylie commented on #598
The static placeholder site is now live at https://civi.wiki

[2021-08-25 12:57] #598 closed

[2021-08-27 09:25] mharyam commented on #876
Hello @brylie
I have created my first pull request for this task
Link: https://github.com/CiviWiki/OpenCiviWiki/pull/976

I added translation to the landing page, header and footer
If it is fine, I will proceed to the next one

Thank you.

[2021-08-27 15:46] wassafshahzad commented on #914
So should i change the link from profileView to settingView ?
if possible could you explain your idea ?
Thank you

[2021-08-30 10:52] vishalda commented on #847
Hey, @brylie I would like to work on this issue if it's still open.

[2021-08-30 12:38] brylie commented on #847
Thanks, @vishalda! I'll assign you to the task :smiley:

[2021-08-30 13:01] brylie commented on #876
Thank you so much @mharyam! :smiley:

I've reviewed your pull request and made some minor suggestions with code changes that you can automatically accept.

[2021-08-30 13:01] brylie commented on #914
@wassafshahzad yes. Linking to `settingView` is fine for now.

[2021-08-30 19:05] mharyam commented on #876
Hello @brylie

Thanks a lot for taking out time to review! I have accepted all the suggestions.

It looks like you still need to merge the pull request, so it can be updated to the main branch

Thank you.

[2021-08-31 08:32] vishalda commented on #847
Hey @brylie,
I have changed default authentication classes to
`DEFAULT_AUTHENTICATION_CLASSES = ("rest_framework.authentication.SessionAuthentication",)`
 and uncommented the SessionAuthenticationMiddleware in MIDDLEWARE inside settings.py file, but I get following error on running the server.

 `Traceback (most recent call last):
  File "/home/vishal/Projects/OpenCiviWiki/env/lib/python3.8/site-p

[2021-08-31 10:22] #962 closed, assigned to calicomills

[2021-08-31 10:25] brylie commented on #847
This project is now using Django 3.x. The middleware class names have changed. Please refer to the Django 3 [User Authentication documentation](https://docs.djangoproject.com/en/3.2/topics/auth/#installation) for the correct middleware class names :smiley:

[2021-08-31 11:19] vishalda commented on #847
@brylie, I have changed middleware to `django.contrib.sessions.middleware.SessionMiddleware` and changed default authentication classes as mentioned above. Is there anything to change?

[2021-08-31 16:56] brylie commented on #847
I think that is all that is needed. Please ensure that you can create a user and then log in via the web interface. We may need some development work related to user registration/login UX.

[2021-08-31 19:48] mharyam commented on #876
Thank you @brylie  for taking out time to approve the pull request.

Do you think there are other pages I need to add translation to?

[2021-09-01 03:59] vishalda commented on #847
@brylie I am able to create and log in the user, so I'll open a PR for this issue. I would like to work on development related to user registration/login UX.

[2021-09-01 09:20] brylie commented on #876
Basically, just look for a `templates` subfolder in any of the Django app folders. For example, there are several [accounts-related templates](https://github.com/CiviWiki/OpenCiviWiki/tree/develop/project/accounts/templates/accounts) that need i18n tags.

[2021-09-01 09:22] #847 closed, assigned to vishalda

[2021-09-02 03:43] vishalda opened #982 "[FEATURE] Add Issue Templates and pull request template"
Add issue and pull request templates to help contributors share the right details at the start of a thread.

[2021-09-03 07:31] brylie commented on #982
My only caution here is not to add too much ceremony to the templates. We want to welcome new contributors. Some PR/issue templates are a bit foreboding.

[2021-09-04 04:12] shayan-cyber commented on #227
Hi, I want to start my open source contribution journey, I would like to work on this as my first contribution. Can You help me?

[2021-09-04 14:51] AbhijithGanesh commented on #982
Was this issue solved or assigned? I am up for fixing it,I'd like to be assigned if no one took it before

[2021-09-04 22:41] wassafshahzad opened #992 "Unable to run development enviroment using docker"
I recently pulled recent changes into master and was unable to run the development environment using docker-compose.
I believe that issue may be caused by addition of new settings which have not been documented in the documentation.
Stack Trace for reference

civiwiki-backend | xvfb-run: error: xauth command not found
civiwiki-backend | Starting ChromeDriver 2.46.628388 (4a34a70827ac54148e092aafb7

[2021-09-06 07:05] brylie commented on #982
Sure, you can take it @AbhijithGanesh. Please be considerate that we want to have a very simple process for filing bugs and ideas. Not too much ceremony.

[2021-09-06 07:08] AbhijithGanesh commented on #982
Thank you @brylie . I shall keep that in mind

[2021-09-06 07:14] brylie commented on #992
What branch (commit) are you checking out? We removed ChromeDriver in a previous issue.

I'm not getting that syntax error above, but do have a different error:

[2021-09-06 08:21] brylie commented on #992
After a bit of work, I've gone ahead and removed the Docker environment and updated the contributing guide to reflect the simplified way of running the server. Please use the revised instructions below.

- https://github.com/CiviWiki/OpenCiviWiki/blob/develop/CONTRIBUTING.md#development

[2021-09-06 09:09] brylie commented on #227
@shayan-cyber, thanks for your interest! Please [open a new discussion](https://github.com/CiviWiki/OpenCiviWiki/discussions/new) to introduce yourself and we can assist you with getting your development environment set up.

[2021-09-06 10:06] shayan-cyber commented on #227
yeah ,I've created a thread to introduce myself

[2021-09-06 17:42] wassafshahzad commented on #992
I was working on master branch of my own fork.

[2021-09-06 18:19] wassafshahzad commented on #992
Thank you, It worked.

[2021-09-06 18:19] #992 closed, assigned to brylie

[2021-09-07 05:19] AbhijithGanesh commented on #982
I shall be uploading a Mark Down file today regarding this
Would that be fine
(I am in the GMT +5:30 time zone, so I would be uploading this before end of day IST)

[2021-09-07 06:05] vishalda commented on #982
@AbhijithGanesh Nice, but I guess It would be good if we had a .yml file as it is easier for users to raise an issue rather than modifying a mark-down file to raise an issue. @brylie What do you say?

[2021-09-07 06:06] AbhijithGanesh commented on #982
I am not extremely strong with YML files but I am sure I can figure it out, I am waiting for confirmation from @brylie .

[2021-09-07 06:09] AbhijithGanesh commented on #921
Do we have a discord server right now?  I would say Discord/Slack would be more suitable for our community to work and we might be able to use bots for moderation and other tasks pertinent to this job.

[2021-09-07 07:36] brylie commented on #982
@AbhijithGanesh and @vishalda, yes let's use a YAML file since that will render a form instead of requiring familiarity with Markdown.

The GitHub documentation has a section on [creating issue forms](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository#creating-issue-forms) with an example YAML file.

[2021-09-07 07:38] brylie commented on #921
We don't have a Discord/Slack. What would be some of the benefits and, importantly, drawbacks of Discord and Slack?

[2021-09-07 10:30] gorkemarslan commented on #952
@brylie where can I find the progression of unit testing? Did you specify conventions for testing, as you mentioned? I want to contribute to the project with testing and coverage.

[2021-09-07 12:01] brylie commented on #952
I believe we should follow the basic conventions outlined in the [Testing in Django](https://docs.djangoproject.com/en/3.2/topics/testing/) documentation. Perhaps we can start with a test coverage auditing tool to get a sense of where tests are most urgently needed.

[2021-09-07 12:34] gorkemarslan commented on #952
First, we need to create community chat, as discussed in issue #921. I want to contribute to the project. Nonetheless, I see a lot of issue that is assigned to someone, but it's been inactive for a long time, just like this thread. Now I try to understand the project itself, then we can collaborate on the project. :)

[2021-09-07 12:57] brylie commented on #952
Let's keep these issues decoupled and discuss the community chat in #921

[2021-09-07 13:10] brylie commented on #952
Related to this task, I added a "Task" list to this issue description with some concrete steps to move forward.

I really appreciate your interest in helping out with CiviWiki development :smiley:

[2021-09-07 16:38] gorkemarslan commented on #952
I use `coverage` package that is also specified in the `requirements.txt` file. I am sharing coverage report here:

<img width="1059" alt="coverage-report" src="https://user-images.githubusercontent.com/16780927/132380318-68d0d82e-e306-4702-ba77-6f7954b78caa.png">

Actually, it seems a little bit confusing so if you want I can add HTML templates from coverage to examine carefully by creating a new

[2021-09-07 17:28] AbhijithGanesh commented on #982
Should I Rebase? are there changes to the main Repository?

[2021-09-07 18:12] AbhijithGanesh commented on #982
I have created a PR, please test it and let me know. This is my first experience of creating a yml template so please excuse me if i am slow .

[2021-09-08 05:56] brylie commented on #952
Thanks for sharing the audit report, @gorkemarslan. Where would you suggest initial improvements be made? Also, would you be willing to open a pull request that improves test coverage of one of those files?

[2021-09-08 06:01] wassafshahzad commented on #952
sorry I was inactive on this task, I am currently looking over another issue. Could we divide this into multiple sub tasks on the bases of apps ?

[2021-09-08 06:28] AbhijithGanesh commented on #982
the PR got merged but i am unsure whether I can help more or my initial PR was sufficient

[2021-09-08 06:49] gorkemarslan commented on #952
@brylie I would like to get started with `accounts` app. As far as I see, it needs more maintenance and unit testing. Also, durability of user model is more vital than the other parts at the first step because other applications (will) utilize user model. If the user model is broken down, then other applications won't work properly.

Another point, we should separate `requirements.txt` file into `

[2021-09-08 07:35] brylie commented on #982
@AbhijithGanesh the initial PR was sufficient. We can close this issue now :smiley:

[2021-09-08 07:35] #982 closed, assigned to AbhijithGanesh

[2021-09-08 07:38] brylie commented on #952
That sounds like a great place to start.

Yes, great idea! Please open a separate issue so we can track that work independently of the unit testing.

[2021-09-08 08:06] gorkemarslan commented on #952
Right now, I am dealing with creating a new issue for it. Then we can discuss tasks and steps in there.

[2021-09-08 11:11] gorkemarslan opened #998 "Seperate requirements.txt"
Now, our [requirements.txt](https://github.com/CiviWiki/OpenCiviWiki/blob/develop/requirements.txt) file includes all the dependencies that are used in development, testing, and production. It is a good practice to separate dependencies according to in which stages they are used. Eventually, a package used in the development won't be installed in the production stage.

As far as I know, there are

[2021-09-08 11:48] brylie commented on #998
I'm more familiar with the first approach. It lets us have some common settings across files while only maintaining what is specific to each environment.

[2021-09-08 12:27] gorkemarslan commented on #998
Could you please assign me to this issue?

I also find the first approach more convenient. It is reasonable to collect the similar files in a folder. Otherwise, as in the latter approach, the bulk of files are present in the main directory.

Is [test_framework](https://github.com/CiviWiki/OpenCiviWiki/tree/f152ad5986ebfd25ff60ad5ca7c34563818f1e17/project/test_framework) directory being used now? I

[2021-09-08 12:32] brylie commented on #998
We can deprecate the selenium tests in that folder, so no it's not really being used. The `aloe` package was causing issues when creating the Python environment, so should remain commented out until it is needed and will not break the development environment.

[2021-09-08 18:08] ghost commented on #926
@brylie I am unable to find the account.py file . I am looking for my first contribution.

[2021-09-09 04:31] AbhijithGanesh opened #1000 "FEAT: We need a template for Feature"
## Description

It is quite paradoxical that I am creating this issue using a Bug template, we need a template for Issue and feedback. It will be useful to the community to develop in a better way.

[2021-09-09 08:28] brylie commented on #926
Ah, this task is basically complete.

[2021-09-09 08:28] #926 closed, assigned to shashankks0987, RiddhiAthreya

[2021-09-09 08:31] #851 closed, assigned to soumallyadev07

[2021-09-09 08:31] brylie commented on #926
@sonu03 would you be interested in helping with https://github.com/CiviWiki/OpenCiviWiki/issues/231?

[2021-09-09 09:41] brylie commented on #1000
Indeed. Would you like to create the "Feature" issue template/form?

[2021-09-09 09:55] AbhijithGanesh commented on #1000
I would like to  be assigned

[2021-09-09 10:04] brylie commented on #1000
OK, I've assigned you. Thanks!

[2021-09-09 11:02] AbhijithGanesh commented on #1000
Fixed the 1000th issue of this community 😃

[2021-09-09 15:41] gorkemarslan commented on #926
@brylie is it possible to reopen this issue and assign me to it? Now I am writing unit testing for `accounts` app (issue #952) and some maintenance is needed to improve `models.py` file (not the models but codes in the file). While I am testing, I also want to fix some omitted problems because of moving other models to the `accounts/models.py`. For example, there are some code repetitions, etc.
Ot

[2021-09-10 06:25] brylie commented on #926
Yes, for the sake of clarity, please create a new issue outlining the planned changes. I'll make sure you are assigned to the new issue.

[2021-09-10 07:43] #1000 closed, assigned to AbhijithGanesh

[2021-09-10 07:57] #998 closed, assigned to gorkemarslan

[2021-09-10 08:10] AbhijithGanesh commented on #921
for discord: We can implement bots and extreme customization making the community insanely active . It will also give us the benefits of interaction. It will speed our project dev.
Slack benefits the same but I am personally inclined towards discord for its accessibility and availability.

[2021-09-10 08:11] AbhijithGanesh commented on #885
I would like to be a part time steward if there is a need of it.

[2021-09-10 10:48] ghost commented on #926
@brylie yes, I will check out issue #231

[2021-09-10 12:35] gorkemarslan opened #1004 "Restructure and reformat the whole project"
As far as I can audit, I found some issues that need to be done before adding the new features. Otherwise, strong conflicts may appear either now or later on.  I am planning to complete all of them as soon as possible, like in a couple of days.

### Tasks

- [ ] **1.** Update `accounts` app
  - [ ] **1.1.** Reformat `accounts.models.py`
       - [x] Refactor `Account` with `Profile` as suggested t

[2021-09-12 07:16] wassafshahzad commented on #914
Put up Pr for this issue.

[2021-09-12 16:20] AbhijithGanesh commented on #1004
I can help in restructuring parts of this project but I think it's a behemoth of task to single handedly solve.

[2021-09-12 16:49] gorkemarslan commented on #1004
@AbhijithGanesh, your interest in this issue is welcomed, I am grateful to you.  :relieved: Unfortunately, the changes that I want to make are related to the other parts of the project. (e.g. moving a class to another file, changing names). So, I think, if more than one person works on this issue, conflicts are inevitable and the whole process takes much time and attention. I've already started wo

[2021-09-12 16:51] AbhijithGanesh commented on #1004
Points well noted, thanks for putting a word out. Really appreciate the work and efforts mate. I didn't think about the conflicts standpoint. Thank you for the clarification

[2021-09-12 18:29] Tanmoy07tech commented on #889
Is this issue still opened?

[2021-09-12 18:53] gorkemarslan commented on #921
Any update? The project is taking attention. :) Seemingly, it is getting harder to get in contact. We need to move our discussions to the new chat channel ASAP.

[2021-09-13 08:24] brylie commented on #921
@gorkemarslan, what are the difficulties you face when contacting project contributors? We currently have GitHub issues and a discussion forum. The conversations on GitHub, such as this, seem to be fairly active.

[2021-09-13 08:30] AbhijithGanesh commented on #921
@brylie I am of the opinion that GitHub is active but it doesn't work as fast as discord/slack. Can we give the platforms a chance?

[2021-09-13 08:45] brylie commented on #921
I don't believe the project/community is active enough to introduce, or transition to, a new tool for real-time chat. Also, introducing a Slack or Discord channel will introduce another "ownership" dynamic, where we are currently having difficulty transitioning this GitHub organization to community governance (#885).

We have used Slack in the past and [currently use Matrix](https://riot.im/app/#/

[2021-09-13 08:47] AbhijithGanesh commented on #921
Points well noted brylie; We understand your perspective.

[2021-09-13 08:49] brylie commented on #921
Thanks for your understanding. Please accept my apologies for the delay in responding to our chatroom.

[2021-09-13 08:51] #921 closed, assigned to nobody

[2021-09-13 09:07] brylie commented on #1004
One additional goal is to deprecate the `api` app altogether. We will likely need to introduce a new `discussions` app that contains all code related to Civis, and Threads. Rather than having a dedicated `api` app, we will have an `api.py` within the `discussions`, `accounts`, and other apps that contain API-related code. The remainder of the code should move to conventional `models.py`, `template

[2021-09-13 09:09] brylie commented on #1004
@gorkemarslan, I appreciate your vision here. This task is comprehensive :smiley:

[2021-09-13 09:10] AbhijithGanesh commented on #1004
Also if there is a new API, I believe we can expand into FastAPI instead of DRF because of its speed. DRF is slow and needs too much serialization. FastAPI provides an easier alternative and natively supports OpenAPI docs. I believe it might take  efforts but in the longer run it shall increase our App Speed with the features of Django-ORM and other backend features like admin, mail,etc.

[2021-09-13 09:12] AbhijithGanesh commented on #1004
We can use requests or axios if need be (to fetch the API end points into the front end).

[2021-09-13 09:29] brylie commented on #1004
@AbhijithGanesh we are moving away from the SPA front-end architecture. The SPA architecture proved to be overengineering for a project of this size and has introduced a maintenance burden that exceeds our capacity.

Instead, we will use more traditional server-rendered templates from Django with sprinkles of JavaScript (such as using [HTMX](https://htmx.org/)) where relevant. Please see the relat

[2021-09-13 09:33] AbhijithGanesh commented on #1004
Okay but even if we are moving away from SPA, why should we not have an API (for this project) and why should we not consider FastAPI?

[2021-09-13 09:38] brylie commented on #889
Yes. It is a large task, though. We need to create a new app called `discussions` containing templates related to Civis and threads. The project is currently undergoing some large code changes, making the work a bit more precarious.

[2021-09-13 09:40] brylie commented on #1004
As noted above, we aren't deprecating the API, just the SPA.

How does FastAPI integrate into Django projects? Is there a guide or tutorial we can follow?

[2021-09-13 09:42] brylie commented on #1004
@AbhijithGanesh since this task/discussion is about restructuring the project code, let's discuss the FastAPI idea in a separate thread. That will help focus the discussion in this thread to what is relevant to @gorkemarslan's work.

Would you kindly open a [separate feature request/discussion thread](https://github.com/CiviWiki/OpenCiviWiki/issues/new?assignees=&labels=community%2Ctriage%2Chelp+w

[2021-09-13 09:42] AbhijithGanesh commented on #1004
I have created an issue , refer #1009

[2021-09-13 09:46] AbhijithGanesh opened #1009 "Integrating FastAPI"
### Idea summary

Instead of using DRF, the project may use FastAPI for the API to increase speed and effectivity of the API.

### Further details

I am glad that you asked about this:
(I am not plugging my article in here but I believe it will be super useful)
https://dev.to/abhijithganesh/what-does-it-take-to-build-an-unconventional-rest-api-in-python-3oog

Also It is integrated through ASGI/WSG

[2021-09-13 09:49] brylie commented on #1009
What is the performance of the existing API-related code? How would we serialize/deserialize response and request payloads into Django ORM objects using the FastAPI architecture?

[2021-09-13 09:50] brylie commented on #1009
How would we implement access control using Django accounts/roles within the FastAPI architecture?

[2021-09-13 09:51] AbhijithGanesh commented on #1009
To implement access control using Django, we'll have to use django.contrib.auth.models and Import User from that module. In my opinion, it is the only disadvantage we'll be facing (because DRF has better support for user authentication)

[2021-09-13 09:52] brylie commented on #914
Looks good. We'll merge the PR once the review comments are resolved :smiley:

[2021-09-13 09:53] AbhijithGanesh commented on #1009
I need sometime to give you an elaborate explanation, I shall inspect this repository's code and shall give you a clear picture

[2021-09-13 09:58] brylie commented on #1009
We need a clear justification for making a substantial change and replacing the existing API code.

- Benchmarks for comparison
- Holistic thinking about the benefits/limitations of DRF
- Research on established patterns in the Django ecosystem

CiviWiki is a conventional project and we're trying to simplify our dependencies. Any ideas outside of widely adopted and documented Django "best practice

[2021-09-13 09:58] gorkemarslan commented on #1004
@brylie, `accounts/authentication.py` is also depreciated (except for `send_activation_email()` function), right? This is related to `Task 1.2`.

I am planning to keep CBVs and remove FBVs for the authentication system.

[2021-09-13 09:59] AbhijithGanesh commented on #1004
Can you explain the terms please.

[2021-09-13 09:59] brylie commented on #1004
@gorkemarslan CBVs sound good to me.

If possible, let's deprecate the `send_activation_email()` function, and default to standard Django account activation flow. Less code is better.

[2021-09-13 10:03] brylie commented on #1004
Django uses the concept of `views` to prepare and send data to the end-user, typically in the form of rendered HTML templates but sometimes as JSON or other formats. In the simplest form, a Django view is just a function (called a function-based view, or FBV) that returns an HTTP response with the aforementioned payload. However, Django also lets us define views using Python classes, called class-

[2021-09-13 10:04] AbhijithGanesh commented on #1004
Oh you were discussing about Class based views. Noted and Thanks Brylie.

[2021-09-13 10:08] gorkemarslan commented on #1004
@AbhijithGanesh, CBV stands for [Class-Based View](https://docs.djangoproject.com/en/3.2/topics/class-based-views/), FBV stands for Function-Based Views. They are different paradigms on how to render HTML with `views.py`. CBVs are abstracter than FBVs so they are less prone to errors, easy to maintenance and test, etc. We generally tend to use CBVs because of these reasons.

[2021-09-13 10:09] gorkemarslan commented on #1004
@brylie, ok, I'll work on that. What about URLs? I, for example, intent to use `login/`  instead of `accounts/login/` for simpliticy.

[2021-09-13 10:09] AbhijithGanesh commented on #1004
I understand the benefits of CBV , I just didn't know the expansion. Thank you for the explanation

[2021-09-13 10:12] brylie commented on #1004
Sounds good.

[2021-09-13 14:15] gorkemarslan commented on #1004
@brylie, I will also remove `frontend_views` folder, which is the third one that handles views and URLs for the authentication system. In the end, only CBVs will be responsible for all authentication operations.

[2021-09-13 19:20] gorkemarslan commented on #1004
@brylie, I have a question.

Account model is defined such that:

[code]

In `accounts/forms.py`:
[code]

I think `AccountRegistrationForm` should include `first_name` and `last_name` fields. Notice that `blank=False` so we want `AccountRegistrationForm` not to validate the form in the case of empty first and last name fields.

<img width="831" alt="Screen Shot 2021-09-13 at 22 02 44" src="https:/

[2021-09-14 05:41] brylie commented on #1004
@gorkemarslan the `User` model is the only model required for registration and authentication purposes.

The name `Account` is a bit ambiguous, so the `Account` model should be renamed to `Profile`. All fields on the `Profile` should be optional, including `first_name` and `last_name`.

Apologies for the confusion. The model renaming and field refactoring are work-in-progress.

[2021-09-14 06:31] gorkemarslan commented on #1004
@brylie, I am going to take care renaming `Account` model, I'm just waiting for the pending PR. I intentionally used `Account` to specify `AccountRegistrationForm` so there is no confusion in here. :)

I just realize a point thanks to your reply. I am planning to rename `AccountRegistrationForm `to `ProfileRegistrationForm`. Actually, both of them are wrong. `UserRegistrationForm` is the correct o

[2021-09-14 07:12] brylie commented on #1004
Yes. We only need to register a `User` account so people can log in. Everything in the `Account` model, soon to be renamed to `Profile`, is optional. So we need `UserRegistrationForm`, as you mention, and a `ProfileEditForm` for users who want to fill in their `Profile`.

[2021-09-14 07:15] #914 closed, assigned to wassafshahzad

[2021-09-14 08:36] brylie commented on #1004
@gorkemarslan I have merged the changes to rename `Account` to `Profile` throughout the codebase.

[2021-09-14 10:39] wassafshahzad commented on #914
Sorry I didn't add the tests yet.
Are there any more issues of priority?

[2021-09-14 21:31] gorkemarslan commented on #952
The last coverage report is:

<img width="940" alt="Screen Shot 2021-09-15 at 00 28 55" src="https://user-images.githubusercontent.com/16780927/133336699-aa32d47e-f448-464d-9098-87cdebaf53ab.png">

[2021-09-15 10:01] brylie commented on #952
Let's get the test coverage report to run as part of pull requests. What do you recommend?

[2021-09-15 10:05] wassafshahzad commented on #952
We could use github actions for that
PS
Any issue that needs Working on ?

[2021-09-15 10:54] gorkemarslan commented on #952
[This link](https://stackoverflow.com/questions/67482906/show-coverage-in-github-pr) might help us.

Or we can add `pre-commit` to the project that gives coverage report into a text file before each commit. GitHub action tools will be much better compared to pre-commit.

[2021-09-15 11:16] gorkemarslan commented on #1004
@brylie, [threads](https://github.com/CiviWiki/OpenCiviWiki/tree/develop/project/threads/templates) app does not have any purpose right now. However, `INSTALLED_APPS` includes this app. I think we can move [the files](https://github.com/CiviWiki/OpenCiviWiki/tree/develop/project/threads/templates) inside it to the correct place and remove it.

[2021-09-15 14:26] gorkemarslan commented on #846
@brylie, could you close this issue? Currently, SQLite is used during development.

[2021-09-15 14:31] gorkemarslan commented on #47
@brylie, we have another pending issue related to improving test coverage. Could you close this one or that one? We can continue our test coverage discussions in one channel.

[2021-09-15 16:04] #47 closed

[2021-09-15 16:04] #846 closed, assigned to brylie

[2021-09-15 16:06] brylie commented on #846
Trying to add @jabrielcjones for their contribution to this task.

[2021-09-15 16:07] brylie commented on #1004
@gorkemarslan sounds good. Keep in mind the idea of a `discussions` app that will contain `civis`, `threads`, and related files.

[2021-09-15 17:47] AbhijithGanesh commented on #1009
Firstly,  The data and research on this concept is not available because of its unconventional appraoch. I have never seen this being implemented on a project of this scale but at the same time I can assure the contributors this concept might be useful in changing inefficient practices. I am working on the benchmarks and I shall soon update them here.

[2021-09-15 18:25] gorkemarslan commented on #1004
Ok, then we shouldn't touch `threads` for now. Just after we create the `discussions` app, we can delete `threads`.

I have two questions:

1. Are we going to customize the `User` model?

In `accounts/models.py` two `User` variables are assigned in that order:

[code]
And

[code]

It is obvious that the first `User` is overridden by the second one, so the usage of the first one is meaningless. It

[2021-09-16 04:01] AbhijithGanesh commented on #1004
Once the restructuring is over, can we please have a CD pipeline  which can be deployed on heroku? It shall be easier for us to review

[2021-09-16 10:33] brylie commented on #1004
Remove this one from `accounts/models.py`:

[code]

[2021-09-16 10:36] brylie commented on #1004
Even though we are not currently customizing the `User` model, it is important to define a custom `User` model early in project development, as per the Django documentation.

Even though this project isn't "new", it is new in a way since we are still in a prototype stage.

So, let's leave the custom `User` model definition to save some potential hassle (with migrations) if the need arises to custo

[2021-09-16 10:39] brylie commented on #1004
Just so long as we adhere to the general Django documentation guidelines, except in the case where referring to `User` class in the `accounts/models.py`:

[2021-09-17 09:50] AbhijithGanesh opened #1016 "User object not retrieved."
### Description

When I try running the project locally and I try registering a user, It shows an error.

### What should have happened?

I expect the registration to work successfully.

### What browser(s) are you seeing the problem on?

_No response_

### Further details

![image](https://user-images.githubusercontent.com/67182544/133763364-70ea311b-bf73-4699-88be-04f031defece.png)
![image](http

[2021-09-17 10:43] gorkemarslan commented on #1016
Unfortunately, this error is caused by my missing commit. I’ve already added a new PR #1015  to fix this issue.

I am really sorry for my lack of attention.

PS: I use PyCharm for development. I forget selecting changes at the bottom of the file before commit so I only sent ones placed on the top. This is the reason why unittests did not fail. Without the last PR, tests fails. At least our tests a

[2021-09-17 11:25] #1016 closed, assigned to brylie

[2021-09-17 15:26] AbhijithGanesh commented on #1016
Yes thank you, this issue has been fixed, I just would like to know whether you could use the AbstractUser or User model instead of the method get_user_model()

[2021-09-17 15:28] gorkemarslan commented on #1016
I'll answer your question in the related PR, in which you also asked the same question.

[2021-09-17 15:32] AbhijithGanesh commented on #1016
Yes thank you, I really appreciate the words you've taken to restructure, I can't express how good this has turned out,.

[2021-09-17 16:06] AbhijithGanesh opened #1017 "Squash migrations"
### Idea summary

Requirement for less migrations

### Further details

Can we squash/merge migrations, it seems bulky. Is there a way to reduce the number of migrations

[2021-09-18 04:00] Theskyspace commented on #889
Do we have one more place for a newbie to pop in?

[2021-09-18 10:53] brylie commented on #1017
Yes, this seems reasonable since we are still in a "beta" development stage.

[2021-09-18 10:54] brylie commented on #889
@Theskyspace yes. In particular, we need help finding bugs with the current development branch. Would you be willing to start a development environment and test out the app to help identify bugs?

[2021-09-18 11:19] Theskyspace commented on #889
Yeah Sure @brylie I'll get myself hooked with his task ASAP. Let me know about particulars if any. Cheers

[2021-09-18 11:27] AbhijithGanesh commented on #1017
I'd like to claim this issue

[2021-09-18 11:28] AbhijithGanesh commented on #1017
PS:I am working on the FastAPI integration concept, the serializers and api calls in this project is way too complex for me to work on quickly, It is a promising idea but  I am personally running short of time to make this happen.

[2021-09-18 11:41] brylie commented on #1017
For the time being, I believe the FastAPI concept is not appropriate for this project. We want to write really conventional code, and the FastAPI/Django combination doesn't seem common or well documented.

Let's focus our limited time on core improvements to the project.

[2021-09-18 11:47] AbhijithGanesh commented on #1017
Points well noted, thank you.

[2021-09-18 14:01] Theskyspace opened #1018 "Profile Page is showing Server Error (500)"
### Description

As we click on the button to navigate towards profile section of the site it throws a Server error (500) although the user is logged in.
Here are logs the logs for the same.
[code]

[2021-09-18 16:50] gorkemarslan opened #1020 "Translations not working"
### Description

Translation texts are not be rendered as expected:

The picture below is taken after going to the URL `/profile/<username>/`:

<img width="978" alt="Screen Shot 2021-09-18 at 19 43 57" src="https://user-images.githubusercontent.com/16780927/133896120-53730698-602b-44a1-83d8-c7c7cb6f6203.png">

The related code line can be found in `project/threads/templates/threads/partials/accoun

[2021-09-18 17:43] AbhijithGanesh commented on #1017
**Tasks**
- [x] Accounts
- [x] api

[2021-09-18 18:10] AbhijithGanesh opened #1022 "Bad Migration Tree"
### Description

When I was trying to squash migrations of the api , there seems to be an issue related to the whole ancestry of migrations, I am working on this as a part of  #1017. The parent tree appears to be slightly displaced which I'll be looking forward to patch with the other issue mentioned.

### What should have happened?

### What browser(s) are you seeing the problem on?

_No response

[2021-09-18 18:14] AbhijithGanesh commented on #1022
Subsequently, it also leads us to errors when accounts are merged, I shall not be creating a PR with error-causing code for this project. It is in bad-faith to put in a temporary fix which will not fix the issue holistically. I am sure @brylie and the community will understand.

![image](https://user-images.githubusercontent.com/67182544/133898490-3f8d3f07-8c25-47d1-96bd-8443e5019e57.png)

[2021-09-18 18:21] AbhijithGanesh commented on #1022
![image](https://user-images.githubusercontent.com/67182544/133898625-3f6c1d06-ff11-42ce-b201-9371dacc2040.png)
Unfortunately, 0041 on Api has a dependency on one of the squashed migrations and this circular dependency needs to be fixed. (I'll most likely add this to my squashing part)

[2021-09-20 08:34] AbhijithGanesh opened #1024 "{FEAT}: Automated testing with actions."
### Idea summary

Usage of GitHub actions.

### Further details

We can use GitHub Actions to check/test the code that is being pushed upstream via PRs and it can be tested before merging automatically (Technically it is Continuous Integration).

[2021-09-21 09:54] #1018 closed, assigned to nobody

[2021-09-21 09:56] brylie commented on #1018
Trying to add @gorkemarslan to the issue since they resolved it in PR #1019

[2021-09-21 16:42] gorkemarslan commented on #1022
@AbhijithGanesh, I am auditing PR #1023. Is this issue caused before or after the PR? I mean have we had this problem for a long time? I guess we have. Right?

[2021-09-21 16:44] AbhijithGanesh commented on #1022
This is chronologically super old, it is caused before the PR. I think the PR applies a temporary fix but a longer fix would be to be restructure the models just like how you restructured the entire project. The issue originates from unsupervised migrations

[2021-09-21 16:49] gorkemarslan commented on #1022
Ok, thank you for the quick response. :)

I am asking this because I wonder whether we get all the useful files from the `master` branch. I think this issue is not gonna be a big deal in the future.

Ok, I now understand why you squashed 29 migrations, not all of them.

[2021-09-21 16:51] AbhijithGanesh commented on #1022
If I had squashed all migrations, there would be a circular import and It is not easy for someone to fix it quickly. It would've virtually taken me forever to do so.

[2021-09-21 18:32] gorkemarslan commented on #1004
@brylie, I aim to get started writing unit tests for `accounts/api.py`. It will remain unchanged. Right? (Except for the case that some parts from other apps can be moved to the `accounts/api.py`).

[2021-09-21 19:54] wassafshahzad commented on #1024
If this issue is open, I can take a look at it.
However I think i would be better to get @brylie  input on this

[2021-09-21 19:58] wassafshahzad commented on #1009
I think we can improve performance using async views for DRF as well.However only if performance optimization is needed.
I agree with @brylie  comments, straying away from best practices could come to bite use later on.

[2021-09-21 20:00] wassafshahzad commented on #392
Is this still an issue ? if soo can I be assigned on it ?

[2021-09-22 02:31] AbhijithGanesh commented on #1009
I think then we need to raise a new ticket on using DRF async views to improvize efficiency.

[2021-09-22 02:31] #1009 closed, assigned to nobody

[2021-09-22 02:33] AbhijithGanesh opened #1026 "Migrate API code to conventional Django apps"
Currently, most of our API-related code resides in the `api` app. This includes common Django models, Django Rest Framework API code, and custom functions (some of which may be obsolete).

## Code locations
- [models](https://github.com/CiviWiki/OpenCiviWiki/tree/develop/project/api/models) - these are actually Django models and should move to `<app>/models.py`
- [ViewSets](https://github.com/Civi

[2021-09-22 05:27] AbhijithGanesh commented on #1026
I would like to work on this if no is assigned.

[2021-09-22 05:29] AbhijithGanesh commented on #1024
I do believe it is a simple yet necessary solution which we need. Once brylie approves it would be useful if you make files for the workflow yml. I would like to review the same though.

[2021-09-22 09:37] brylie commented on #1024
I agree this is an important issue. It is also a duplicate of #146. @wassafshahzad I'll assign you to this issue and close #146

[2021-09-22 09:38] brylie commented on #146
Closing as superceded by #1024

[2021-09-22 09:38] #146 closed

[2021-09-22 09:41] AbhijithGanesh commented on #1024
Thanks for closing #146, I believe it was left unattended or it wasn't upgraded for Actions.

[2021-09-22 09:41] #1022 closed, assigned to AbhijithGanesh

[2021-09-22 09:42] AbhijithGanesh commented on #1017
Since the PR is merged, I am closing this

[2021-09-22 09:42] #1017 closed, assigned to AbhijithGanesh

[2021-09-22 09:43] brylie commented on #1004
Yes, the `accounts` app seems to be in a good state so won't change much going forward.

[2021-09-22 09:43] brylie commented on #392
@wassafshahzad can you try to reproduce the issue? If you can't reproduce the issue, we can close the bug report as stale.

[2021-09-22 09:46] wassafshahzad commented on #392
Sure I will try it
Thank you

[2021-09-22 09:48] brylie commented on #1026
Let's figure out whether to prioritize this issue for 2.0 or a later milestone.

- What parts of the project would need to change to support `async` API views?
- What current limitations would be improved by switching to `async`?

[2021-09-22 10:23] gorkemarslan commented on #952
@brylie, is it possible to pin one of my test coverage reports to the top of this issue? I can constantly upload the coverage report when a new PR improving test coverage until a desired result is achieved?

[2021-09-22 10:28] brylie commented on #952
@gorkemarslan create a new discussion thread and paste your coverage report there:
https://github.com/CiviWiki/OpenCiviWiki/discussions

You can then edit your comment as the coverage changes.

[2021-09-22 10:38] gorkemarslan commented on #1024
One thing to note: `api` app has a [test](https://github.com/CiviWiki/OpenCiviWiki/blob/develop/project/api/tests/test_propublica.py) file that is obsolete. For example, (at least) one package imported by this test file is missing, so the project itself does not include it. Running the tests of the whole project gives an error for this reason. Since, I am now working on unit tests for initially `a

[2021-09-22 11:06] brylie commented on #1024
I'm in favor of removing obsolete code. As we deprecate the `api` app, we can make sure the code we move to proper apps has good test coverage.

[2021-09-22 11:22] gorkemarslan commented on #1024
`ProPublicaAPI` is the missing module that is imported there. Our project does not have such a module. Are we going to use this module in the future? If not, I will remove it safely.

[2021-09-22 11:24] wassafshahzad commented on #1024
I would remove the unwanted code in my pr as well

[2021-09-22 11:25] brylie commented on #1024
ProPublica has been removed #857. Feel free to remove that API/test code as well.

[2021-09-22 15:24] AbhijithGanesh commented on #1026
As far as I've understood this project, we will be deprecating api app soon therefore if we are moving to async, we need to know how we'll be migrating.

[2021-09-23 05:09] AbhijithGanesh commented on #1026
I have a question, if we are deprecating api app what is our alternative. How are we going to keep it  running @brylie

[2021-09-23 08:54] brylie commented on #1026
We are moving all API-related code out of the `api` app and into related apps. For e.g., `accounts/api.py` contains accounts-related API code. We will still maintain an API but will organize the code into proper Django apps.

The `api` app is too generic. The idea was that CiviWiki would use Django mainly for a REST API while having a JavaScript SPA for the frontend. This pattern was, and still is

[2021-09-23 08:55] brylie commented on #1026
@AbhijithGanesh, would you like to help us migrate some of the API code into conventional Django apps?

[2021-09-23 08:57] AbhijithGanesh commented on #1026
I am more than happy to help the project. I can help. I will read up on the restructuring by Gorkem Arslan and start

[2021-09-23 08:59] brylie commented on #1026
OK, thanks. I'll revise this issue and add a migration roadmap :-)

[2021-09-23 09:01] AbhijithGanesh commented on #1026
That shall help me loads, thank you. Please add a roadmap and I shall get it running up to speed.

[2021-09-23 09:02] brylie opened #1028 "Move forms from `api/forms.py` to the `accounts/forms.py`"
## Idea summary

There are several account/profile forms defined in [`api/forms.py`](https://github.com/CiviWiki/OpenCiviWiki/blob/develop/project/api/forms.py). Those forms should be moved to [`accounts/forms.py`](https://github.com/CiviWiki/OpenCiviWiki/blob/develop/project/accounts/forms.py) or deleted if they are duplicate code.

**Update:** the code in `api/forms.py` is actually redundant, so

[2021-09-23 09:06] AbhijithGanesh commented on #1026
We'll be having accounts and that shall be our sole django-app right?

[2021-09-23 09:09] brylie commented on #1026
There is also a [`threads` app](https://github.com/CiviWiki/OpenCiviWiki/tree/develop/project/threads) in the [`project/` directory](https://github.com/CiviWiki/OpenCiviWiki/tree/develop/project).

[2021-09-23 09:39] anurag629 commented on #1028
I want to contribute and resolve this issue.
Please guide me in this how I proceed to fix bug

[2021-09-23 09:47] brylie commented on #1028
Thanks, @anurag629  ! I'll assign you.

I've added steps to complete this issue in the description above, under the "Task" section.

I'm not sure of your familiarity with all of those steps, so I may have included steps that are obvious. In any case, feel free to ask for assistance with any questions or ideas.

[2021-09-23 10:02] brylie opened #1029 "Create `notifications` app with initial code"
### Idea summary

Create a new `notifications` app. Move related code from the `api` app to `notifications`

### Further details

Steps to complete this task:

- [ ] create a notifications app
	- `python manage.py startapp notifications`
- [ ] add the `notifications` app under `INSTALLED_APPS` in `core/settings.py`
- [ ] move notification-related code from the `api` to the `notifications` app

[2021-09-23 10:03] gorkemarslan commented on #1004
@brylie, I want to move [ProfileSerializer](https://github.com/CiviWiki/OpenCiviWiki/blob/db319670f20d2e266db5814ed03f9209105365ef/project/api/serializers.py#L28) to `accounts` app and write related unittests as suggested in **Task 2** in this issue. I hope it is fine to you.

[2021-09-23 10:05] brylie commented on #1004
@gorkemarslan, yes. Let's discuss how to divide up task #1026, as it includes moving the `ProfileSerializer` among other items.

[2021-09-23 10:08] brylie opened #1030 "Create global API router"
We should determine how to use a common URL prefix across API endpoints when migrating the API code into separate Django apps.

For example, perhaps the `api` app can contain one `router.py` file that defines a DRF [`SimpleRouter`](https://www.django-rest-framework.org/api-guide/routers/#usage), called `CiviWikiRouter`.

[code]

Then, all api-related code can use the `CiviWikiRouter` when [registe

[2021-09-23 10:09] gorkemarslan commented on #1029
@brylie, could you add `Write unittests` to the list?

[2021-09-23 10:10] brylie opened #1031 "Move all account code from `api` to `accounts` app"
The `api` app contains code that should be moved to the `accounts` app. Move all of the following code to the `accounts` app, fix any related imports, and make migrations (if necessary).

- [x] [api/authentication.py](https://github.com/CiviWiki/OpenCiviWiki/blob/develop/project/api/authentication.py) delete this file and follow [Django/DRF CSRF guidelines](https://www.django-rest-framework.org/to

[2021-09-23 10:10] brylie opened #1032 "Move all thread code from `api` to `threads` app"
The `api` app contains code that should be moved to the `threads` app. Move all of the following code to the `threads` app, fix any related imports, and make migrations (if necessary).

- [x] related code in `api/models/` to `threads/models.py`
    - [x] [Activity](https://github.com/CiviWiki/OpenCiviWiki/blob/develop/project/api/models/activity.py)
    - [x] [Civi](https://github.com/CiviWiki/Ope

[2021-09-23 10:20] gorkemarslan commented on #1026
@brylie and @AbhijithGanesh, I think we should apply clean code principles when we're moving the components. For example, if functions and classes that will be moved have not docstrings and comments, we should include this descriptive strings to them just after moving. If it is possible, some tests should be must. Before committing, we all should check formatting with `flake8`.

[2021-09-23 10:22] brylie commented on #1026
Sure, things like docstrings and lint should be included. Let's first focus on getting the code migrated though, as it has been somewhat partial so far. I'd rather have flaky but fully-migrated code than lint-free, partially migrated (fragmented) code.

I just don't want "perfect" to be the enemy of "done" in the case of this refactoring, but otherwise fully agree with your suggestions regarding c

[2021-09-23 10:25] brylie commented on #1026
@gorkemarslan would you be willing to migrate the remaining accounts code? https://github.com/CiviWiki/OpenCiviWiki/issues/1031

[2021-09-23 10:26] gorkemarslan commented on #1031
@brylie, I wanted to be assigned to be issue #1029. But I think this issue takes my attention more because right now I try to improve `accounts` app. I don't want to be too greedy so I am going to edit my post in that issue, and give my initial effort on `accounts` app. Its maintenance is more vital for us.

[2021-09-23 10:27] brylie commented on #1031
Agreed. Thanks, @gorkemarslan! I'll make the list of the remaining `accounts` code to be migrated, in this issue description.

[2021-09-23 10:34] gorkemarslan commented on #1026
Yes please. :)

[2021-09-23 10:39] gorkemarslan commented on #1004
@brylie, I am planning to send one more PR for this issue. (Update password activation, profile activation etc views and URLs. Add unit testing.) Then you can close this issue. The new issues that have just be created are more comprehensive than this one.

Otherwise, we will here have circular dependency problem with the same-concept issues. :stuck_out_tongue:

[2021-09-23 10:39] brylie commented on #1029
What part of the `notifications` model do you propose would need unit tests?

https://github.com/CiviWiki/OpenCiviWiki/blob/db319670f20d2e266db5814ed03f9209105365ef/project/api/models/notification.py#L13-L36

[2021-09-23 10:41] brylie commented on #1004
Please use a GitHub issue keyword to [link and close this issue from your pull request](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue).

[2021-09-23 10:54] gorkemarslan commented on #1029
I tend to write tests for models to check whether the instance creation on db is done successfully. Testing models is very minimal and simple. For example,

https://github.com/CiviWiki/OpenCiviWiki/blob/db319670f20d2e266db5814ed03f9209105365ef/project/accounts/tests/test_models.py#L13-L29

here I only controlled the fields.

In `notifications.py`, it is enough to test ForeignKey relations.

Actual

[2021-09-23 10:57] gorkemarslan commented on #1004
I will use. If not, it will be shame on me. You tell me this a couple of times. I will use keywords from now on. :)

[2021-09-23 14:40] AbhijithGanesh commented on #1026
Can I start migrating the API related codebase? I don't feel like this can be done concurrently, if it can be done what app should I work on @brylie and @gorkemarslan

[2021-09-23 15:01] AbhijithGanesh commented on #1026
Brylie please assign me to this task.

[2021-09-23 15:05] gorkemarslan commented on #1026
@AbhijithGanesh, you should look at the subtasks and choose one. (#1029, #1030, #1031, #1032) I work on #1031. You can select one from the remaining. It is more appropriate for you to choose #1032 because you open this issue to move files :) Or #1029 is another good option to get understood the project.

You can write down your request to get assigned in the subtask you choose.

Don't worry. @bryl

[2021-09-23 15:30] AbhijithGanesh commented on #1032
Claim

[2021-09-23 15:39] AbhijithGanesh commented on #1026
I have noted this, I shall work on #1032

[2021-09-23 15:44] AbhijithGanesh commented on #1032
All api related models to threads? I can move the code and resolve imports but I just need confirmation before I start.

[2021-09-23 15:50] AbhijithGanesh opened #1033 "{RFC} Requirement of Actions to enforce Code Formatting."
### Idea summary

We need a code-formatter

### Further details

I think it is high time we start using flake, autopep8 or black. I am personally inclined to use black but if there are standards which the project adapts, I shall make amends.

[2021-09-23 15:55] gorkemarslan commented on #1033
`flake8` has already been included in `requirements/dev.txt`. Before committing, we are all supposed to check the format with the command of `flake8` on the console.

I remember there was a bot that checks code format for PRs in the project. I don't know we still have it. Do you know where I can find bots present in the project?

[2021-09-23 16:04] AbhijithGanesh commented on #1033
I think GitHub Actions take care of code formatting, we can configure yml files for workflows and get it running,

[2021-09-23 16:06] gorkemarslan commented on #1033
That is a good idea. :) Could you edit your issue to specify this feature?

[2021-09-23 16:11] AbhijithGanesh commented on #1033
Edited

[2021-09-23 16:34] AbhijithGanesh commented on #1033
I would like to resolve this immediately, it is important and it'd be nice if I get it done.

[2021-09-23 17:21] AbhijithGanesh commented on #1033
Worked on this and created a PR, please review @Brylie and @gorkemarslan

[2021-09-23 18:29] gorkemarslan commented on #1031
I agree with most of your suggestions except for `related code in api/serializers.py -> accounts/api.py`. I think it would be more appropriate if we create the `accounts/serializers.py` file then move `api/serializers.py` to this file. Creating `serializers.py` is conventional and compatible with the single responsibility principle. We shouldn't give extra responsibility to `accounts/api.py` file.

[2021-09-24 00:38] #1004 closed, assigned to nobody

[2021-09-24 00:44] brylie commented on #1033
@pep8speaks bot scans all pull requests for lint issues.

I agree we should add `black` as a development dependency.

What are the security implications of having untrusted code with write permissions on this repository? How will we be able to audit the code changes made by GitHub Actions?

[2021-09-24 00:48] brylie commented on #1032
Please see the description for notes in the specific code to move and where it should reside.

[2021-09-24 00:50] brylie commented on #1031
The `accounts/serializers.py` sounds fine. The list is mainly a guide so we won't omit any of the code.

[2021-09-24 00:56] brylie commented on #1026
@gorkemarslan and @AbhijithGanesh, issue #1030 is needed by both #1031 and #1032. As a common dependency, and since it is relatively small, #1030 would be a good starting task.

[2021-09-24 03:26] anurag629 commented on #1028
after cloning, I have to delete the file named 'forms.py'  OpenCiviWiki\project\api\forms.py.
Kindly check the path.

Thank You!

[2021-09-24 04:05] brylie commented on #1028
Go shead and commit your changes and open a pull request. That way it will be easier for me to review.

[2021-09-24 10:38] #1028 closed, assigned to anurag629

[2021-09-24 11:04] brylie commented on #885
@mdwest or @JOO33, would you mind adding me as an Owner on the [CiviWiki organization members page](https://github.com/orgs/CiviWiki/people)?

![image](https://user-images.githubusercontent.com/17307/134664910-68fc9f19-707e-4fa4-9e19-72f127ccd1e5.png)

[2021-09-24 11:18] brylie commented on #1032
@AbhijithGanesh, I have updated this issue description with the remaining functions to be moved along with the destination file names.

[2021-09-24 11:19] AbhijithGanesh commented on #1032
Yes brylie, I'll work on this. Please disregard the PR, it has mixed branches and I don't want it to be merged.

[2021-09-24 11:21] brylie commented on #1032
OK, I'll close PR #1035 and await further discussion about code analysis in a subsequent issue. Please open issues for discussion before making code changes.

[2021-09-24 11:24] brylie commented on #1032
@AbhijithGanesh For now, please leave the "category"-related code in the `api` app. I'll make a separate task for creating a new `categories` app with relevant code :smiley:

[2021-09-24 11:25] AbhijithGanesh commented on #1032
I just saw that you removed my PR, sorry for the redundant comment.

[2021-09-24 11:26] brylie opened #1040 "Create `categories` app with initial code"
Both the `accounts` and `threads` apps use categories, in order to link accounts with relevant threads. As categories are a common dependency, we should move category-related code to a separate app.

## Task
- [ ] Create a new `categories` app. Move related code from the `api` app to `categories`.

### Further details

Steps to complete this task:

- [ ] create a `categories` app
	- `python manage

[2021-09-24 11:30] AbhijithGanesh commented on #1033
I am unaware of methods of auditing with GitHub Actions but there is definitely a provision for that.

As for the security concerns, The GitHub Actions _will not be having write access_. It will not merge code without the approval of the staff. The reason why it should be implemented is that it can do more than pep8 scans. It can check on JS and even other types of work such as documentation if co

[2021-09-24 11:30] brylie commented on #1032
I think you had a clean branch with just `threads`-related changes, right? If not, perhaps just start a new branch and work through the checklist in this project description :rocket:

[2021-09-24 11:31] brylie commented on #1033
OK, sounds good. So it would add a notice in the pull request? Which specific GitHub action are we considering? I'll read the documentation for the relevant action.

[2021-09-24 11:34] brylie commented on #1033
For example, are we considering adding [rickstaa/action-black](https://github.com/rickstaa/action-black/)?

[2021-09-24 11:38] gteti commented on #885
Thank you 😃

[2021-09-24 11:40] gorkemarslan commented on #1031
Another point:

[code]

It is worth to note that if we keep api-related urls in `accounts.urls.py`, we need to put 'api/v1/' prefixes for these type of URLs as I do above. We should create a separate folder for api-related URLs. Then we can add the prefix in `settings.urls` for this folder. `(path('api/v1/', include(urls.api)))`.

So our url folder can be like that:

[code]

[2021-09-24 11:51] brylie commented on #1031
That suggestion sounds good. Will Django pick up the new `urls.py` automatically by being in the `urls` directory? Or will there be some necessary configuration? I'd like to stick close to Django/DRF conventions.

[2021-09-24 11:54] gorkemarslan commented on #1031
We've already had in our `core/urls.py`:

https://github.com/CiviWiki/OpenCiviWiki/blob/28ba0b20531575cdf5036b703d3b2ff83cbf81ad/project/core/urls.py#L30

It is enough to change this line to:
[code]

[2021-09-24 11:57] brylie commented on #1031
One issue is our API code will be spread across multiple apps, such as `accounts`, `threads`, and `categories`. So the change might be more along the lines of:

[code]

[2021-09-24 11:58] gorkemarslan commented on #1031
That makes sense. :)

[2021-09-24 12:03] gorkemarslan commented on #1031
I have another question about ` CsrfExemptSessionAuthentication`. Since it might turn to be a discussion I don't want to ask it in the review part of the PR.

Should we use the default DRF authentication in the project? Which is:

[code]
 If it is, I think I should add @csrf_exempt decorators to post, put, etc HTTP methods.

I take a look at the code again:

https://github.com/CiviWiki/OpenCiviWik

[2021-09-24 12:06] brylie commented on #1031
Yes, I'd like to deprecate any custom authentication code and use DRF defaults.

[2021-09-24 12:12] gorkemarslan commented on #1031
I edit my last post to add a new part to the below. Please look at it, as well.

Why do we use api in this project? In the future, are we planning to use Vue.js or React.js as a frontend?

I mean are we using api endpoints anywhere in the project? Or we have a purpose of serving our applications to users who want to use our API?

**Edit:**
I found the usage in the project:
https://github.com/CiviW

[2021-09-24 12:19] brylie commented on #1031
No plans to add Vue or React. We are moving _away_ from having an SPA frontend, which was previously made with Backbone.js. The SPA paradigm isn't a good fit for this project, as it has added too much maintenance overhead. #827

Also, there are some re-emerging approaches, such as [HTMX](https://htmx.org/), to get dynamic functionality for _parts_ of the page/app that need it without throwing away

[2021-09-24 12:28] gorkemarslan commented on #1031
Ok, thanks for your response. I will update my PR in a couple of hours. To work on another issue in the weekend, I want to be assigned to another issue? Which one do you suggest? Maybe one related to the general router?

[2021-09-24 12:29] brylie commented on #1031
For the 2.0 milestone, I am just proposing we _refactor_ the code and keep the API more-or-less unchanged, although we don't have an actual deployment so changing URL structure is permissible.

The 2.0 milestone will include tasks to port the JavaScript (Backbone.js) templates over to conventional Django templates, such as epic #889.

In the long run, keeping the API would make it possible for ext

[2021-09-24 12:39] gorkemarslan commented on #1031
At that time, you can assign me to add `JWT Token` to the project for the `3.0 milestone`. :smile:

[2021-09-24 14:08] AbhijithGanesh commented on #1033
We can. There are countless examples.I was of the opinion that we'll be using flake as Gorkem Arslan mentioned. If we need another formatter we can get it.

[2021-09-24 14:30] brylie commented on #1033
@AbhijithGanesh please suggest a specific GitHub action so that we can audit the code/documentation.

[2021-09-24 14:31] brylie commented on #1033
If that is the case, then no changes are needed since @pep8speaks is already auditing our pull requests

[2021-09-24 14:58] AbhijithGanesh commented on #1032
Task completed.

[2021-09-24 15:28] brylie commented on #1032
@AbhijithGanesh please use the checklist in the issue description to indicate exactly which items you have moved. All of the boxes are currently unchecked. Note, most of the changes are simply moving code and not editing it. The only edits that are needed are probably fixing imports and creating migrations with `python manage.py makemigrations`.

[2021-09-24 15:29] AbhijithGanesh commented on #1032
I am unable to check the boxes.

[2021-09-24 15:31] brylie commented on #1032
Oh dang. Try pasting the checklist into a comment and using that comment to check the boxes. That way, we can see your progress.

[2021-09-24 15:39] brylie commented on #1032
@AbhijithGanesh I sent you an invitation to join this repository. If you accept the invitation, you should be able to manage the checklist in the issue description. Thanks for your patience.

[2021-09-24 15:39] AbhijithGanesh commented on #1032
Thank you Brylie.

[2021-09-24 15:42] AbhijithGanesh commented on #1032
Brylie should I make specific changes for urls.py, I remember reading about routing somewhere.

[2021-09-24 15:44] AbhijithGanesh commented on #1033
Yeah but GitHub Actions act as Pull Request checks,it shows on the PR tab and it is more convenient to use too, It is a part of standard practices as well.

[2021-09-24 16:17] AbhijithGanesh commented on #1032
@brylie Please give me the settings when api is removed.

[2021-09-24 16:42] AbhijithGanesh commented on #1040
if there is no one to volunteer, I am always up Brylie @brylie

[2021-09-24 20:49] wassafshahzad commented on #1024
I have removed the test module from api, should I remove the test_framework as well ?

[2021-09-24 23:51] anurag629 commented on #1040
I will make PR after completing steps

[2021-09-25 00:26] anurag629 commented on #1040
sir, I did with the initial steps but at step(fix Category imports in accounts and threads app (where possible)) I am a little bit confused because I don't have knowledge about serializers.
I know what is serializer but don't know how its connections work.

Please help to make PR.

[2021-09-25 06:14] brylie commented on #1033
OK, that makes sense.

We still need to identify and discuss one or more potential GitHub actions related to this idea. Would you mind suggesting which GitHub action(s) might resolve this feature request?

[2021-09-25 06:17] brylie commented on #1032
We aren't removing the `api` app as part of this pull request. It looks like the `threads` app is already installed under the `INSTALLED_APPS` in `core/settings.py` so there aren't likely to be any changes needed to the settings.

https://github.com/CiviWiki/OpenCiviWiki/blob/28ba0b20531575cdf5036b703d3b2ff83cbf81ad/project/core/settings.py#L32

[2021-09-25 06:20] brylie commented on #1032
Yes. Move the thread-related URLs (seen below) from `api/urls.py` to `threads/urls.py`.

https://github.com/CiviWiki/OpenCiviWiki/blob/db319670f20d2e266db5814ed03f9209105365ef/project/api/urls.py#L20-L34

You will also need to add imports in `threads/urls.py` for the related URL endpoint views.

[2021-09-25 06:57] #1031 closed, assigned to gorkemarslan

[2021-09-25 06:58] brylie commented on #1024
Yes, clean up any unused test code. We will be adding tests within the new Django apps.

[2021-09-25 07:00] brylie commented on #1040
For this task, just focus on moving the code to the new locations and deleting it from the old locations as outlined in the issue description.

Once you have moved the code, push your changes to GitHub and open a pull request so that we can help out with any import or migration issues.

[2021-09-25 07:07] brylie commented on #1040
@anurag629 I went ahead and divided the checklist above into two halves.

- moving the files (then pushing to GitHub and opening a pull request)
- fixing imports and adding migrations (the parts we can assist with)

Would you mind working through the first half of the checklist by

1. locating each specific file linked in the description
2. moving each specific code (e.g., function or class) linke

[2021-09-25 10:34] anurag629 commented on #1040
Ok, Thank you, sir.
I will make PR after completing the steps.

[2021-09-25 13:52] gorkemarslan commented on #1030
I am up for working on this issue if no one is a volunteer.

[2021-09-25 14:58] gorkemarslan commented on #1031
@brylie, I want to give a clear answer to your question:

When creating a new Django project, the Django automatically specifies where URLs are stored in the project:
https://github.com/CiviWiki/OpenCiviWiki/blob/cbf3ee5dee481d2e9223374471351f1e43a68717/project/core/settings.py#L57

It is not relevant to our project but if we want to move the root `urls.py` to somewhere else apart from where it is

[2021-09-25 16:38] gorkemarslan commented on #1030
@brylie, since we will remove `api` app soon, we need to find a better place for `router.py`. I think we can use `core/router.py` for this purpose. All apps can register this router which is at the core of the project: `core` app :) There is a [SO question](https://stackoverflow.com/questions/34637294/where-to-put-routers-py-for-database-routing-in-a-django-project) that supports my logic.

You wr

[2021-09-25 21:32] wassafshahzad commented on #1024
Hey, @brylie  PR is up.
I also wanted to recommend some changes in our testing methodology.
We should probably use pytest cause of its parametrize functionality, We can write one test for multiple branching paths reducing out code footprint

[2021-09-25 21:33] wassafshahzad commented on #915
We should close this issue @brylie

[2021-09-25 21:40] wassafshahzad commented on #1040
@brylie  Can I look into this as well?

[2021-09-26 16:58] gorkemarslan commented on #1030
My plan is this:

Creating `router.py` file in `core` app for  `CiviWikiRouter`:
[code]

For `accounts` app, which has `urls` dir consisting of `urls.py` and `api.py`. Inside `api.py`:
[code]

The remaining apps only have urls.py. To give an example, let's consider `categories` app

[code]

To register the router:

[code]

[2021-09-27 04:09] AbhijithGanesh commented on #1040
When are we rolling out v2.0 @brylie ?

[2021-09-27 06:01] gorkemarslan commented on #1024
I generally use the standard Django `django.test.TestCase` module. For most of the time, it is sufficient to catch a good test coverage. The number of tutorials on `TestCase` is more than `pytest`. At least for now, we should keep testing with `TestCase`. In this way, more people can contribute to testing, so we should follow what the standard one is. In my opinion, we should focus on improving te

[2021-09-27 08:47] #1024 closed, assigned to wassafshahzad

[2021-09-27 09:03] #915 closed, assigned to wassafshahzad, manuneerav, vishalda

[2021-09-27 09:07] brylie commented on #1030
Sounds good. It might be good to prefix the routes with `v1` in case we create a new version of the API:

[code]

Also, the [`DefaultRouter`](https://www.django-rest-framework.org/api-guide/routers/#defaultrouter) might be a good choice, since it generates JSON documentation of API endpoints.

[code]

[2021-09-27 09:10] brylie commented on #1040
Please [start a new discussion](https://github.com/CiviWiki/OpenCiviWiki/discussions) with these types of questions, so that issue discussions can remain focused.

[2021-09-27 09:12] brylie commented on #1040
Assigning to @anurag629 since they have already opened a pull request.

[2021-09-27 09:15] wassafshahzad commented on #1033
@brylie can I have this?

[2021-09-27 09:26] #1040 closed, assigned to anurag629

[2021-09-27 09:28] brylie commented on #1033
@wassafshahzad, assigned! Thanks :smiley:

[2021-09-27 09:29] AbhijithGanesh commented on #1033
Can I review this once Wassafshahzad is done?

[2021-09-27 09:30] AbhijithGanesh commented on #1033
I would like to see the PR and know what kind of checks will be implemented.

[2021-09-27 09:31] brylie commented on #1033
Sure. @wassafshahzad, would you mention this issue ("Closes #1033") and @AbhijithGanesh in your pull request?

[2021-09-27 09:33] wassafshahzad commented on #1033
Sure

[2021-09-27 12:17] anurag629 commented on #1029
can I try this?
I can do this.

[2021-09-27 15:13] anurag629 commented on #1029
![Screenshot (8)](https://user-images.githubusercontent.com/78868769/134936075-1f97346e-8ec3-4fbf-ac72-c610f0e16d8e.png)

can i change the name of app to notification

[2021-09-27 17:28] gorkemarslan commented on #212
@brylie, since the address field was discarded, can we close this issue?

[2021-09-27 18:22] gorkemarslan commented on #517
@brylie, currently we are not using location data so we can close this issue. Right?

[2021-09-28 05:40] AbhijithGanesh commented on #1032
I am reworking this repository again, since it needs to be redesigned

[2021-09-28 08:03] brylie commented on #1029
Yes, in this case, we can break the convention for plural app names.

[2021-09-28 08:30] #231 closed

[2021-09-28 08:49] brylie opened #1049 "Create project base template (base.html)"
### Idea summary

We need a base template to use across apps. The base template should include common CSS, JS, and page elements

### Further details

- [x] create a file in `core/templates/base.html`
    - [x] add boilerplate HTML5 markup (below)
- [ ] change all other primary templates so they extend from `base.html` using `extends` and `{% block content %}` template tags (example below)
    - [

[2021-09-28 09:15] brylie opened #1050 "Move user/account-related templates out of `threads` app"
### Idea summary

There are several user- and account-related templates in the `threads` app. They should reside in the `accounts` app instead.

### Further details

Move all of the following templates from the `threads` app to the `accounts` app:

- [ ] `threads/templates/threads/base/less_headers/account_less.html` -> `accounts/templates/accounts/base/less_headers/account_less.html`
- [ ] `threa

[2021-09-28 09:24] brylie opened #1051 "Load Materialize CSS from a CDN"
### Idea summary

Our project currently keeps the full Materialize CSS under revision control. Since Materialize CSS is an external dependency, we don't need to keep it under revision control. Furthermore, the CSS is not minimized. To improve both of thess issues, we can load the minimized Materialize CSS directly from a CDN.

### Further details

- [x] delete the Materialize CSS files from our pr

[2021-09-28 09:30] brylie opened #1052 "Move static templates/dependencies to `core` app"
### Idea summary

We have several static templates and dependencies that are used across all apps. As common dependencies, these assets should be moved to the `core` app.

### Further details

Move the following static templates/dependencies to the `core` app.

- [x] `threads/templates/static/*` -> `core/templates/static/`
- [x] `threads/templates/threads/email/*` -> `core/templates/email/`
- [x]

[2021-09-28 09:35] brylie opened #1053 "Remove beta register and blocker templates"
### Idea summary

There are still two remaining templates related to the beta registration/blocker. Delete those templates.

### Further details

Remove the following templates:

- [ ] `threads/templates/threads/beta_blocker.html`
- [ ] `threads/templates/threads/beta_register.html`

[2021-09-28 09:36] #212 closed

[2021-09-28 09:37] #517 closed

[2021-09-28 09:38] #392 closed

[2021-09-28 09:40] #1030 closed, assigned to gorkemarslan

[2021-09-28 09:41] brylie commented on #1032
@AbhijithGanesh thanks for your help and patience with this fast-moving project :smiley:

[2021-09-28 09:44] brylie commented on #1032
@AbhijithGanesh, I reset the checklist here so you can work through it carefully. Please reference this issue from any pull request you open with the phrase "Closes #1032". Thanks again :100:

[2021-09-28 10:07] karandeeppotato commented on #1053
Hi there,
I'm willing to work on this, can you please assign me?

[2021-09-28 10:22] brylie commented on #1029
Closing this issue, since I had to rebase the code. New pull request is #1055 and includes your changes and attribution @anurag629

[2021-09-28 11:09] AbhijithGanesh commented on #1051
I want this please, I know I've been taking load but this will genuinely be useful for my learning curve! I would be extremely grateful if I am assigned to this!

[2021-09-28 11:18] gorkemarslan commented on #1029
@brylie, now (and previously) we are not using `Notification` model? I guess we'll use it in `discussion` or `thread` app. Right?

[2021-09-28 15:13] AbhijithGanesh commented on #1051
@brylie can I please get this!

[2021-09-28 15:40] brylie commented on #1029
We can decide whether to use it. Notifications can make the app more engaging, but we can reconsider the feature. In the name of simplicity, it might make sense to delete the unused code. What do you think?

[2021-09-28 15:40] brylie commented on #1051
@AbhijithGanesh, thanks! I assigned you to the issue.

Please let us know if you have any questions or concerns.

[2021-09-28 15:43] #1029 closed, assigned to anurag629

[2021-09-28 15:45] gorkemarslan commented on #1029
Specifically for `notification` app or the project level?

[2021-09-28 15:47] brylie commented on #1029
Well specifically for the notification app. We should delete unused code in general.

[2021-09-28 15:55] gorkemarslan commented on #1029
I am now talking about `notification` app:
As far as I understand there will be an inbox section to show users their notifications such as gorkemarslan follows you.

Is it really necessary to store the `last_modified` field? 🤔

https://github.com/CiviWiki/OpenCiviWiki/blob/7312b148803469fc3164b2a1624d6ed0fa19d46d/project/notification/models.py#L35-L36

Because notifications will be of form read-on

[2021-09-28 15:57] gorkemarslan commented on #1029
There are still unused codes in the project. Of course, we should delete them. After completing all the restructuring parts, I am planning to create a new issue to clean out them.

Further, all codes are stored in the Git repository. We can access them even after deleting them. For improving readability, I am a big fan of deleting. :)

[2021-09-28 19:15] ssm0801 commented on #1053
Can I take this ?

[2021-09-28 20:39] earthprelude commented on #1049
Can I try to help with this?

[2021-09-29 04:21] gorkemarslan commented on #1052
I'd like to get this one.

[2021-09-29 10:04] brylie commented on #1053
Sure, @ssm0801. Thanks :smiley:

[2021-09-29 10:05] brylie commented on #1049
Sure, @earthprelude. Thanks :smiley:

[2021-09-29 12:09] znhv commented on #1050
Hi, I'm new to open source, and it's not entirely clear to me whether my corrections have been accepted or not.

[2021-09-29 12:23] ssm0801 commented on #1053
I am unable to find those templates I guess those are deleted already

[2021-09-29 20:59] sahilsaini1107 commented on #1050
hello@brylie
If this issue is still open I would love to work on it.

[2021-09-29 23:18] earthprelude commented on #1049
No problem! :)

I looked through the files and have a few clarifying questions:

1. Should extra `<script>` elements in the child templates be placed inside of `{% block extra_js %}{% endblock extra_js %}` or  included as part of `{% block content %} {% endblock content %}`? (For example, the scripts at the end of [`threads/templates/threads/general-message.html`](https://github.com/CiviWiki/OpenC

[2021-09-30 10:29] #1050 closed, assigned to znhv

[2021-09-30 10:31] brylie commented on #1053
Ah, strange. I must have been on a stale branch. Thanks for taking a look @ssm0801! I'll add you for review anyhow

@all-contributors please add @ssm0801 for review

[2021-09-30 10:32] brylie commented on #1053
@all-contributors please add @ssm0801 for review

[2021-09-30 10:32] #1053 closed, assigned to ssm0801

[2021-09-30 11:46] brylie commented on #1049
Yes

[2021-09-30 11:48] brylie commented on #1049
It is used for rare cases where a template needs to load some CSS that is only related to the template. E.g a page might display a map or chart that uses CSS but we don't want to download the CSS on every page.

[2021-09-30 11:50] brylie commented on #1049
In those cases, remove "CiviWiki" from the page title string in the child template. Basically, child templates should only contain their own title, which will be prefixed by "CiviWiki - " from the base template.

[2021-09-30 11:57] brylie commented on #1049
To play things safe here, change the opening `body` tag in `base.html` as follows.

[code]

Then in the relevant child templates add in the specific class(es) near the top of the template file. E.g.,

[code]

[2021-09-30 15:55] ssm0801 commented on #1053
Can you tell me what does it mean, add @ssm0801 for review ?

[2021-09-30 17:33] earthprelude commented on #1049
Thanks a lot for your clarifications and advice!

I see, thanks! In these files, there's some CSS that seems to only be used by a few templates, so I wasn't sure whether I should still put it in `base.html`. For now, I left it in `{% block extra_css %}` for those specific templates.

Also, I originally moved the `{% load static %}` and `{% load i18n %}` tags I found in the `<head>...</head>` of ch

[2021-09-30 18:11] earthprelude commented on #1049
Separately, some child templates like this one ([general_message.html](https://github.com/CiviWiki/OpenCiviWiki/blob/968a8df56212e88154e5129f305f798f787f4a40/project/threads/templates/threads/general-message.html)) have `<script type=text/template>` elements on top of the `<body>` content. I've been including those as part of `{% block content %}`. But would it make sense to add a new, separate bl

[2021-10-01 01:06] earthprelude commented on #1049
Ok, I did that. Some templates don't have a title, so just to confirm, is it ok for them to have as their default title "CiviWiki - " with the extra dash?

[2021-10-01 02:38] AbhijithGanesh commented on #1051
I don't have any questions  but if I don't get  my other PR merged, it 'd be hard for me to work on this due to unmerged differences @gorkemarslan and @Brylie. Is that okay?

[2021-10-01 03:53] sahilsaini110 commented on #1052
hello @brylie
I love to work on this issue
.

[2021-10-01 03:55] sahilsaini1107 commented on #1052
hello @brylie
I would love to work on this issue, if it is still open.

[2021-10-01 06:05] brylie commented on #1053
It means that you contributed to this project by reviewing code quality since you found that no changes were necessary. We want to acknowledge many types of contributions, so we are following the [All Contributors project](https://allcontributors.org/) guidelines.

[2021-10-01 06:15] ssm0801 commented on #1053
oh okay thank you

[2021-10-01 06:55] adityamittl commented on #1020
I solved this issue.

[2021-10-01 06:56] #1032 closed, assigned to AbhijithGanesh

[2021-10-01 07:02] AbhijithGanesh commented on #1029
Was the tasks in this issue finished?

[2021-10-01 07:16] brylie commented on #1051
@AbhijithGanesh, in pull request #1048, we had to restore the `materialize.min.css` and `materialize.min.js` files so the project would run. So, we still need to delete them as part of this task.

I've un-checked the relevant checkboxes from this issue description to indicate the steps are not complete.

[2021-10-01 07:25] brylie commented on #1049
Yes, but perhaps call it `backbone_template` instead of `extra_template`, so the purpose of the block is clear.

[2021-10-01 07:27] brylie commented on #1052
@sahilsaini110, this issue is currently assigned to @gorkemarslan. Would you mind introducing yourself in our [discussion forum](https://github.com/CiviWiki/OpenCiviWiki/discussions) where we can get you started with some onboarding steps?

[2021-10-01 07:39] brylie commented on #1020
Closing as solved by #1060

[2021-10-01 07:39] #1020 closed, assigned to adityamittl

[2021-10-01 07:41] brylie commented on #1029
Yes, by PR #1055

[2021-10-01 07:55] gorkemarslan opened #1066 "Update urls for Django 3.2 release"
[django.conf.urls.url](https://docs.djangoproject.com/en/3.2/ref/urls/#url) is deprecated since Django 3.1.

[code]

I want to update all usages of `url()` functions to be `path()`. Usage of [path](https://stackoverflow.com/a/49932648/4476073) is pretty simple and increases readability especially for developers who get started with Django after `Django 3.0` release.

For example,

**threads/urls.p

[2021-10-01 09:14] gorkemarslan commented on #1066
@brylie, what do you think if I move [urls.py](https://github.com/CiviWiki/OpenCiviWiki/blob/develop/project/frontend_views/urls.py) and [views.py](https://github.com/CiviWiki/OpenCiviWiki/blob/develop/project/frontend_views/views.py) in `frontend_views` to the related places in `accounts` and `threads` apps and delete this folder? I'm planning to create a task list for these changes.

[2021-10-01 11:01] brylie commented on #1066
@gorkemarslan sounds good. Each step we take to reorganize the code will make maintenance easier. We also need to plan to port the Backbone.js views to regular Django templates as part of deprecating the JS frontend.

[2021-10-01 16:22] AbhijithGanesh commented on #1066
Can I collaborate on this issue and reduce your workload GorkemArlsan?

[2021-10-01 16:25] AbhijithGanesh commented on #1051
Those files are anyways deleted as a part of my branch and shall reflect @brylie and @gorkemarslan . Therefore it shouldn't be a problem

[2021-10-01 16:30] gorkemarslan commented on #1066
Actually, that will be good. I'm not sure whether multiple collaborations in the same PR count for `hactoberfest`. Give me some time to detect all related issues with urls. Then, I'll create new issues that will be part of this parent issue so that multiple developers can contribute to our project. We also make sure that you're going to be assigned to at least one.

[2021-10-01 16:34] AbhijithGanesh commented on #1066
Yes, thank you!

[2021-10-01 16:37] AbhijithGanesh commented on #1066
I will also look out for where we can improve on urls.py

[2021-10-01 16:59] AbhijithGanesh commented on #1066
I would like to branch it out app-wise and make it different issues @gorkemarslan

[2021-10-01 17:02] AbhijithGanesh opened #1069 "Restructuring App URLs for Django 3.2"
### Idea summary

Restructures the app's Urls according to non-deprecated methods

### Further details

The urls in threads and core use the deprecated method
[code]
which should be migrated to path method according to django 3.2 documentation.
The tasks are as follows
- [ ] Migrate Core urls to path
- [ ] Migrate threads urls to path
- [ ] Migrate frontend_views to path

[2021-10-01 17:03] AbhijithGanesh opened #1070 "Migration from deprecated methods for core urls"
### Idea summary

refer #1069

### Further details

Works on core-urls.py

[2021-10-01 17:15] AbhijithGanesh opened #1071 "Migration front_end views"
### Idea summary

refer #1069 point 3

### Further details

_No response_

[2021-10-01 17:15] ADV1K commented on #1066
I would also like to work on this issue. this might be my first pull request to an open source project 😄. @gorkemarslan

[2021-10-01 17:30] gorkemarslan commented on #1066
@ADV1K, first of all, you're welcome. :)
We're trying to split this issue into new issues as sub-parts of this one so that we try to make many developers contribute to the project.

We've recently created a similar issue #1026. In the sub-task, you can find clear guidance. We'll try to generate similar guides.

@AbhijithGanesh, could you please slow down a little? :) You should first make a clarif

[2021-10-01 17:36] gorkemarslan commented on #1069
@AbhijithGanesh, The main purpose of #1066 is exactly this. :) So I will remove this one and #1071. I'll add your text above to the issue #1066.
Since `hacktoberfest` has started, new contributors have come to the new issues labeled by `hactoberfest`. So we need to be careful when we open new issues. New issues should include clear guidelines.

[2021-10-01 17:37] AbhijithGanesh commented on #1066
I agree Gorkem, I shall add more details like #1026 and then we can start and I hope both of us are on the same page.

[2021-10-01 17:38] AbhijithGanesh commented on #1066
Sorry for being unclear and creating new issues, I just wanted to make sure that the issues are created rather than detailing them. Once I created them I thought I'll add more details.

[2021-10-01 17:40] AbhijithGanesh commented on #1069
Can I  edit this issue you've created and add tasks there or add it in my issue ? @gorkemarslan

[2021-10-01 17:43] AbhijithGanesh commented on #1069
Closing this as we'd be moving to #1066

[2021-10-01 17:43] #1071 closed, assigned to nobody

[2021-10-01 17:44] gorkemarslan commented on #1069
We should add new tasks to the parent issue. You can get started with improving the issue you're assigned.

[2021-10-01 17:44] AbhijithGanesh commented on #1066
I have patched core-urls so that can be marked done?

[2021-10-01 17:44] #1069 closed, assigned to nobody

[2021-10-01 17:56] AbhijithGanesh commented on #1066
Also can you please star my work? I have created issue #1073 to elaborate

[2021-10-01 18:05] AbhijithGanesh opened #1073 "Migration of frontend_views"
### Idea summary

Elaboration of issue #1070

### Further details

As mentioned in issue #1070, we need to migrate from
[code]
to
[code]
And for frontend_views the following points need to be kept in mind
- [ ] usage of django.urls module for path and include
- [ ] Including the following views using the include method
   - [ ]  About_view
   - [ ]  support_us_view
   - [ ] how_it_works_view
   -

[2021-10-01 18:08] AbhijithGanesh opened #1074 "Migrate frontend_views to path"

[2021-10-01 18:08] #1074 closed, assigned to nobody

[2021-10-01 18:10] AbhijithGanesh commented on #1074
Duplicate of #1073. Mistakenly created😅

[2021-10-02 01:23] earthprelude commented on #1049
Sounds good, thanks!

When I ran the tests, there was the following error:
`django.template.exceptions.TemplateSyntaxError: 'block' tag with name 'content' appears more than once`

I believe it is probably caused by the following child template - [`accounts/register/entry_base.html`](https://github.com/CiviWiki/OpenCiviWiki/blob/develop/project/accounts/templates/accounts/register/entry_base.html)

[2021-10-02 06:27] #1051 closed, assigned to AbhijithGanesh

[2021-10-02 06:31] AbhijithGanesh commented on #1066
Whats your take on this @brylie

[2021-10-02 06:32] brylie commented on #1049
We should have only one base template in the project. Try editing `accounts/register/entry_base.html` and adding `{% extends "base.html" %}` at the top.

[2021-10-02 06:41] brylie opened #1077 "Migrate threads urls to path"
in `threads` app, we need to change `url()`  function with `path()` function as discussed in #1066

https://github.com/CiviWiki/OpenCiviWiki/blob/d7f24fad7c0a2565da3bf2cd54e89a847d7479dd/project/threads/urls.py#L19-L41

Conversion to [path](https://github.com/CiviWiki/OpenCiviWiki/blob/d7f24fad7c0a2565da3bf2cd54e89a847d7479dd/project/threads/urls.py#L19-L41) is simple.

For example,

[code]

shoul

[2021-10-02 06:47] brylie commented on #1066
@gorkemarslan should take the lead here. @AbhijithGanesh, please allow @gorkemarslan to define and manage the sub-tasks, since they have responsibility for the overall issue (this issue).

One way I like to work is to [create a task list in an issue comment](https://docs.github.com/en/issues/tracking-your-work-with-issues/about-task-lists), using markdown:

[code]

Then, GitHub allows you to conve

[2021-10-02 06:53] AbhijithGanesh commented on #1066
Sure, Let Gorkem add details to various issues since they came up with the idea. Thanks for the clarification Brylie

[2021-10-02 07:09] AbhijithGanesh opened #1078 "[FEAT]: Remove all Django documentation in the project"
### Description

There are documentation strings related to the project when it was created and it is better if we remove it since we've migrated from the original version

### What should have happened?

_No response_

### What browser(s) are you seeing the problem on?

_No response_

### Further details

_No response_

[2021-10-02 07:10] brylie commented on #1078
@AbhijithGanesh can you point to an example documentation string?

[2021-10-02 07:15] AbhijithGanesh opened #1079 "Restore and improve fixtures in `project/data/`"
Our project contains some [fixture data](https://docs.djangoproject.com/en/3.2/howto/initial-data/#providing-data-with-fixtures) that is useful to quickly populate our Categories and Threads models. However, we don't tell developers how to use the fixtures or that they even exist.

## Task

- [x] determine how to use fixtures to populate our initial data
- [x] test our existing fixtures to make su

[2021-10-02 07:17] AbhijithGanesh commented on #1078
[code]
Code bits like this(it  is meant for django 1.8 but we use 3.2)

[2021-10-02 07:18] AbhijithGanesh commented on #1079
@brylie do we use the data from data directory anymore?

[2021-10-02 07:20] brylie commented on #1079
The constants are used in Python code, so should remain as .py. Whereas the `.json` file is used to populate the Categories table with default categories, in the example above.

In both cases, I believe we are following established conventions.

Related documentation:

- Django docs - Providing initial data for models: [Providing data with fixtures](https://docs.djangoproject.com/en/3.2/howto/init

[2021-10-02 07:21] brylie commented on #1079
I believe we can use this issue to improve our documentation. I.e. we can add a sub-section to our development guide describing how to use the `categories.json` and `sample_threads.json`.

[2021-10-02 07:23] AbhijithGanesh commented on #1079
Got it, then I think the .json file should not reference api right?
We need to reference them to newer models right? @brylie

[2021-10-02 07:27] AbhijithGanesh commented on #1079
can I work on this?

[2021-10-02 07:27] brylie commented on #1079
@AbhijithGanesh, yes good catch!

Yes please. I'll assign you and update the issue description accordingly with a task list.

[2021-10-02 07:36] brylie commented on #1078
If you want, you can update the comments with more recent links. However, I don't think we should remove them.

[2021-10-02 07:38] AbhijithGanesh commented on #1078
They're not relevant anymore right? I can update them as a part of documentation process! Would that be fine? I will add docstrings for this project and remove the Django 1.8 related strings? @brylie

[2021-10-02 07:41] brylie commented on #1078
One thing worth noting is that Django code and conventions tend to stay relevant for many years. It might be good for us to revisit some of these older files to identify where the conventions have changed/improved, but that may be out of scope for this task.

Just change any links containing `djangoproject.com` to the latest version.

[2021-10-02 07:47] AbhijithGanesh commented on #1078
Will keep them on my mind.

[2021-10-02 07:50] brylie commented on #1078
@AbhijithGanesh, by the way, you don't need to quote the entire previous message when replying. It can be difficult to follow the conversation when entire messages, sometimes with pictures, are quoted when replying to only part of the message. Let's keep our conversations easy to read by reducing the amount of quoted text.

[2021-10-02 08:12] AbhijithGanesh commented on #1078
I shall keep this in mind and not quote them Brylie. Sorry for the inconvenience caused!

[2021-10-02 08:19] gorkemarslan opened #1080 "Materialize is not defined"
### Description

After login,

I see a nearly empty page.

<img width="1346" alt="Screen Shot 2021-10-02 at 11 13 03" src="https://user-images.githubusercontent.com/16780927/135708936-d9acb48a-b69b-4983-a2fd-cb0d37a6a775.png">

On the developer console of my browser, there is an error about Materialize JS:

<img width="506" alt="Screen Shot 2021-10-02 at 11 14 14" src="https://user-images.githubus

[2021-10-02 08:27] gorkemarslan commented on #1070
Since PR #1072 solved this issue, I'm closing it.

[2021-10-02 08:27] #1070 closed, assigned to AbhijithGanesh

[2021-10-02 08:36] brylie commented on #1080
@gorkemarslan please check issue #1049, as it may resolve this issue by creating a single source for global JS/CSS imports

[2021-10-02 08:57] AbhijithGanesh commented on #1080
This reflects in my patch too, once the issue #1049 is fixed, I think this should be resolved.

[2021-10-02 10:04] AbhijithGanesh opened #1081 "add a sub-section to our development guide explaining how to use the fixtures"
This project contains fixtures and they are used to quickly populate the categories and threads model.
I have listed the changes in #1082  and this needs to be documented in the changes as the existence of these files are neither mentioned in docs nor are they explained well, therefore the development guide needs to be updated to help developers.

## Example documentation

We have previously docum

[2021-10-02 10:35] AbhijithGanesh commented on #1079
@brylie I have created a new issue for documentation and have left it open for new contributors, if there aren't volunteers, I shall volunteer to contribute😄

[2021-10-02 10:46] rishabhjha708 commented on #1077
Hi @gorkemarslan @brylie , I wanted to raise a PR for this. Can you add me as collaborator. Getting 403 status code.

[2021-10-02 11:48] SachinHatikankar100 commented on #1079
Hi, @AbhijithGanesh I am unable to find the documentation. Can you please help me to locate it? Not sure if I can contribute but wanted to have a look at it.

[2021-10-02 11:50] AbhijithGanesh commented on #1079
No we need someone to create it @SachinHatikankar100 . Someone has to write the docs for how to use fixtures in django
Read the docs related to fixtures [here](https://docs.djangoproject.com/en/3.2/howto/initial-data/)
We need this to be updated on our contributing.md
You can view the documentation issue here: #1081

[2021-10-02 13:02] LightFelicis commented on #1079
Hi, I'll gladly take this issue if it's free :)

[2021-10-02 13:04] AbhijithGanesh commented on #1079
Can you please request on #1081 @LightFelicis

[2021-10-02 13:07] LightFelicis commented on #1081
Please assign it to me :)

[2021-10-02 13:18] hudson-thomas commented on #1077
I can work on this.

[2021-10-02 15:06] gorkemarslan commented on #1077
@rishabhjha708, how do you get 403 status code? Could you define in which step you get this error?

@hudson-thomas, @rishabhjha708 comes earlier than you. Could you check other open issues?

[2021-10-02 15:42] AbhijithGanesh commented on #1066
Are you working on frontend-views @gorkemarslan

[2021-10-02 15:46] gorkemarslan commented on #1066
I got some flu. 🤧 After some relaxation, now I'm here. I am creating a new PR to solve #1052. Then I'll solve this issue.

And also I will open new issues. Just need some time. :)

[2021-10-02 15:47] AbhijithGanesh commented on #1066
Take care mate! Health comes first therefore please rest and take care😃
If you would like to reduce workload , I can take up some work  for
sure.

[2021-10-02 15:56] gorkemarslan commented on #1066
Thank your kind request. 😊 There is no more work in the frontend part. I guess I'll handle it.

[2021-10-02 15:58] AbhijithGanesh commented on #1066
Great, I also realized you and brylie work on similar Timezones which is slightly different from mine creating a bit of trouble but okay😅.

[2021-10-02 16:06] AbhijithGanesh commented on #1026
@brylie and @gorkemarslan , we need to get this done, it is becoming one of the stagnant issues

[2021-10-02 16:43] AbhijithGanesh commented on #83
Is this issue relevant anymore? @brylie

[2021-10-02 16:45] AbhijithGanesh commented on #121
Can we close this issue if it is not relevant?

[2021-10-02 16:48] AbhijithGanesh opened #1086 "Close issues not relevant to 2.0 milestone"
### Idea summary

Remove issues that are no longer pertinent

### Further details

I think we should close all un-related/solved issues and make sure they're not related to 2.0 Milestone
@brylie
@gorkemarslan

[2021-10-02 17:08] rishabhjha708 commented on #1077
@gorkemarslan , I am getting this while push a sub-branch.
I created a sub-branch from develop branch and trying to push that but getting this
[code]

[2021-10-02 17:14] rishabhjha708 commented on #1077
Tried  again by creating fresh sub branch from develop still got same
[code]

[2021-10-02 17:21] gorkemarslan commented on #1077
@rishabhjha708, are you given this error when you push other repos? I think the problem is with your local computer. It is not permitted to make changes on your GitHub account. Did you download SSH keys from your GitHub account to your computer?

Could you look at this [answer](https://github.com/trilbymedia/grav-plugin-git-sync/issues/39#issuecomment-546016249)? (And of course other answers, as w

[2021-10-02 17:31] gorkemarslan commented on #1077
@rishabhjha708, for future reference, was the problem solved by the answer above? If not, please tell us how to handle it. Then we can help the contributors who will get the same error in the future.

[2021-10-02 17:35] rishabhjha708 commented on #1077
yes @gorkemarslan  the issue was that only, raising PR..

[2021-10-02 17:43] Vinit-Kumar-Shah commented on #1077
@gorkemarslan I understand what to do in this task please assign this task to me so I can work on this issue

[2021-10-02 17:49] gorkemarslan commented on #1077
@Vinit-Kumar-Shah, @rishabhjha708 has already created a new PR to solve this issue. Thus, I assigned @rishabhjha708 to this issue.
Could you introduce yourself in the discussion section? Then we can help you to find an appropriate issue.

[2021-10-02 18:04] gorkemarslan commented on #1066
@AbhijithGanesh, I am planning to open a new issue to distribute the functions and classes of  `frontend_views` to `accounts` and `threads` apps. I'll assign the issue to you in order to discuss which app is the right place.

But before that, issue #1073 should be fixed and the related PR should be merged. Thus no conflict is encountered.

@brylie, please do not close this issue. I will add more s

[2021-10-02 18:12] AbhijithGanesh commented on #1066
I am up for the task Gorkem Arslan, thank you

[2021-10-02 18:15] AbhijithGanesh commented on #1066
All related branches have been merged for #1073, I think it should be closed and if need be I can close it.

[2021-10-02 18:29] earthprelude commented on #1049
Oh I had already added that (sorry it wasn't visible in the screenshot). Here is a larger screenshot of `accounts/register/entry_base.html` :

![image](https://user-images.githubusercontent.com/75330343/135727785-5e0ca17c-c19f-4af8-863b-f4b35cc55c21.png)

When I tried checking the other files inside this folder, there seem to be 2 extra files ([`accounts/register/login.html`](https://github.com/Ci

[2021-10-02 20:18] earthprelude commented on #1049
Oh sorry for being unclear, I'd already edited this file to extend `base.html` before running the tests. Here is a larger screenshot of `accounts/register/entry_base.html` in my branch:

![image](https://user-images.githubusercontent.com/75330343/135727785-5e0ca17c-c19f-4af8-863b-f4b35cc55c21.png)

I believe the problem is that there are now 2 block tags with the same name, **content**. One of the

[2021-10-02 20:44] gorkemarslan opened #1090 "Update and move frontend_views"
The usage of the `frontent_views` folder is not compatible with the Django convention.

### Tasks

- [x] Reformat `frontend_views/views.py`
    - [x] If it is possible, use f-Strings
    - [x] Fix variable names. The name of the variables should be self-explanatory.
           **Examples of bad naming:**
https://github.com/CiviWiki/OpenCiviWiki/blob/d7f24fad7c0a2565da3bf2cd54e89a847d7479dd/project

[2021-10-03 04:56] brylie commented on #1086
Not all work/ideas can fit into the 2.0 milestone. It is common for projects to have issues that are not under immediate development, in order to plan a roadmap.

Are there some specific issues that seem outdated or irrelevant?

[2021-10-03 06:22] AbhijithGanesh commented on #1086
I shall reply to this after checking on all listed issues.

[2021-10-03 06:50] AbhijithGanesh commented on #1090
@gorkemarslan Why is the app frontend_views unconventional?

[2021-10-03 07:36] AbhijithGanesh commented on #1090
@brylie can you please confirm whether usage of frontend_views are unconventional?

[2021-10-03 13:06] anurag629 commented on #1073
@gorkemarslan  Assign me I want to resolve this issue.

Thank You!

[2021-10-03 13:07] AbhijithGanesh commented on #1073
I think this issue was fixed.

[2021-10-03 13:28] anurag629 commented on #1073
But it is still open

[2021-10-03 13:35] AbhijithGanesh commented on #1073
I'll close the issue once merged.

[2021-10-03 14:12] Vinit-Kumar-Shah commented on #1077
Sure, Thanks for your response

[2021-10-03 15:33] anurag629 commented on #1052
i want to work on this issue

[2021-10-04 06:22] brylie commented on #1081
@LightFelicis, I've added some example documentation to the task description. Thank you so much for contributing to CiviWiki and welcome to the community! :smile:

[2021-10-04 06:24] #1052 closed, assigned to gorkemarslan

[2021-10-04 06:25] brylie commented on #1026
@AbhijithGanesh This work has been done, from what I can tell.

[2021-10-04 06:25] #1026 closed, assigned to nobody

[2021-10-04 06:25] #83 closed

[2021-10-04 06:26] brylie commented on #121
@AbhijithGanesh would you please verify whether this bug is still present?

[2021-10-04 06:27] AbhijithGanesh commented on #121
I'll verify and if it is not a bug anymore, shall I close it?

[2021-10-04 06:30] #1073 closed, assigned to gorkemarslan

[2021-10-04 06:31] #1077 closed, assigned to rishabhjha708

[2021-10-04 06:36] brylie commented on #1049
Any template that includes `block content` should have `{% extends "base.html" %}`  at the top. That way, the `block content` will be placed inside of the existing `block content` from the `base.html`. Please let me know if adding `{% extends "base.html" %}` to the top of the accounts templates resolves this issue.

[2021-10-04 06:43] brylie commented on #1090
@AbhijithGanesh the folder "frontend_views" is unconventional because all Django views are "frontend views" when Django is responsible for rendering templates. Basically, Django views should be defined within specific apps, such as `accounts` or `threads`, rather than a generic `frontend_views` app.

When the `frontend_views` app was created, the CiviWiki developers were working under the single-p

[2021-10-04 06:50] gorkemarslan commented on #1090
@AbhijithGanesh, the sub-task for the discussion is just for this purpose:

The one of the greatest activities to enhance your code quality is to look at the docs, to audit other open-source repos, etc. I just wonder here where and why we should store these files and learn your opinions about them.

You can also look through another perspective. If you see a folder with name of `frontend_views`, w

[2021-10-04 06:50] brylie commented on #121
Sure. Please add a comment with a screenshot when verifying the issue.

[2021-10-04 10:12] max1204 commented on #227
@brylie Is this issue still being worked upon I have some time this weekend to test and finish this?

[2021-10-04 11:38] brylie commented on #227
Go ahead and take the issue @max1204

[2021-10-04 12:39] gorkemarslan opened #1094 "Add `media` and `static` URL configs to `core/urls.py` for development"
This is a beginner-friendly issue to help contribute to the community. If you're new to Django, it's just for you.

Right now, [urls.py](https://github.com/CiviWiki/OpenCiviWiki/blob/develop/project/core/urls.py) in `core` app does not include `media` and `static` URL configurations.

https://github.com/CiviWiki/OpenCiviWiki/blob/dfffa84f83a21ffa7f9f1417a4eb576bed9b010c/project/core/urls.py#L25-L3

[2021-10-04 14:06] znhv opened #1096 "Check the project with a linter"
### Idea summary

Fix all warnings in the project with the wemake-python-styleguide linter.

### Further details

I noticed that the project has a lot of inconsistencies with the generally accepted rules of code design. Can I use the **wemake-python-styleguide** style guide to fix problems and warnings in the project?

[2021-10-04 14:33] anurag629 commented on #1094
I want to fix this issue.
@gorkemarslan  Assign me, please

[2021-10-04 15:25] brylie commented on #1096
For our purposes, the [`black` code formatter](https://github.com/psf/black) should suffice. Also, we don't want to format auto-generated code, such as Django migrations.

[2021-10-04 15:27] gorkemarslan opened #1097 "Change Thread.author FK to point to the `User` model instead of `Profile`"
Our `Thread.author` field is currently a foreign-key relationship to the `Profile` model. However, user profiles are to some extent optional. Furthermore, the lack of default Profile object for each user has led to some uncertainty in our database fixture data.

## Task

- [ ] change the `Thread.author` model to be an FK relationship to the `User` table
- [ ] make sure related views, templates, an

[2021-10-04 16:20] brylie commented on #1097
I believe our `Thread` model should be updated to reference a `User` ID rather than `Profile`.

[2021-10-04 16:23] gorkemarslan commented on #1097
`Thread` model now:

[code]

So Thread `model` should be updated such that

[code]

[2021-10-04 16:23] brylie commented on #1097
Jep, that looks good.

[2021-10-04 16:24] brylie commented on #1097
It might take some re-wiring of the "create thread" form and code path. I'm not sure to what extent that change would need to propagate through the code. E.g. in templates, we might need to change the context to something like `thread.author.profile` and check whether the profile exists for safety. Let's just make the minimum changes necessary to make the DB migration work without errors. We can e

[2021-10-04 16:27] gorkemarslan commented on #1097
If you want we can adjust `Profile` model as `AUTH_USER_MODEL`, if refactoring will be really a big deal.

Or we can update `Profile` model such that:
**Before:**
[code]

**After:**
[code]

Either way, we'll have minimal code changes.

Edit: I am not sure whether the first one will work. `AUTH_USER_MODEL` might need a user model inherited from `AbstractBaseUser`.

[2021-10-04 16:37] gorkemarslan commented on #1097
@brylie, then why do we have the `Profile` model in the project if we use the `User` model? 😅

[2021-10-04 16:40] brylie commented on #1097
The `Profile` model contains additional information about users that is not required to log in. I.e., the `User` model has what is essential to log in, and the `Profile` should contain *optional* information such as name and biography.

[2021-10-04 16:55] gorkemarslan commented on #1097
I now understand their differences. So `Profile` model is here to validate optional data.

[2021-10-04 16:57] gorkemarslan commented on #1097
We should refactor all `threads/models.py`:

https://github.com/CiviWiki/OpenCiviWiki/blob/9bc01dd3b4d492ef1cb2a7f1d5f1a27535f1ae48/project/threads/models.py#L442-L445

https://github.com/CiviWiki/OpenCiviWiki/blob/9bc01dd3b4d492ef1cb2a7f1d5f1a27535f1ae48/project/threads/models.py#L475-L478

https://github.com/CiviWiki/OpenCiviWiki/blob/9bc01dd3b4d492ef1cb2a7f1d5f1a27535f1ae48/project/threads/mode

[2021-10-04 18:44] gorkemarslan commented on #1097
@brylie, I have a question:

Why does the `Profile` model have a many-to-one relation with the `User` model?

https://github.com/CiviWiki/OpenCiviWiki/blob/9bc01dd3b4d492ef1cb2a7f1d5f1a27535f1ae48/project/accounts/models.py#L93-L94

We could use `one-to-one` [relation](https://docs.djangoproject.com/en/3.2/ref/models/fields/#onetoonefield).

Did I miss a point? Because now a user can have multiple

[2021-10-05 01:14] earthprelude commented on #1049
In this case it doesn't resolve the issue, because there are still 2 `block content` in the same file (`entry_base.html`).

The cause is that after the update, there are now 2 levels of inheritance, because `entry_base.html` is now both a child template of `base.html`, while also still being a parent template for `accounts/register/register.html` and `accounts/register/login.html`. So `block conte

[2021-10-05 03:26] earthprelude commented on #1049
For now I can leave out the `entry_base` file, and instead submit a small initial PR which adds the `base.html` template to `core/templates` and just edits the 4 templates inside that folder. Splitting up the PRs will hopefully also help make the review process more manageable on your end.

For this small group of `core/template` files, there were no problems when I ran the tests, but when I ran t

[2021-10-05 05:06] AbhijithGanesh commented on #1090
@gorkemarslan Can I start working on this again now? Or are we waiting for other PRs too?

[2021-10-05 05:07] AbhijithGanesh commented on #1096
Brylie I think we need to choose either black or flake, In the repo there is a .flake8 file for the same, if we are choosing black, we need to remove flake related files and need to specify the same on contributors guide @brylie and @znhv

[2021-10-05 05:17] znhv commented on #1096
That's right, I also think we need to standardize the code style. I am more inclined to flake8, it is more flexible and it is used in many projects.

[2021-10-05 05:36] gorkemarslan commented on #1090
Yes you can. :smile:

[2021-10-05 08:21] brylie commented on #1097
Yes, each user should have exactly one Profile, at most. And, a Profile pertains to only one user. So, one-to-one relationship sounds right.

[2021-10-05 08:27] brylie commented on #1049
The pull request looks great. I added comments to make one significant change that will reduce duplication of code.

[2021-10-05 08:34] brylie commented on #1096
I believe `flake8` and `black` can coexist. Since we are already using `black`, I'd like to stick with it.

In order to harmonize `flake8` and `black`, we can add a `.flake8` configuration with the following:

[code]

## Resources

- [using black with flake8](https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8)
- [Using black and flake8 in tandem](https://sbarnea

[2021-10-05 08:40] #1094 closed, assigned to nobody

[2021-10-05 15:49] AbhijithGanesh opened #1100 "[BUG]: Major design issues"
### Description

When I try creating a new thread, the threads donot change and the following messages are console logged.

Major JS components are failing here.

### Further details

![image](https://user-images.githubusercontent.com/67182544/136057656-f64b8eed-4e0c-4d35-99cd-36a275f4fd91.png)

[2021-10-05 16:23] AbhijithGanesh opened #1101 "Make `linked_civis` and `response_civis` fields optional on Civi model"
The `Civi` model contains two required fields that are causing difficulty when starting a fresh project:

- `linked_civis` https://github.com/CiviWiki/OpenCiviWiki/blob/85cd5bf867be4e1987cff3f083fc456904287f9e/project/threads/models.py#L214
- `response_civis` https://github.com/CiviWiki/OpenCiviWiki/blob/85cd5bf867be4e1987cff3f083fc456904287f9e/project/threads/models.py#L215-L221

Since those fiel

[2021-10-05 16:26] lue93 commented on #227
@brylie  Hello!

I found this issue on a Awesome List for Hacktoberfest and I'd like to tackle this issue.

It seems it is a simple "just change the 'on_delete' property to 'SET_NULL'" and change the foreignkeys to 'null=True', which would remove the ID to the original data, but I'm kinda worried about LGPD (Brazilian data protection law) and GDPR, 'cause although the data doesn't point to the ori

[2021-10-05 16:32] AbhijithGanesh commented on #121
It is not fixed and I realized the model structures are not correctly mapped and we need to revamp, so we need to work on this.

[2021-10-05 17:18] gorkemarslan commented on #1100
I think this is related to #1080.

[2021-10-05 17:23] gorkemarslan commented on #1101
@AbhijithGanesh, could you share the error messages you encounter and also how you get them?

[2021-10-05 17:38] AbhijithGanesh commented on #1101
I was unable to get the model instances via the views therefore I registered the models through Admin and tried creating a civi and it returns me the following:
![image](https://user-images.githubusercontent.com/67182544/136074477-7172f60b-1f21-4911-a976-a133b5dba3eb.png)

This is circularly routed.

[2021-10-05 17:41] gorkemarslan commented on #1097
@brylie, what about `serializers`?
https://github.com/CiviWiki/OpenCiviWiki/blob/3de9e1eb30765d665770c3d56fbd3c4143d30eb6/project/threads/serializers.py#L115-L117

Are we going to update `accounts/serializers.py`? ([accounts/serializers.py](https://github.com/CiviWiki/OpenCiviWiki/blob/3de9e1eb30765d665770c3d56fbd3c4143d30eb6/project/accounts/serializers.py))

[2021-10-06 01:56] earthprelude commented on #1049
Thanks for the feedback! I updated it.

[2021-10-06 06:34] brylie commented on #227
The only place we store personally identifiable information is:

- `User` - via email field
- `Profile` - all fields are PII

So, we need to delete the `User` and `Profile` instances for any given user on request.

Data protection laws give organizations some right to keep data when it is in the interest of the organization. In the case of CiviWiki, the user generated content, such as discussion t

[2021-10-06 06:35] brylie commented on #121
OK, I'll leave the issue open and hide this discussion as resolved.

[2021-10-06 06:39] brylie commented on #1100
Closing as duplicate of #1080

[2021-10-06 06:39] #1100 closed, assigned to nobody

[2021-10-06 06:44] brylie opened #1106 "Remove code related to U.S. state and government structure"
We are trying to simplify the CiviWiki codebase while making it more relevant to communities outside of the United States. To that end, we have removed most code related to the U.S. legislature and bills. However, some specific code remains that isn't relevant to people in other countries.

## Task

- [ ] Remove U.S.-centric code from the project
- [ ] create database migrations with `python manag

[2021-10-06 07:03] brylie commented on #1101
@AbhijithGanesh, I have repurposed this bug report to make the `linked_civis` field optional and remove the `response_civis` field.

[2021-10-06 07:07] xsraut commented on #1106
This is my first time, I'll Try.

[2021-10-06 07:10] gorkemarslan commented on #1106
@xsraut, I'm assigning you to this issue.

[2021-10-06 07:12] brylie commented on #1106
@gorkemarslan could you please help double-check that I didn't miss any code? I'm working on a couple of issues at the same time and my focus on this issue was a bit thin.

- state code search: https://github.com/CiviWiki/OpenCiviWiki/search?q=state
- level code search: https://github.com/CiviWiki/OpenCiviWiki/search?q=level
- US_STATES: https://github.com/CiviWiki/OpenCiviWiki/search?q=US_STATES

[2021-10-06 07:51] xsraut commented on #1106
Thanks @gorkemarslan

[2021-10-06 07:51] xsraut commented on #1106
Task 1 completed : Removed U.S.-centric code from the project

[2021-10-06 08:15] gorkemarslan commented on #1106
@xsraut, one pull request is enough for all tasks. So could you also commit requested changes in Task 2 for PR #1107? It would be better if PR #1107 includes all solutions for this task.

I'm also looking at the project to check whether additional tasks can be added to this issue.

[2021-10-06 08:22] xsraut commented on #1106
Understood, Thank You.

[2021-10-06 09:18] brylie commented on #1097
Yes, we would need to update any code that currently relies on `Profile` to switch it to using `User`. For now, we can just display the `User.username` field instead of any particular fields of `Profile` model, to make this transition easier.

[2021-10-06 09:20] brylie commented on #1049
One small change to revert to `<!DOCTYPE html>` as per MDN: https://developer.mozilla.org/en-US/docs/Glossary/Doctype

[2021-10-06 11:08] gorkemarslan commented on #1090
@AbhijithGanesh, how is this issue going?

Could you wait awhile for issue #1106 to be solved because that issue proposes some changes in `frontend_views` folder?

Thank you for patience. :blush:

[2021-10-06 11:09] AbhijithGanesh commented on #1090
I can wait for the same ☺️ don't worry Gorkem Arslan

[2021-10-06 13:18] gorkemarslan commented on #1097
Then I should create `UserListSerializer` to be replaced with `ProfileListSerializer` such that:

[code]

[code]

We can add other fields if you want. Which one do you prefer?:

[code]

[2021-10-06 13:22] brylie commented on #1097
Very detailed findings so far!

[2021-10-06 22:04] earthprelude commented on #1049
Sure, thanks!

[2021-10-07 05:21] adnansalik commented on #121
Hey can I know more about this issue?

[2021-10-07 05:38] AbhijithGanesh commented on #1090
@gorkemarslan Can I patch this today before we have any further changes?

[2021-10-07 06:48] brylie commented on #121
@adnansalik, sure. In order to reproduce this issue, you will need to first create a development environment as per the [instructions in our contributing guide](https://github.com/CiviWiki/OpenCiviWiki/blob/develop/CONTRIBUTING.md#development).

Once the development environment is running, you can

1. register a new user (e.g. `user_a`) from the register screen
2. log out
3. register a second user

[2021-10-07 06:50] brylie commented on #1049
I approved the PR. If possible, I'd like for @gorkemarslan to take a quick look as well, since they have worked with that code recently.

[2021-10-07 07:22] gorkemarslan commented on #1090
@AbhijithGanesh, there are 2 opened PR working on `frontend_views`. I know you are eager to complete this task as soon as possible. Let's get @brylie 's opinion here.

@brylie, this issue is about removing `frontend_views` folder. But #1107 and #1110 are working on this folder. What should we do?
If @AbhijithGanesh waits for these PRs, there won't any conflict. @AbhijithGanesh is ready to complete

[2021-10-07 07:26] #1079 closed, assigned to AbhijithGanesh

[2021-10-07 07:28] AbhijithGanesh commented on #1090
Sure @gorkemarslan , next time make one mention and you can call me Abhijith if its hard typing my full name

[2021-10-07 08:52] brylie commented on #1090
I'd advise us to wait unless @AbhijithGanesh is comfortable syncing changes from `develop` to their feature branch.

[2021-10-07 08:53] AbhijithGanesh commented on #1090
I am ready to make a new branch to rework on this changes Brylie

[2021-10-07 08:54] brylie commented on #1049
I'm reopening this issue until we confirm that all of the checklist items are complete. @earthprelude, please check off the items that you have done so far.

[2021-10-07 08:55] brylie commented on #1090
Alright, just understand that you may need to merge changes from the `develop` branch into your new branch and resolve conflicts.

[2021-10-07 08:59] AbhijithGanesh commented on #1090
I am creating a totally new branch and every change will be integrated to the branch.

[2021-10-07 16:08] AbhijithGanesh commented on #1090
@gorkemarslan Which app should I add the miscellaneous functions too?(The last set of tasks)

[2021-10-07 16:16] gorkemarslan commented on #1090
@AbhijithGanesh, I guess you are talking about views functions, right? Then, you can put them into `threads` app.

[2021-10-07 16:17] AbhijithGanesh commented on #1090
I was talking about the view functions @gorkemarslan , I want to add them to core would that be fine?

[2021-10-07 17:32] AbhijithGanesh opened #1115 "[BUG]: FrontEnd routing issues"
### Description

The header in the application routes the application incorrectly and needs to be fixed. If it routes the anchor tag incorrectly, we'll be having a nested routes tree  of /page1/page2/...

### What should have happened?
Its end output must be like this
[code]
instead of
[code]

### What browser(s) are you seeing the problem on?
All

[2021-10-08 01:08] earthprelude commented on #1049
I'm also ready to make another PR that edits the templates in the `threads` folder (`general_message.html` and `thread.html`). It looks like the remaining templates in the list above have all been moved to the `accounts` folder, so I can address that folder next time.

I just have a quick question. The current base template includes a navigation bar ([`static_nav.html`](https://github.com/CiviWiki