[2017-08-14 14:55] brylie opened #1 "Merge latest changes from old repository"
We may have migrated to this new repository without some of the most recent changes. Lets make sure we have all recent changes by pulling once more from the precious repository.

[2017-08-14 14:57] brylie opened #2 "Migrate old issues to this repository"
There are several issues open in the previous repository. Migrate all open issues to this repository.

[2017-08-14 15:07] brylie opened #3 "Switch repository default branch to 'dev'"
The repository appears to be behind the old repository, because the default branch is 'master'. Set the default branch to 'dev', so we see the recent changes.

[2017-08-14 15:08] brylie opened #4 "User-signup flow somewhat confusing"
The sign-up process for new users is somewhat confusing.

# Observed behavior
The user is presented with an apology message immediately after filling out the sign-up form, which seems to indicate that the platform is in closed beta. However, an account activation email is still sent to the user, allowing them to complete the registration process.

# Expected behavior
Upon filling out the registrat

[2017-08-14 15:08] brylie opened #5 "Civi revision approval flow"
*Placeholder issue, edit as needed*

# User story

# Goal
Create a workflow that would allow civis to be edited by multiple persons. The workflow should have a primary 'editor', who is responsible for approving changes.

[2017-08-14 15:09] brylie opened #6 "Ignore static files"
Git is trying to track changes to the **staticfiles** directory. Add **staticfiles** to `.gitignore`, so Git will not track the default staticfiles directory.

[2017-08-14 15:10] brylie opened #7 "Remove dependency on Google Maps"
The Google Maps dependency may be unnecessary, and poses an additional encumbrance when setting up a development environment. For example, without a Google Maps API key, the new user registration wizard cannot be completed:

![screenshot_20170714_204541](https://user-images.githubusercontent.com/17307/28223790-68aa8cac-68d5-11e7-8394-0180b680d470.png)

Remove all code related to Google maps:
https

[2017-08-14 15:11] brylie opened #8 "Fix CSRF middleware"
There is a [TODO in `settings.py` to 'fix the CSRF middleware'](https://github.com/CiviWiki/OpenCiviWiki/blob/dev/civiwiki/settings.py#L60). This issue is a placeholder to make sure we resolve the issue with CSRF middleware.

What is the issue that prevents us from using CSRF?

[2017-08-14 15:12] brylie opened #9 "Add non-webapp template directory"
In [settings.py](https://github.com/CiviWiki/OpenCiviWiki/blob/dev/civiwiki/settings.py#L93), there is a TODO saying to 'Add non-webapp template directory'. This issue is a placeholder to encourage that we complete the TODO.

[2017-08-14 15:12] brylie opened #10 "Dismiss 'New Thread' modal on success"
Currently, there is a delay when creating a new thread. The 'thread created' message appears, but the modal is still open.

![peek 2017-07-14 21-25](https://user-images.githubusercontent.com/17307/28225374-1d741cde-68db-11e7-9b11-d434125eafbe.gif)

Determine how to optimize the flow when users create new threads, so they receive immediate feedback on success. I.e. the modal might close at the same

[2017-08-14 15:13] brylie opened #11 "Provide obvious way to navigate to CiviWiki front page from Thread view"
When viewing a particular Thread, there does not appear to be any obvious way to navigate to the CiviWiki front page.

![screen shot 2017-07-14 at 21 32 49-fullpage](https://user-images.githubusercontent.com/17307/28225623-02d900b4-68dc-11e7-93cd-838c02add5f6.png)

# Goal
Determine if users should be able to navigate to CiviWiki front page from Thread page. If so, provide obvious navigation elemen

[2017-08-14 15:14] brylie opened #12 "Civi 'temp score' display has unnecessary precision"
The 'temp score' display on a Civi card has over ten significant digits of precision.

![screenshot_20170714_213539](https://user-images.githubusercontent.com/17307/28225976-181da73a-68dd-11e7-92a8-4c32f47bddce.png)

# Goal
Consider rounding or truncating the 'temp score' display to improve readability.

[2017-08-14 15:14] brylie opened #13 "Integrate OpenStates and Pro-Publica Congress APIs"
# Goals
1. Integrate [OpenStates API](http://docs.openstates.org/en/latest/api/) and [Pro-Publica Congress API](https://www.propublica.org/datastore/api/propublica-congress-api) into CiviWiki allowing:
    - Attachment of bills to Solution Civies
    - Local viewing of Bill information for attached bills (Bill summary, Bill Text, Bill status)
    - Tracking of Representatives Voting on Attached Bi

[2017-08-14 15:15] brylie opened #14 "Adopt community code of conduct"
In order to set a good foundation for community building, we can adopt a code of conduct. We don't have to spend a lot of time inventing a code of conduct, and can simply adopt an existing one that we agree with.

# Resources
- OpenSource Guide [Code of Conduct](https://opensource.guide/code-of-conduct/)
- Producing Open Source Software - Setting the Tone: [Code of Conduct](http://producingoss.com

[2017-08-14 15:16] brylie opened #15 "Decide on project versioning scheme"
As a software project, we should release periodic versions. To release sequential versions, we need to decide on a versioning scheme.

# Resources
- [Semantic Versioning](http://semver.org/)
- [Compatibility Versioning](https://github.com/staltz/comver) - simpler than semantic versioning and possibly more appropriate for larger software that doesn't have a public API (code API)
- [PEP 396 -- Modul

[2017-08-14 15:17] brylie opened #16 "Make initial project release"
Although this project has been under development for some time, it is not too late to make an official, initial release. Once we have determined a project versioning scheme, make an official release on GitHub.

[2017-08-14 15:17] brylie opened #17 "Document project coding conventions"
Code in a collaborative project should be consistent, and hopefully self-documenting. Consistency and clarity help new contributers, code reviewers, and existing developers understand the code.

Choose code standards and describe them in the contributing guide.

# Resources
- Open Source Guide [pre-launch checklist](https://opensource.guide/starting-a-project/#your-pre-launch-checklist)
- [PEP 8 -

[2017-08-14 15:18] brylie opened #18 "Update project to use Python 3"
CiviWiki seems to depend on Python 2.7. What are some of the reasons for staying with 2.7?

# Goal
Support the latest features of Python, such as `async` / `await`, by updating CiviWiki source/dependencies to support Python 3.

[2017-08-14 15:18] brylie opened #19 "Use meaningful variables to avoid 'mental mapping'"
While this project does not have a clearly defined coding standard, it is a good start to make sure we use meaningful variables to avoid mental mapping. This means that all variables should explain what they are, rather than using, for example, placeholders.

[code]

# Resources
Clean code JavaScript has some good examples that equally apply to Pythin:
- [Use meaningful and pronounceable variable

[2017-08-14 15:19] brylie opened #20 "Consider switching to decorator syntax for model properties"
There are often properties defined in the CiviWiki models. The convention seems to be something like:

[code]

There is an alternative, perhaps more elegant, syntax that uses property decorators:

[code]

Consider using the alternative decorator syntax for CiviWiki model properties.

[2017-08-14 15:19] brylie opened #21 "Add docstrings to all model files, classes, and functions"
Docstrings exist in some models, but are not consistent. Add docstrings to all model files, class, and function definitions.

# Goal
The project should make consistent use of docstrings.

[2017-08-14 15:20] brylie opened #22 "Clean up merged/stale branches"
There are several branches in this GitHub repository that have been merged or might be stale. Consider deleting merged branches, since they are now part of the main-line, and getting rid of stale branches too.

# Goal
Remove old branches for a cleaner development environment.

[2017-08-14 15:20] brylie opened #23 "Test project with Django 1.11.x"
Django 1.11 is the latest Long Term Support (LTS) release. Test the project with Django 1.11 and upgrade if possible.

# Goal
Upgrade project to latest Django LTS release.

# Task
- [ ] Deploy [testing branch](https://github.com/CiviWiki/OpenCiviWiki/pull/97) to Heroku
- [ ] Have testers try to find bugs in testing deployment
- [ ] Note any discovered bugs as backlog issues
- [ ] If testing doesn'

[2017-08-14 15:21] brylie opened #24 "Use Django REST Framework for REST endpoints"
There is currently a TODO in our `api/urls.py` to build the API using Django REST Framework (DRF). This issue is to earmark that work, and track progress towards the goal of using DRF for CiviWiki REST APIs.

[2017-08-20 09:35] brylie commented on #13
In order to situate this feature in a fuller picture of CiviWiki, I have sketched out an *hypothetical* concept model:

![screenshot_20170820_123411](https://user-images.githubusercontent.com/17307/29493689-e26bb184-85a3-11e7-933a-e2a47955e07b.png)

[2017-08-20 10:02] brylie commented on #2
I have migrated and closed all old issues.

[2017-08-20 10:02] #2 closed

[2017-08-20 10:03] brylie commented on #1
It seems the latest changes were merged. I was confused because the default branch is set to `master`, while the latest changes are in `dev`.

[2017-08-20 10:03] #1 closed

[2017-08-25 13:16] brylie commented on #13
For Jurisdictions, I am still working out a data model. It seems like jurisdictions might be hierarchically nested, e.g. federal --> state --> municipal. In terms of database relationships, there could be a many-to-one between child jurisdictions and a parent. Jurisdictions might have the following fields:

- name: String
- type: String
  - Federal
  - State
  - Municipal
- parent_jurisdiction: Fo

[2017-08-25 13:25] brylie commented on #13
I have added the `Bill` data-model section to the issue description, and will begin to build the model in the PR branch (#27).

[2017-08-28 16:51] mdwest commented on #17
Lets talk about this at our meeting today (August 28h). I want to work on getting these conventions integrated into our repository.

[2017-08-28 16:52] mdwest commented on #3
@jl24 Can you make this change quickly?

[2017-08-28 16:58] mdwest commented on #15
@brylie  Is this a separate document or part of the proposed coding conventions document?

[2017-08-28 16:59] mdwest commented on #17
I'm thinking we should integrate conventions into the readme?

[2017-08-28 17:02] brylie commented on #15
Somewhat related to coding conventions, but more of 'release management'.

[2017-08-28 17:04] brylie commented on #15
I just added a link to [Compatibility Versioning](https://github.com/staltz/comver), to which I have recently switched in another project.

[2017-08-28 17:24] #3 closed

[2017-08-28 17:37] #15 closed

[2017-08-28 17:37] #14 closed

[2017-08-28 17:56] brylie commented on #13
Discussed with @mdwest and agreed that we will always do REST requests when users search for bills. We will store bill data when a user attaches the bill to a Civi, and display it on the Civi page directly from our database. Most bill information will remain on the respective API, and we will link to further details on OpenStates and Pro-Publica where relevant.

[2017-08-29 08:44] brylie opened #33 "Run Flake8 on project code and fix errors"
As part of our work to keep the code readable and maintainable, we can use the [Flake8](https://pypi.python.org/pypi/flake8) tool to check for code style problems.

# Goal
Run the Flake8 tool on the CiviWiki codebase. Identify problems and create a roadmap to resolve errors. Close this issue when our code passes Flake8 tests.

# Flake8 report
Flake8 reported several problems with our code, which h

[2017-08-29 08:48] brylie commented on #33
Many of the Flake8 errors are about unused imports. We can add a 'low hanging fruit' task to remove unused imports from the project. This would be a task that a new developer could take for their first contribution.

[2017-08-29 08:54] brylie opened #34 "Remove unused imports"
After running Flake8 (#33), we found that there are many unused imports in the CiviWiki codebase.

# Task
Remove all unused imports from CiviWiki code:

- [x] ./legislation/sunlightapi.py:1:1: F401 'os' imported but unused
- [x] ./legislation/sunlightapi.py:2:1: F401 'json' imported but unused
- [x] ./legislation/admin.py:1:1: F401 'django.contrib.admin' imported but unused
- [x] ./legislation/tes

[2017-08-29 09:06] brylie opened #35 "Add label for new contributors and promote new contributor issues"
As part of our community building and outreach efforts, we can maintain a list of issues that are good for new contributors. We can also promote the new issues list via social media and developer communities.

# Goal
- [x] Create a label to track issues that are good for new contributors to take
- [x] (automatically) Promote the new contributor issues via existing developer networks

# Existing co

[2017-08-29 09:29] brylie commented on #35
PR open on UpForGrabs:

https://github.com/up-for-grabs/up-for-grabs.net/pull/713

[2017-08-29 09:35] brylie commented on #35
PR open on Awesome First PR Opportunities:

https://github.com/MunGell/awesome-for-beginners/pull/140

[2017-08-29 10:07] brylie opened #36 "Use consistent spacing and indentation (Flake8 errors)"
After running Flake8 (#33), we received several notices about **spaces and indentation** in CiviWiki sourcecode.

# Goal
Use consistent indentation and spacing throughout CiviWiki sourcecode. Conform to guidelines of PEP-8.

# Task
Clean up the following Flake8 errors:

- [x] ./api/read.py:220:60: E272 multiple spaces before keyword
- [x] ./api/read.py:220:87: E272 multiple spaces before keyword
-

[2017-08-29 10:14] brylie opened #37 "Move all imports to top of file"
As part of our clean-code conventions, all imports should be at the top of their file.

# Goal
Move all imports to top of their file. No import errors when running Flake8 (#33).

# Task
The following imports should be moved to the top of their file:

- [x] ./civiwiki/wsgi.py:14:1: E402 module level import not at top of file
- [x] ./civiwiki/wsgi.py:15:1: E402 module level import not at top of file

[2017-08-29 10:17] brylie opened #38 "Check project for bugs related to undefined variables"
When running a Flake8 scan (#33), several errors were reported related to **undefined variables**.

# Goal
Make sure all needed variables are defined in project, to prevent bugs. Pass Flake8 scan, particularly as related to undefined variables.

# Task
Check the following variables to see if/how they should be defined, and resolve the related Flake8 errors:

- [ ] ./frontend_views/views.py:171:55:

[2017-08-29 10:21] brylie opened #39 "Remove unused variables"
While scanning the project with Flake8 (#33), we received several errors related to **unused imports**.

# Goal
Resolve all Flake8 errors related to unused imports.

# Task
The following Flake8 errors should be resolved:

- [x] ./api/read.py:156:9: F841 local variable 'user_categories' is assigned to but never used
- [x] ./api/read.py:187:9: F841 local variable 'problems' is assigned to but never

[2017-08-29 11:22] brylie opened #40 "Use explicit relative imports within CiviWiki modules"
We should use **explicit relative imports** within a module. This promotes portability and readability.

# Goal
Change CiviWiki modules to use relative imports where possible.

# Task
The following files/lines can be changed to use relative imports.

## /api/models/account.py
- [ ] https://github.com/CiviWiki/OpenCiviWiki/blob/dbacc71c188135cdd4344aca09813ebb1b70b8a2/api/models/account.py#L20-L22

[2017-08-29 11:28] brylie opened #41 "Reorganize imports to follow best practices"
Many files in this project have a 'mish-mash' import style, where imports seem to have been added through accretion.

Two Scoops of Django (1.11) recommends that projects adopt the following import ordering:

1. Standard Library imports
2. Django core imports
3. third-party app imports
4. project internal imports

# Goal
Use consistent import ordering throughout project.

# Task
Re-organize import

[2017-08-29 11:37] brylie opened #42 "Cleanup commented code"
In order to keep a clean codebase, we should clean up any code that is not in use. This includes code that has been commented out, without a 'TODO' comment.

# Goal
Keep a tidy codebase by removing commented-out code.

# Task
Clean up the following files/lines that have commented out code.

## /api/models/civi.py
- [x] https://github.com/CiviWiki/OpenCiviWiki/blob/dbacc71c188135cdd4344aca09813ebb1

[2017-08-30 07:04] brylie opened #43 "Upgrade project dependencies"
**Note:** the goal of this task is simply to update as many dependencies as possible. Difficult dependencies can be updated in follow-up tasks.

As part of our commitment to ongoing maintenance and security, we can periodically upgrade project dependencies.

# Situation
As of today (2017-08-30), pip shows the following dependencies are outdated:

[code]

[Piprot](https://github.com/sesh/piprot) gi

[2017-08-30 07:30] brylie opened #44 "Automatically audit/monitor source code quality metrics"
In order to promote maintainability and readability, we can use common measures of 'code complexity' as heuristics when developing/refactoring code.

[CodeClimate](https://codeclimate.com/) will automatically scan CiviWiki sourcecode, and return a score based on common 'maintainability' metrics. These metrics include file/function length, number of function parameters, duplicate code, etc. CodeCli

[2017-08-30 08:03] brylie opened #45 "Automatically audit project dependencies"
As a general guideline, we should strive to keep our project dependencies up-to-date. In order to help with this, there are online services that can check our project dependencies and indicate when dependencies are insecure or outdated.

# Examples
[Requires.io](https://requires.io/) is one service that will monitor Python project dependencies. It also offers a badge that can be placed in our READ

[2017-08-30 09:23] brylie commented on #13
I have intuitively started building a `Bill` model in `/legislation/models.py`. However, there seems to be an existing `Bill` model in `/api/models/bill.py`.

- Why do we define all of our models in `/api/models`?
- Might it be reasonable to separate the code into multiple apps, with REST related code living in the `api` module?

[2017-08-30 09:37] brylie commented on #13
Might it be useful to link bills to Civis other than Solution Civis? E.g. what if a Bill is causing problems?

Also from a coding standpoint, it would probably be easier to just allow a bill to be attached to any type of Civi.

[2017-08-30 09:48] brylie commented on #13
Progress:
- updated sequence diagram to show step 'save data to local db'
- updated data model with new fields
  - `open_states_id`
  - `pro_publica_id`
  - `civis`

[2017-08-30 10:48] brylie opened #46 "Auto-lint CiviWiki JavaScript"
As part of our commitment to [clean](https://github.com/ryanmcdermott/clean-code-javascript) and maintainable code, we can lint our JavaScript. Linting will catch low-level details and encourage common coding conventions between CiviWiki developers.

# Goal
Enable automated linting on the CiviWiki project.

# Task
- [ ] Add ESLint metadata files to project root
- [ ] Inherit from existing ESLint s

[2017-08-30 18:55] mdwest commented on #13
1) We started the back end models at an earlier stage in development but
did not complete the feature. Glad you are making progress on them.
2) Our initial thought was to lead users to supporting or opposing bills,
but I agree, you could link a bill to any civi. If it saves time coding,
definitely make the change.

-mw

On Wed, Aug 30, 2017 at 2:48 AM, Brylie Christopher Oxley <
notifications@gith

[2017-08-31 08:48] brylie opened #47 "Audit project test coverage"
As part of our commitment to code quality, we can measure test coverage in our project.

# Goal
Generate a test coverage report. Open an issue/discussion about improving test coverage.

# Task
- [x] install coverage.py as project dependency
- [x] generate test coverage report
- [x] share current code coverage with project leaders

[2017-08-31 08:55] brylie commented on #47
The initial coverage report shows that we have 74% test coverage, despite having zero tests :smile: The 74% coverage comes by virtue of Django project and Python core being considered as 'under test'.

Here are the files we can prioritize among to write our initial tests:

[code]

[2017-08-31 09:03] brylie opened #48 "Reorganize requirements.txt with pip freeze > requirements.txt"
For some reason when adding a new project requirement, many lines are changed. This is despite the versions of other requirements remaining the same. As a result, any pull request with a change in requirements may be more difficult to review.

# Goal
Have a well-organized (alphabetized) requirements.txt file. Make it obvious what requirements have changed when reviewing pull requests.

# Task
- [

[2017-08-31 14:47] #8 closed

[2017-09-03 11:51] brylie opened #50 "Design CiviWiki 'bill integration' API endpoints"
In order to retrieve data from Pro Publica and Open States APIs and send it to clients, we will need a 'wrapper' API. This way, we don't expose our CiviWiki API keys for the upstream services to CiviWiki users.

# Goal
Produce a design for the CiviWiki API endpoints, using a standard format. Get feedback on the API design.

# Task
- [ ] Design CiviWiki 'bill integration' API endpoints using OpenAP

[2017-09-03 11:54] brylie opened #51 "Move CiviWiki Django code into repository sub-directory"
Following best-practices (recommended for example by Two Scoops of Django), we should move our Django project source code into a sub directory of this repository. Then, we can include other directories and files at the root level, such as documentation.

# Goal
Reorganize CiviWiki repository to follow conventions established by Django community. Make room for other types of information to be store

[2017-09-03 11:57] brylie commented on #51
This task is partially motivated by ongoing work in issue #50 (API endpoint design), which will produce a documentation file.

[2017-09-04 08:51] #48 closed

[2017-09-04 15:52] brylie commented on #18
After scanning our requirements with `caniusepython3`, it shows only 3 requirements that might need to be upgraded or deprecated:
[code]

[2017-09-04 16:04] brylie commented on #18
It is not clear to me if/where we use the args library.

[2017-09-04 16:23] brylie opened #55 "Review Flake8 configuration, remove rules from ignore that would improve our code quality"
While auditing the project code quality (#33), I noticed that several Flake8 rules were being ignored:

https://github.com/CiviWiki/OpenCiviWiki/blob/3c287290e907c0e1aa2c82f6588afcdb4b3b81e4/setup.cfg#L1-L2

While it may be desirable to ignore some Flake8 rules, there are likely rules being ignored that would encourage good coding practices. For example, we are lacking a lot of docstrings in CiviW

[2017-09-04 16:24] brylie commented on #55
After a brief search, I found out that we should be able to exclude our migrations from Flake8:

[code]

[2017-09-04 16:29] jl24 commented on #18
The args library was added by an external developer who initially setup our webapp with the Gunicorn WSGI (commit d65a7a54897b0d0aafdb2632659c31ef9cc8fcd1). Since Gunicorn is no longer used, it can be removed

[2017-09-04 16:46] brylie commented on #55
I think we can stop ignoring the whitespace rules. I see that we are overriding the line length rule, but would defer to Two Scoops of Django authors regarding their opinion about line length:

that contributors or visitors to these projects will grumble about line length issues; however, it
has not kept contributors away and we feel the value isn’t lost.

[2017-09-04 17:43] #50 closed

[2017-09-04 17:43] brylie opened #57 "Enhancements for Bills API design"
Based on the initial Bills API design review, add the following enhacements:

- add `bill_id` field for the ID of the bill in congress or at the state level
- make `scope` parameter required
- add `state` parameter
  - enum: two letter state codes

[2017-09-04 17:44] #51 closed

[2017-09-04 17:46] #6 closed

[2017-09-06 00:18] #17 closed

[2017-09-06 10:25] brylie commented on #57
The OpenStates API uses `bill_id`:

[2017-09-06 10:31] brylie commented on #57
I will go with the original idea of adding a `bill_id` to the CiviWiki Bill Search endpoint.

@mdwest @jl24 Lets discuss the underlying logic related to querying ProPublic and Open States APIs, hopefully using the common `bill_id` parameter.

[2017-09-06 11:29] brylie commented on #35
Closing, since primary tasks are complete.

[2017-09-06 11:29] #35 closed

[2017-09-06 11:31] brylie commented on #57
@mdwest @jl24 Should DC (District of Columbia) be included in the allowed values for the `state` parameter? I am not sure whether [legislation for the District of Columbia](http://dccouncil.us/legislation) would be tracked by OpenStates or CiviWiki.

[2017-09-06 14:54] mdwest commented on #57
1) We should plan on talking about that at our Next Monday meeting unless
we have time to meet sooner. @jl24 can you video conference next Monday
at 10am Pacific time?

2) D.C. should be included as a state (I checked their website and they
appear to track DC). I believe D.C. ordinances are subject to congressional
oversight, so there is an inherent federal aspect to D.C. that we may want
to take

[2017-09-06 15:20] mattyg915 commented on #33
Hi, if no one has gotten to these code cleanup issues (and running flake8 on a clone definitely makes it look like they're still there, I'd like to take these on.

[2017-09-06 15:48] tractaylor commented on #34
I have assigned this to myself.  I will start to work on this issue this evening.

[2017-09-06 18:23] mdwest commented on #34
Thank you!

On Wed, Sep 6, 2017 at 8:48 AM, tracers <notifications@github.com> wrote:

--
Mitchell D. West
Founder and Executive Director of CiviWiki.org

[2017-09-07 06:10] brylie commented on #57
Cool, it is included in the current PR. Taxation without representation.

[2017-09-07 06:12] brylie commented on #34
@tractaylor go ahead and merge your work into a branch in this repository. Then, open a pull request against the development with your work-in-progress branch. That way we can track the related branch with this issue. :smile:

[2017-09-07 06:17] brylie commented on #33
Hi @mattyg915. Thanks for your interest! We can add you as a collaborator on this repository, so that you can work on your own branch here.

[2017-09-07 06:18] brylie commented on #33
Also, try to keep pull requests focused as much as possible. So, opening your own branch/PR would be an easy way for us to review your work :smile:

[2017-09-07 06:24] brylie commented on #33
@mattyg915 I invited you to join the OpenCiviWiki team. What specific sub-issue would you like to work on? #34?

[2017-09-07 06:32] brylie opened #59 "Reorganize Developer section of README"
The developer instructions are separated in two sections of the README. Combine the Developer instructions into one section.

[2017-09-07 06:45] brylie opened #61 "Update README for 0.1 release"
Our README is pretty much the first thing people see when visiting this repository. In preparation for the 0.1 release, we should have a well organized README.

# Goal
Have a user-friendly, informative README.

**Note**: the README, like the project, is a work-in-progress. We just want to spruce it up a bit for the 0.1 release.

# Task
- [x] Review current README, checking for
  - overall organiza

[2017-09-07 07:03] brylie opened #62 "Create a CiviWiki Open Canvas"
Part of open project leadership is to have a clear idea of what we want to build, and to be able to quickly communicate that vision to stakeholders. The Open Canvas provides one such tool to quickly summarize a project. It lays out the parameters for building a Minimum Viable Project.

# Goal
Be able to communicate the high-level goals of CiviWiki to potential community members and stakeholders.

[2017-09-07 12:41] mattyg915 commented on #33
Thanks! I will definitely keep that in mind. Looks like 34 already has someone working on it, so I'll start with 36.

[2017-09-07 12:55] brylie commented on #36
@mattyg915 go ahead and open a pull request as soon as you've made your first commit. Try to push your commits at least once a day, so they are available on GitHub for safe keeping.

[2017-09-07 16:33] mattyg915 commented on #36
Pull request created! I cleaned up the first few files and will work on the rest tonight/this afternoon.

[2017-09-07 18:20] tractaylor opened #64 "CONTRIBUTING.md has small typo"
In the **Enable beta access for new user** section, it is supposed to read "Once you have submitted the new user registration form, but for the word **form**".  It has it as **fom**

[2017-09-07 22:51] mattyg915 commented on #36
Should all be done and committed now!

[2017-09-08 02:16] tractaylor commented on #34
@brylie I cannot find these two files ./api/v1/views.py:4 and ./api/migrations/0024_remove_civi_links.py. Maybe they have been deleted?  Or don't exists in the dev branch?

[2017-09-08 02:18] tractaylor commented on #34
@brylie  ./api/models/init.py lists quite a few issues, but I think its just because nothing is used in there yet.  Do you want me to leave as is, comment out the lines to get rid of the flake warnings, or delete the offending lines?  Same thing for ./api/tests.py.  Just let me know I will finish this task up.

[2017-09-08 02:21] tractaylor commented on #34
Last, I went ahead and closed the pull request for my fork.  I felt for these simple changes, there were too many conflicts.  I created my own branch from dev and redid my changes there.

[2017-09-08 02:27] tractaylor opened #65 "Ran into an issue setting up a dev environment using the CONTRIBUTING.md"
As I was following the directions to set up a dev environment, I ran into an issue when trying to run pip install -r requirements.txt.

This is the error I copied from the shell...
##
Collecting psycopg2==2.6.1 (from -r requirements.txt (line 8))
  Using cached psycopg2-2.6.1.tar.gz
    Complete output from command python setup.py egg_info:
    running egg_info
    creating pip-egg-info/psycopg2.e

[2017-09-08 14:36] tractaylor commented on #65
I plan on setting up another VM for this project this weekend.  I will try to grab the log as well.  I suspect that maybe I just needed to install libpq-dev.  I honestly have not looked to see what that module is to help diagnose this issue i ran into.

[2017-09-08 14:37] tractaylor commented on #64
I will gladly fix this evening.  I just wanted to add it as an issue so you would know why I made a change to the CONTRIBUTING.md file

[2017-09-08 17:33] tractaylor commented on #47
I would be happy to help with this.  I think writing tests are one of the best ways to learn about a new project.  I get all my new junior devs to create/write/update tests.  What is the test framework called that you want to use?  I will read up on it.

[2017-09-08 17:46] tractaylor opened #66 "User Account Page is not saving the location"
When I type in my address (not use the "Locate Me" feature), it loads the representatives.  But when I leave the page (go back to my feed), and come back to the user account page, my address is gone and the list of representatives is gone.

After I tried to use the "Locate Me" feature, it again loads the representatives, but after I leave and come back the location info is missing along with the r

[2017-09-08 17:49] tractaylor opened #67 "Add feature to add a link to a Representative's Web Page"
This would be a nice feature on the My Reps page.  It shows the user's representatives.  It would be nice to have a link to a page that shows information about them.

[2017-09-08 17:52] tractaylor opened #68 "While looking over the beta site, I had a difficult time finding where to go to manage my settings"
Looking around the beta site, I was trying to find where to edit my account settings.  I was on the phone with Mitchell and ended up asking him.

With it being a button with a + graphic, it made me think it was to add something, not edit my profile.

I had thought the "Manage" button on the feed page would get me to a managed my user acct page.

[2017-09-09 01:53] mattyg915 commented on #37
Addressed in pull request #63

[2017-09-09 02:13] tractaylor commented on #39
After making the initial changes listed in the Issue, I reran flake and found 2 more F811.  Bot are in read.py
##
./api/read.py:154:9: F841 local variable 'a' is assigned to but never used
./api/read.py:155:9: F841 local variable 'all_categories' is assigned to but never used
##

I will fix these in this branch as well

[2017-09-09 02:30] tractaylor commented on #42
I didnt see the following lines to remove...
OpenCiviWiki/api/read.py
Lines 188 to 212 in dbacc71

[2017-09-09 19:04] tractaylor commented on #12
I was looking around the code for where this variable is caculated.  Is it in models/civi.py?  In the score subroutine, I see the rank being calculated.  If this is it, from what I have read about python, I could just wrap the rank variable with a round(rank, 2).  Am I even close?

[2017-09-11 06:15] brylie commented on #36
@mattyg915 in your pull request description add the following string:

- Closes #36

That string, `Closes #<issue_number>` will associate the PR with the issue. It is one of [several ways to associate GitHub pull requests with issues](https://help.github.com/articles/closing-issues-using-keywords/).

[2017-09-11 06:22] #64 closed

[2017-09-11 06:37] brylie commented on #12
Sounds close. Give it a try, if you like. Just create a new branch.

[2017-09-11 06:39] brylie commented on #42
Here it is:

https://github.com/CiviWiki/OpenCiviWiki/blob/8d24187e9cfa55d7fb37d59990fe529259fd8668/project/api/read.py#L188-L212

[2017-09-11 06:48] brylie commented on #42
For what it's worth, we just reorganized the whole repository. Make sure you are committing to files in the `/project` directory now.

[2017-09-11 07:00] brylie commented on #34
Since `__init__.py` is used to namespacce a Python module, just delete the lines while leaving the file. If `api/tests.py` is not used, delete the file for now.

[2017-09-11 07:01] brylie commented on #65
@tractaylor good sleuthing. Add notes about your findings to our README, so other developers can overcome the issue.

[2017-09-11 07:04] brylie commented on #47
Follow the guidelines described in the [Testing in Django](https://docs.djangoproject.com/en/1.11/topics/testing/) documentation.

Create one issue for each file you will be testing, so we can break down the work into smaller chunks. In the issue, make a checklist of each unit or scenario you will be testing.

[2017-09-11 17:04] brylie opened #73 "Action items from 2017-09-11 meeting"
- [ ] Add GitFlow guidelines to README
  - [ ] Add simple feature/develop diagram
- [ ] deprecate beta blocker
  - each user can send invites
  - invite someone to a specific CiviWiki article
- [ ] Adding a civi should be simpler
  - having to type name of a link is difficult
  - when clicking ...

[2017-09-11 17:22] mdwest commented on #73
Getting into a civi-thread

Delete the thred landing page + limit content to fit on feed page

[2017-09-11 17:24] mdwest commented on #73
IMprove ability to post and link civies

1) When selectiong civi type (problem cause or solution) display only civies which can be linked (i.e. problmes to causes to solution withon the thread)

[2017-09-11 17:26] mdwest commented on #73
rather than typing the title of a civi you want to link, display a list of potential civies and allow user to select (link button) and then click the civi or civies they want to link

[2017-09-11 17:29] mdwest commented on #73
Linking constraints
Problem doesn't link to anything
cause links to problem
solution links to causes

[2017-09-11 17:34] brylie commented on #73
Add feature for draft stage Civis

[2017-09-11 17:35] brylie commented on #73
Add public/private designation for Civis
  - owner(s) can invite people to view private Civis

[2017-09-11 17:41] #59 closed

[2017-09-11 17:42] #57 closed

[2017-09-11 18:55] mdwest commented on #68
This is great feedback. We have had design disagreement about the circle navigation from the beginning.  I would be interested in either developing a more standard nav bar for the system, or in the alternative, a better graphic to make it apparent that the circle is our navigation hub? if thats possible?

[2017-09-11 18:56] mdwest commented on #67
This is a great addition. This info is available through open states and ProPublica, but we need to integrate it!

[2017-09-11 18:58] mdwest commented on #66
I think this may be a display bug. On my account, it appears to display the correct information but just loses the address on the account settings page. Perhaps this can help identify the bug in the code?

[2017-09-11 19:13] tractaylor commented on #67
I did read over openstates api and ProPublica over the weekend.  There is so much civiwiki could get from there.  The most interesting I thought was how you can get how each representative voted on a bill.  Imagine linking that information to a bill that is linked to a civi!

[2017-09-12 13:30] jl24 commented on #22
After review, I have currently removed all the branches categorized as stale and already merged branches that were over a month old.

[2017-09-13 13:58] jl24 commented on #73
@brylie I've been working a bit on the frontend portions in individual thread page so I would like to take over this issue if possible

[2017-09-13 18:40] jl24 commented on #34
looks like deleting the lines from `api/models/__init__.py` will cascade into import errors in other files that import from api.models by class name (`api/read.py`, `api/write.py`, `authentication/authentication.py`, `frontend_views/views.py`, `utils/custom_decorators.py`)

[2017-09-13 19:49] tractaylor commented on #34
@jl24 If I understand what you have stated correctly, maybe I should add these __init__ files to the exclude listing in flake8?

[2017-09-13 20:05] jl24 commented on #34
@tractaylor yes. due to the package structure of our models those import statements are necessary.

[2017-09-13 20:09] #22 closed

[2017-09-14 07:22] brylie commented on #73
Cool beans. Do you mean all of the TODO items @mdwest has described in this issue, or is there a specific GitHub issue you are referring to?

[2017-09-14 07:34] jl24 commented on #73
More of the items that @mdwest has mentioned. Looks like the only issue i see related to the individual thread view changes is #11, and the three items seem to detract from the original issue here. I think it might be best to create a new, more focused issue for this so it could be more easily tied to a PR.

[2017-09-14 07:36] brylie commented on #73
Cool, would you mind creating the issue?

[2017-09-14 07:58] jl24 opened #76 "Thread View Frontend Issues"
The current thread view is clunky and confusing to interact with and improvements are necessary.

# Tasks
From #73
1. Entering a Civi Thread
- [ ]  Delete the thread landing page and instead go to the main content page right away
- [ ]  Limit content to fit within the bounding box of the feed page
2. Civi Creation
- [ ]  When Problem/Cause/Solution Civi type selected, Display only Civies which can

[2017-09-15 15:10] brylie opened #77 "Create CiviWiki API design guidelines"
After discussing with @jl24, we agreed that the CiviWiki APIs are somewhat inconsistent. To remedy this, we should put together an initial API  Design guidebook. These designs will encourage consistency throughout CiviWiki APIs.

[2017-09-15 15:20] brylie opened #78 "Reorganize project structure (incrementally)"
As discussed with @jl24, the project sourcecode is somewhat disorganized. The backend code doesn't really follow conventional Django packaging approach, and the frontend is substantially more disorganized.

# Goal
Improve project organization. Have cohesive organization between client and server code.

# Sub-tasks
- [ ] Refactor frontend #82
- [ ] Refactor backend #83

[2017-09-15 15:24] brylie opened #79 "Define process for continuous integration and testing"
We currently have a staging server, but may not be using it to its full extent.

# Goal
Define the CiviWiki staging/testing process. Make sure sure code passes quality standards, by enforcing quality checks in a staging/testing environment. Reduce chance of seeing bugs in production deployment.

[2017-09-15 16:27] jl24 commented on #78
As far as the frontend code goes, with the javascript files, I like the idea of going with the modular approach, where instead of being organized by individual views, being organized to reflect the structure of the application api. This new structure will probably move us towards the incorporation of a js bundler (e.g. webpack). The LESS files will move into a similar component-based structure as

[2017-09-15 16:29] jl24 commented on #77
resolving #24 will help us point towards the right direction, and i like your idea of following the OpenAPI Specification

[2017-09-24 13:40] #34 closed

[2017-09-25 17:01] brylie opened #81 "Add 'draft stage' for Threads"
Allow **threads** to be created as drafts. The **thread** should have an edit mode and preview.

# Goal
Give early adopters a basic tool to contribute content to CiviWiki. Allow authors to draft/edit their threads before publishing.

# Task
- [x] Add a field/metadata that allows a Thread to be designated as being a 'draft'

[2017-09-25 17:31] brylie commented on #78
@jl24 lets break this task into two parts:

- frontend refactor
- backend refactor

I can create the issues. Would you like to spearhead the frontend while I coordinate the backend refactor?

[2017-09-25 17:32] brylie opened #82 "Refactor frontend code to follow component structure - Due 6/27/2018"
Our frontend code is somewhat disorganized. We agreed to re-structure the frontend code, so that it is easier to understand.

# Goal
- Improve project maintainability by re-structuring code.
- Prepare to replace frontend framework, by re-structuring code to follow component-oriented structure

# Resources
## Backbone architecture
- [Organizing a Backbone Application](http://thinkingonthinking.com/

[2017-09-25 17:35] tractaylor commented on #79
Have you looked at https://travis-ci.org/  Its free for open source projects..It watches you github repo and runs your tests automatically and sends a report.

[2017-09-25 17:37] brylie commented on #82
I think many Backbone projects may pre-date the 'componentized' web application movement. So, we may need to look towards other component frameworks for inspiration, and define our own bespoke component structure.

[2017-09-25 17:39] brylie opened #83 "Refactor backend code to follow Django app structure"
Our backend code is all written as a single Django app. We agreed to re-structure the backend code, so that it is easier to understand and follows Django conventions.

# Goal
- Improve project maintainability by re-structuring code.
- Make it easy for new developers to get oriented to codebase, by following community conventions

# Resources
- [Django App Structure](https://www.codingforentreprene

[2017-09-25 17:52] brylie opened #84 "Consider using Matrix.org for CiviWiki related chat"
CiviWiki currently uses Slack for chat. However, there is an emerging, distributed, open source discussion network called Matrix that may be better suited to CiviWiki's values/mission.

# Goal
- Make it easy for CiviWiki community to gather and discuss the project
- Embrace federated/open source technologies to build the CiviWiki community
- Align with existing open-source and activist communities

[2017-09-26 09:37] brylie opened #86 "Add CiviWiki to list of 'digital tools for activism'"
The [Digital Tools for Activism](https://github.com/drewrwilson/toolsforactivism) list contains several projects that are similar in spirit to CiviWiki.

# Goals
- Increase visibility of CiviWiki project
- Connect with likeminded people/projects

# Task
- [ ] Open a pull request with 'Digital Tools for Activism' that includes a link to civiwiki.org in the 'software as a service category'

[2017-09-27 15:11] mdwest commented on #82
Not well versed in the technical details, but if continuing to use the backbone framework will get us to a stable version sooner, I vote we use it and create our own standardization. Might be good to document our front-end "component structure" so we can easily share it with any developer interested in contributing to the front-end.

[2017-09-29 12:45] #36 closed

[2017-09-29 12:45] #37 closed

[2017-10-01 08:45] brylie opened #87 "Complete most/all of OSS Checklist"
As part of our commitments to community and transparency, we can lay a solid foundation for the CiviWiki open-source project. To that end, we can use existing guidelines, such as the [OSS Checklist](https://github.com/scriptnull/oss-checklist).

# OSS Project Checklist

## Pre-checks
- [x] Able to explain your project in a tweet ?
- [x] Choose a name for the project
- [x] Check if domain name / Ap

[2017-10-02 17:08] #40 closed

[2017-10-04 07:13] #42 closed

[2017-10-04 13:56] tractaylor commented on #46
Here is a link to adding ESLint to many editors.  The same page has links on how to add github prehooks for projects.
https://eslint.org/docs/user-guide/integrations

[2017-10-04 18:07] #39 closed

[2017-10-05 02:11] pscheid2 commented on #13
Would it make sense to have the first iteration not save the bills in a local database at all? i.e. make REST requests whenever loading a page/civi that links the bill. I understand that this might cause pages to be slower to load, but should be spend time caching the bills before we are sure the performance is going to be an issue?

[2017-10-05 05:57] brylie commented on #13
In any case, we need to store some metadata about the Bill, such as its upstream unique identifier. This data model only contains fields for linking a local Civi with a remote Bill.

Would you like to check out the data model and API? They are both works in progress, so your feedback/improvement is welcome. The API even works to retrieve Bill metadata from the OpenStates API.

[2017-10-08 18:54] therohitramesh opened #88 "Fix typos and grammatical errors in README.md"
There are typos and grammatical errors under the subheading "Why CiviWiki?"

[2017-10-08 18:55] therohitramesh commented on #88
I would like to work on this.

[2017-10-09 07:53] brylie commented on #88
Thanks @therohitramesh

@mdwest please review https://github.com/CiviWiki/OpenCiviWiki/pull/89

[2017-10-09 14:42] #88 closed

[2017-10-12 01:01] cjtu commented on #41
I'm interested in contributing and I'd be happy to start here to learn my way around

[2017-10-13 10:49] brylie commented on #41
@cjtu thanks for your interest. May I help you get a development environment set up?

[2017-10-13 13:57] cjtu commented on #41
Yes please. I had some trouble getting redis going on Windows 10. Does anyone else use Windows? Should I try it with Docker?

[2017-10-14 06:26] brylie commented on #41
See if Docker works for you.

Alternatively, you could set up a dev environment in an Ubuntu VM or dual-boot.

https://github.com/felixrieseberg/windows-development-environment

[2017-10-16 16:59] brylie opened #92 "Add UI to threads to toggle draft status"
Allow users to compose threads in draft status, and then toggle the draft status when ready to publish.

# Task
Add UI elements that:
- [ ] Allow authors to toggle draft mode for their Thread entries
- [ ] Ensure that authors can edit their Thread while in draft mode

[2017-10-17 00:17] mdwest commented on #12
From what I see this temp score is created in the civi model with the math starting around line 136. Could we add a line of code somewhere (maybe line 167-168) saying {{ value|floatformat:3 }} to round the return number to 3 decimals.

[2017-10-22 17:28] brylie commented on #12
Yeah, it seems clean to handle it in a template. Would that approach work?

[2017-10-23 15:41] brylie commented on #62
Closing, as completed by @mdwest

[2017-10-23 15:41] #62 closed

[2017-10-23 15:42] brylie commented on #12
@tractaylor would you like to take this issue?

[2017-10-23 16:05] brylie commented on #43
@mdwest, @tractaylor, @dborstelmann, @DCalliet, @pscheid2: would you mind re-tweeting the following tweet?

https://twitter.com/BrylieO/status/922493733542748160

Also, if anyone here is already interested in this task, feel free to update one or more of these dependencies. We can tackle this task a bit at a time :-)

[2017-10-23 17:08] brylie opened #95 "Upgrade Django to 1.11.x"
As part of our dependency management, we need to upgrade Django to 1.11.

Related issue #43

# Task
- [ ] Django (1.8.7) - Latest: 1.11.4 [wheel]

[2017-10-23 17:33] mdwest commented on #41
@cjtu Did get your development environment set up? Let me know if you still need help!

[2017-10-24 00:51] cjtu commented on #41
Still no luck. I took the bash on ubuntu on windows approach and hit a dead end. I got redis setup but now postgres is giving me trouble. I can connect to it and make roles and databases from bash, but always get the following error when django tries to connect in the setup:

`does not existOperationalError: FATAL: role civiwiki`

I don't really know how to debug this further. I've gone through al

[2017-10-24 22:08] #81 closed

[2017-10-24 22:13] #12 closed

[2017-10-30 02:04] mdwest opened #96 "Update "About Us" page"
Change "Co-Founders" section to "Active Contributors"
Only images of active contributors on About us page

Put all past contributors into a separate named  "resting contributors" list.

[2017-11-06 18:49] #78 closed

[2017-11-06 18:54] mdwest commented on #23
Is there a server ready to test this? If not, send me a link when there is and I will begin testing.

[2017-11-13 18:19] brylie opened #98 "Document deployment instructions for Heroku (development, testing, production)"
Add deployment instructions to our CONTRIBUTING.md regarding how to deploy testing instances to Heroku. Note: do not publish sensitive information, such as Heroku keys.

# Task
- [ ] Documentation exists explaining how to deploy testing releases to *production*, *dev*, and *staging*

[2017-11-16 17:15] pscheid2 commented on #87
'Ask if project could be solved in a modular way by dividing into sub-problems and creating a separate project for the sub-problems.'

Hmm, I don't think I can think of a way to split the functionality of this platform into separate pieces efficiently.

The pieces I see are:
-The typical user entering issue/cause/solution civis and commenting on civis expressing their opinion
-The legislator/repre

[2017-11-17 03:55] pscheid2 commented on #87
@mdwest do you have a concise description of civiwiki that can fit in a tweet?

[2017-11-17 04:01] #61 closed

[2017-11-20 04:24] pscheid2 commented on #87
@brylie Do we think we should be putting the Contributors and Sponsers in the Contributing.md or Readme.md?

Is it enough that the information is on the github or the website?

[2017-11-20 09:16] brylie commented on #87
Probably in the README, since it is more prominent and we want to give credit/thanks.

[2017-11-20 10:29] JOO33 opened #99 "Sunlight API deprecated"
## Closure of Sunlight Labs
The sunlight foundation has ended their online services and thus dropped support for their api. All references to the api must be changed accordingly.

## Replacing the Sunlight API

The Sunlight Congress API should be replaced with the [ProPublica Congress API](https://www.propublica.org/datastore/api/propublica-congress-api) in conjunction with [OpenStates API](https:

[2017-11-20 14:14] jl24 commented on #98
Heroku requires the Procfile for deploying the app to be in the root folder. Two possible solutions:

1. Move the Main heroku procfile to the root directory
I'm not really a fan of this because it disrupts our project structure
2. Create a subtree of dev (or whichever development branch that is being deployed), the `project` directory, that is only used for deploying to the heroku environment.

[2017-11-24 08:07] mdwest opened #101 "Concept for Simplified CiviWiki Design for Next Milestone"
The following is a proposal for a simplified version of CiviWiki we should be able to achieve in the next development cycle.

Simplified linking: Problems link to nothing. Causes Link to Problems, Solutions link to Causes.

Simplified Bills: No Bill Tracking (yet). But, solution civies include space to link bill text document (Traditional upload limited to certain recognized document types - virus

[2017-11-27 18:26] brylie commented on #101
I would recommend just using a URL instead of file upload (for the time being).

[2017-11-27 18:31] brylie commented on #101
Regarding *point 2*, lets just stick with HTML templates for now (if we all agree). CSV or spreadsheet export seems, intuitively to me, to be more complicated than sticking close to Django template rendering.

[2017-11-27 18:32] brylie commented on #101
Regarding the *institutional scope*, lets start with the following:

- country
- state
- city

We can build in more refined grouping in a later milestone, once we start working with APIs.

[2017-12-02 19:41] jl24 opened #104 "[Development Server] Bugfixes and Django 1.11 Testing"
The current [staging server](https://civiwiki-stage.herokuapp.com) of the `dev` branch has some issues that are preventing fluid testing.

1. Client side js error that prevents rendering of the thread view
2. Hangup from calling the non-functional Sunlight API that eventually resolves in a 500 error
3. Beta blocker that requires manual access to the db

The current [dev server](https://civiwiki-de

[2017-12-02 19:51] jl24 commented on #104
@mdwest @pscheid2 @brylie dev server is now up with the branch

[2017-12-03 01:05] mdwest commented on #104
@jl24 I just looked at both servers.  I couldn't register a new account on the staging server. But I could register with dev. Is that how its supposed to be?

Also, I don't think all the changes are updated in dev. For example, it still has the article page we discussed deleting.

That said, this is a great tool to keep testing our progress! Great work! Look forward to talking more about this Mond

[2017-12-03 03:28] jl24 commented on #104
@mdwest The staging server currently has the the `dev` branch deployed, which only has the latest approved merges deployed. This does not include the frontend ui changes and beta blocker removal because those were not tested or approved for merge by other developers yet. The dev branch has minor changes up (only the three mentioned above) and the django+dependencies upgrade branch up. This is so t

[2017-12-03 13:17] #43 closed

[2017-12-04 17:21] jl24 commented on #104
Relate PRs (#105 #97) merged

[2017-12-04 17:21] #104 closed

[2017-12-04 18:09] brylie opened #106 "Resolve naming mismatch between branches and deployment servers"
We have multiple servers that are used for testing, such as develop and staging. However, the branches that are being deployed to the servers do not match the name, e.g. dev is being deployed to staging.

# Task
- [ ] Configure the server names to match the branch that is being deployed there

[2017-12-05 07:20] #68 closed

[2017-12-05 07:20] #76 closed

[2017-12-09 02:59] mdwest opened #107 "Add Github Project and Github issue link to Static pages"
I was reading about an open source blockchain project (https://www.openchain.org/)

I liked how they link their active development issues on the bottom of their static pages. We should add this link to help attract developers.

[2017-12-11 18:00] ck25 commented on #106
the correct branches are now being deployed to their respective servers

[2017-12-11 18:01] jl24 commented on #106
the correct branches are now being deployed to their respective servers

[2017-12-11 18:01] #106 closed

[2017-12-13 16:29] BrianMwangi21 opened #108 "Can't log in"
I've created an account and reset my password several times but can't log in

[2017-12-13 16:30] jl24 commented on #108
@BrianMwangi21 Which server are you trying to log into? are you trying to log into one of our running servers? or are you trying to set up a local development environment?

[2017-12-13 16:44] BrianMwangi21 commented on #108
Into one of your running servers. Here : https://www.civiwiki.org/login

[2017-12-13 17:08] jl24 commented on #108
Checked out the logs and the server seems to be running fine. The only advice i can give you is to make sure you're using your username not email to login. Looks like you signed up under the username `brianmwangi21`

[2017-12-13 18:11] jl24 commented on #108
I've tested the server with multiple accounts and the login system works fine. I'm gonna go ahead and close this issue. If you're still unable to login and are able to locate the source of the issue, please create another issue thread with the details.

[2017-12-13 18:11] #108 closed

[2017-12-18 18:21] #95 closed

[2017-12-18 18:21] #23 closed

[2017-12-28 05:13] extremelypenguin commented on #107
Hey! I'd be interested in this issue. By active development issues you mean things like "current issues we need to solve" etc etc?  It would also be helpful if you could say which file this would concern (which file we'd have to change in order to solve the issue)

[2017-12-28 09:30] brylie commented on #107
You can start by adding any relevant links to our README.md. That way, we will have a simple way to make progress, with only one file to edit, and will be able to determine which specific information to show.

@mdwest can you give a specific example of a page where you show their development issues?

[2017-12-28 15:35] mdwest commented on #107
On the other Project, they just linked to github issues (i.e. https://github.com/CiviWiki/OpenCiviWiki/issues)

But if you don't need a waffle account to view the content I think our waffle board is a better link (https://waffle.io/CiviWiki/OpenCiviWiki)

[2017-12-28 15:37] mdwest commented on #107
@extremelypenguin Thanks so much for your interest in helping on the project! If you are interested in meeting some of the other developers on the project and getting up to date on development plans you should join us for our weekly development meeting Monday, January 8th at 10am PDT. We meet via video conference at https://meet.jit.si/civiwiki.

[2017-12-28 16:08] extremelypenguin commented on #107
@brylie when you say relevant links do you mean the issues themselves or the page linking to the issues? the problem is that if you just link to specific issues it will constantly need to be updated

@mdwest I'd love to get to those meetings but I am still in grade school and that time would be on a school day on school hours.

[2017-12-28 16:19] extremelypenguin commented on #84
What do you think about using Discord? Discord is an application very similar to Slack except all features are free including video sharing, screen sharing, and the like. https://discord.gg

[2017-12-28 16:25] extremelypenguin commented on #38
Is this issue still open? i'd be interested in doing this

[2017-12-28 19:08] brylie commented on #107
Well, we have the link to Waffle.io in our README, which shows prioritized issues. This might also be good to put on static pages identified by @mdwest.

[2017-12-28 19:17] brylie commented on #84
We are currently using Matrix, as ot is open source and part of the movement to democratize online community platforms (a.k.a. the federated web). Please consider joining our room on Matrix:

https://matrix.to/#/#CiviWiki:matrix.org

If you would like to consolidate your communication channels into a single tool, you might also be interested in [Rambox](http://rambox.pro/) (also open source).

[2017-12-28 19:21] brylie commented on #84
Here is a bit more [info about the federated/decentralized web and why it is important](https://ischoolonline.syr.edu/blog/what-is-the-decentralized-web/).

[2017-12-28 19:22] brylie commented on #38
Ok, cool. Have you tried setting up a development environment?

[2018-01-22 18:26] brylie opened #112 "Add example(s) of well formed issues to project CONTRIBUTING.md"
In order to help people submit useful issues, and to help project maintainers reproduce and describe issues, it would be helpful to have some examples in our CONTRIBUTING.md.

# Task
- create 'Issues' section in CONTRIBUTING.md
- describe characteristics of useful issue/bug report and why they are helpful to include
- Create one or more example issues in CONTRIBUTING.md

[2018-01-22 18:30] #92 closed

[2018-02-01 18:46] mdwest opened #116 "Add Privacy Policy to Website"
Add the privacy policy to our drop-down menu (Privacy Policy Doc saved in organization documents folder)

[2018-02-01 18:47] mdwest commented on #116
@joohee is this something you could do quickly?

[2018-02-01 18:49] jl24 commented on #116
@mdwest got it

[2018-02-01 18:49] #116 closed

[2018-02-01 18:50] mdwest commented on #116
Thank you!

[2018-02-02 16:30] mdwest opened #117 "Add Current Development Team to About Us Page"
If you feel comfortable being advertised as part of the CiviWiki team, upload a picture and a title to the repository so we have the assets to update out about us page.

[2018-02-05 18:23] brylie opened #118 "Initial testing effort"
In order to have confidence when releasing new versions of CiviWiki, it would be good to have some automated test coverage. This issue is to track progress towards the initial test coverage plan.

# Resources
See the [Initial Test Plan](https://github.com/CiviWiki/OpenCiviWiki/wiki/Initial-Test-Plan) document for more details.

[2018-02-05 18:23] #16 closed

[2018-02-05 18:33] mdwest opened #119 "CiviWiki Hiring"
Could we pull together a group of CiviWiki issues to promote as potential independent contractor work?

[2018-02-05 18:36] mdwest commented on #119
If you have ideas for where to help advertise, add links to this google doc (https://docs.google.com/document/d/1W0FmRav4OoyZIPGlhvrXmNxZGGo87Q8YiUzdMn2wPT8/edit?usp=sharing)

[2018-02-08 11:53] Unit111 opened #120 "REST API endpoint(s) for threads"
As part of our work to port the CiviWiki APIs to use Django REST Framework, we can create a full-fledged CRUD API for Threads. This API should stick close to the DRF documentation, including possibly using [ModelSerializer](http://www.django-rest-framework.org/api-guide/serializers/#modelserializer) and other design conventions.

If possible, the Threads and thread related functionality (including

[2018-02-08 11:57] Unit111 opened #121 "How do I follow other users"
When opening user's profile I see an option to follow them but it does not work. Is this to be implemented in the future or a bug?

[2018-02-08 12:01] Unit111 opened #122 "Which browsers are supported?"
I've used a few different browsers- FF, GH and MS Edge and noticed that the behaviour of FF is different from the rest. Drop downs, for example, don't work.

[2018-02-08 12:03] Unit111 opened #123 "Vote counters don't work as expected"
While testing I've noticed that the count number for the threads' problems I've opened do not count properly. I was able to generate 40 points by myself using a single account.

[2018-02-08 12:06] Unit111 opened #124 ""Locate me" breaks the application when used outside of the US"
While registering I used the "Locate me" button to find my location (outside of NA). This lead to a 503 error bringing down the whole test instance.

[2018-02-08 12:11] Unit111 opened #125 "CSS misbehave after editing categories"
After I changed the visibility of one of the categories, "Environment" for example, the categories bar resized, moving the down arrow over the Manage button.
This was done in 120% zoom on GC.

[2018-02-08 12:14] Unit111 opened #126 "Civis are probably now deleted from the DB"
If there is a problem with one cause and two solutions the total number of Civis is 4.
If I delete the cause, the number of Civis changes to 3 instead of 1.
I suspect that in this case the solutions are not deleted.

[2018-02-08 12:16] Unit111 opened #127 "No verification when user deletes it's info"
If I am a logged in user with properly entered information and I go to Settings and delete my first and last name, the changes are saved without the application telling me they are mandatory.
Then, if I decide to open another page, I am redirected to the registration form to complete my sign up.

[2018-02-12 18:06] #73 closed

[2018-02-12 18:08] #84 closed

[2018-02-12 19:09] Unit111 opened #128 "Threat title uniqueness"
My automation tests are able to generate a large amount of threads with the same name. There is no verification of the thread title which may be by design.

[2018-02-13 08:29] brylie opened #130 "Add ID to logout button"
Our automated testing is trying to access the logout button to make sure it works properly. However, this is made slightly brittle by the fact that the logout button does not have an ID.

# Task
- [ ] Logout button has meaningful (unique) ID

[2018-02-13 08:30] brylie opened #131 "Add ID to 'settings' button"
Our automated testing is trying to access the 'settings' button to make sure it works properly. However, this is made slightly brittle by the fact that the 'settings button does not have an ID.

# Task
- [ ] 'Settings' button has meaningful (unique) ID

[2018-02-13 08:31] brylie opened #132 "Add ID to 'my profile' button"
Our automated testing is trying to access the 'my profile' button to make sure it works properly. However, this is made slightly brittle by the fact that the 'my profile' button does not have an ID.

# Task
- [ ] 'My profile' button has meaningful (unique) ID

[2018-02-13 08:31] brylie opened #133 "Add ID to 'my feed' button"
Our automated testing is trying to access the 'my feed' button to make sure it works properly. However, this is made slightly brittle by the fact that the 'my feed' button does not have an ID.

# Task
- [ ] 'My feed' button has meaningful (unique) ID

[2018-02-13 08:34] brylie opened #134 "Add ID to 'edit profile' button"
Our automated testing is trying to access the 'edit profile' button to make sure it works properly. However, this is made slightly brittle by the fact that the 'edit profile' button does not have an ID.

# Task
- [ ] 'Edit profile' button has meaningful (unique) ID

[2018-02-13 08:35] brylie opened #135 "Add ID to 'manage categories' button"
Our automated testing is trying to access the 'manage categories' button to make sure it works properly. However, this is made slightly brittle by the fact that the 'manage categories' button does not have an ID.

# Task
- [ ] 'Manage categories' button has meaningful (unique) ID

[2018-02-13 08:37] brylie opened #136 "Add ID to 'choose (category?)' button"
Our automated testing is trying to access the 'choose (category?)' button to make sure it works properly. However, this is made slightly brittle by the fact that the button does not have an ID.

# Task
- [ ] 'Choose (category?)' button has meaningful (unique) ID

[2018-02-13 08:39] brylie opened #137 "Add ID to 'trending issues' list title"
Our automated testing is trying to access the 'trending issues' list to make sure it is visible on the page. However, this is made slightly brittle by the fact that the list title does not have an ID.

# Task
- [ ] 'Trending issues' list title has meaningful (unique) ID

[2018-02-13 08:40] brylie opened #138 "Add ID to 'add problem' button"
Our automated testing is trying to access the 'add problem' button to make sure it works properly. However, this is made slightly brittle by the fact that the button does not have an ID.

# Task
- [ ] 'Add problem' button has meaningful (unique) ID

[2018-02-13 08:40] brylie opened #139 "Add ID to 'add cause' button"
Our automated testing is trying to access the 'add cause' button to make sure it works properly. However, this is made slightly brittle by the fact that the button does not have an ID.

# Task
- [ ] 'Add cause' button has meaningful (unique) ID

[2018-02-13 08:41] brylie opened #140 "Add ID to 'add solution' button"
Our automated testing is trying to access the 'add solution' button to make sure it works properly. However, this is made slightly brittle by the fact that the button does not have an ID.

# Task
- [ ] 'Add solution' button has meaningful (unique) ID

[2018-02-13 08:44] brylie opened #141 "Add ID to 'civi links' field"
Our automated testing is trying to access the 'civi links' field to make sure it works properly. However, this is made slightly brittle by the fact that the button does not have an ID.

# Task
- [ ] 'Civi links' field has meaningful (unique) ID

[2018-02-13 08:46] brylie opened #142 "Add ID to 'thread type' dropdown"
Our automated testing is trying to access the 'thread type' dropdown to make sure it works properly. However, this is made slightly brittle by the fact that the dropdown does not have an ID.

# Task
- [ ] 'Thread type' dropdown has meaningful (unique) ID

[2018-02-13 08:47] brylie opened #143 "Add ID to 'thread category' dropdown"
Our automated testing is trying to access the 'thread category' dropdown to make sure it works properly. However, this is made slightly brittle by the fact that the button does not have an ID.

# Task
- [ ] 'Thread category' dropdown has meaningful (unique) ID

[2018-02-14 23:19] mattyg915 commented on #130
@mdwest let me take a look, I'll let you know by tomorrow and assign this to myself if I can get some time to help out!

[2018-02-14 23:23] mdwest commented on #130
Thank you Matt!

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Wed, Feb 14, 2018 at 3:19 PM, Matt Gercz <notifications@github.co

[2018-02-15 00:09] pscheid2 commented on #101
This discussion has moved to the loomio platform

https://www.loomio.org/d/APNvQoVT/concept-for-simplified-civiwiki-design-for-next-milestone

[2018-02-18 02:53] Germlord opened #144 "Quick fix: Github link on site is out of date"
Issue is about what the title says: the Github link on the website takes the user to the old Github page. Fixing it should be fairly simple: go to

"OpenCiviWiki/project/webapp/templates/static_templates/static_footer"

and edit the link to "https://github.com/CiviWikiorg/CiviWiki" to instead go to "https://github.com/CiviWiki/OpenCiviWiki".

I would have fixed this myself, but I'm having trouble

[2018-02-19 09:24] brylie commented on #144
@Germlord would you please consider opening a PR witt this fix?

[2018-02-19 18:01] #118 closed

[2018-02-19 18:04] #33 closed

[2018-02-19 18:05] #41 closed

[2018-02-19 18:09] #19 closed

[2018-02-19 18:20] brylie opened #146 "Set up continuous integration to run automated tests aganst pull requests"
In order to promote quality and confidence when shipping new features, we should have a continuous integration system run automated tests against our pull requests.

# Task
- [ ] determine how to run automated tests via command line
- [ ] choose continuous integration framework for our project
  - should support our test suite
  - should integrate with GitHub pull requests
- [ ] configure continuo

[2018-02-20 15:33] mattyg915 commented on #130
@mdwest sorry for the long delay, just started a new job and the CS classes I'm taking at night have really been amping up the difficulty :/

I really would like to help with all of these "add ID to..." issues but I have to admit I am way on the beginner side of HTML and am not totally sure where to start. I've been digging through all of the HTML files I can find and can't seem to find a logout b

[2018-02-21 03:19] Germlord commented on #144
@brylie Should this be closed? It looks like the fix was merged.

[2018-02-21 09:08] #144 closed

[2018-02-21 18:17] mdwest commented on #130
No problem, I'm not a developer myself @jooheelee do you know which files
to point him to?

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9

[2018-02-22 09:37] brylie commented on #130
@mattyg915 start from your browser. In most modern browsers there are robust developer tools. So, for example, in Firefox you can right click a page element (in this case the logout button) and click 'inspect element'. The browser inspector will open and highlight the exact HTML element (in the DOM tree) you are looking for. Then, you can use project search in your IDE or on GitHub to find the rig

[2018-02-22 16:25] Aseged commented on #140
Hi, I am a first timer trying to contribute to FOSS. Do you mind if I work on there add ID issues? starting with this one? @brylie

[2018-02-23 09:38] brylie commented on #140
Sounds good. Let us know if you have any difficulties or questions. Please open a pull request on GitHub with your change(s), and I will review it.

[2018-02-24 19:06] mattyg915 commented on #130
@brylie Alright, I think I got it. I'll make time to get through as many of these issues as I can tomorrow when I'll have some time. Thanks for the advice!

[2018-02-26 18:22] brylie opened #147 "Add URL field to solution Civis"
In order to move forward with #101, we agreed to add a URL field to solution civis. This will allow civis to be linked to external bills, etc.

[2018-02-26 18:28] brylie opened #148 "Create CSV export option for Civi data"
Allow Civis to be exported via CSV. This will allow for analysis and integration with third party tools.

Parent issue: #101

[2018-02-26 18:37] brylie opened #149 "Create linear linking relationships between Civis"
In order to continue with #101, we agreed to implement a linear linking 'hierarchy' between Civis.

Simplified linking: Problems link to nothing. Causes Link to Problems, Solutions link to Causes.

# Task
- [ ] Create data model for each Civi type
  - [ ] `Problem`
  - [ ] `Cause`
  - [ ] `Solution`
- [ ] Create many-to-many relationships between models to reflect the desired structure - including

[2018-02-27 18:34] mdwest opened #150 "Sharing Civi Threads"
1) Ensure individual thread addresses are unique and sharable
2) Add sharing button to the thread (viewable by all and including multiple sharing options -- Social media, via email, etc.)
3) Allow users to view a thread without logging in.
4) Add pop-up asking the user to sign up to save their voting data.

[2018-02-28 17:13] mdwest opened #152 "Proposed CiviWiki Editing/voting Timer Concept"
I propose we add a timer system to CiviWiki Threads to create more urgency.

For editing, I propose a timer that limits how long new civies can be added to the thread. A the end of this timer (set in days by the OP) no more editing can occure. We might consider ading in sharing features to promote the discussion, or add another tab to our feed pae allowinng you rto search for active discussions, o

[2018-02-28 21:34] corycarte commented on #143
I would like to work on this if it is still available

[2018-03-01 07:51] brylie commented on #143
Thanks for your interest. The issue is still available.

Please let us know if/how we may help you in getting up to speed to make the change :-)

[2018-03-02 10:20] brylie commented on #132
Jep. Please let us know how we may be of assistance. Open a PR as soon as you have a commit, so we can review the work :-)

[2018-03-02 14:52] abossenbroek commented on #146
For automated testing would you be interested in Pytest or nose?

Happy to contribute with Docker files and docker compose to set up the testing environment and work on continuous integration on circle ci and/or travis.

[2018-03-03 08:58] #132 closed

[2018-03-03 08:59] brylie commented on #146
What are the pros/cons of Pytest vs. nose? I am not very familiar with either.

[2018-03-03 09:04] brylie commented on #146
This was on the Nose documentation:

[2018-03-03 09:05] brylie commented on #146
My intuition is saying Pytest, but I will wait to hear your perspective.

[2018-03-04 01:27] WCollins3 commented on #133
I would like to work on this, if no one has claimed this and if it is still an issue.

[2018-03-05 18:34] GokuMizuno commented on #4
I was unable to replicate this error.  W10, Firefox 58.0.2, gmail account.

[2018-03-05 18:38] brylie commented on #4
Closing.

[2018-03-05 18:38] #4 closed

[2018-03-05 19:59] abossenbroek commented on #146
I would recommend Pytest. It allows for export of test results to xml which allows for smoother integration with CI tools such as [circleci](https://circleci.com).

Happy to write a docker file to incorporate Redis, Postgres. This would ultimately make it easier also for new developers to start the entire app at once. I currently don't see that as a task on waffle but IMHO it would like help in se

[2018-03-06 08:28] brylie opened #157 "Dockerize CiviWiki project (and dependencies)"
Continuing discussion from #146

It was pointed out that creating Docker containers for CiviWiki and/or its dependencies would make the following easier:

- setting up new development environments
- setting up/running continuous integration

It may also allow us more flexibility when deploying CiviWiki to stages, such as production.

# Task
- [ ] determine best combination of Docker container(s) f

[2018-03-06 08:28] brylie commented on #146
I added the task #157. Would you please assign yourself to the task?

[2018-03-07 04:23] abossenbroek commented on #157
Started some work on commit 7bee1f350661b4ca7b1385c74df444394256c0c8 The reliance on `requirements.txt` causes some specific installations of libraries in the docker container; I have very good experience with miniconda to overcome these kind of issues. For now I tried to lock down as many settings as possible.

For docker I use [phusion image](https://github.com/phusion/baseimage-docker) so that

[2018-03-07 09:33] #138 closed

[2018-03-07 09:34] brylie commented on #157
What do you think about using Pipenv instead of requirements.txt?

[2018-03-07 09:35] brylie commented on #157
What does the project use psycopg2 for? Can we consider removing that dependency?

[2018-03-07 09:36] brylie commented on #157
What do you mean by 'environment'? I.e. Operating System, or something else?

[2018-03-10 19:14] #139 closed

[2018-03-11 17:11] GokuMizuno opened #161 "Signup error messages could be more useful."
Change initial signup error messages:

'invalid_username': _("You may only use lowercase characters or numbers."),
and
'username_exists': _("Sorry, this username is taken."),

to be more descriptive.

[2018-03-11 17:13] GokuMizuno commented on #161
New messages are:
'invalid_username': _("Usernames may only use lowercase characters or numbers."),
        'username_exists': _("Sorry, this username already exists."),

[2018-03-20 19:55] delta-plus commented on #38
I tried it on my cloned testing environment with Python 2.7 and Flake8 installed with pip for 2.7. I didn't get any of those errors. Are the Flake8 and Python versions the same? If they don't match, it might be causing the errors.

[2018-03-20 22:20] delta-plus commented on #47
I got 30% coverage while testing my local clone. I think I'll write some tests for the prioritized files pretty soon, though.

[2018-03-21 03:56] Germlord opened #165 "Contribution: Contributing document instructions do not appear to support Windows/iOS"
I'm posting this because I have had a lot of trouble installing the prerequisite programs to run CiviWiki locally. It might be worthwhile to update the contribution page to reflect what developers with other operating systems should do--or if Linux is absolutely necessary, to post that at the start. Please let me know what you think.

[2018-03-21 11:17] #38 closed

[2018-03-21 18:09] delta-plus commented on #38
Was my solution correct?

On Wed, Mar 21, 2018, 4:17 AM Brylie Christopher Oxley <
notifications@github.com> wrote:

[2018-03-22 10:58] brylie commented on #38
Well, this task was just to double check. So, yes. :-)

[2018-04-02 17:38] mdwest opened #166 "Privacy Policy Consent"
Under European law, we need to have explicit consent for our privacy policy. We need to add a link to the privacy policy and an "I agree" button during the account creation process.

[2018-04-02 17:41] mdwest opened #167 "Data from Minors (Privacy)"
We need to identify minors during the account creation process and prevent saving personally identifiable data until they are at least 16. Our current privacy policy claims users must be 18 years old to join the website. If we keep this language, we would need to stop saving data on anyone below 18, or completely block them from creating an account (I pref the just don't save data option).

[2018-04-14 17:10] brylie opened #170 "Uncaught ReferenceError: draft_threads is not defined"
When starting CiviWiki without any threads, I am getting an error in the browser console:

[code]

This code should be written in a way that is safe for when there are no draft threads, or none assigned to the user (my draft threads).

[2018-04-14 17:22] brylie opened #171 "Use relative imports in project/api/models/__init__.py"
In order to transition to Python 3, we will need to make sure all of our relative imports have a dot prefix. E.g.

[code]

The difference is subtle, but will cause errors if left as is.

# Task
- [x] project/api/models/__init__.py uses dot-prefixed relative imports

This issue is related to issue #18

[2018-04-16 17:27] #119 closed

[2018-04-16 18:09] #148 closed

[2018-04-16 22:43] delta-plus opened #172 "Account Dropdown Menu Not Working in Firefox"
After logging into the site on Firefox, the account dropdown menu in the top right corner doesn't display when moused over or clicked. This makes logging out or accessing account settings difficult unless you type the path directly into the browser. Tested with the latest version of Firefox on both Linux and Windows.

[2018-04-17 13:54] jl24 commented on #172
I'm unable to replicate this bug on Firefox Quantum 59.0.2 (64-bit) on OSX and on Windows. Tested the current dev branch. @delta-plus was that the branch you were on?

[2018-04-17 14:04] delta-plus commented on #172
I was just using the regular website. I'll try to replicate it on some
computers at my college today.

On Tue, Apr 17, 2018, 6:54 AM JooHee Lee <notifications@github.com> wrote:

[2018-04-17 14:55] delta-plus commented on #172
Okay, just tried it on a computer at my college campus. Chrome is fine,
Firefox still won't do the dropdown. In the JS web console, an error is
logged upon clicking the dropdown button: "ReferenceError: event is not
defined".

On Tue, Apr 17, 2018, 7:04 AM Joe Grassl <j03grassl@gmail.com> wrote:

[2018-04-17 16:33] jl24 opened #173 "Security issue regarding Django internal error logs after failed login attempts"
### Problem
The auto generated emails that the Django sends includes entire POST content. This becomes an issue for failed login attempts that arise from internal server errors because it includes the username and password combination in plaintext for developers to see.

### Solution
The error reports filtering functions included with django should be enabled for hiding the sensitive information.

[2018-04-17 16:49] jl24 opened #174 "Can't login if an account has uploaded personal image before the thumbnail image code was deployed"
There is a bug with previous deployments updated with the new thumbnail image code.
Django Error Log:

This prevents existing users from logging in if they created an account prior to the thumbnail image code deployment.

[2018-04-17 23:55] jl24 commented on #172
Ok I can see the bug in action now in production.

[2018-04-18 00:03] jl24 commented on #172
Looks like it was solved in a previous commit (b08075d). And that will be pushed to production once milestone 0.2 is complete. This unfortunately means that navigation on Firefox will be disabled until then 😞. We can probably discuss more about our methods of prioritizing/deploying hotfixes immediately to production, but for now, since the problem had been resolved previously I'm going to close th

[2018-04-18 00:03] #172 closed

[2018-04-18 00:07] delta-plus commented on #172
Okay, cool. Nice job on the quick resolution!

On Tue, Apr 17, 2018, 5:03 PM JooHee Lee <notifications@github.com> wrote:

[2018-04-18 11:59] brylie commented on #174
Just add a check to make sure the object exists before accessing a property. This is a common type of bug.

[2018-04-19 00:00] jl24 commented on #11
@brylie I believe this was solved with a previous PR #75 since it brought in the standard top navbar. We can close this specific issue.

[2018-04-19 00:02] jl24 commented on #107
@extremelypenguin did you ever pick this up? if not I'm going to go ahead and assign it to myself.

[2018-04-19 07:33] #174 closed

[2018-04-19 07:34] #173 closed

[2018-04-19 07:35] #20 closed

[2018-04-19 07:35] #11 closed

[2018-04-20 15:06] piyushmittal25 commented on #142
@brylie
is project is still open then please elaborate your problem more specifically with examples , i want to contribute in it.

[2018-04-21 13:33] mdwest opened #178 "CiviWiki Favicon Missing"
The CiviWiki Favacon doesn't show up. If it's not just a bug, we should make one to add. Feel free to comment design suggestions.

[2018-04-21 13:52] mdwest opened #179 "In CiviWiki Communication"
We need a way to connect with people on CiviWiki. Is there a quick way to add messaging? Perhaps we should open a riot channel and ask all new CiviWiki members to join?

Also, can we access our user email list, we might want to start sending out a few CiviWiki related emails (i.e. invite your friends to grow the community)

We should also consider adding email notifications when a thread you poste

[2018-04-21 21:38] jl24 commented on #179
@mdwest  We can do a few things to remedy the communication problem. Adding messaging system (for personal, group, & support) will be a significant additional feature that will take some time, since we would want to address any security/privacy issues that come along with it as well.

Meanwhile, I believe we can try a few things to remedy the issue:

1. Add a site-wide email notification system--w

[2018-04-21 23:47] mdwest commented on #179
Good points Joohee!

I agree, let's talk about implementing these lower hanging fruit messaging
systems at our upcoming development meeting!

-mw

On Sat, Apr 21, 2018 at 2:38 PM, JooHee Lee <notifications@github.com>
wrote:

--
Mitchell D. West
Founder and Executive Director of CiviWiki.org

[2018-04-21 23:48] mdwest commented on #178
Strange,

I wonder why that is, it's a small issue, but annoying. Perhaps a good
issue to let hang in hope of a new dev helping out?

-mw

On Sat, Apr 21, 2018 at 7:18 AM, JooHee Lee <notifications@github.com>
wrote:

--
Mitchell D. West
Founder and Executive Director of CiviWiki.org

[2018-04-22 09:06] #178 closed

[2018-04-22 09:10] brylie commented on #142
@piyushmittal25 thanks for your willingness to contribute!

Basically, this task is to improve the semantics of our HTML template(s) related to Civi threads. When we write automated tests against our UI, it is important that UI elements have semantic `class` or `id` properties, so our tests are simpler.

The current task is to check the Thread template(s) and make sure the **thread type** select h

[2018-04-23 17:33] brylie opened #182 "Allow moderators to hide or delete offensive content"
We want to discourage trolling or other abusive behavior in the CiviWiki community. Create a basic moderation system to allow admin users and moderators to hide or delete threads and other content. Use the inbuilt Django role base access control where possible.

[2018-04-23 17:34] mdwest commented on #44
I have linked code climate to the proper repository now. Are you adding the badge to the readme @brylie?

-mw

[2018-04-23 17:43] mdwest opened #183 "CiviWiki Email Notifications"
- [ ] Email notifications when new civies are added to a thread the user opened
- [ ] Email notification when someone links to user civi
- [ ] Email notification when someone you follow opens a new thread
- [ ] Email notifications opt out form

[2018-04-25 00:00] jl24 commented on #149
@brylie how should we go about making the data models? I was thinking either to make the current `Civi` model into an abstract model and then have each of the civi types inherit from that as their own models. Wondering if you had other better ideas.

[2018-04-25 00:55] jl24 commented on #55
@brylie I believe these were personal flake8 configs from a previous developer to the project that was never revisited. I'm not opposed to removing all of these rules for now, and opening the floodgate for the changes that it will require

[2018-04-25 21:09] delta-plus commented on #182
Okay, how does this approach sound: When a user is to become a moderator, they're added to a moderators group from the admin panel which has permissions like "Can delete/change thread", "Can delete/change civi", etc. Currently, the deleteCivi function in write.py only checks if the user is the author of the civi before deleting it. I'd modify that to also delete the civi if the user has the correc

[2018-04-25 22:55] jl24 opened #188 "Current version of psycopg (2.6.1) in requirements.txt incompatible with PostgreSQL 10"
The current psycopg version referenced in our requirements.txt file is unable to determine the PostgreSQL version properly. This prevents proper installation of the library.

Error Log:
[code]

## Solution
The issue has been fixed in psycopg versions >= 2.7 ([github issue](https://github.com/psycopg/psycopg2/issues/489)), so we should upgrade to the latest release of psycopg (2.7.4).

[2018-04-27 08:49] brylie commented on #44
Done.

[2018-04-27 08:49] #44 closed

[2018-04-27 08:50] brylie commented on #149
Yeah, the abstract base class seems like a good idea. What do they recommend in Two Scoops of Django (1.11)? The difference between the models would be mainly the foreign key relationship, which would enforce the directionality of the graph.

[2018-04-27 09:26] #66 closed

[2018-04-30 04:55] #124 closed

[2018-04-30 17:25] mdwest commented on #179
Just wanted to open the discussion on what steps we need to take to integrate this community discussion riot chat into our "new account creation" process.

It would be nice if an admin (me or someone else) got a notification when a new user joined civiwiki, so we could try to chat with them and bring them into the fold.

[2018-04-30 18:00] GokuMizuno commented on #188
Fixing this should also fix issue #65

[2018-04-30 21:03] jl24 commented on #182
@delta-plus Sounds good, but seems like there are multiple facets to the idea, and while it sounds like a great feature, I would hold off on the hiding/threshold feature until a later milestone. I recommend you first focus on just the moderator role. The current system we have lacks a organized permission system and a group structure, so this will be a great time to implement it as well if needed.

[2018-04-30 21:06] jl24 commented on #179
@mdwest is it possible to open the riot channel to the public? It's currently not possible to join without an invite.

[2018-04-30 21:15] jl24 opened #190 "Upgrading from python 2 to 3 requires changes to our documentation and deployment files"
## ToDos

- [ ] Change the Python version reference in `CONTRIBUTING.md` to an appropriate version in 3
- [ ] remove the runtime specification file under `project/runtime.txt` (i.e. delete the file)

Related to issue #18

[2018-04-30 21:17] mdwest commented on #179
@jl24 I just looked and I don't think so... There is a system to input email invites. Would it be possible to automate this invite system via the email people use to set up their CiviWiki account?

[2018-05-01 07:33] #112 closed

[2018-05-01 09:14] brylie commented on #182
At the very least, hold off until 0.3 milestone. We still have work to do in 0.2.

[2018-05-01 09:15] brylie commented on #188
Moving to 0.2, since related issue is also in 0.2 milestone.

[2018-05-01 09:16] #107 closed

[2018-05-01 09:18] brylie commented on #179
Yes. Double check the room preferences:

![screenshot_20180501_121743](https://user-images.githubusercontent.com/17307/39468034-c220f476-4d39-11e8-9654-fdfb04860e6d.png)

Specifically, check
- who can access this room, and
- publish room in directory

[2018-05-01 15:56] mdwest commented on #179
Good call, I did not see that!

I just changed it to the anyone with link and set the alias to #civichat:
matrix.org.

-mw

On Tue, May 1, 2018 at 2:18 AM, Brylie Christopher Oxley <
notifications@github.com> wrote:

--
Mitchell D. West
Founder and Executive Director of CiviWiki.org

[2018-05-01 23:38] jl24 commented on #82
Unless there are any objections, I will be using (Marionette.js)[https://marionettejs.com/] and (webpack)[https://webpack.js.org/] to help with the restructuring process.

[2018-05-02 02:10] delta-plus opened #191 "Update requirements.txt to contain latest version of twisted"
As a result of upgrading to Python 3, we should be using the latest version of twisted: 18.4.

[2018-05-02 06:29] brylie commented on #191
I am not sure why we have twisted as a dependency. I.e. it seems like Django is the main 'server' framework for our project, in that we deploy Django behind nginx.

See if we can remove twisted, if possible.

[2018-05-02 11:28] brylie commented on #82
That sounds fine by me.

Please consider that Marionette may be a stepping stone towards a broader migration of this project's frontend code towards [WebComponent](https://www.webcomponents.org/)-based architecture. For a, slightly old, overview, see the following:

- [Web Components + Backbone: A Game-Changing Combination](https://www.webcomponents.org/community/presentations/webcomponents-plus-b

[2018-05-02 12:36] brylie commented on #191
Ah, OK. I didn't realize twisted was a dependency of channels (by way of daphne). Well, at the least, we probably don't need to declare Twisted as a top-level dependency of this project. I.e. can we just declare channels as a top-level dependency, if we go that route?

[2018-05-07 13:47] GokuMizuno commented on #171
This issue appears to be resolved as of commit 26b0cf2638af7b1919d6decac2aa91708456f900.

Closing, please reopen if you find something I missed.

[2018-05-07 13:47] #171 closed

[2018-05-07 15:37] GokuMizuno opened #192 "Firefox and Safari rendering apostrophe incorrectly"
Both Firefox and Safari can render an apostrophe as random symbols, such as "é «", "â€™", "â€", and more.

This is because both of them have their encoding set to "Default", not UTF-8.  For affected users, their default encoding is Western, that is, ISO-8859-1, which renders the characters differently.

I blame Microsoft.

The easy way to fix this issue is to remove all apostrophe's from our clien

[2018-05-07 16:56] GokuMizuno commented on #192
Added, but the W3C validator threw up the following warning:

A character encoding is specified in the HTTP header (Content-Type: text/html; charset=utf-8), but there was no matching encoding declaration in the page. This may lead to problems later if there is a chance that the document will be read from or saved to disk, CD, etc.

In addition, the W3C Internationalization (i18n) Group recommends

[2018-05-07 16:57] brylie commented on #192
This should work:

[code]

See: [Declaring character encodings in HTML](https://www.w3.org/International/questions/qa-html-encoding-declarations)

[2018-05-07 17:00] #101 closed

[2018-05-14 17:29] brylie commented on #150
This might work:

https://sharingbuttons.io/

[2018-05-17 17:56] Zach048 commented on #142
Hey!

New to open source, is this still open for contribution? I'd like to give it a shot.

[2018-05-18 07:18] brylie commented on #142
Jep. Please feel free to open a pull request. If you would like more guideance, we can discuss the issue here or during our weekly, online meeting next Monday

[2018-05-21 16:09] #161 closed

[2018-05-21 16:10] #192 closed

[2018-05-28 22:08] jl24 opened #198 "NameError: global name 'x' is not defined"
Undefined variable in line 191 in `api/models/civi.py`. Prevents any pages with civi scoring from loading

### Solution
`x` should be `scores_sum`
`v` should be `votes_total`

[2018-05-28 23:14] jl24 opened #200 "Export to CSV does not work in Chrome"
Invalid response is sent by the host, producing the error, ERR_RESPONSE_HEADERS_MULTIPLE_CONTENT_DISPOSITION.

The csv function works fine on other browsers (Firefox, safari)

[2018-05-30 22:15] bradserlis commented on #127
Hello,

we had a suggested fix:
Within **project/api/forms.py:**

Can this be resolved by making the first name and last name fields unable to be submit as blank, by making those fields have the property "required=True"?

class UpdateAccount(forms.ModelForm):
    """
    Form for updating Account data
    """
    class Meta:
        model = Account
        fields = ['first_name', 'last_name', 'abo

[2018-06-04 17:32] brylie commented on #96
Closing as PR was merged.

[2018-06-04 17:32] #96 closed

[2018-06-09 20:10] #198 closed

[2018-06-11 16:43] #24 closed

[2018-06-11 16:43] #120 closed

[2018-06-13 20:57] #98 closed

[2018-06-25 18:35] jl24 opened #203 "Python library updates in requirements.txt, rolled back"
The current requirements have the previous `requirements.txt` (e.g. The django version specified is **1.8.7** instead of the LTS version, **1.11.7**) that was supposed to be fixed for milestone 0.1.

There was incorrect merging that occurred [git blame](https://github.com/CiviWiki/OpenCiviWiki/commit/9f9cf9532004d8283525b1124f574f2af6c2e384) that reversed the change.

### Solution
PR #97 with the

[2018-06-27 13:47] #203 closed

[2018-06-27 13:50] #188 closed

[2018-07-02 20:19] jl24 commented on #147
Moving this to milestone 0.3 since this would be easier to implement after #149

[2018-07-22 05:00] btsullivan commented on #141
Is this still open? I would like to take it if so.

[2018-07-22 17:53] mdwest opened #207 "No way to see which state an issue was opened for on the main feed page."
On the test server, I noticed that when creating a new thread we can select which state a thread is for, but our thread cards don't this information. We should probably add this information to the card.

[2018-07-22 17:54] mdwest opened #208 "No Way to sort threads by state"
The feed page shows all opened threads but does not automatically sort threads to the user's state of residence, nor allow the user to sort by a state they are interested in.

[2018-07-22 18:07] mdwest opened #209 "Export Button Broken"
The export function is broken. I clicked the button and expected to download a file of all voting. Instead, my screen showed an error.

![image](https://user-images.githubusercontent.com/30572202/43048629-80821350-8d9f-11e8-838b-7852dc5d0336.png)

![image](https://user-images.githubusercontent.com/30572202/43048606-11aceff4-8d9f-11e8-999b-34847a3549e2.png)

[2018-07-22 18:10] mdwest opened #210 "My Representatives has no information"
The **My Representatives** feature is not currently implemented, so should not be displaying in the UI.

## Task
Remove the empty **My Representatives** section on the right side of the sign-up wizard:

![Screenshot_20190510_102715](https://user-images.githubusercontent.com/17307/57510226-e2018e80-730e-11e9-94f7-5942a644fdbe.png)

[2018-07-22 18:13] mdwest opened #211 "No button to exit edit profile screen"
We need an "x" button to close the edit profile pop out

![image](https://user-images.githubusercontent.com/30572202/43048657-1b590398-8da0-11e8-9fc0-d857e2f3b7ac.png)

[2018-07-22 18:14] mdwest opened #212 "Edit address in edit profile"
We need a form to edit address information in the edit profile pop-out.

![image](https://user-images.githubusercontent.com/30572202/43048673-6336af4e-8da0-11e8-9ffd-dcad0d4fae5b.png)

[2018-07-22 18:18] mdwest opened #213 "Editing Thread Needs to auto-refresh the page"
When you click the clipboard button to edit a thread and make changes to the title, after saving changes I would expect to see the new content, but I had to refresh the page to see the update.

![image](https://user-images.githubusercontent.com/30572202/43048706-f5d445aa-8da0-11e8-9504-f5c1bf246489.png)

[2018-07-22 20:47] jl24 commented on #209
duplicate of #200

[2018-07-22 20:47] #209 closed

[2018-07-23 17:13] AT1452 commented on #211
I'm available to take this issue if that's alright?

[2018-07-23 17:32] GokuMizuno commented on #211
You will get no objections from me.

Sent from my Sprint Phone.-------- Original message --------From: AT1452 <notifications@github.com> Date: 7/23/2018  13:13  (GMT-05:00) To: CiviWiki/OpenCiviWiki <OpenCiviWiki@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Subject: Re: [CiviWiki/OpenCiviWiki] No button to exit edit profile screen
  (#211)
I'm available to take this issue if

[2018-07-23 22:45] mdwest commented on #211
@AT1452 That would be great! Thank you!
When you push your code please link @jl24 to review.

[2018-08-02 16:51] saxonhouse commented on #213
Hi!
I've been working on a fix for this by re-rendering the thread body along with the thread wiki. Happy to take this one if you want to take a look?

[2018-08-02 21:17] mdwest commented on #213
@saxonhouse Thank you! Could you push up the code you have and add @jl24 to review?

On a side note, if you are free Monday at 10am PST we hold a developer meeting at https://meet.jit.si/civiwiki and enjoy meeting new contributors!

[2018-08-03 01:14] jl24 commented on #123
I'm unsure which number this is referring to, but checked both the counter displayed in the civi-outline section and the points present in each of the individual civis, but was unable to replicate this.

[2018-08-03 10:13] saxonhouse commented on #213
Done! Sure I'll check in if I'm free, thanks!

[2018-08-06 14:27] brylie commented on #123
@Unit111 can you clarify this issue description?

[2018-08-06 15:00] petarPetrovBG commented on #123
I am currently unable to reproduce it on civiwiki.org.
Previously- by opening the Civi multiple times and changing my vote I the counter was only incrementing without going down during changes.

[2018-08-07 11:08] brylie commented on #123
OK. Closing this issue, since the neither @jl24 or @petarPetrovBG could reproduce.

[2018-08-07 11:08] #123 closed

[2018-08-17 22:53] mdwest opened #217 "View Issue Threads without Registering Account"
Add button next to Log in or Sign up called "Visit the Discussion"

The button takes user to our list of issue threads.

Allow the user to click into any of the threads, but if they vote on a civi a popup asks them to sign up (simple email and user name sign up preferred).

If they try to add a new thread, or add a new civi also have a pop out asking them to sign up

[2018-08-21 04:35] #213 closed

[2018-08-21 04:50] mdwest commented on #213
@saxonhouse Thank you for your help on this issue. Would you have any interest in helping on Issue #217. We want to make it possible for unregistered users to view issue threads, and convert them to registered users if they try to vote on a civi, write a civi, or open a new issue thread.

[2018-08-26 23:30] jmarkham828 commented on #211
Hello, I noticed this issue has not been marked as closed or completed. Could I maybe take a look at it?

[2018-08-27 07:05] brylie commented on #211
@jmarkham828 that would be great, thanks! How can we help you along your way? Do you have a development environment already?

[2018-08-28 08:59] saxonhouse commented on #213
@mdwest No problem! Yep, sure, I can look into that.

[2018-09-20 12:46] brylie opened #221 "Update pyca / cryptography for security"
The pyca / cryptography package has a security update. Please add the newest version ASAP.

[2018-10-01 17:58] HarendraSingh22 commented on #141
Is this still up for grab?

[2018-10-01 22:44] jl24 commented on #141
@HarendraSingh22 Yep! Feel free to pick this one up.

[2018-10-02 01:21] dlarner3194 commented on #221
I can tackle this. Starting it now @brylie

[2018-10-02 14:33] HarendraSingh22 commented on #141
On what page is this button ? I have not yet found it

[2018-10-02 17:01] RonitRay commented on #136
Hi, is this still open?

[2018-10-02 20:28] jl24 commented on #136
@RonitRay Yes you are free to pick this one up.

[2018-10-04 04:20] jl24 commented on #141
The first paragraph in this [previous comment](https://github.com/CiviWiki/OpenCiviWiki/pull/202#issuecomment-397153427) i made explains how to add the ids. After that change, make sure to add the change in the `selectors.py` under `project/test_framework/app/selectors.py` as well.

[2018-10-10 22:40] terrencetuy commented on #207
Hi, if this is still valid, I would like to work on this. Thanks.

[2018-10-11 00:57] mdwest commented on #207
Thank you, we would appreciate your help.

Please don't hesitate to reach out if you have any questions and consider
joining our riot chat.

at https://riot.im/app/#/room/#CiviWiki:matrix.org.

Best

-mw

On Wed, Oct 10, 2018, 3:40 PM terrencetuy <notifications@github.com> wrote:

[2018-10-11 09:15] brylie commented on #207
@terrencetuy have you set up a development environment? How can we help you with this task?

[2018-10-11 11:55] terrencetuy commented on #207
Haven't had too much time to work on this so far, but I do have one question right now. According to the CONTRIBUTING.md, I need a Sunlight API key. How do I get this?

Appreciate the support. Will definitely join the chat once I'm able to get more into the thick of things. Thanks!

[2018-10-11 12:54] brylie commented on #207
Well, that documentation needs to be updated. Sunlight Foundation no longer offers their API, so we are now migrating to ProPublica (work-in-progress). See if you can skip that step without any errors.

[2018-10-11 18:32] brylie opened #224 "Use Pyup for automated package security upgrades"
Pyup is free for open source projects, and will automatically open PRs when package updates are available:

https://pyup.io/

[2018-11-01 19:04] Shreyas4991 opened #227 "Account Deletion."
There seems to be no way to delete accounts as yet

## Task

- [ ] sketch and discuss the "delete my account" user interface design
- [ ] implement the design as an HTML template
- [ ] create a Django view to render the HTML template
- [ ] define a `POST` handler for the Django view that soft-deletes the user account
- [ ] ensure that users can only delete their own profile
- [ ] ensure that the u

[2018-11-01 19:05] Shreyas4991 opened #228 "Profile Link Broken"
The link to one's own profile isn't working. I had to plug in the required URL to get to my profile.

[2018-11-01 19:08] Shreyas4991 opened #229 "Arbitrarily picks location"
I attempted to pick a location outside the United States. During registration I first let the google maps location picker find me. Then before proceeding further I edited the address to a single continent name. The address on my profile however shows my city from the Map and a random US State.

[2018-11-01 19:13] Shreyas4991 opened #230 "Unsightly messy scroll bars"
The multiple scrollable elements on a page each have their scroll bar which is visible in the corner, particularly on Firefox 63 with dark theme. Further it makes little sense to have to look out for a mouse pointer to know which window is going to scroll up or down when one presses the arrow key. May I suggest having one active element at a time, highlighting the active element's borders, and pro

[2018-11-02 09:54] brylie commented on #230
Thanks @Shreyas94. Would you consider providing a screenshot of the current UI and wireframe of the suggested UI to this issue, to help steer the design process?

[2018-11-02 09:56] brylie commented on #229
Thanks for the bug report! We can prioritize this in an upcoming sprint.

[2018-11-02 09:58] brylie commented on #227
This is a good feature request. We will need to design the account deletion process, including considerations about how to handle user-created data, if any has been created by the account.

[2018-11-02 14:44] Shreyas94 commented on #230
![image](https://user-images.githubusercontent.com/4014341/47921904-c2ab2400-dedb-11e8-8c14-d31cc98bce3e.png)
Here's a screenshot.

[2018-11-04 18:32] mdwest commented on #227
@GokuMizuno Didn't you fix this in the GDPR update?

[2018-11-04 18:45] Shreyas94 commented on #230
1. For the scrollbars, apparently firefox doesn't offer custom scroll bars so some jquery plugin like [this](https://plugins.jquery.com/scrollbar/) might be needed to get a uniform look across all browsers.
2. As for the box in focus, I guess it would useful to have a mild gray or light purple shadow on the active or focussed element.

This should fix it for the moment.

[2018-11-04 19:02] Shreyas94 commented on #229
I think I might have an idea about why the state was picked seemingly randomly. The map picked in a state outside the US which shares the abbreviation TN. So it put me in Tennessee. Why it retained that information after I edited the address completely still remains a question. Does it mean that once the map picks an address, it can't truly be edited in the input box? Since the website appears to

[2018-11-04 20:56] brylie commented on #230
@Shreyas94 would you like to take a try at this issue? I am available for pair-programming on weekends, via [Codebuddies.org](https://codebuddies.org/).

[2018-11-05 00:09] mdwest opened #231 "User Name and Email Forms Are Visually Bugged"
During account creation, the username and email forms are visually bugged.

The actual username and email is overlapped by the hint text (i.e. “User Name” and “Email)

I expect these forms to be pre-filled with the User Name and Email the user selected on the previous screen and the hint text to only appear if they delete the text.

![image](https://user-images.githubusercontent.com/30572202/47971

[2018-11-05 00:11] mdwest opened #232 "Finish Account Creation is Bugged"
During account creation, “Set your Location” screen the "Finish" button is bugged.

Returns [object Object] error when "Finish"  is clicked

I expected to complete the account to be created and to go to the feed page.

![image](https://user-images.githubusercontent.com/30572202/47971987-3a985c00-e04c-11e8-92b9-7ff22fe84270.png)

[2018-11-05 10:41] brylie commented on #224
@mdwest, could you consider adding this to the OpenCiviWiki project repository? It will automatically keep us up to date for security releases, by opening a pull request with dependency upgrades.

[2018-11-05 10:49] #221 closed

[2018-11-05 10:50] #136 closed

[2018-11-05 10:52] brylie commented on #142
We can move this to the 0.3 milestone, as it is non-essential.

[2018-11-05 10:54] brylie commented on #46
@jl24 can we separate this PR from your frontend refactor PR? That way we can close this issue sooner.

[2018-11-05 19:00] mdwest commented on #224
@brylie I just set up an account and added our repo to it.

[2018-12-06 20:31] alecxvs opened #234 "Server error creating thread when auth_user Id does not match api_account Id"
It appears that starting registration creates an `auth_user` and completing registration creates an `api_account`. If registrations remain incomplete or users start/finish in odd orders, then those accounts have different ids. This should be fine, since they have a relationship to each other.
(There's a potential separate issue here with the existence of incomplete, unverified user accounts)

Howe

[2018-12-07 00:32] alecxvs commented on #228
I wasn't able to reproduce this on Chrome 70.0.3538.77 (Mac OSX). Clicking the "Profile" link in the top right worked consistently for me.

[2018-12-07 05:04] Shreyas4991 commented on #228
The issue was on firefox 63 (stable) on (Ubuntu 18.04) Linux for me.

[2018-12-07 09:16] brylie commented on #228
Yep, we really need to test our app on multiple browsers. It is increasingly common that webapps are only tested on Chrome.

[2018-12-07 09:19] brylie commented on #228
@mdwest can CiviWiki please set up an account with [BrowserStack](https://www.browserstack.com/)? It is [free for open-source projects](https://www.browserstack.com/open-source?ref=pricing).

[2018-12-07 09:32] brylie commented on #146
@mdwest I think we should prioritize this issue.

[2018-12-07 09:33] brylie commented on #234
Good catch! We should write an automated test against this bug. That way we can watch for regressions after a fix.

[2018-12-07 09:39] brylie commented on #234
I think we should deprecate the `api_account` table and just use the django users table. This would mean fewer moving parts.

 @jl24 how would removing the `api_account` model from the picture align with, or affect, efforts to port our APIs to the django REST Framework?

[2018-12-11 09:09] brylie commented on #228
@alecxvs please try to replicate this bug with Firefox.

[2018-12-11 19:04] mdwest commented on #146
I support prioritizing this but was hoping to get version 3 online first.

On Fri, Dec 7, 2018, 1:32 AM Brylie Christopher Oxley <
notifications@github.com> wrote:

[2018-12-12 09:48] brylie commented on #146
Jep, that makes sense. The [0.2 roadmap](https://github.com/CiviWiki/OpenCiviWiki/milestone/2) is nearing completion. There are just a couple of large-ish outstanding issues.

[2018-12-12 09:49] brylie commented on #46
@jl24 if we don't have a status for this, should I go ahead and move it to 0.3 milestone?

[2019-01-08 05:19] mvellasco commented on #232
I'll start working on it, as soon as I'm done, I'll submit a PR.

[2019-01-08 17:30] mdwest commented on #232
Thank you soo much! Look forward to seeing it fixed. Feel free to reach it
if you have any questions!

-mw

On Mon, Jan 7, 2019, 9:19 PM Miguel Oliveira Vellasco <
notifications@github.com> wrote:

[2019-01-08 22:37] mvellasco commented on #232
All the same on the branch master, the user is created succesfully and redirected to the main page as expected. Just so I know, wich branch do you currently have in production?

[2019-01-08 22:55] mvellasco commented on #232
I just tested on the production site(civiwiki.org) and my account was created successfully. I think this bug is just an isolated problem, that happened just on a specific scenario that I could not reproduce here...

[2019-01-09 08:32] brylie commented on #232
@mdwest what browser were you using when the problem occurred? Were you located in Washington?

[2019-01-09 20:10] mdwest commented on #232
I was using chrome and based in Washington at the time.

-mw

On Wed, Jan 9, 2019 at 12:32 AM Brylie Christopher Oxley <
notifications@github.com> wrote:

--
Mitchell D. West
Founder and Executive Director of CiviWiki.org

[2019-01-10 09:07] brylie commented on #232
Cool, yeah. I could see that from your screenshot, but just wanted to double check that location shouldn't have been an issue.

[2019-02-11 20:44] brylie opened #319 "Upgrade project dependencies"
There are several open issues related to project dependencies, which have been created by PyUpBot.

The goal of this task is to update most/all of the project Python dependencies. This includes updating to the Django 2.x series.

The work will also include cleaning up unused dependencies and related code, so the project is a bit leaner.

[2019-02-18 16:16] brylie commented on #319
At the very least, we should upgrade the following to the latest version in their minor version series:

[2019-02-19 06:17] m0neyy commented on #319
Is this up for grabs? Would you say accessible to someone w/ intermediate Python skills?

[2019-02-19 09:06] brylie commented on #319
@m0neyy sure ☺Just focus on the four updates mentioned above, as a start. Upgrade them to the latest in the current series, I.e. no MAJOR version upgrades for now. Let me know if you have any difficulty setting up a development environment.

[2019-02-19 19:46] m0neyy commented on #319
Sounds good thanks mate, I'm gonna have a go at it

[2019-02-22 13:03] TomaszKolek commented on #99
@brylie I see Links field shows currently existing problems. Should we display bills from API in links field together with problems or rather make it as a second field like `Linked bills`

[2019-02-22 14:40] brylie commented on #99
Make a second field with a similar style to Linked bills field. The linked bills field is just an example to follow.

[2019-03-02 16:52] junming403 commented on #227
Hi, is this issue still relevant, I would like to work on this.

[2019-03-02 18:03] mdwest commented on #227
We are happy for your help. I believe it is still relevant but @Brylie
Christopher Oxley <brylie@amble.fi> probably knows better.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=l

[2019-03-03 06:10] brylie commented on #227
Thanks @junming403. Do you already have a development environment set up?

[2019-03-04 04:39] junming403 commented on #227
@brylie Hi sir, Yes I have the environment set up. Can you tell me more about this feature.

[2019-03-04 06:42] brylie commented on #227
Basically, we want to give users a way to remove their personal account. There should be a button on their profile page that will perform a cascsding delete from their user object. Care should be taken to consider the impact on shared content, such as Civis.

Edit: we no longer want a cascading delete. Rather, we want a soft-delete that only removes personally identifiable information (PII) while

[2019-03-04 14:19] junming403 commented on #227
Thank you sir, I will start to work on this issue, will create a PR once it's done

[2019-03-04 19:49] mdwest commented on #227
You might also check Gordon strangler's pr's. I think he put together some
code on this pr. But I understand if it's easier to start from scratch. And
modular solutions are preferred. Thank you for the help!

On Mon, Mar 4, 2019, 6:19 AM Wang Junming <notifications@github.com> wrote:

[2019-03-05 18:56] brylie opened #344 "403 forbidden when user tries to create own profile"
During the registration process, the user is taken to a profile configuration 'wizard' consisting of two steps. The first page asks for basic information like name while the second step asks for user location. When clicking the 'finish' button on the second step, a 403 not authorized error can be seen in the browser. This prevents the user from progressing past the profile creation step.

## Task

[2019-03-05 18:58] brylie commented on #344
@TomaszKolek please consider whether you can fix this bug in the process of your work. Feel free to add a milestone/payment for the work, since it is outside of the scope of your current tasks.

[2019-03-06 15:49] HimanshuJanbandhu commented on #232
Hi, I would like to help, please help me to get started, this is my first issue

[2019-03-06 15:56] brylie commented on #232
Thanks @HimanshuJanbandhu are you able to set up a development environment?

[2019-03-06 15:57] brylie commented on #232
@mvellasco we have identified this as an issue with our HTTP API, and opened a duplicate task #344. Thanks for reporting the issue!

[2019-03-06 15:57] brylie commented on #232
@mvellasco we have identified this as an issue with our HTTP API, and opened a duplicate task #344.

[2019-03-07 07:23] HimanshuJanbandhu commented on #232
Thankyou so much for your reply @brylie, I haven't set up the devlopment environment yet. How can I do that. I have some experience with Django.

[2019-03-07 08:10] brylie commented on #232
There are some new developer instructions on setting up a Docker development environment:

https://github.com/CiviWiki/OpenCiviWiki/blob/dev/readmes/docker-setup.md

Start there, and let us know about any difficulties you face, so we can improve the docs.

[2019-03-07 12:59] HimanshuJanbandhu commented on #232
@brylie I wasn't able to install Docker because, it was not able to resolve proxy on my network.

[2019-03-07 13:27] brylie commented on #232
Hm, what was the error message?

[2019-03-07 14:36] HimanshuJanbandhu commented on #232
Error messages:

E: Failed to fetch http://packages.linuxmint.com/pool/upstream/m/mintsources/software-properties-common_1.8.0_all.deb  Connection failed [IP: 172.31.1.3 8080]

curl: (5) Could not resolve proxy: @172.31.1.3

[2019-03-07 14:40] brylie commented on #232
Try following these instructions:
https://docs.docker.com/install/linux/docker-ce/ubuntu/#install-docker-ce-1

Also, you may need to repair your package indexes. How old is your Mint installation?

[2019-03-09 01:47] dacdao1 commented on #211
Hi, I saw this issue with your project, and it is still open. I just wanted to know if I could work on this issue for you? Thank you.

[2019-03-09 16:49] brylie commented on #211
@dacdao1 yes, this issue is open. Thanks for your offer. How can we help you get started?

[2019-03-09 19:01] dacdao1 commented on #211
As of right now, no not really. I will download the development environment with docker and I will message you if I have any problem.

[2019-03-10 18:19] Darkyj commented on #232
I have not been able to reproduce this bug on the dev version of CiviWiki.  I used my own location and then OP's location to see if there was some sort of edge case.

Machine's Specifications:
1. OS: MacOS Mojave
2. Browser: Chrome 72.0.3626.119

[2019-03-10 18:31] brylie commented on #232
Thanks. ☺

On what branch were you testing?

[2019-03-11 02:36] Darkyj commented on #232
Hiya, the Dev branch.

[2019-03-11 07:35] brylie commented on #232
Jeo. @TomaszKolek fixed this in a recent pr #345

[2019-03-11 07:35] brylie commented on #344
Closed by #345

[2019-03-11 07:35] #344 closed

[2019-03-11 07:36] #232 closed

[2019-03-11 07:36] brylie commented on #232
Check out these other issues marked as [good first issue](https://github.com/CiviWiki/OpenCiviWiki/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22)

[2019-03-12 03:18] dacdao1 commented on #211
@brylie I'm setting up the docker development environment and it seems that it is not set up correctly for me. Should I set up using the "local setup" way? Also which file is the "edit profile" HTML page located? I look all over the webapp folder and frontend_views and I can't find that page. Thank you.

[2019-03-13 07:22] brylie commented on #211
@dacdao1 we are trying out the Docker approach as a recommendation for new devs. What problem(s) did you encounter? Was there anything missing from the docs? @TomaszKolek may be able to help you work through the Docker set-up, and add missing documentation.

The "Edit Profile" dialogue can be found in [/webapp/templates/partials/account/account_settings.html](https://github.com/CiviWiki/OpenCiviWi

[2019-03-13 09:56] junming403 commented on #227
Hi can I clarify on the requirement?

When the account is deleted, the following are also deleted:
1. The account itself.
2. Civis created by the account.
3. Threads created by the account.
4. Civis related to those threads created by the account.
5. Activities of the account or deleted threads
6. Notifications of the account or deleted threads
7. Rebuttal of the account
8. Responses of those dele

[2019-03-13 10:13] brylie commented on #227
From my perspective, we should only delete the account itself. All of the other conversation is a matter of public record. E.g. when you delete a Hacker News or Reddit account, your comments are still visible to preserve the context.

The thing we are concerned about primarily is that people's personally identifiable details are deleted. A cascading delete of all related content would be quite dis

[2019-03-13 10:14] brylie commented on #227
Note: comments, civis, rebuttals, etc. that contain personally identifiable material can be treated as an edge case that can be cleaned up by manual moderation.

[2019-03-14 04:49] dacdao1 commented on #211
Ok, perfect @brylie. Now I know where that pop up is located.

@TomaszKolek I was following along the setup guide at https://github.com/CiviWiki/OpenCiviWiki/blob/dev/readmes/docker-setup.md.
Once I got to the "docker-compose up" command, my command line went fine through redis and everything else that needed to be set up, but once it gets to the DB, it said that I need the root file or folder of

[2019-03-14 13:07] brylie commented on #211
Definitely try to work through the Docker setup. It will likely be easier than the local setup, and will probably be our recommendation going forward.

[2019-03-20 13:46] mpskierbg commented on #231
Hey has anyone fixed this bug? Id like to take a stab at it.

[2019-03-20 14:02] brylie commented on #231
Thanks @mpskierbg! Feel free to fix it. Go ahead and open a PR and we will review it promptly.

[2019-03-20 14:25] Sparrow1029 commented on #211
Hey there, I also have been trying to get through the Docker setup, and when civiwiki-backend is attempting to start (after running `docker-compose up`), after initializing ChromeDriver it runs into `ImportError: cannot import name Account` from the django models.
Even when I spin up another terminal and enter the civiwiki-backend image shell, running `python manage.py` commands recommended to pop

[2019-03-20 15:11] brylie commented on #211
OK, not sure why it is initializing ChromeDriver, for one.

What branch are you working on?

[2019-03-20 15:12] brylie commented on #211
@TomaszKolek would you help diagnose the error? Is this a recent bug?

[2019-03-20 18:08] Sparrow1029 commented on #211
@brylie Hi! Sorry for the delayed reply. I cloned the repo and I'm on the `dev` branch. I played with the module import references a little to see if I could fix the error (i.e: changed `models` to `.models` etc), which didn't work so I put them back to their original state, and the error was still there.
I'm not great with Docker yet, and I think I need to fork the repo rather than cloning...

[2019-03-20 18:21] brylie commented on #211
It looks like the Dockerfile is using Python 2.7:
https://github.com/CiviWiki/OpenCiviWiki/blob/dev/Dockerfile#L1

[2019-03-20 19:11] brylie commented on #211
I have pinged @TomaszKolek via Upwork, to see if he can help out here. I am stumped as to why the modules aren't loading correctly. Sorry for the lack of help on this one.

[2019-03-20 19:12] TomaszKolek commented on #211
Yeah I see imports are buggy, let me fix them

[2019-03-20 19:15] TomaszKolek commented on #211
@Sparrow1029 let's try now (please update dev branch)

[2019-03-20 19:19] dacdao1 commented on #211
@Sparrow1029 are you going to work on this issue?

[2019-03-20 19:27] brylie commented on #231
I have verified this issue exists in Firefox. I am not able to fill in the username or email fields on the sign-up form.

[2019-03-20 19:27] brylie commented on #211
@dacdao1 pkease consider taking this issue:
https://github.com/CiviWiki/OpenCiviWiki/issues/231

[2019-03-20 19:30] Sparrow1029 commented on #211
Hey, that change to the imports worked! Thanks @TomaszKolek  :) And yes, I can try to work on this issue if @dacdao1 doesn't want it

[2019-03-20 19:31] brylie commented on #211
Either this or #231 would be great. #231 is a 'show stopper' on Firefox.

By the way @dacdao1 and @Sparrow1029, please consider joining our Matrix chatroom:
https://riot.im/app/#/room/#CiviWiki:matrix.org

[2019-03-20 19:36] dacdao1 commented on #211
Hey @Sparrow1029 I will work on that #231 issue. And how did you get docker to work by the way. Just do the normal docker setup?

[2019-03-20 19:49] Sparrow1029 commented on #211
@dacdao1 Yes, but after my first few attempts: I cleaned all of the docker images from the first time around, re-cloned and updated, then when Tomas fixed the circular import issue, the civiwiki_backend docker server started working as expected

[2019-03-30 19:08] Pradhvan commented on #231
Hey! It worked fine for me no overlap while creating account (I am using firefox).

[2019-03-30 19:23] Pradhvan commented on #212
@mdwest can I take this issue up?

[2019-03-30 20:08] mdwest commented on #212
Your help is more than welcome! We are separated in the process of updating
our representative API, so you may need to coordinate with Tomasz on this
issue.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm

[2019-03-30 20:09] mdwest commented on #231
Our recently dependency update may have fixed this? I tested in chrome and
didn't see the bug.

-mw

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>
<#DAB4FAD8-2DD7-40BB-A1B8

[2019-03-30 20:25] TomaszKolek commented on #319
Can we close it? @brylie

[2019-03-31 04:59] #319 closed

[2019-03-31 05:01] brylie commented on #212
@TomaszKolek might not be touching the Profile view.

@Pradhvan, do you have a development environment set up? Can you find the Profile template?

[2019-04-04 17:50] brylie commented on #99
@TomaszKolek can we close this issue?

[2019-04-04 17:53] brylie commented on #99
I.e. this is the *last* issue remaining for the 1.0 release.

[2019-04-07 23:02] brylie commented on #227
@junming403 how are you progressing with this issue?

[2019-04-07 23:05] brylie commented on #212
@Pradhvan just checking in. How can we help you with this issue?

[2019-04-07 23:07] brylie commented on #211
@Sparrow1029 how are you progressing on this issue? How can we be of assistance to help you complete the task?

[2019-04-07 23:08] brylie commented on #231
Thanks for looking into this @Pradhvan. Would you be interested in taking a different issue?

[2019-04-07 23:09] brylie commented on #179
Closing this as partially resolved. The email notifications is a separate issue.

[2019-04-07 23:09] #179 closed

[2019-04-11 18:38] mdwest opened #375 "Threads fail to open on the Dev Server(but work on Text Server)"
When I click on any thread I expect the thread to open, but instead, the following error is thrown.

![image](https://user-images.githubusercontent.com/30572202/55982611-220d1d00-5c4e-11e9-97dc-9fb1dea6eb84.png)

We should look at differences between the Dev server and Test Server to identify this issue.

[2019-04-12 07:21] brylie commented on #375
@TomaszKolek this seems elated to the most recent PR of yours. Does this look like a failed migration perhaps?

[2019-04-16 06:28] Pradhvan commented on #212
@brylie I am still on the process of setting up the project locally, will definitely update if I need any help :smile:

[2019-04-16 06:38] brylie commented on #212
Ok. The Docker approach seems like the fastest way to get things running:

https://github.com/CiviWiki/OpenCiviWiki/blob/dev/readmes/docker-setup.md

[2019-04-17 15:22] danielgrijalva commented on #228
Hey, I'm also using Ubuntu 18.04, but I'm on Firefox v66.0.3 and I wasn't able to reproduce this bug.

[2019-04-17 15:30] brylie commented on #228
OK, lets close. Thanks for checking @danielgrijalva :-)

[2019-04-17 15:30] #228 closed

[2019-04-17 15:54] danielgrijalva opened #378 "Broken profile image in navbar"
Hello! when I signed up for an account I didn't select an image for my profile.

Now, the profile section in the navbar is "incomplete" and ugly:

![image](https://user-images.githubusercontent.com/11547406/56300924-aeef2500-60eb-11e9-91a4-640b97f0e209.png)

As you can see, the image is broken and my username is cut off.
Looking at the HTML, the `src` attribute is empty. Maybe we can use your [`/s

[2019-04-17 17:30] abhinavsagar commented on #378
@danielgrijalva I am also able to reproduce this. Can i work on this?

[2019-04-17 17:39] brylie commented on #378
@abhinavsagar thanks for your interest. Yes, please fix this issue :)

[2019-04-17 17:40] danielgrijalva commented on #378
@abhinavsagar Hey sorry, I'm already working on this! I will reach to you If I need help.

[2019-04-17 17:52] TomaszKolek commented on #375
The problem is related to the migration - there wasn't executed on dev. The deployment procedure needs some adjustment probably.

[2019-04-17 18:00] brylie commented on #375
K, can you add a fix for the deployment procedure?

[2019-04-17 22:42] danielgrijalva commented on #378
Hey :wave:  I found that the image being called in the navbar is located at `request.session.login_user_image`:
  https://github.com/CiviWiki/OpenCiviWiki/blob/5e303e9623094f2d2caa8a312ce7b5108ca8502d/project/webapp/templates/partials/utils/global_nav.html#L22

Then, searching through the code for the exact moment when the image is saved in the session, I found the function `uploadProfileImage()`,

[2019-04-17 22:56] danielgrijalva commented on #211
Hi! I can take on this issue if nobody is working on it :sweat_smile:

[2019-04-18 15:54] brylie commented on #378
Looks good. Please open a pull request, so we can test.

[2019-04-18 17:44] #378 closed

[2019-04-20 17:03] Sparrow1029 commented on #211
Hi there! I never got the environment running, and classes/moving have gotten in the way, feel free to take it @danielgrijalva! Apologies, and hopefully when I get settled down in the new place I will have time to set up the environment and contribute.

[2019-04-22 09:34] abhi12ravi commented on #230
Hi @brylie I'd like to work on this issue. Is this issue still relevant and are you still available for pair-programming?

[2019-04-22 09:39] brylie commented on #230
@abhi12ravi sure. What is your timezone? Can you go ahead and set up a development environment?

[2019-04-22 11:19] brylie commented on #230
@abhi12ravi sure. What is your timezone? Can you go ahead and set up a development environment?

From the issue, it is not clear to me what we should change, as we have content that will span vertical columns.

[2019-04-25 14:32] brentkwade commented on #230
@brylie did you guys end up working on this issue?

[2019-04-25 18:12] brylie commented on #230
@brentkwade no, we haven't started. Are you interested in helping with the task?

[2019-04-25 21:27] brentkwade commented on #230
@brylie Yes I would like to help

[2019-04-25 22:51] danielotieno commented on #230
Can I join you guys?

[2019-04-26 09:56] brylie commented on #230
@danielgrijalva sure. Please start by setting up a development environment with these instructions:
https://github.com/CiviWiki/OpenCiviWiki/blob/dev/readmes/docker-setup.md

[2019-04-26 10:12] danielotieno commented on #230
@brylie Thank you, I will be contributing for the first time.

[2019-04-29 17:17] danielgrijalva commented on #211
Hey I just realized, the profile "pop out" mentioned is **_not_** a pop out, it's a navigation component with _tabs_. So... it doesn't make sense to add the "x" button to close the edit section, right? I mean, to "close" it, the user should just click on another section, right?

My suggestion would be to remove the styles from the edit button (background color, shadow, :hover), to make the tabs mo

[2019-04-29 18:11] mdwest commented on #211
@danielgrijalva Good Point, I think it would make better sense if the edit profile tab looked like the rest of the tabs. No need for an exit button.

[2019-04-30 15:20] richifuentes opened #392 "When uploading a profile image failed then user needs to go back and click on Edit Profile again to upload new image"
When users uploading a profile picture and this failed with the error message "Please use an image that 1280 x 960 pixels or smaller" then users need to go back to the profile and click on Edit Profile again in order to upload a new picture. Just clicking on Choose Picture doesn't do it.

[2019-04-30 15:23] richifuentes commented on #229
Hi @brylie I would like to start contributing to this project and give it a go with this issue. I have tried to setup the development environment but I have got some errors on docker, see below

WARNING: Image for service backend was built because it did not already exist. To rebuild this image you must use `docker-compose build` or `docker-compose up --build`.
Creating civiwiki-db    ... done
Cre

[2019-04-30 17:35] brylie commented on #229
What happens when you run `docker-compose build`?

[2019-05-01 11:02] richifuentes commented on #229
I did run `docker-compose build` successfully then I have tried `docker-compose up` but I am getting always these errors from db and backend in loop:

civiwiki-db | FATAL:  data directory "/var/lib/postgresql/data" has wrong ownership
civiwiki-db | HINT:  The server must be started by the user that owns the data directory.

civiwiki-backend | standard_init_linux.go:207: exec user process caused "n

[2019-05-04 20:44] richifuentes commented on #229
I have set up the environment finally on my Mac, Docker seems to work better on Mac than on Windows.
@brylie: so now I am sorted with the development environment, what is the desired change for this issue? and can you please guide me to which files should I start looking for?

[2019-05-05 09:33] brylie commented on #229
Well, I think we should discuss how to handle users outside of the U.S., as there isn't an obvious answer. What are your thoughts @richifuentes?

[2019-05-06 12:07] afaizan commented on #212
@brylie Since a user can update the location from the settings page, is this necessary? Also there seems to be redundancy in the way user can edit a profile. There's the settings page with name and location and then the edit profile page with the about me and profile image option. Would it not be better to have everything at one place?

[2019-05-06 13:15] richifuentes commented on #229
The first time I have had a look at OpenCiviWiki it looks to me to be an App just for US Citizens, by the way it is structured and the language used. Then is for the Business (however wrote the requirements) to decide if this App could/should be used globally then I think for the Address a complete form should be implemented where users would enter Street Name and Number, Zip Code, Province/State,

[2019-05-06 19:59] brylie commented on #212
Yeah, I prefer consistency in general. Would you propose a way we can merge these two features?

[2019-05-06 20:00] brylie commented on #229
Yes, we will keep it U.S.-centric for now, since there isn't currently functionality for other addresses, governments, legislation, etc.

How do you propose we improve the location selection?

[2019-05-07 06:21] gkeswani92 commented on #207
Is this something that still needs to be done?

[2019-05-07 12:21] afaizan commented on #212
Would it be better if we remove the edit profile page and put the option to update the about me and profile image field in the settings page? That way everything can be updated from the settings page.

[2019-05-07 12:51] richifuentes commented on #229
Hi @brylie , we first need to fix a small typo that is causing the application to just show the purple screen instead of the login window, I have noticed that since the last commit a couple of days ago this error started happening, see here:
![image](https://user-images.githubusercontent.com/9931749/57300507-3cb0a580-70d7-11e9-9ec9-7a72e171aa46.png)
the user-setup.js file needs to be corrected on

[2019-05-07 16:10] richifuentes commented on #229
An issue that I have with the development environment for this ticket:  is there a way to setup https on the docker deployment? I cannot test the locate function without https, all the browsers block it, so whatever Address I have entered there does not get geolocated and so I cannot troubleshoot the process of checking the addresses, any ideas?
![image](https://user-images.githubusercontent.com/9

[2019-05-07 16:54] brylie commented on #229
@richifuentes can you open a PR to fix the JavaScript error?

[2019-05-07 16:55] brylie commented on #229
@TomaszKolek can you clarify how @richifuentes can access the CiviWiki Docker via HTTPS?

[2019-05-07 16:56] brylie commented on #212
@afaizan OK, lets give that solution a try.

[2019-05-07 17:43] danielgrijalva commented on #211
Hi @brylie @mdwest I think this issue should be closed now :sweat_smile:

[2019-05-07 17:53] richifuentes opened #401 "Fix Syntax Error: Unexpected token ')'. Expected ')' to end and argument list"
Fix Syntax Error: Unexpected token ')'. Expected ')' to end and argument list on File user-setup.js
![image](https://user-images.githubusercontent.com/9931749/57321500-c37a7800-7101-11e9-8bba-a965b88faacb.png)

[2019-05-07 17:56] #211 closed

[2019-05-07 20:11] TomaszKolek commented on #375
Let me close this one as its done

[2019-05-07 20:11] #375 closed

[2019-05-07 20:13] TomaszKolek commented on #210
@mdwest can we close this one?

[2019-05-08 09:56] brylie commented on #210
I registered and mentioned that my location was Denver, Colorado, but no data seemed to populate. On which environment should this be tested?

[2019-05-09 19:06] brylie commented on #401
@richifuentes are you going to open a PR for this issue?

[2019-05-09 19:39] brylie commented on #401
I believe this is fixed now. Please test on https://civiwiki-dev.herokuapp.com/

[2019-05-09 19:39] #401 closed

[2019-05-10 07:28] brylie commented on #210
@TomaszKolek there still seems to be an issue here. As mentioned above, this step does not seem to work, perhaps it broke after the rebase:

![Screenshot_20190510_102715](https://user-images.githubusercontent.com/17307/57510014-5c7dde80-730e-11e9-897b-4a3efa236b54.png)

Please review this issue.

[2019-05-10 07:38] brylie opened #462 "[Create account] Uncaught ReferenceError: first_name is not defined"
When creating an account, I am unable to submit the profile form.

## Steps to reproduce
1. click "Login/Signup"
2. click "Register"
3. fill in username, email, password
4. fill in remaining steps for initial profile wizard
5. click "Finish"

## Observed result
The form does not submit. There browser console has an error:

[code]

## Expected result
The form would submit.

[2019-05-10 08:03] brylie opened #463 "[Create account] ReferenceError: materializeToast is not defined"
When creating an account, the "Locate me" button does not seem to work

## Steps to reproduce
1. go to "Register" page
2. fill out profile information
3. on final step, click "Locate me" button

## Observed result
Nothing seems to happen, but the following error is visible in the console:

[code]

[2019-05-10 08:08] brylie opened #464 "locate.js exposing API key to client"
The geocoding script is exposing the Google API key to the client:

https://github.com/CiviWiki/OpenCiviWiki/blob/af3cfc3dddc5f07ac527bea922a1a74977e7fc63/project/webapp/static/js/utils/locate.js#L129-L131

As far as I can tell, this is not advisable, because it would allow people to make API calls to Google with the CiviWiki key.

This doesn't seem like a trivial fix, as it would need an endpoint

[2019-05-10 08:34] #462 closed

[2019-05-10 08:42] #463 closed

[2019-05-10 08:44] brylie commented on #13
Closing this, as the work was completed by @TomaszKolek

[2019-05-10 08:44] #13 closed

[2019-05-10 16:24] JonanOribe opened #468 "first_name is not defined"
At "Setup your location" page, when I push over "finish", I get the message:

[code]
But my profile information has all the text boxes with text. Any idea?

[2019-05-10 18:04] brylie commented on #468
@JonanOribe please pull the latest develop. This issue should be resolved.

[2019-05-10 21:17] brylie commented on #468
@all-contributors please add @JonanOribe for bug

[2019-05-10 21:18] brylie commented on #392
@all-contributors please add @richifuentes for bug

[2019-05-10 21:18] brylie commented on #234
@all-contributors please add @alecxvs for bug

[2019-05-10 21:19] brylie commented on #230
@all-contributors please add @Shreyas4991 for idea

[2019-05-10 21:20] brylie commented on #229
@all-contributors please add @Shreyas4991 for bug

[2019-05-10 21:22] brylie commented on #229
@all-contributors please add @richifuentes for question, ideas, bug

[2019-05-12 06:44] TomaszKolek commented on #210
I probably misunderstood the issue when I wanted to close it. I thought that the code that shows reps in "My reps" tab is not working.

Displaying reps in my reps tab is working.

Displaying my reps in the setup page wasn't implemented and it seems its separate feature because we have not implemented sending address via API. For now, the backend will know about your location once you click Finish

[2019-05-13 18:53] mdwest opened #477 "Can't Publish New Thread"
I attempted to make a new thread on Civiwiki.org. I was able to create the content, but when I hit publish it throws a server error.

![image](https://user-images.githubusercontent.com/30572202/57983784-ba53aa00-7a23-11e9-8e32-a036612b47b3.png)

[2019-05-13 18:58] brylie commented on #477
Is there any error in your browser console (F12)? What is the server error? Please provide the texts.

[2019-05-13 20:31] mdwest commented on #477
I just managed to get this uploaded. Not sure why it didn't work earlier

[2019-05-14 06:19] brylie commented on #477
This should now be fixed by Tomasz' PR, just merged into develop. Pleasr test again on civiwiki-dev.

[2019-05-17 20:05] torabshaikh commented on #229
@brylie Does this issue still exist? I am trying to find a project for my first open source contribution. Please let me know if this issue is fixed or some other issue in which I can contribute. Thanks

[2019-05-18 08:52] brylie commented on #477
@mdwest this may now be resolved by the recent deployment. Please verify.

[2019-05-18 08:54] brylie commented on #468
This is now resolved.

[2019-05-18 08:54] #468 closed

[2019-05-18 08:55] brylie commented on #229
@torabshaikh this may be resolved now. Would you like to try another issue?

[2019-05-18 08:55] #229 closed

[2019-05-18 12:01] mdwest commented on #477
Currently traveling, but I'll check asap.

-mw

On Sat, May 18, 2019, 1:52 AM Brylie Christopher Oxley <
notifications@github.com> wrote:

[2019-05-18 12:48] torabshaikh commented on #229
@brylie Yeah. Very much.

[2019-05-18 13:13] SunflowerPKU commented on #207
Is there something that still needs to be done?

[2019-05-18 16:54] brylie commented on #229
@torabshaikh how about this issue:
https://github.com/CiviWiki/OpenCiviWiki/issues/210

[2019-05-18 16:56] brylie commented on #207
@SunflowerPKU please test this issue on https://civiwiki-dev.herokuapp.com/

[2019-05-19 03:52] SunflowerPKU commented on #207
@brylie I have tested this issue. Both the test version and release version can select state when creating a new thread so this issue needs to be closed.

[2019-05-19 06:59] #207 closed

[2019-05-19 07:01] brylie commented on #207
Thanks for verifying @SunflowerPKU 😎

Would you like to help with a couple more testing/quality assurance (QA) related tasks?

[2019-05-19 07:05] brylie commented on #477
@mdwest verified by email that this issue still affects the `dev` branch, despite us reverting to the previous version.

@mdwest please set up a Sentry account for CiviWiki, so we can track server errors.

[2019-05-19 07:15] brylie commented on #207
@all-contributors please add @SunflowerPKU for userTesting

[2019-05-19 07:16] brylie commented on #207
@SunflowerPKU can you please help us teat/verify this issue?

https://github.com/CiviWiki/OpenCiviWiki/issues/477

[2019-05-19 07:19] brylie commented on #477
@mdwest I am able to add a thread on `civiwiki-dev` please provide exact steps you followed, describing buttons you clicked and form elements you used, so we can narrow down this issue.

[2019-05-19 07:31] brylie commented on #477
OK, it looks like Sentry has been configured for CiviWiki, but I am unable to access the Sentry logs. @mdwest can you invite me to the CiviWiki Sentry team?

[2019-05-19 07:40] torabshaikh commented on #229
@brylie Yes. This looks good.

[2019-05-19 07:43] torabshaikh commented on #210
@brylie I think I understand the Issue. Let me know if I am wrong. the 'my Reps' should show some data from API call when user selects an address but the address is not getting submitted until user click the finish button. So we need to call the API and populate the 'my reps' tab when user selects the address. Is that right?

[2019-05-19 07:57] brylie commented on #210
@torabshaikh in this case, we just want to **remove the My Representatives section** from the template.

[2019-05-19 07:58] #65 closed

[2019-05-19 07:59] brylie opened #512 "[Docker] Opening configuration file /etc/apt/apt.conf.d/01autoremove - ifstream::ifstream (13: Permission denied)"
When following the Docker installation steps, I get the following error when running `docker-compose up`:

[code]

[2019-05-19 11:35] torabshaikh commented on #210
@brylie That sounds plausible. I will be fixing this then. Do I need to know anything else while setting up the environment other than the things mentioned in the [local setup](https://github.com/CiviWiki/OpenCiviWiki/blob/dev/readmes/local-setup.md) file?

[2019-05-19 11:50] SunflowerPKU commented on #207
@brylie

It's my pleasure to make this software better.

[2019-05-19 11:59] SunflowerPKU commented on #477
@brylie
I have tested this issue. When I click on publish button, it occurs an server error, as following.
Some icons can not be displaied either, e.g., keyboard_arrow_down.

![image](https://user-images.githubusercontent.com/23006864/57981870-fa407e80-7a6f-11e9-81a3-3cef8a570c02.png)

[2019-05-19 12:03] brylie commented on #477
OK, thanks for reproducing @SunflowerPKU. Would you like to try and diagnose this error on the server-side? E.g. see if you can get a console log or other output for the specific server error.

[2019-05-19 12:04] brylie commented on #210
You can try the local setup or the [docker setup](https://github.com/CiviWiki/OpenCiviWiki/blob/dev/readmes/docker-setup.md), whichever works for you.

[2019-05-19 14:59] mdwest opened #513 "My Rep Tab fails to display"
The My Representative tab should display federal representatives and show a rating of how often their votes align with user support/opposition to bills.

Currently, the display is bugged and there may be back-end server issues

![image](https://user-images.githubusercontent.com/30572202/57984008-1f5bcf80-7a25-11e9-96d5-cf7cdf77265a.png)

Note: This bug may only be associated with old accounts. I s

[2019-05-19 15:57] brylie commented on #513
@TomaszKolek was this working as part of your tasks?

[2019-05-19 15:57] brylie commented on #513
@TomaszKolek can you please verify this bug?

[2019-05-19 22:01] mdwest commented on #513
@TomaszKolek The bug appears to be associated with old accounts. A new account I created shows representatives. But for some reason, old accounts don't. I remember you mentioning this possibility while working on the representative contract. Any insight into why this issue persists is much appreciated.

[2019-05-21 14:53] richifuentes opened #514 "Materialize Toast Message is shown too quickly to the user"
In the "Setup your location” when the message "We could not use your browser's location. Please try entering your location" is shown with materialize.toast, this message is only shown very briefly so the user cannot really understand what is going on. My suggestion is the time of materialize.toast should be increase or a permanent message should be shown to the user so that she/he knows what is ha

[2019-05-21 14:56] richifuentes commented on #229
Hi Thomas, I have never got the instructions on how to setup CiviWiki Docker via https, this is important to test locate scripts and other features, without https all browsers blocked location automatically.

[2019-05-21 18:56] brylie commented on #514
Great first issue! Would you like to extend the Materialize.toast timeout?

[2019-05-22 01:28] jgbmattos commented on #200
I think it's working well on chrome now. tested in chome version 74.0.3729.169 - 64 bits

[2019-05-22 06:37] brylie commented on #200
Thanks @jgbmattos. Closing issue.

@all-conrtibutors please add @jgbmattos for userTesting

[2019-05-22 06:37] brylie commented on #200
@all-conrtibutors please add @jgbmattos for userTesting

[2019-05-22 06:37] #200 closed

[2019-05-22 06:38] brylie commented on #200
@all-contributors please add @jgbmattos for userTesting

[2019-05-22 06:55] richifuentes commented on #514
Sure, would 10 seconds be ok?

[2019-05-22 14:43] TomaszKolek commented on #512
@brylie I think it's your platform-specific error. I haven't met it on any of my 3 PCs, I believe others also haven't. Were you able to google it?

[2019-05-22 15:30] brylie commented on #512
@TomaszKolek isn't step five RUN command executing inside of the image?

[2019-05-22 15:36] TomaszKolek commented on #512
The command is relatively simple - is just package installation - do you have any proxy set on your PC or something?

I rebuilt it a few times and it still works.

[2019-05-22 15:38] brylie commented on #512
Ah, I may have had a work proxy active. I'll try again.

[2019-05-22 15:58] brylie commented on #512
Hm, I tried again with just normal network connection and still get:

[2019-05-22 16:00] brylie commented on #229
@richifuentes please open a new ticket for this HTTPS issue.

[2019-05-22 16:00] brylie commented on #512
Might this be related to HTTPS?

https://stackoverflow.com/a/38004106/1191545

@richifuentes has also been asking about HTTPS support in a different issue:
https://github.com/CiviWiki/OpenCiviWiki/issues/229#issuecomment-494427286

[2019-05-22 16:12] brylie commented on #512
Hm, probably not related to HTTPS or networking at all, as it explicitly says it's a permission issue:

[2019-05-22 16:33] brylie commented on #512
OK, it turns out that Docker doesn't have an official release yet for Ubuntu 19.04. I am able to build the image after enabling a testing Docker repository.

[2019-05-22 16:33] #512 closed

[2019-05-22 20:23] brylie commented on #477
I finally got the project to run locally again, and got the following error in the server console when trying to publish a  thread:

[code]

[2019-05-23 03:07] mdwest commented on #477
I just tested the latest code and the publish button now appears to work (no server error message and a message says it is now public and refreshing) but the thread does not actually publish.

The thread remains in drafts for the publishing account and is not visible on the feed of other accounts.

[2019-05-23 15:15] richifuentes opened #517 "add https support in the civiwiki-backend docker"
deploying docker for setting up the development environment is the easiest way to get openciviwiki up and running on anyone's Laptop. After deploying the app with docker the first time you call 0.0.0.0:8000 you get a page where you need to set up an account, I cannot get pass the Locate page since the only way to enter the address is using google's geolocate functions, and these are disabled by th

[2019-05-23 21:04] torabshaikh commented on #210
@brylie I have removed 'My Representative section' from the template and fixed 'locate me' button's position accordingly. Please review and merge #519 .

[2019-05-24 03:54] jcolborn-dropdeadgames commented on #464
The Google API key is a client-side key. You can either use a proxy as suggested or you can use API restrictions from Google to stop any requests for that key that are not referred by a certain source URL.

[2019-05-24 08:05] brylie commented on #477
@TomaszKolek are you working on this issue?

[2019-05-24 09:37] brylie commented on #464
OK, we will have to make sure those restrictions are in place for the production key. Thanks for pointing that out @jcolborn-dropdeadgames.

[2019-05-24 09:37] #464 closed

[2019-05-24 09:39] #210 closed

[2019-05-24 20:57] torabshaikh commented on #210
@brylie Is there any other issue I can work on?

[2019-05-24 21:41] mdwest commented on #477
My understanding is tomasz has only proposed researching the issue and we
have not yet agreed on a contract.

-mw

On Fri, May 24, 2019, 4:05 AM Brylie Christopher Oxley <
notifications@github.com> wrote:

[2019-05-25 15:10] brylie commented on #210
We have a few issues that are marked as good first issue:
https://github.com/CiviWiki/OpenCiviWiki/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22

[2019-05-25 18:08] brylie commented on #477
@TomaszKolek I have made some progress in PR #521, please review. Now, the thread *does* publish successfully, but nothing displays on the CiviWiki home page. There are some errors related to feed.js to work through.

[2019-05-26 09:29] #477 closed

[2019-06-04 23:20] dl1683 commented on #142
Hey I'm a beginner with all this. How can start contributing

[2019-06-05 00:33] wjkpowell commented on #141
Hi There,

I'd like to give this one a go. First contribution!

:)

[2019-06-05 08:30] brylie commented on #141
@wjkpowell welcome! OK, please read through the discussion carefully, as @jl24 has described where/how to add the missing IDs. Open a pull request with your changes, and I will review it. Please let me know in this thread, if you have any difficulties :-)

[2019-06-05 08:45] brylie commented on #142
Hei @dl1683 thanks for your offer. You can create a new branch from `dev`, and then use the previous work from @Zach048 as a guide:
https://github.com/CiviWiki/OpenCiviWiki/pull/202/files

In beginner terms, depending on your level of experience, you will need the following:

- an IDE (not just a text editor, honestly): try [VSCode](https://code.visualstudio.com/)
  - the VSCode Python extension w

[2019-06-09 15:57] wjkpowell commented on #141
Hi @brylie  Thanks! I've been trying to get my dev environment set up to action this, but having some trouble. I reached out on the Matrix Channel mentioned on the website, thought that would be better than adding as a comment on this issue. Hoping to deliver this this week!

[2019-06-09 16:00] brylie commented on #141
@wjkpowell go ahead and open an issue describing the error, with steps to reproduce:

https://github.com/CiviWiki/OpenCiviWiki/issues/new

[2019-06-09 21:59] wjkpowell opened #530 ""read-only file system" error when running "docker-compose up""
I'm trying to set up my development environment so I can contribute to this project, and I'm running into the following error when I run `docker-compose up` as instructed in [docker-setup.md](https://github.com/CiviWiki/OpenCiviWiki/blob/dev/readmes/docker-setup.md)

Here's the content of the `.env` file I created. I've redacted my actual Django and Google Map keys:

[code]

The error I'm seeing i

[2019-06-10 06:45] brylie commented on #530
What version of Docker are you running? What is your operating system?

[2019-06-10 06:54] brylie commented on #530
Did you run Docker with sudo at any point? Check the filesystem ownership/permissions in your project folder, particularly the folder where Postgres container stores data.

[2019-06-11 00:06] wjkpowell commented on #530
This is a little bit embarrassing. I don't think I have Postgres installed at all!

I think I lost this jumping back and forth between the `docker-setup.md` and `local-setup.md`. Since it seems Postgres is required to complete the Docker setup, perhaps it would be worth mentioning Postgres in the Docker readme as well.

Thanks for being so responsive! I haven't installed Postgres yet (need to rese

[2019-06-11 07:19] brylie commented on #530
Well, `docker-compose up` is supposed to install a Postgres image, so you don't have to. The Postgtes image will create a folder for data when it is created. This folder may be causing problems for you, but I am not certain. Could you record a screencast of this issue, starting with a fresh `git clone`?

[2019-06-12 17:02] wjkpowell commented on #530
Yes, I will give this a shot tonight

[2019-06-13 01:10] wjkpowell commented on #530
Hey, here's a link to a video with the repro steps. Not winning any awards for productino value here ;)

2 parts b/c I have no video editing software on my machine.

Part 1: https://youtu.be/h1DZVIlpNN0
Part 2: https://youtu.be/9ukUBVbQEVg

I tried installing PostgreSQL since but not working yet.

[2019-06-13 09:43] brylie commented on #530
K, you don't need to install Postgres, since Docker handles that for you. What are your filesystem permisisons in the project directory? e.g.  `ls -l`

[2019-06-13 12:00] wjkpowell commented on #530
Here's the result in the `project` directory:

[code]

Also, here's the result in the `OpenCiviWiki` directory:

[code]

[2019-06-13 12:55] brylie commented on #530
Hm, the `data` directory seems to be writable:

What happens if you delete `data` and then re-run `docker-compose up`?

[2019-06-14 11:36] wjkpowell commented on #530
This seems to have worked! `docker-compose up` runs now, and I can get onto the rest of the setup.

Not sure if there's anything you'd like to do here to avoid this issue for others in the future.

[2019-06-14 13:24] brylie commented on #530
Closing as resolved.

[2019-06-14 13:24] #530 closed

[2019-06-26 16:21] metonymic-smokey commented on #141
Looking to make my first contribution. Is this issue still open? If so, I'd like to give this a shot!

[2019-06-26 17:58] brylie commented on #141
@metonymic-smokey this issue is still open. Other developers have had a bit of trouble with the development environment set-up. Are you able to get started with the dev environment?

[2019-06-28 07:13] #141 closed

[2019-06-28 15:57] urielfcampos commented on #18
Is this still open ?

[2019-06-30 04:27] killerontherun1 commented on #142
@dl1683 are you working on this? If not I'm alright to continue from where you left off, or where @Zach048 left off from.

Let me know how you want to proceed.

[2019-06-30 15:02] dl1683 commented on #142
Hey I've unfortunately not been able to work on it due to medical reasons.
Take it. Best of luck.

On Sun, Jun 30, 2019, 09:57 killerontherun1 <notifications@github.com>
wrote:

[2019-07-01 09:21] brylie commented on #142
@dl1683 wishing you well! Hope to see you around the CiviWiki community going forward :-)

[2019-07-01 09:23] brylie commented on #141
Issue was resolved by @CaioSR. Thanks to all who showed interest!

If you are still looking for a low-hanging-frouit, check out the following issue list:

https://github.com/CiviWiki/OpenCiviWiki/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22

[2019-07-01 14:48] metonymic-smokey commented on #135
Hey, if I'm not wrong, this is pretty similar to #143. I'd like to take up this issue if open, first time contributor to FOSS.

[2019-07-01 16:03] wjkpowell opened #542 ""Representative has no field named 'first_name'" - error when running "loaddata data/congress.json""
When running the following command:

I get this error:

`Problem installing fixture '/app/data/congress.json': Representative has no field named 'first_name'`

I'm on a Mac running Mojave 10.14.5
Using the Docker setup

I will work on creating a video with a fresh `git clone` now.

[2019-07-01 16:26] brylie commented on #542
Thanks for the error report @wjkpowell

[2019-07-01 17:29] wjkpowell commented on #542
Here's a link to the video where I reproduce this problem:

https://youtu.be/eDbxi3VhL2A

[2019-07-15 18:43] BB8bear commented on #142
This this still open for contribution?

[2019-07-16 03:26] brylie commented on #142
Yes, please follow-through with this issue, as it has had several false-starts ☺

[2019-07-30 17:43] Hardik500 commented on #230
Can I join in if the issue is not fixed?

[2019-07-31 01:46] brylie commented on #230
Sure. How would you like to approach the issue?

[2019-07-31 01:47] brylie commented on #230
Sure. What would be your recommendation for fixing the scrollbars?

[2019-07-31 15:31] Hardik500 commented on #230
My guess is when ever the page loads we set the first tab as an active one and set a shortcut maybe like "ctrl+shift" or any other to switch between the tabs.
As for different colors in scrollbars I couldn't seem to replicate it on my device.

[2019-08-08 15:25] filipgeppert commented on #135
HI @metonymic-smokey !
Are you working on this issue?
Regards:)

[2019-08-18 11:09] umr55766 commented on #135
I can see there is a `id` already associated to the `manage categories` button. Am I missing something here ?

https://github.com/CiviWiki/OpenCiviWiki/commit/c1e83930f1fb1ebc590d08120d3f95c89e333530

[2019-08-18 11:11] umr55766 commented on #135
This issue is already fixed I guess, @brylie please close this if I'm not wrong.

[2019-08-18 12:31] umr55766 commented on #542
Hey @brylie ,

I am interested in picking this up.

I have investigated this issue and found that current `representative` model doesn't have `first_name` and `last_name` as separate fields anymore.

In this commit https://github.com/CiviWiki/OpenCiviWiki/commit/6d39b4c8dd1ae504ed3d861834fc67f9f8007ff9 `first_name` was renamed to `name` and `last_name` field was dropped.

So now we need to figure

[2019-08-18 16:16] brylie commented on #542
@umr55766 that sounds good. Please start a new branch and open a pull request with your suggestions.

[2019-08-18 16:17] #135 closed

[2019-08-18 16:43] umr55766 commented on #542
@brylie Thank you.

I tried making the change. But the issue is there are few other outdated fields too.

|Model Field|Field in JSON|
|---|---|
|name|official_full_name|
|district|district|
||senate_class|
|bioguide_id|bioguideID|
|state|state|
|   |about_me|
|start_date|term_start|
|party|party|
|end_date|term_end|
|   |level|

1. Can/Should we use `official_full_name` field as `name` attribute ?

[2019-08-19 08:38] brylie commented on #542
To the extent possible, we should try to align with the data in the file. If there are fields we don't want to store, such as `about_me`, lets just ignore or drop them.

[2019-08-21 18:01] #542 closed

[2019-08-27 09:45] oladhari commented on #230
I have no idea how to resolve this problem as I am beginner developer but I would like to investigate and work on it, I see many comments for developers who want to contribute but I guess nobody has started yet
I would like to install the application locally on following [this documentation](https://github.com/CiviWiki/OpenCiviWiki/blob/dev/readmes/local-setup.md)
and this weekend will investigate

[2019-08-27 09:46] oladhari commented on #230
please, when you reply to my message could you mention my GitHub username so I can get the notification? it is @oladhari
thank you for understanding

[2019-08-27 16:28] brylie commented on #230
@oladhari let us know when you get the software running :-)

[2019-08-28 00:34] oladhari commented on #230
@brylie thank you very much, I will try to install it this evening and let you know

[2019-08-29 00:42] oladhari commented on #230
@brylie
I succeeded to build the image with docker-compose up and the application is running correctly locally
<details>
<summary>screen shot of the app running locally</summary>

![Screenshot from 2019-08-29 09-40-19](https://user-images.githubusercontent.com/13581057/63901839-5177c700-ca41-11e9-9439-46cc4e681732.png)
</details>

can we discuss the error when you have time?

[2019-08-29 00:52] tractaylor commented on #517
do you know if a self signed cert will work?  I know alot of browsers still do not like self signed certs.

[2019-08-29 07:32] brylie commented on #230
@oladhari FWIW, this isn't really an error, as it is more of a design choice. The original designers decided to split the Civi view into three columns, with the right columns showing related content when a user clicks something in the leftwards column(s).

An alternative approach could be to use nesting, where related content is shown nested within, or connected to, the parent. This might also wor

[2019-08-29 07:34] brylie commented on #517
I think we should consider

1. deprecating the hard-dependency on Google services, and
2. allowing users to proceed to the site without providing location information.

[2019-08-30 01:55] tractaylor commented on #517
that sounds like a good idea.  Without location we could not link to local leaders/politians but we could let them choose that if it was necessary.  And some people might not want to say where they are from anyway.

[2019-09-10 16:20] ihavenoideaforusername commented on #230
hello, i'm totally newcomer, can someone help me to get in?
i wan't to start programming in python, i'm during complete python course by Jose Salvatierra so i know a bit about python

[2019-09-10 16:26] ihavenoideaforusername commented on #230
can i join too? i'm first-timer :D

[2019-09-16 08:16] hedonhermdev commented on #142
Hey, can I work on this issue if it is still open?

[2019-09-20 08:22] brylie commented on #142
Yes, if you can please let us know what problems you encounter while troubleshooting this issue.

[2019-09-27 21:59] AvianAnalyst commented on #208
I'd be interested in taking a look at this if it's still open, I might need some mentorship with it though.

[2019-09-27 23:33] brylie commented on #208
Sure. Do you have a development environment set up?

[2019-09-27 23:51] AvianAnalyst commented on #208
I don't yet, but I should be able to get that set up by the end of the day. I'm about to go eat though. If i'm having trouble with it, I'll respond here. Thank you!

[2019-09-28 18:18] AvianAnalyst commented on #208
Sorry about the delay, I got the library hours confused and didn't have internet after eating.

Is there a preference between a docker or local set up for contributing?

[2019-10-02 10:26] brylie commented on #208
Docker would be recommended, but you can choose whichever works best for your style.

[2019-10-11 04:21] vtostado commented on #166
Is this issue still open? I can give it a shot :D

[2019-10-14 17:45] enigmaticsoulrg commented on #142
Hi, I am a beginner and would love to contribute to this project as well. I've been reading through the comments and I'm excited to give it a shot for the first time.

[2019-10-14 19:43] brylie commented on #142
Ok, feel free. Try setting up a dev environment and let us know if there are any feature ideas you have or bugs you discover.

[2019-10-18 10:53] cYph3r1337 commented on #230
Is this still an issue?
I would like to contribute.

[2019-10-18 11:01] 0xrishabh opened #598 "The link is not working https://www.civiwiki.org"

[2019-10-19 19:10] brylie commented on #598
Yep. It looks like the domain registration may be misconfigured or has lapsed.

[2019-10-19 19:10] brylie commented on #230
Sure. What kind of design would you consider for this task?

[2019-10-27 14:30] jgbmattos commented on #182
@jl24. Looks to me that are two different approaches for this problem:

1. To have a global permission for editing/deleting threads/civis.
2. Assignee a user as moderator to one specific thread.

For first approach wouldnt  be better to use the already existing permissions, "api | thread ..." and "api | civi ..."?. It seems that those permissions are not being used, at least in that context.

For

[2019-11-19 02:50] CarlaLeal commented on #142
@enigmaticsoulrg are you currently working on this?

[2019-11-19 06:41] oma0256 commented on #212
@brylie @afaizan was this implemented already? If not I don't mind working on this.

[2019-11-19 06:44] oma0256 commented on #208
@brylie was this issue resolved? If not I would be glad to work on it.

[2019-11-19 13:08] brylie commented on #208
Thanks @oma0256. Please let us know how we can assist you with the task.

[2019-11-19 13:09] brylie commented on #212
@oma0256 please choose which issue you would like to start with. When you have chosen the best issue for starting, we can help you with any questions along the way.

[2019-11-19 23:29] CarlaLeal commented on #142
@brylie  is this still open?

[2019-11-20 09:56] brylie commented on #142
Yes, it is open ☺

[2019-11-20 13:31] CarlaLeal commented on #142
To confirm

Can the  Google MAP Key and Django Secret Key be set to anything in the .env file?

[2019-11-20 17:49] brylie commented on #142
Well, somewhat. It should work to set a random key for both, but Google maps won't render correctly.

[2019-11-21 12:35] CarlaLeal commented on #142
okay, got it :)

[2019-11-30 13:00] oma0256 opened #621 "Bug while creating a thread."
**Description**
In the event that you create a `superuser` through the terminal using `python manage.py createsuper` then you signup to create a new account.
If you then login and try to create a new thread using the newly created account, you get an error `IntegrityError: insert or update on table "api_thread" violates foreign key constraint "api_thread_author_id_edb902cb_fk_api_account_id"
DETAI

[2019-11-30 18:17] #621 closed

[2019-12-05 19:32] JvPy commented on #230
Still open? If so, I may have an idea and would like to contribute

[2019-12-06 00:13] brylie commented on #230
Sure, although there hasn't been a clear design proposal. Do you have any suggestions?

[2019-12-06 00:23] JvPy commented on #230
If I understood correctly, the problem with this issue is the user knowing where his scroll will take effect, right?

If so, we can use js to make a border around the selected scroll area

[2019-12-06 17:59] brylie commented on #230
OK, that sounds sensible, and not too much change.

[2019-12-06 18:05] JvPy commented on #230
OK. I'll fork the project and give it a try on sunday

[2020-01-23 03:59] vishu2435 commented on #142
i am somewhat beginner in python is there anypiece of code where i can contribute

[2020-01-24 09:30] brylie commented on #142
@vishu2435 yes, what code editor are you going to use? We can help you get set up with a development environment.

Closing this issue as "won't fix".

[2020-01-24 09:30] #142 closed

[2020-02-25 18:05] ali1810 commented on #513
I would like take up this challenge

[2020-02-25 18:11] ali1810 commented on #230
Hello ,

Is this problem  still exist  then let me try from my end

[2020-02-25 20:10] brylie commented on #513
OK, thanks! Let us know, if you need any help. Create a pull request with any changes you make.

[2020-02-25 20:10] brylie commented on #230
We are going to close this issue soon unless there is some concrete progress. Go ahead and open a pull request with any changes.

[2020-03-08 14:00] iaxat opened #661 "Website not working"
The website is not working, there seems to be some bug.

[2020-03-09 16:33] wbenfie commented on #230
I would like to work on this issue

[2020-03-12 10:57] Abdullah-alfadhel commented on #230
Hello, I was wondering if you want an Arabic translator? so the project can reach a wider audience.

[2020-03-12 11:12] brylie commented on #230
@Abdullah-alfadhel that is a great suggestion. Right now we don't have multi-lingual capabilities. I will create a ticket so we can add internationalization.

Closing this issue as it hasn't received any traction.

[2020-03-12 11:12] #230 closed

[2020-03-12 11:14] brylie opened #663 "Add internationalization to UI texts"
Split from #230

It would be beneficial to internationalize the UI texts so that the project could reach more communities.

Determine how best to add internationalization/localization to UI texts.

[2020-03-26 09:07] ali1810 commented on #513
Dear

Thanks for the reply ..

I want to add in the library module SVR the option of feature scaling .

Just let me know how I can proceed and incorporate the update in the sk learn library.

Regards

Ali
________________________________
From: Brylie Christopher Oxley <notifications@github.com>
Sent: Tuesday, February 25, 2020 9:10 PM
To: CiviWiki/OpenCiviWiki <OpenCiviWiki@noreply.github.com>
Cc:

[2020-04-04 17:29] Manvi07 commented on #512
Hi @brylie
Recently when I tried building a docker image, I got the same error. I am new to docker-compose. Can you please help me to fix this? I am using MANJARO Linux 19.0.2.

[2020-04-19 12:10] JDRanpariya commented on #514
Is this issue solved?

[2020-04-19 12:14] JDRanpariya commented on #663
ok I am interested in this one...

[2020-04-19 12:16] JDRanpariya commented on #663
We can use gettext module..

[2020-04-19 13:31] JDRanpariya opened #677 "When running on local server says 'DJANGO_SECRET_KEY' error"
**I have forked the repo and now I am trying to run website on local server with code "python manage.py runserver"**
_An error appears saying_-
 "F:\Git Contribution\OpenCiviWiki\project\civiwiki\settings.py", line 44, in <module>
    SECRET_KEY = get_env_variable("DJANGO_SECRET_KEY")
  File "F:\Git Contribution\OpenCiviWiki\project\civiwiki\settings.py", line 25, in get_env_variable
    raise Imp

[2020-04-20 08:55] brylie commented on #677
You will need to set the `DJANGO_SECRET_KEY` environment variable prior to running CiviWiki. `DJANGO_SECRET_KEY` can be any string of characters. What is your operating system?

[2020-04-20 09:31] JDRanpariya commented on #677
win10

[2020-04-20 10:04] brylie commented on #677
Try the following in your terminal:

[code]

[2020-04-20 10:04] brylie commented on #677
This is the Superuser question I used for reference:
https://superuser.com/questions/223104/setting-and-using-variable-within-same-command-line-in-windows-cmd-exe

[2020-04-23 15:21] JDRanpariya opened #678 "django environ"
In .gitignore .env_sample is provided but when I looked for main settings.py environ is not used I don't understand how to set environment variables(such as api_keys etc.) here...

And can we use django environ instead of os.environ I think code will be easy and clean

[2020-04-24 15:54] brylie commented on #678
What is your operating system?

[2020-04-27 07:58] JDRanpariya commented on #678
Windows 10

[2020-04-28 16:04] brylie commented on #678
The Windows PowerShell documentation describes [how to set environment variables](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_environment_variables?view=powershell-7). The environment variables are needed temporarily. If you want, create a shell script to set the environment variables with a single command :-)

[2020-04-29 03:48] JDRanpariya commented on #678
I am working on django environ so it's easy to set keys

[2020-04-29 07:24] brylie commented on #678
OK, would you like to open a pull request with any changes or documentation for other developers to use Django environ?

[2020-04-29 07:35] JDRanpariya commented on #678
ya but's it's not yet completed I would appreciate help from others because I'm facing some issues with loading variables

[2020-06-19 18:39] abhishekmadhu commented on #598
Hi,
How can we resolve this? Do we have a plan?
Thanks.

[2020-06-24 14:37] Yogita98 commented on #514
@brylie is this issue up for grabs?

[2020-06-25 10:16] brylie commented on #514
@Yogita98 yes, please open a pull request with your changes. :-)

[2020-07-11 11:55] StrangledJTAC commented on #661
Probable Duplicate of #598

[2020-07-11 12:20] StrangledJTAC commented on #598
whois lookup shows the domain registrant to be an organization named "samirnet -domain names for sale", so it seems that our registration with galcomm lapsed and it was sold to someone else. Now unless we find some funds and acquire it again, I don't see a solution except switching to a different domain.

[2020-07-27 05:20] #514 closed

[2020-07-31 07:26] Rajwrita opened #723 "Website taking too long to respond"
The site can't be reached :(

[2020-10-02 06:04] virejdasani opened #770 "The image in README is not loading. The website is unreachable"
The image in README is not loading. The website is unreachable,
Download that image from the website and store it in a folder in this repo. This way, you can reference the image in the README.md in this repo instead of linking to another website.
I would make a fork and do this myself but I don't know what image it is since it does not load

[2020-10-02 12:44] BrianPainter commented on #677
pull request #772 addresses the issue of not having defaults if the environment variable is not set.

[2020-10-04 01:32] BrianPainter commented on #190
These two items are complete in pull request: #778

[2020-10-07 14:26] JDRanpariya commented on #677
cool if you think issue is fixed. We can close this issue.
also thanks.

[2020-10-07 15:02] #677 closed

[2020-10-07 22:15] pprasha commented on #770
Please sign this issue to me.

[2020-10-08 12:39] virejdasani commented on #770
How do I do that? I'm new to this

[2020-10-08 13:06] pprasha commented on #770
I don't think you can but an member can I am pretty sure.

[2020-10-09 21:46] BrianPainter commented on #770
Are you referencing the second badge at the top of the readme file? I believe that is taken care of in pull request #777

[2020-10-09 22:47] pprasha commented on #770
oh okay thanks for letting me know

[2020-10-09 23:01] ganeshbhargav commented on #770
I think it is better to link all images from a folder in Google Drive/Onedrive/any other cloud instead of hyperlinking to website.
It would solve the unreachability problem for now and not create any more in future.

These are links i created for these images :-
https://img.shields.io/badge/ComVer-compliant-brightgreen.svg - https://drive.google.com/file/d/1ZBMacB6h6cknOoBXiTx03H7amjYsVH61/view?us

[2020-10-09 23:15] ganeshbhargav commented on #598
We can register this domain again using these options :-
They are widely used.
https://domains.google/
https://www.godaddy.com/domains

I checked https://domains.google/ and https://www.civiwiki.org is still available.

[2020-10-10 06:33] brylie commented on #598
On closer inspection, **civiwiki.org** is *not* available via domains.google. Only **civilwiki.org** is suggested:
![image](https://user-images.githubusercontent.com/17307/95647869-9b076200-0adb-11eb-83f5-0138c0a20286.png)

I checked Namecheap and Gandi.net as well, and Namecheap lists civiwiki.org as a premium domain ($500).
![image](https://user-images.githubusercontent.com/17307/95647864-80cd84

[2020-10-10 06:45] brylie commented on #598
I went ahead and registered **civi.wiki**
![image](https://user-images.githubusercontent.com/17307/95648066-377e3400-0add-11eb-9b9a-a33224146ece.png)

I'll try to get the domain configured over the next couple of weekends, and outline a roadmap for the continuation of this project.

[2020-10-10 06:46] brylie opened #781 "Create project continuation roadmap"
The CiviWiki project has been on hiatus. Let's reboot the development.

Create a project roadmap with the following goals:
- simplicity
- sustainability
- internationalization

[2020-10-10 13:19] BrianPainter commented on #678
@JDRanpariya adding django environ has been completed and merged into master.

[2020-10-25 00:21] BrianPainter commented on #678
@JDRanpariya should this issue be closed?

[2020-10-26 01:43] JDRanpariya commented on #678
@BrianPainter Thanks for that

[2020-10-26 01:43] #678 closed

[2020-11-08 17:02] #770 closed

[2020-12-03 11:30] RgnDunes commented on #190
Can I work on this issue, if no one's working on it ?

[2020-12-10 10:37] PrasanthChettri commented on #208
@brylie  I'd like to take a look at this issue if it's not taken already

[2020-12-10 10:44] brylie commented on #208
Sure thing. Just open a pull request with your work in progress.

[2021-02-18 17:00] JOO33 commented on #781
@brylie I would like to also help with creating the new roadmap!

[2021-02-19 06:23] brylie commented on #781
@jl24 I have added the 2.0 milestone with the goals of

- refactoring
- simplifying
- fixing technical debt
- reviving project development

Please review issues from the existing backlog and assign relevant issues to 2.0 milestone (or close issues no longer relevant).

The most radical change I would propose would be that we
- deprecate the "front-end" JavaScript codebase
- use standard Django tem

[2021-02-19 13:46] brylie commented on #781
https://github.com/CiviWiki/OpenCiviWiki/milestone/5

[2021-02-24 02:48] JOO33 commented on #781
@brylie I 100% agree with the changes that you propose. The JavaScript codebase is and has been a big hindrance. I'll go through the backlog.

[2021-02-24 07:33] #191 closed

[2021-02-24 07:40] #9 closed

[2021-02-24 07:43] #190 closed

[2021-02-24 07:44] #661 closed

[2021-02-24 10:14] brylie commented on #781
Thanks @jl24! I see you are already busy gardening the backlog :-)

[2021-02-25 06:24] JOO33 commented on #723
Related to / Duplicate of #598

[2021-02-25 06:24] #723 closed

[2021-02-25 06:25] JOO33 opened #827 "Deprecate the front-end JavaScript codebase"
To simplify the project and make it more approachable, we should go forward with @brylie's proposal to replace the current JavaScript codebase with a more standardized Django-based framework.

Original proposal from @brylie:

## Related tasks

- #1151
- #1152
- #1405

[2021-02-25 06:26] JOO33 commented on #82
Closing due to solution proposed by #827 . The JS related issues will be no longer relevant.

[2021-02-25 06:26] #82 closed

[2021-02-25 06:27] JOO33 commented on #170
Closing due to solution proposed by #827. The JS related issues will be no longer relevant.

[2021-02-25 06:27] #170 closed

[2021-02-25 06:31] JOO33 commented on #46
Closing due to solution proposed by #827. The JS related issues will be no longer relevant.

[2021-02-25 06:31] #46 closed

[2021-02-25 07:08] JOO33 commented on #781
@brylie I went through an initial run through for the 2.0 milestone and believe the following are relevant.

**Project Planning/Setup**
#781, #87, #598

**DevOps**
#146, #45, #47, #79, #157

**Updating Dependencies**
Libraries: #18, API: #7 , #99

**Code Quality/Documentation**
#21, #55, #77, #165

Migration from JS to Python & refactor Django codebase
#827, #83

There are also core feature relate

[2021-03-04 10:20] brylie commented on #781
Let's keep them around until we can verify the functionality works in the new front-end. We can add a label to remind us to re-visit the bug reports.

[2021-03-04 10:33] brylie opened #830 "RFC: remove features related to elected representatives"
CiviWiki has some features to provide information about elected representatives. The data are integrated from third party sources, such as ProPublica Congress API (and previously Sunlight API #99 ).

## Proposal
Remove code related to listing details of elected officials. Consider also (possibly in a separate RFC) removing code related to user locations (such as the Google Maps location prompt).

[2021-03-04 10:35] brylie commented on #781
@JOO33 I opened an RFC to discuss another relatively large change/simplification to the CiviWiki codebase.

https://github.com/CiviWiki/OpenCiviWiki/issues/830

If we improve/approve the RFC, it would seem relevant to include in a 2.0 release.

[2021-03-10 13:47] InDieTasten opened #833 "The url on the project page here on GitHub refers to a parked domain"
The link(https://www.civiwiki.org/) in on the root page of this repository directs to a parked domain.

I suggest fixing the link, or removing it.

[2021-03-31 04:33] InDieTasten commented on #833
Bump

[2021-04-19 08:17] brylie opened #843 "Remove Sentry as a barrier to development"
Our project currently will not start without configuring a SENTRY_ADDRESS. In general, development should be as quick and painless as possible -- and not be inhibited by production concerns.

For the time being, since we are not in production, remove the dependency on Sentry.

[2021-04-20 07:33] brylie opened #844 "Remove dependency on Redis"
Determine where/how we are using Redis and remove that as a dependency unless it is absolutely needed. This will likely be part of switching from ASGI to WSGI or at least refactoring the ASGI implementation for simplicity.

[2021-04-20 07:37] brylie opened #845 "Remove Celery dependency"
Celery may be used for fetching representative data and storing it to our cache table, since we are removing the "representatives" feature (to make this project better suited for an international community) we can likely remove the Celery dependency.

[2021-04-20 07:45] brylie opened #846 "Allow project to run without Postgres during development"
Our database actions are fairly generic CRUD. Since there isn't anything Postgres specific, the project should run with SQLite during development. While this may contradict conventional wisdom, the reason for allowing SQLite is to lower the barrier to entry for new developers.

[2021-04-20 07:48] brylie opened #847 "Restore SessionAuthenticationMiddleware"
We aim to move away from having a heavy JavaScript front-end, preferring instead to use Django templates (and sprinkles of JS where needed). This means we can use SessionAuthenticationMiddleware.

This will also require restoring the default authentication classes in `settings.py`

[2021-04-20 07:57] brylie opened #848 "Upgrade project to Django 3.2 LTS"
The latest LTS release of Django is 3.2. Upgrade CiviWiki to Django 3.2 and follow settings conventions set out in the Django 3.2 starter project.

https://docs.djangoproject.com/en/3.2/releases/3.2/

[2021-04-20 08:05] brylie opened #849 "Remove "closed beta" functionality"
Let's treat CiviWiki as an active project that people might deploy to any number of servers for any purpose. To that end, we probably don't need the "closed beta" feature any longer.

This mainly involves removing the `beta_blocker` decorator from frontend views.

## Related code
Remove the following code.

:warning: **Note** Remember to run the [`makemigrations` command](https://docs.djangoprojec

[2021-04-20 08:12] brylie opened #850 "Format all project code with black"
Enable consistent linting/formatting in the project with `black`.

[2021-04-20 09:55] brylie opened #851 "Clean up and update dependencies"
Make sure all dependencies are up to date (in addition to Django 3.2 LTS #848). Also, remove unneeded dependencies, such as

- django-notifications-hq (double-check how it is being used)
- channels
- asgi-redis
- coreapi
- requests (after disabling code that integrates 3rd party Propublica data)
- sunlight
- honcho
- sentry-sdk

[2021-04-24 12:59] harsha0609 commented on #850
#853 I have raised a PR for this.

[2021-04-24 18:04] jithenms commented on #849
Would love to take on this task as one of my first open-source contributions.

To get a better understanding, the beta_blocker decorator essentially prevents those without beta access from accessing features. Since you're launching CiviWiki as an active project, I understand why you wouldn't need the "closed beta" feature then.

I believe I would just need to remove the decorators from the functio

[2021-04-25 05:30] brylie commented on #849
Thanks for offering to help! 😀

Yes, removing the decorator and setting should be sufficient.

Shall I assign you to the task?

[2021-04-25 06:16] brylie opened #854 "Use django-taggit for Civi keyword hashtags"
We currently use a `Hashtag` model to categorize Civis. Switch to using django-taggit for keyword tagging. Use the word "keyword" instead of "hashtag" throughout the UI and data model.

[2021-04-25 06:18] brylie opened #855 "Move "Account" model to own Django app"
Currently, all of our models are defined under the `api` app. We plan to re-organize the code structure to follow a more conventional Django project structure and deprecate the frontend SPA.

Move the account-related code/models into a new `accounts` app.

## Related code
https://github.com/CiviWiki/OpenCiviWiki/blob/f152ad5986ebfd25ff60ad5ca7c34563818f1e17/project/civiwiki/urls.py#L24

https://gi

[2021-04-25 06:23] brylie opened #856 "Remove location-related fields from user Account (profiles)"
We currently request that people provide their physical address and geographic coordinates. This PII may be unnecessary and is somewhat risky for us to collect as a small project.

Remove location-related data/fields from user accounts.

NOTE: we can add this feature at a later point when we know it is a core benefit. Right now we are deprecating code related to government representatives, so user

[2021-04-25 06:30] brylie opened #857 "Remove features related to legislation"
The legislation feature is currently U.S.-centric, making this project less relevant in other countries. We rely on third-party data sources for information on legislation, which adds a maintenance burden that this project cannot bear. Furthermore, we cannot support adding legislation for other political forms.

Remove code related to legislation as part of simplifying our data model, removing thi

[2021-04-25 13:53] brylie commented on #849
Make sure to remove most/all code related to the closed beta and invitations:

https://github.com/CiviWiki/OpenCiviWiki/search?p=2&q=beta

Here are a few places to be mindful of:

https://github.com/CiviWiki/OpenCiviWiki/blob/ff74546f8fdc277c9bc5705f3df0c807c1130c62/project/authentication/urls.py#L11

https://github.com/CiviWiki/OpenCiviWiki/blob/ff74546f8fdc277c9bc5705f3df0c807c1130c62/project/we

[2021-04-25 14:01] #850 closed, assigned to nobody

[2021-04-25 15:02] jithenms commented on #849
Sure, I'll take it.

I believe I've completed the task and will be submitting a PR. Let me know if there are any errors or additional changes I need to make. Thanks!

[2021-04-26 07:27] #843 closed, assigned to nobody

[2021-04-26 07:43] brylie opened #864 "Remove django-environ"
We currently load environment variables using django-environ in settings.py. However, django-environment only supports Django up to around version 2. Since we aim to use the latest Django LTS (version 3.2 #848) we should remove django-environ.

Remove django-environ and use `os.getenv` instead. Any code using environment variables should be allowed to have a None value for the environment variable

[2021-04-26 16:31] kweku-45 commented on #856
Finding it difficult to locate User model. Which folder is it in?

[2021-04-27 08:05] brylie opened #865 "Simplify/update Dockerfile"
Our Dockerfile currently references Python 2.7. It also includes some steps to install Chrome and other dependencies that may not be generally needed.

Update our Dockerfile to use Python 3.7.x and remove unneeded dependencies such as Chrome.

[2021-05-01 02:57] freelancing-solutions opened #868 "new: Add typing to functions and Var"
# Typing Highly Needed

- [ ]  Refactor  the code base module by module to start using typing
- [ ]  Add Test Cases to Support Typing for each module.

Suggestions the best place to start could be
- [Front End Views](https://github.com/CiviWiki/OpenCiviWiki/blob/develop/project/frontend_views/views.py)

[2021-05-02 05:55] Swanand01 commented on #857
Hello @brylie, I am new to the open source community. I would like to take up this issue. Please brief me on the issue.

[2021-05-02 11:50] tberm commented on #856
Hi there, I'm new to open source and would like to take this on as a first issue!

It seems pretty straightforward so I'll get started on it, but let me know if you have any pointers.

[2021-05-05 14:00] brylie commented on #857
Hi @Swanand01, this issue involves removing some existing code. I can direct you towards the code to remove if that would help.

[2021-05-06 10:15] Swanand01 commented on #857
Yes @brylie that would definitely help. Thanks

[2021-05-08 11:39] blackpandan commented on #855
hello I will be happy to contribute to this project, I might need your guidance

[2021-05-08 12:02] blackpandan opened #871 "Setup locally fails to specify necessary packages to have"
the local setup.MD forgot to specify that on Linux users will have to install
- python3-dev libpq-dev
if these are not installed the user will have a problem running
- pip install -r requirements.txt

[2021-05-09 08:56] tberm commented on #830
Hi @brylie , I am working on removing location-related fields from user accounts ( #856 ) and can see that the representatives account data depends on the location data. OK if I take on this issue and remove everything related to representatives/elected officials as part of the same PR dealing with location fields?

[2021-05-10 08:47] brylie commented on #830
@tberm yes. Let me know if I can be of assistance. I am available for pair-programming most days from 10AM - 4PM Eastern European Time.

[2021-05-10 08:48] brylie commented on #856
Thanks @tberm! Let me know if I can be of assistance with pair programming.

[2021-05-12 08:42] brylie commented on #855
Thanks @blackpandan! Please let me know what questions or challenges you encounter when getting started.

[2021-05-13 07:01] brylie commented on #830
@tberm I am available for the next hour in a [CiviWiki office hours hangout](https://codebuddies.org/hangout/qmdQirv9AhdNYkyGo) on Codebuddies.org.

[2021-05-13 07:10] brylie commented on #855
@blackpandan I am available for the next hour in a [CiviWiki office hours hangout](https://codebuddies.org/hangout/qmdQirv9AhdNYkyGo) on Codebuddies.org.

[2021-05-13 07:11] brylie commented on #857
@Swanand01 I am available for the next hour in a [CiviWiki office hours hangout](https://codebuddies.org/hangout/qmdQirv9AhdNYkyGo) on Codebuddies.org.

[2021-05-13 07:11] brylie commented on #856
@tberm I am available for the next hour in a [CiviWiki office hours hangout](https://codebuddies.org/hangout/qmdQirv9AhdNYkyGo) on Codebuddies.org.

[2021-05-13 07:11] brylie commented on #849
@jithenshriyan I am available for the next hour in a [CiviWiki office hours hangout](https://codebuddies.org/hangout/qmdQirv9AhdNYkyGo) on Codebuddies.org.

[2021-05-13 07:21] brylie commented on #855
@blackpandan please be aware of issue #856 as it has overlap with the accounts app/model.

[2021-05-13 07:22] brylie commented on #856
@tberm please be aware of issue #855 as it relates to the Accounts app.

[2021-05-13 07:49] brylie commented on #855
@blackpandan I have included some further details in the issue description to get a better sense of the scope of this task. Please let me know your thoughts or concerns.

[2021-05-13 07:57] brylie commented on #856
@tberm I have updated the issue description to include the specific lines of code to remove from the project. Remember to run `makemigrations` command after changing the `Account` model.

[2021-05-13 08:14] brylie commented on #857
@tberm please also be aware of this issue as it is closely related to #830

[2021-05-13 08:15] brylie commented on #857
@Swanand01 please consider collaborating with @tberm on this issue, so that your work aligns with one another.

[2021-05-13 08:29] brylie commented on #830
@tberm I have updated the issue description with links to the relevant code.

[2021-05-13 08:31] brylie commented on #857
@Swanand01 and @tberm, I have updated the issue description with references to related code.

[2021-05-13 08:33] brylie commented on #849
@jithenshriyan please provide an update regarding your status with this issue. Let me know if there is any way I can help.

Edit: my bad. I had forgotten to review your pull request. Overall, great work! I made a couple of small change requests.

[2021-05-13 14:50] 1337god commented on #849
Is there a working website demo?

[2021-05-13 22:58] tberm commented on #856
Thanks for the help in the description @brylie. I've actually removed a bit more code than what you've linked above -- hopefully I haven't gone too far! I've just submitted my changes in PR #875 so you can take a look. That covers both this issue and #830.

A couple of questions:
- Are the tests currently in a working state? I've tried running them following [readmes/testing.md](https://github.com

[2021-05-14 07:44] brylie commented on #849
Not currently. We will probably deploy a demo once we are closer to the 2.0 release.