[2021-10-08 07:29] brylie commented on #1115
If possible, we should use the `{% url '<view-name>' %}` helper to auto-generate the correct URL.

https://docs.djangoproject.com/en/3.2/topics/http/urls/#reversing-namespaced-urls

[2021-10-08 07:35] #1097 closed, assigned to gorkemarslan

[2021-10-08 07:36] brylie commented on #1049
Ok sounds good. Let's take care of the remaining items with a single pull request

[2021-10-08 12:34] gorkemarslan commented on #1115
@AbhijithGanesh, @SimonDamberg has already created a PR, I am assigning @SimonDamberg to this issue.

[2021-10-08 12:35] AbhijithGanesh commented on #1115
I didn't see the mention of the PR here (in GitHub Mobile😅) anyways thanks for clarification

[2021-10-08 12:37] gorkemarslan commented on #1115
Interestingly, @SimonDamberg does not appear in the assignees suggestions. :thinking:

[2021-10-09 01:24] earthprelude commented on #1049
Sure, no problem. I made the edits on all the templates listed above, and have a couple updates about some results I saw.

To follow up on the double navigation bars: when I ran the server on my branch, it showed 2 different navigation bars at the same time. For example, after logging in to my account, I saw this mix of navigation bars:
![image](https://user-images.githubusercontent.com/75330343/1

[2021-10-09 02:46] earthprelude commented on #1049
I searched further and found that `entry_base.html` is currently the parent template for 6 child templates (which are not part of the list above). In order to resolve the syntax error, while avoiding duplication of code, I think the fastest solution is to rename the empty blocks in `entry_base.html` that are filled in by its child templates as `{% block entry_content %}{endblock}`. This solution l

[2021-10-09 23:13] wassafshahzad commented on #1033
Created a new PR @brylie  kindly assign @AbhijithGanesh  to i and sorry I couldn't be active I was held up in my job.

[2021-10-10 03:23] AbhijithGanesh commented on #1033
Thanks for informing and your wonderful efforts @wassafshahzad

[2021-10-11 04:25] AbhijithGanesh commented on #1101
@gorkemarslan and @brylie I wasn't working on this over the weekend, will do this today

[2021-10-11 04:42] AbhijithGanesh commented on #1115
Major github confusions

[2021-10-11 08:14] #1115 closed, assigned to nobody

[2021-10-11 08:17] brylie commented on #1049
`entry_base.html` should extend `base.html` or be removed if there aren't any significant differences.

[2021-10-11 08:42] brylie commented on #1033
@wassafshahzad the PR looks excellent! As mentioned above, we are using `black` as a development dependency for this project, which is compatible with `flake8`. So please make the small suggested changes to the `flake8` configuration, so it is harmonious with the `black` defaults.

[2021-10-11 08:44] AbhijithGanesh commented on #1033
Agreed 👍🏻

[2021-10-12 07:26] #1049 closed, assigned to earthprelude

[2021-10-12 08:10] brylie commented on #889
Closing this since significant progress has been made. We will follow up with a task to port Backbone templates to Django templates.

[2021-10-12 08:10] #889 closed, assigned to max1204, aishuo07

[2021-10-12 08:16] brylie opened #1129 "[Epic] Port all Backbone code to standard Django templates"
### Idea summary

Many of our templates are defined with Backbone JavaScript code. However, we want to simplify our project and follow conventional Django development practices. To this end, we want to convert our Backbone code to Django templates.

### Further details

This task includes several sub-tasks, outlined below.

Note: this list is work-in-progress, pending some changes to the project f

[2021-10-12 11:01] AbhijithGanesh commented on #1101
Brylie check this
https://github.com/CiviWiki/OpenCiviWiki/blob/develop/project/threads/models.py

[2021-10-12 11:08] brylie commented on #1101
We may also need `null=True` here:

https://github.com/CiviWiki/OpenCiviWiki/blob/364b9b1fe85b7610b25d97454342d9c80f5bdb0f/project/threads/models.py#L219

[2021-10-12 11:08] brylie commented on #1101
Do we also have the database migration?

[2021-10-12 12:03] AbhijithGanesh commented on #1101
I will check and let ya know

[2021-10-12 13:13] sreejithliterally commented on #1106
Hi I'm a beginner trying to solve this issue, how can I start?

[2021-10-12 14:48] AbhijithGanesh commented on #1101
Null has no effect on ManyToManyField according to django
You can view them [here](https://docs.djangoproject.com/en/3.2/ref/models/fields/#ManyToManyField)

[2021-10-12 14:49] AbhijithGanesh commented on #1101
![image](https://user-images.githubusercontent.com/67182544/136978840-cb752927-7244-43f9-ad9c-9affb634d379.png)

For your reference @brylie

[2021-10-12 14:57] AbhijithGanesh opened #1131 "[FEAT] Move all dependency related code"
### Description

Currently, the project uses a lot of dependency files which can be obtained from the provider's cloud/CDN
The following dependencies must be removed and routed to their CDN\

Current Dependency list:
- [ ] Animate CSS
- [ ] Backbone JS
- [ ] JQuery.min.JS
- [ ] Less.min.js
- [ ] magicsuggest.min.css
- [ ] magicsuggest.min.js
- [ ] underscore.js

Reference for animate css
[link](ht

[2021-10-12 15:00] AbhijithGanesh commented on #1131
@brylie I have created this issue for new members to contribute, if it is not taken by anyone, I am always there

[2021-10-12 16:21] realce2 commented on #1131
I'll take this one :)

[2021-10-12 16:48] AbhijithGanesh commented on #1131
Assigned @realce2

[2021-10-12 16:59] AbhijithGanesh commented on #1090
@gorkemarslan why was this opened?

[2021-10-12 17:21] AbhijithGanesh opened #1134 "[BUG]: Major bug fixes through the UI"
### Description

There are multiple routing issues and bugs which I am spotting through testing, this is a self-assigned issue and I'll elaborate on the issues I resolve here soon.

[Update 1]:
The following bugs have been spotted:
- [x] Reverse name maps for urls
- [x] Profile doesn't load from the header after login
- [x] Profile creation keeps loading infinitely
- [x] HTTP 403 for POST on profi

[2021-10-12 17:33] gorkemarslan commented on #1090
@AbhijithGanesh, as I explained in PR #1132:

[2021-10-12 17:39] AbhijithGanesh commented on #1090
Saw the PR @gorkemarslan

[2021-10-12 17:43] AbhijithGanesh commented on #121
@brylie  this issue is beyond our reach for now, we need to test it with the UI and the UI is massively failing.

[2021-10-13 08:00] brylie commented on #1101
OK, the `null=True` was not needed. However, we do need a database migration for these changes. Please consider deleting the previously generated database migration, removing the `null=True`, and re-generating the database migration for this pull request.

[2021-10-13 08:09] #1090 closed, assigned to AbhijithGanesh

[2021-10-13 08:12] #1101 closed, assigned to AbhijithGanesh

[2021-10-13 08:15] brylie commented on #1022
@all-contributors please add @AbhijithGanesh for bugs

[2021-10-13 09:22] #1131 closed, assigned to realce2

[2021-10-13 19:03] gorkemarslan commented on #1096
@brylie, we have already configurations for `flake8`:
https://github.com/CiviWiki/OpenCiviWiki/blob/d9475ff12eb03a7748af82a7e1f244cefcc2d15b/project/setup.cfg#L1-L4

I tend to collect all config files in the `setup.cfg` file instead of using separate files for each configuration because they usually don't pass 4 or 5 lines. Getting together with [setup.cfg](https://flake8.pycqa.org/en/latest/user/

[2021-10-13 19:06] gorkemarslan commented on #55
I am assigning myself to this issue. I think I'll remove most of the rules. (maybe all of them). I'm searching for which rules are appropriate for the Django projects.

[2021-10-14 04:40] znhv commented on #1096
And you can also disable unnecessary directories or files like this.
[code]

[2021-10-14 05:26] gorkemarslan commented on #1096
`exclude` is used for this purpose whereas `per-file-ignores` is used to ignore specific warnings for desired files. I guess you mean the second one. I find `exclude` more comprehensive. For this project, I guess we don't need `per-file-ignores`.

[2021-10-14 07:30] brylie commented on #55
Sounds good. We should also harmonize the flake8 and `black` rules, as [described in the `black` documentation](https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8).

Please see the related pull request to add a flake8 step to our CI process: https://github.com/CiviWiki/OpenCiviWiki/pull/1119

[2021-10-14 07:38] brylie commented on #1096
That sounds like a great improvement. I second the motion.

[2021-10-14 10:43] #1033 closed, assigned to wassafshahzad

[2021-10-14 11:41] nerkn opened #1139 "Videos, images"
### Idea summary

CiviWiki should be presented

### Further details

I have some ideas and searching. I come this repo, I just want to know what it is. I go to "civi.wiki" and site is only redirection site. also google/youtube shows stupid videos since civi in turkish means nail. I know in python world its hard to keep sites open so I request only video/ or images of sys

[2021-10-14 13:55] odinmay commented on #1129
Interested in working on this, could you assign it to me? Ill take a look at it

[2021-10-15 09:07] brylie commented on #1139
Thanks, @nerkn! Would you like to help us create an introductory video?

[2021-10-15 09:09] brylie commented on #1129
@odinmay, would you help us clarify the scope of work here? E.g., we need to list all of the Backbone templates that need to be ported over to Django template syntax. Could you help by creating that list as a comment on this issue?

[2021-10-15 13:17] odinmay commented on #1129
@brylie Yeah I can look into it later today. I may need some help as well, this is one of my first contributions but I'm looking forward to trying my best to help

[2021-10-15 13:56] brylie commented on #1129
Ok, sounds good. Thanks, @odinmay.

We'll learn about what code changes are needed by looking through the existing code structure. Once we identify a list of Backbone templates, we can divide and prioritize the work.

[2021-10-16 11:27] #10 closed

[2021-10-16 11:27] AbhijithGanesh commented on #10
I have closed this since changes have been merged

[2021-10-16 11:31] AbhijithGanesh commented on #77
@brylie and @JOO33 I am closing this is no longer relevant.

[2021-10-16 11:31] #77 closed

[2021-10-16 11:34] AbhijithGanesh commented on #79
I think we currently have workflows which are relevant . @brylie

[2021-10-16 11:38] AbhijithGanesh commented on #165
The readme is clear now and the readme has been taken care of.

[2021-10-16 11:38] #165 closed

[2021-10-16 11:41] AbhijithGanesh commented on #663
Can I take this issue ? @brylie

[2021-10-16 15:09] gorkemarslan commented on #55
In our linting workflow:

https://github.com/CiviWiki/OpenCiviWiki/blob/ddbaebfeec47bb583c27774e2fb1cb6a97ecdaae/.github/workflows/main.yml#L34-L39

@brylie, according to the link you sent I will set up `flake8` to be compatible with `black`:

[code]

So I only apply these changes and remove others.

One thing worth mentioning is that recommended `max-line-length` by [Django](https://docs.djangopr

[2021-10-16 19:13] AbhijithGanesh opened #1144 "[FEAT]: New Deployment"
### Idea summary

Rolling out as versions

### Further details

We need to start working on a model where we keep achieving our milestones and deploy them through Digital Ocean (@brylie)

We need to start following new practices which involve deploying.
The issues that we'll be fixing are:
- [ ] Major bridge gaps between frontend and backend
- [ ] Endpoint mapping
- [ ]  Persistent Data needs to b

[2021-10-16 19:17] AbhijithGanesh opened #1145 "[FEAT]: Creation of a dockerhub image"
### Idea summary

Docker Files

### Further details

I think we should bundle the whole application with docker and containerize our code base to migrate to anyother platform in case of future needs

The advantages are as follows:
-  Easier migrations to other Cloud Providers
-  Scalability Testing can be done
-  Data can be persistently saved
-  Usage of K8s to stabilize can be implemented
-  A l

[2021-10-16 19:18] AbhijithGanesh commented on #1144
I would like to work on this brylie

[2021-10-16 19:18] AbhijithGanesh commented on #1145
I would like to work on this as it is related to  #1144

[2021-10-17 08:01] brylie commented on #663
Sure @AbhijithGanesh. I'll assign you.

[2021-10-17 08:03] brylie commented on #663
I added a basic task checklist.

[2021-10-17 08:04] #1096 closed, assigned to brylie

[2021-10-17 08:07] brylie commented on #1144
This task isn't an urgent priority. We can work on continuous deployment once the project code reaches a more stable state. Currently, we have too many changes in motion and no actual deployment target.

[2021-10-17 08:07] brylie commented on #1145
Not urgent. We can keep it in the backlog until the time is right.

[2021-10-17 11:38] AbhijithGanesh commented on #663
Great

[2021-10-17 18:52] gorkemarslan opened #1149 "Fix frontend - Frontend is broken"
Currently, the front end is broken.

The problem is caused by the unchanged lines of:

`<script src="{% static "dependencies/less.min.js" type="text/javascript" %}"></script>`

because there is no `dependencies` folder anymore.

So this line needs to be changed with the related CDN.

[2021-10-17 20:46] #1149 closed, assigned to gorkemarslan

[2021-10-17 20:49] #55 closed

[2021-10-18 03:25] AbhijithGanesh commented on #121
@brylie I think we need to make this issue as a priority issue and work on your UI, it is broken and it needs to be fixed

[2021-10-18 05:36] brylie commented on #121
Pr #1150 was merged recently, fixing the broken UI issues.

Out top development priority us issue #1129

This issue may be addressed as part of the Backbone to Django templates migration. It isn't necessary to fix broken Backbone code since we are trying to remove it.

[2021-10-18 08:00] Ankitapradhan04 commented on #1139
Hello,
I'm a beginner in open source and I want to contribute to open-source, so I searched where I could contribute and came across this repo. I've learned Python Programming language so I searched in the python section and came here since no one is assigned. Would you please explain to me how I can contribute and what should I do to solve this issue.

[2021-10-18 08:48] AbhijithGanesh commented on #1129
Can I be assigned to this along with @odinmay to reduce workload ?

[2021-10-18 16:55] guido97 commented on #1080
The problem not is in imports, now I work in this, seems that an incomplete upgrade is causing the problem (Sorry for my bad english)

[2021-10-19 08:38] letsmakecakes commented on #1139
Maybe this article would help -  https://www.firsttimersonly.com/

[2021-10-20 02:45] brylie commented on #1129
@AbhijithGanesh, would you likevto help make the initial list of Backbone templates? Once we have the initial list of Backbone templates, the work can be divided up.

[2021-10-20 02:45] AbhijithGanesh commented on #1129
I'll develop the list and update it here asap.

[2021-10-20 02:49] brylie commented on #1139
This issue is about promoting CiviWiki. We would like to make a presentation that explains the CiviWiki concept, project, and how to get involved. So, no programming skills are needed, just design and communication.

[2021-10-20 07:15] AbhijithGanesh commented on #1129
We have about 26 templates, they're as follows:
-

-  account.html
- \accounts\templates\accounts\account.html:
- \accounts\templates\accounts\feed.html:
- \accounts\templates\accounts\password_reset.html:
- \accounts\templates\accounts\reset_by_email.html:
- \accounts\templates\accounts\settings.html:
- \accounts\templates\accounts\user-setup.html:
- \accounts\templates\accounts\partials\account\

[2021-10-20 08:37] brylie opened #1151 "Port `accounts` app templates to Django template syntax"
We want to simplify the CiviWiki project by removing JavaScript SPA code written in Backbone.js and using Django templates instead. We will work through the Backbone templates in the `accounts` app to convert the template syntax from Backbone to Django. We want to maintain the visual styling. Below is a checklist of the relevant Backbone templates to be ported to complete this task.

Note: Backbon

[2021-10-20 08:37] brylie opened #1152 "Port `threads` app templates to Django template syntax"
We want to simplify the CiviWiki project by removing JavaScript SPA code in Backbone.js and using Django templates instead. We will work through the Backbone templates in the `threads` app to convert the template syntax from Backbone to Django. We want to maintain the visual styling. Below is a checklist of the relevant Backbone templates to be ported to complete this task.

**Note:** Backbone mar

[2021-10-20 09:07] AbhijithGanesh commented on #1151
@brylie I would like to work on this!

[2021-10-20 09:26] brylie commented on #1151
Thanks @AbhijithGanesh. I've assigned you.

We probably need to break the task down into several sub-tasks, due to the number of related changes. In any case, go ahead and start around the top of the list and see what you uncover :smiley:

[2021-10-20 11:40] brylie opened #1153 "Consolidate Backbone templates for comprehension"
We are beginning the process of porting Backbone templates to the Django template syntax. However, the Backbone templates are often spread across multiple "partial" files, where a single Backbone model is applied against several combined template fragments.

In order to make it easier to port our Backbone templates, we can combine the templates into single files, where possible.

## Task

- [x] co

[2021-10-20 11:49] brylie opened #1154 "Clicking "My Profile" link shows 500 error"
### Description

After starting a fresh CiviWiki instance and registering the first user, clicking the "My Profile" link leads to `/profile/`, which displays a 500 error.

### What should have happened?

I expected to see the profile setup wizard.

[2021-10-20 11:51] brylie opened #1155 "403 errors on /api/upload_profile and /api/edituser"
### Description

When trying to complete the user profile wizard, there are 403 errors in the Django console when clicking the "finish" button.

![image](https://user-images.githubusercontent.com/17307/138087375-a93dda7a-8505-4809-a254-188d12389cc2.png)

[code]

### What should have happened?

I expected the "edit profile" form to work correctly.

[2021-10-20 12:51] rodolfonei commented on #1154
Hi! Can I work on this issue, please?

[2021-10-20 12:53] brylie commented on #1154
Sure thing, @RodolfoNei. Thanks! :smiley:

[2021-10-20 14:05] brylie commented on #1151
@AbhijithGanesh please note that this task is currently blocked by #1153

[2021-10-20 17:14] brylie commented on #1153
@gorkemarslan, why do we need to reopen this issue?

[2021-10-20 17:21] gorkemarslan commented on #1153
@brylie, could you look at the PR that I just created?

[2021-10-20 17:28] gorkemarslan commented on #1153
Before we had these lines and templates were working well

[code]

Now we import `less.js` from `base.html`:

https://github.com/CiviWiki/OpenCiviWiki/blob/a37af11a594337cd27eb8596fc42efa5fe5678be/project/core/templates/base.html#L27-L32

As far as I observe, we need to load `less` files first, then we can run `less.js` properly. Their import order is important. So I just fix this one.

[2021-10-20 17:38] sreejithliterally commented on #1154
Is this issue already assigned to someone?

[2021-10-20 17:56] #1153 closed, assigned to brylie

[2021-10-20 18:02] silvarthur commented on #1155
Hello, may I work on this issue, please?

[2021-10-20 18:02] brylie commented on #1154
@RodolfoNei is marked as an assignee. If you wish, you can ask @RodolfoNei if they could use some help on this issue.

[2021-10-20 18:12] brylie commented on #1155
@silvarthur, sure thing. I'll assign you.

[2021-10-20 18:12] sreejithliterally commented on #1154
Okay, @RodolfoNei Hey bro is there any way I can help you with this issue?

[2021-10-20 18:18] sreejithliterally commented on #1152
@brylie I would like to work on this issue, can I give it a try? Btw I'm a beginner

[2021-10-20 18:21] silvarthur commented on #1155
Thanks! (:

[2021-10-20 21:29] gorkemarslan commented on #1106
I reopen this issue because JS part still includes `level` and `state` fields. Since they were removed, there occurs an error when creating a new `thread`.

[2021-10-21 05:05] rodolfonei commented on #1154
Hi @sreejithdikru, it was a really simple fix, so it was not necessary, but thanks!

[2021-10-21 10:02] brylie commented on #1152
@sreejithdikru, sure. I'll assign you to the task. Please let us know if you have any difficulty with Backbone or Django templates. We can co-assign another person to the issue to assist.

[2021-10-21 10:03] #1080 closed, assigned to guido97

[2021-10-21 10:04] #1106 closed, assigned to xsraut

[2021-10-22 16:01] AbhijithGanesh opened #1162 "[BUG] CSRF Token issue in setup"
### Description

When I try to setup a user for the first time, it re-directs to the `/setup` and the form doesn't have CSRF token, it needs to contain the CSRF token to allow HTTP POST (in this case)

### What should have happened?

_No response_

### What browser(s) are you seeing the problem on?

_No response_

### Further details

![image](https://user-images.githubusercontent.com/67182544/138

[2021-10-22 16:10] AbhijithGanesh commented on #1162
@Brylie where do I insert the CSRF token? I don't think it is allowed in js files

Update: Just found it out, here:
![image](https://user-images.githubusercontent.com/67182544/138488428-9f40e9a2-97a9-43ba-bcad-f824a117cdf0.png)

[2021-10-23 07:15] gorkemarslan commented on #1162
Already covered in issue #1155.

[2021-10-23 07:17] AbhijithGanesh commented on #1162
I'll close this but CSRF issues are becoming big in our project @brylie and @gorkemarslan

[2021-10-23 07:17] #1162 closed, assigned to nobody

[2021-10-23 07:25] gorkemarslan commented on #1162
I'm aware of that and we didn't have this problem previously. Actually, I spent some time fixing it according to Django docs but I failed. I thought that the issue could be related to the error that materialize not defined but it does not. Now the issue is assigned to someone. If it won't be fixed, I review it and try to solve it again.

[2021-10-23 07:26] gorkemarslan commented on #1162
Thanks for your caution. 👍

[2021-10-25 05:50] #1155 closed, assigned to silvarthur

[2021-10-25 05:51] brylie commented on #1162
I believe we should focus primarily on porting the Backbone templates to Django templates/views. In the process, we will indirectly resolve the CSRF issues when re-creating the relevant forms.

[2021-10-25 05:53] #1154 closed, assigned to rodolfonei

[2021-10-25 06:05] AbhijithGanesh opened #1165 "Removal of AWS config"
### Description

I think we don't use AWS anymore so we can remove the AWS related configuration right? @brylie

Remove the following lines:
https://github.com/CiviWiki/OpenCiviWiki/blob/79b13e81b6e3524b70196c40ef73a28c8045c30a/project/core/settings.py#L98

https://github.com/CiviWiki/OpenCiviWiki/blob/79b13e81b6e3524b70196c40ef73a28c8045c30a/project/core/settings.py#L101-L107

[2021-10-25 06:52] AbhijithGanesh commented on #1162
I think CSRF is important because it determines how we handle HTTP methods and if we don't solve it, we might run into issues.

[2021-10-25 12:57] silvarthur commented on #121
Hello, @brylie. May I work on this one?

[2021-10-25 12:59] silvarthur commented on #121
Ops, I just saw that it already has an assignee.

[2021-10-25 13:04] AbhijithGanesh commented on #121
@silvarthur thats alright, currently we are working on resolving  backbone  related issues, then we'll have to fix CSRF issues to resolve this (most likely that'll be our track)

[2021-10-25 13:11] AbhijithGanesh commented on #121
@brylie this issue has been resolved, I can successfully follow other profiles. This can be closed

cc : @gorkemarslan

[2021-10-25 13:14] AbhijithGanesh commented on #1151
@brylie I hope this has been opened up

[2021-10-25 13:17] silvarthur commented on #121
@AbhijithGanesh, is there any issue like the ones you mentioned that I could help?

[2021-10-25 13:20] AbhijithGanesh opened #1167 "[BUG]: less files Error"
### Description

![image](https://user-images.githubusercontent.com/67182544/138703014-a9b1ca92-82a1-4be0-be1d-1fc1aa733f45.png)

I think the code still depends on less files when it is not supposed to.

### What should have happened?

_No response_

### What browser(s) are you seeing the problem on?

_No response_

### Further details

_No response_

[2021-10-25 13:51] wassafshahzad commented on #1129
@brylie  can you assign me this issue ?

[2021-10-25 15:34] brylie commented on #1165
@AbhijithGanesh, sure. Would you mind adding a list of the specific file(s) to this issue description to help out any developer who takes the task?

[2021-10-25 15:35] #1167 closed, assigned to nobody

[2021-10-25 15:36] brylie commented on #1162
I understand. We will continue using CSRF tokens for forms. We are just rewriting the templates so will be rewriting the forms including the CSRF tokens.

[2021-10-25 15:40] brylie commented on #1151
@AbhijithGanesh, yes. Issue #1153 has been closed.

[2021-10-25 15:42] brylie commented on #1129
@wassafshahzad sure. It is a significant issue that consists of two parts (#1151 and #1152). I would appreciate it if you would take the lead and work holistically as you have done previously.

As you probably already understand, we need to

- convert the Backbone.js code to Django template syntax
- ensure there are conventional Django (class-based) views serving the relevant endpoints
- possibly

[2021-10-25 16:36] AbhijithGanesh commented on #121
I'll mention you when I find them

[2021-10-25 16:39] khushkaushal commented on #1165
Hi, I would like to contribute to this issue. I have my dev environment setup and read the contribution guide. Is there anything else I need to do?

[2021-10-25 16:45] brylie commented on #1165
Thanks, @khushkaushal. We are still waiting for @AbhijithGanesh to list which specific files they propose to be removed.

[2021-10-25 16:52] AbhijithGanesh commented on #1165
I reckon it's only  the settings file which configures AWS. One other file uses [project/core/templates/email/base_email_templates.html](https://github.com/CiviWiki/OpenCiviWiki/blob/develop/project/core/templates/email/base_email_template.html) but that file uses it for static loading so it needn't be removed.

[2021-10-25 16:54] AbhijithGanesh commented on #1081
@brylie this issue is being closed since the branch has been successfully merged

[2021-10-25 16:54] #1081 closed, assigned to LightFelicis

[2021-10-25 16:55] AbhijithGanesh commented on #1066
@gorkemarslan can we close this issue? I believe we fixed all deprecated methods pertaining to url

[2021-10-25 16:55] AbhijithGanesh commented on #125
@brylie I don't think this issue is relevant anymore?

[2021-10-25 16:57] khushkaushal commented on #1165
Yep, that's what I got from a quick search in vs code.

[2021-10-25 16:58] AbhijithGanesh commented on #1165
Great then, would you like to patch this ? @khushkaushal

[2021-10-25 17:00] AbhijithGanesh commented on #86
@silvarthur is this issue relevant? Can you check it up and reach out to brylie

[2021-10-25 17:02] khushkaushal commented on #1165
@AbhijithGanesh yep. sure thing! How do i take the ticket?

[2021-10-25 17:07] AbhijithGanesh commented on #1165
One of the maintainers has to assign it to you but you can create a PR meanwhile, I am sure this isn't a major PR

[2021-10-25 17:09] khushkaushal commented on #1165
okay sounds good thanks!

[2021-10-25 17:11] silvarthur commented on #86
Yes, it is. Thanks @AbhijithGanesh . @brylie , could you assign me to this issue?

[2021-10-25 17:22] AbhijithGanesh commented on #827
@silvarthur is this issue relevant? Can you check on this too please? Thank you

[2021-10-25 17:48] gorkemarslan commented on #1066
@AbhijithGanesh, I am making the last changes for URLs, then we can close this.

[2021-10-25 18:09] gorkemarslan commented on #1165
@khushkaushal, I'm assigning you to this issue. Please don't hesitate to ask anything.

[2021-10-25 18:12] gorkemarslan commented on #208
@brylie, I'll close this issue because we don't have `state` field in threads anymore.

[2021-10-25 18:25] gorkemarslan opened #1170 "Fix errors when creating a new thread and showing existing threads"
### Description

- When a new thread is created, 403 error appears in the front end.
- Some parts remain the same after `thread.author` field change from `Profile` to `User`. For example:
https://github.com/CiviWiki/OpenCiviWiki/blob/ab96113090654bc78c3674a47e46c2f9aa08d2b3/project/threads/models.py#L48-L51
- Use f-strings in `threads/models.py`
- Uploaded images should be saved under `media` fold

[2021-10-25 19:14] norafergany commented on #217
Hello, I'd like to contribute to this issue.

[2021-10-25 19:53] silvarthur commented on #827
@AbhijithGanesh, I would have to understand a little more about this issue. Which files compose this Javascript codebase mentioned in the description?

[2021-10-25 20:57] khushkaushal commented on #1165
@gorkemarslan I am trying to push my branch to the repo but it says that i don't have permissions. Do i need to be granted permissions?

` project git:(remove-aws-config)  git push --set-upstream origin remove-aws-config
ERROR: Permission to CiviWiki/OpenCiviWiki.git denied to khushkaushal.
fatal: Could not read from remote repository.

Please make sure you have the correct access rights`

[2021-10-25 21:32] gorkemarslan commented on #1165
@khushkaushal, the problem is not related to the project repository. In fact, this error is caused by your local Git settings.
To be clear, everyone can contribute to this project without getting permission. We're welcome to everyone. :)

Could you look at this [blog post](https://careerkarma.com/blog/git-fatal-could-not-read-from-remote-repository/) and these [SO answers](https://stackoverflow.co

[2021-10-26 00:45] AbhijithGanesh commented on #1165
@khushkaushal you need to fork the repository and push it to that repo, not to OpenCiviWiki directly.

[2021-10-26 10:31] AbhijithGanesh commented on #1170
@gorkemarslan Are you sure about the HTTP 403 part, I think it is related to the CSRF issue so I think we need to move this down our priority list.

[2021-10-26 10:50] #1066 closed, assigned to gorkemarslan

[2021-10-26 11:53] AbhijithGanesh opened #1171 "[BUG] Fix Bugs when profile is being viewed"
### Description

The serialization is not correct when the registered user tries to view their own profile

This comes from the serialization part of our code-base which can be viewed [here](https://github.com/CiviWiki/OpenCiviWiki/blob/develop/project/threads/views.py#L181-L245)

[code]

### What should have happened?

The serialization should return user appropriately

### What browser(s) are yo

[2021-10-26 12:04] AbhijithGanesh commented on #1171
@brylie and @gorkemarslan I'd like to take this issue

[2021-10-26 12:07] brylie commented on #1171
@AbhijithGanesh please remember to complete your [currently assigned tasks](https://github.com/CiviWiki/OpenCiviWiki/issues/assigned/AbhijithGanesh) before starting a new task.

[2021-10-26 12:08] AbhijithGanesh commented on #1171
Yeah but #1151 is dependent on this issue's patch, otherwise I would not be able to load the templates

[2021-10-26 13:35] silvarthur commented on #86
@brylie?

[2021-10-26 13:53] brylie commented on #86
Assigned. Thanks!

[2021-10-26 14:02] silvarthur commented on #86
Thank you! (:

[2021-10-26 17:53] khushkaushal commented on #1165
Thanks @AbhijithGanesh . Forking worked.

[2021-10-26 18:22] #1165 closed, assigned to khushkaushal

[2021-10-27 13:21] silvarthur commented on #86
I just opened the pull request at Digital Tools for Activism. Waiting it to be accepted.

https://github.com/drewrwilson/toolsforactivism/pull/61

[2021-10-27 13:52] silvarthur commented on #86
How? The pull request was not accepted yet and I could not found CiviWiki opening the URL https://github.com/drewrwilson/toolsforactivism#open-source-host-it-yourself. Are you sure?

[2021-10-27 13:55] brylie commented on #86
Sorry, I saw CiviCRM there, not CiviWiki

[2021-10-27 13:57] silvarthur commented on #86
No problem. I will let you know as soon as the pull request is accepted.

[2021-10-29 08:35] shiv-aay opened #1175 "Missing virtual environment activation step in CONTRIBUTING.md"
### Description

Contributing markdown file does not have step to activate the virtual environment. If anyone follows the guide step by step, they miss out the activation step.

### What should have happened?

All steps should be there in CONTRIBUTING.md for smooth and proper on-boarding.

### What browser(s) are you seeing the problem on?

_No response_

### Further details

_No response_

[2021-10-29 09:50] #1175 closed, assigned to shiv-aay

[2021-10-30 07:27] shiv-aay opened #1179 "Improvement of hyperlink hover animation"
### Idea summary

Make header/footer links hover interactive with change of font color shade as a smooth animation

### Further details

Presently Header links have an underline and background change animation on Hover and footer links are non-interactive. Underlining is not a good choice (for header links at least). Underlining should be replaced with change of font color as a quick+smooth animat

[2021-10-30 13:53] gorkemarslan commented on #1171
@AbhijithGanesh, the error is caused by this line:

https://github.com/CiviWiki/OpenCiviWiki/blob/ab96113090654bc78c3674a47e46c2f9aa08d2b3/project/accounts/views.py#L180

We should change `user.profile_set` with `user.profile` because relation between User and Profile models defines as:
https://github.com/CiviWiki/OpenCiviWiki/blob/ab96113090654bc78c3674a47e46c2f9aa08d2b3/project/accounts/models.p

[2021-10-30 19:36] khushkaushal commented on #127
Hi @brylie, I can take a look at this issue.

[2021-10-30 22:40] guido97 commented on #1179
I'm working in it

[2021-10-30 22:48] guido97 opened #1181 "'User' object has no attribute 'full_name'"
### Description

When I try to login, appears an error 500 that say 'User' object has no attribute 'full_name' (in debug mode)

### What should have happened?

_No response_

### What browser(s) are you seeing the problem on?

Firefox

### Further details

![imagen](https://user-images.githubusercontent.com/44304394/139560521-900dcd61-a938-4586-bce2-7297d2b79b34.png)

[2021-10-31 07:22] gorkemarslan commented on #1181
I mentioned this error in issue #1170 and PR #1180 will fix it.

[2021-10-31 17:11] AbhijithGanesh commented on #1134
@brylie closing this since Gorkem patched it

[2021-10-31 17:11] #1134 closed, assigned to AbhijithGanesh

[2021-11-01 08:36] #1170 closed, assigned to gorkemarslan

[2021-11-01 08:38] brylie commented on #127
@khushkaushal, sure thanks! First steps are to

1. [install the CiviWiki development environment](https://github.com/CiviWiki/OpenCiviWiki/blob/develop/CONTRIBUTING.md#development)
2. create a superuser
3. populate some profile data for your user
4. try to replicate the bug

[2021-11-01 08:40] #1179 closed, assigned to guido97

[2021-11-01 11:49] gorkemarslan commented on #1171
@AbhijithGanesh, could you look at my previous answer? I guess you missed it. :smile:

[2021-11-01 12:31] AbhijithGanesh commented on #1171
@gorkemarslan I will

[2021-11-01 17:10] gorkemarslan commented on #1181
Fixed by PR #1180.

[2021-11-01 17:10] #1181 closed, assigned to AbhijithGanesh

[2021-11-01 18:26] kevinmenear commented on #1139
Hey, this is right up my alley - I can do this and will be glad to make my first open source contribution here. May I begin work on this?

In the meanwhile, I will look around at the CiviWiki resources to get some background information.

[2021-11-02 07:33] brylie commented on #1139
@kevinmenear, sure thanks! I'll assign you to the issue.

[2021-11-02 12:57] wassafshahzad commented on #1152
Hi @brylie  I have gone over this issue and this is more complex then I first thought. I will create further issue after breaking this down into independent steps

[2021-11-03 17:15] #1171 closed, assigned to AbhijithGanesh

[2021-11-03 17:17] gorkemarslan commented on #1171
@AbhijithGanesh, I just committed the changes that I suggested. Since the issue affects the backend and the solution is simple, I decided to make changes as soon as possible.

[2021-11-03 17:27] gorkemarslan opened #1187 "Uncaught TypeError: Cannot read properties of undefined (reading 'profile_image')"
### Description

After going to `http://127.0.0.1:8000/profile/<username>/`, this error raises in the frontend:

<img width="639" alt="Screen Shot 2021-11-03 at 20 27 19" src="https://user-images.githubusercontent.com/16780927/140155266-84933975-d5a0-4b2e-836e-af9cbbe39209.png">

Screenshot of this page:

<img width="1428" alt="Screen Shot 2021-11-03 at 20 30 43" src="https://user-images.githubuse

[2021-11-03 17:36] gorkemarslan commented on #1187
@brylie, when I register a new user, the profile page works well without any error.

<img width="1438" alt="Screen Shot 2021-11-03 at 20 32 00" src="https://user-images.githubusercontent.com/16780927/140161953-74dd10b2-f7f9-420e-85d8-43268c55c2fc.png">

In the user account that I received this error creates new threads and civis. I don't think `profile_image` is related to these instance creations

[2021-11-03 17:39] gorkemarslan commented on #513
@brylie, now we don't have reps tab so we can close this issue. Right?

[2021-11-03 17:40] brylie commented on #513
Yep. Thanks for helping clean up the backlog :smiley:

[2021-11-03 17:40] #513 closed

[2021-11-03 21:26] khushkaushal commented on #127
@brylie I was able to reproduce the issue. I have created a PR to fix it. Requesting a review. Please and thanks!

[2021-11-04 08:41] brylie commented on #127
Let's keep the first_name and last_name fields optional and fix the issue in code that depends on those fields.

[2021-11-06 20:40] kevinmenear commented on #1139
Great! I'm on it.

[2021-11-07 12:15] wassafshahzad opened #1189 "Update Thread app templates to Django Templates"
### Idea summary

Steps to port Thread App

### Further details

- [ ] Create a management command to create multiple threads
- [ ] Port JS scripts of thread app
- [ ] Create Thread Form front end and back end

Add more to-do's  to checklist if discovered.

[2021-11-08 04:48] AbhijithGanesh opened #1192 "Addition of a Media directory"
### Description

We need to add a media directory to store profile images when we are getting images from the user.

### What browser(s) are you seeing the problem on?

Not Applicable

### Further details

It'd be of great use for the dev team once we start storing them in  a categorical way which'd make access to images easily.

[2021-11-08 07:10] AbhijithGanesh commented on #1151
@brylie I can't checkbox the tasks

[2021-11-08 10:30] brylie commented on #1189
@wassafshahzad this seems like a duplicate of #1152

[2021-11-08 10:43] brylie commented on #1151
@AbhijithGanesh try now.

[2021-11-08 10:45] AbhijithGanesh commented on #1151
Thank you

[2021-11-08 11:05] wassafshahzad commented on #1189
This 1152 further divided as the threads forms and view is not rendering for me

[2021-11-10 02:22] blurryface18 commented on #1139
@kevinmenear is there anything that I can help with , btw I can edit video if you want

[2021-11-14 00:17] dcrwn opened #1197 "Small typo on the update_settings.html page."
### Description

When browsing to the settings page, on the left side below the Save Changes button, the word "up" appears on the page.
It's in line 63 of the update_settings.html file
![settings_screenshot](https://user-images.githubusercontent.com/4712499/141662758-8ab1c81f-49c7-46f7-8930-33a60a99d391.png)

### What should have happened?

_No response_

### What browser(s) are you seeing the pro

[2021-11-14 11:48] topguns837 commented on #1197
This is "up" written in line 63 in the update_setting.html file. Can I fix this error ?

[2021-11-14 17:24] gorkemarslan commented on #1151
@brylie could they clarify this section? Which views should we create?

[2021-11-14 17:26] gorkemarslan commented on #1197
@topguns837, yes you can. I am assigning you to this issue. If you need any help, please don't hesitate to write here. :)

[2021-11-15 14:58] brylie commented on #1151
The key phrase is "as needed", which may include the possibility that no new views are needed. The goal is to build the account templates using Django views/template syntax. The specifics are up to the developer.

Perhaps it would be easier to just build the remaining account templates from scratch without regard to the existing Backbone code?

[2021-11-15 15:02] #1197 closed, assigned to topguns837

[2021-11-15 18:42] brylie opened #1199 "port `account.html` to Django template syntax"
The file `accounts/templates/accounts/account.html` contains several `varbatim` sections that render Backbone content. We want to replace the Backbone content with Django template syntax.

- [ ] move all elements from `block backbone_template` to `block content`
- [ ] change the Backbone code to use Django template syntax
- [ ] Ensure that all of the following code is replaced by Django template s

[2021-11-15 18:53] brylie opened #1200 "Create view to show a list of followed users"
Currently, our REST API allows users to follow one another.
https://github.com/CiviWiki/OpenCiviWiki/blob/dc96f00a949f29fad3f55d1b66f3107a94647ab6/project/accounts/urls/api.py#L13-L14

We would like to add a Django view to show a list (or grid) of users that a given user follows. E.g., "user 1" would see a list of all the users they have followed.

## Task

- [ ] add a view called something like `

[2021-11-15 18:58] brylie commented on #1151
@AbhijithGanesh I've split out the tasks for `feed.html` and `account.html` into sub-tasks. I've listed the blocks of `verbatim` code that need to be ported from Backbone to Django template syntax in the corresponding tasks.

[2021-11-16 13:27] ZaidKhan2002 opened #1201 "Update Testing Guide"
### Description

I was going through the readme file to the setup project there towards bottom when I saw testing guide after clicking  it redirects to Github 404 error.

### What should have happened?

Either the link should be redirected to testing guide or it should be removed if there is no testing guide.

### Tasks

- [ ] Remove [Testing](https://github.com/CiviWiki/OpenCiviWiki#testing) sect

[2021-11-16 14:41] gorkemarslan commented on #1201
@brylie, in the old branches, we had [testing.md](https://github.com/CiviWiki/OpenCiviWiki/blob/remove-channels/docs/contributing/testing.md) and [contributing](https://github.com/CiviWiki/OpenCiviWiki/tree/remove-channels/docs/contributing) folder. What should be our approach here? Should we recreate the folder and the testing file? What do you suggest?

[2021-11-16 17:59] topguns837 commented on #1192
Hey Abhijith , should the media directory be added to the root directory only (containing Docs , projects , requirements etc. )
I would like to take this issue ...

[2021-11-16 22:06] benwade91 commented on #127
@brylie Would it be okay to default a blank first_name to 'ANONYMOUS'?

[2021-11-17 03:32] AbhijithGanesh commented on #1199
@brylie I was working with this issue right, can you please assign this to me?

[2021-11-17 03:33] AbhijithGanesh commented on #1192
Heyy topguns837 ! Usually the Media URL is added to the root of the directory, I will add the references here

[DOCS](https://docs.djangoproject.com/en/3.2/topics/forms/media/)

[2021-11-17 06:00] gorkemarslan commented on #1192
@topguns837, I guess you are interested in this issue, so I assign you to that one.

One thing to keep in mind, you can't commit empty folders. To overcome it, a placeholder file is put into them. `.gitkeep` is an empty dummy file that is used just for this purpose. To give an example, [staticfiles](https://github.com/CiviWiki/OpenCiviWiki/tree/develop/project/staticfiles) folder in our project ha

[2021-11-17 12:44] brylie commented on #1201
I suppose we can roll the testing instructions into the contributing.md and delete the old documentation links. What are your thoughts?

[2021-11-17 13:06] brylie commented on #127
Sure. E.g. when rendering a Civi written by a user without first and last name, correct?

[2021-11-17 13:06] brylie commented on #1199
Thanks @AbhijithGanesh :smiley:

[2021-11-17 13:07] AbhijithGanesh commented on #1199
Thank you🌟🙏

[2021-11-19 13:05] gorkemarslan commented on #1201
@brylie, I think so. I edit the issue to create subtasks. Could you edit if you want to add anything new?

[2021-11-21 05:56] AbhijithGanesh opened #1206 "Deprecate setup wizard"
Deprecate the setup wizard.

## Task

- [ ] users should only fill out a single registration form to sign up
- [ ] users should be automatically logged in when signing up
- [ ] all "setup wizard" code should be removed from project

## Original report

I carried out the following steps:
 - Initialized an user
 - Tried accessing `My Profile`
 - Tried Setting up the user in `setup`

The issue is tha

[2021-11-22 10:10] brylie commented on #1201
Looks good! :smiley:

[2021-11-22 10:12] brylie commented on #1206
In general, I would prefer we deprecate the user setup wizard as it is unnecessarily complex. User registration should be sufficient to interact with the site.

[2021-11-24 15:51] #1201 closed, assigned to nobody

[2021-11-25 06:30] AmarDeepak commented on #1152
@brylie I am highly interested to work on this as it is one of my daily tasks to migrate applications from other languages to python frameworks like Django, Flask, FASTAPI, and so on.

[2021-11-25 08:44] brylie commented on #1152
@AmarDeepak, your help would be much appreciated! Porting from Backbone to Django templates syntax is our most challenging task currently :smile:

[2021-12-02 19:12] AmarDeepak commented on #1152
@brylie - Thanks for assigning this task to me.
This weekend I will try to finish as much as I can. My availability maybe a concern as I have to finish my own office work.

[2021-12-03 03:37] GoudronViande24 opened #1212 "Dead link on up-for-grabs.net"
### Description

I found this project on https://up-for-grabs.net/. There is this GitHub repo, but also a link to https://www.civiwiki.org/ which redirects to a scam website.

### What should have happened?

Maybe this link instead: civi.wiki

### What browser(s) are you seeing the problem on?

Chrome, Firefox, Microsoft Edge, Safari, Not applicable

### Further details

_No response_

[2021-12-03 07:20] brylie commented on #1212
PR opened:

https://github.com/up-for-grabs/up-for-grabs.net/pull/3000

[2021-12-04 05:51] sidanand67 commented on #127
Hello @brylie,
If this issue is still not fixed then can I fix it?
Thanks.

[2021-12-05 23:16] sumitdadwal commented on #1212
Hi Brylie,
I am a begginner coder. I am decent in Django and fastapi. I am looking for contribution oppertunities. I have been following this project for sometime and would love to contribute. Please let me know If I can help with anything.
Sumit

[2021-12-07 06:50] brylie commented on #127
Sure thing, @sidanand67. Thanks!

[2021-12-07 06:52] brylie commented on #1212
@sumitdadwal, we currently need help building Django templates for our `accounts` and `threads` apps. The old templates are built with Backbone and can serve as a reference. However, we may want to start from scratch since the Backbone code may be difficult to figure out.

[2021-12-08 13:46] sumitdadwal commented on #1212
Yes! I would love to do that. I cloned the project but could not find any backbone.js files.

[2021-12-08 14:53] brylie commented on #1212
The Backbone JavaScript is interwoven into several Django templates:

- https://github.com/CiviWiki/OpenCiviWiki/tree/develop/project/accounts/templates/accounts
- https://github.com/CiviWiki/OpenCiviWiki/blob/develop/project/threads/templates/threads/thread.html

Perhaps start with thread.html and migrate all of the Backbone template code into regular Django/HTML?

[2021-12-08 15:58] GoudronViande24 commented on #1212
Maybe this is not the good issue to talk about this?

[2021-12-08 17:06] brylie commented on #1212
PR was merged. Closing

[2021-12-08 17:06] #1212 closed, assigned to brylie

[2021-12-10 23:41] sumitdadwal commented on #1189
Hi brylie,
I gave it a try but I guess its a little complicated for me but I would love to assist or help someone if they can guide me a little bit.

[2021-12-17 02:04] mnoguier commented on #127
I would like to be assigned to this if possible?

[2021-12-17 02:11] mnoguier commented on #127
If I understand this correctly I think the issue is coming from
![Screen Shot 2021-12-16 at 9 08 33 PM](https://user-images.githubusercontent.com/55517552/146477149-7a066282-aabd-4acc-801d-bb26a43ae179.png)
This is checking whether or not registration is complete.  This check is done by the save function:

![Screen Shot 2021-12-16 at 9 09 47 PM](https://user-images.githubusercontent.com/55517552/1

[2021-12-17 02:21] mnoguier commented on #227
I would like to participate in this task.

[2021-12-17 02:22] mnoguier commented on #227
I'm not particularly experienced in UI, but I think I can help with the actual deletion implementation.

[2021-12-17 03:45] mnoguier commented on #227
Would you be able to clarify about not deleting the object?
This is what I have so far, but I'm not sure if this is something you are looking for?

![Screen Shot 2021-12-16 at 10 45 20 PM](https://user-images.githubusercontent.com/55517552/146485571-a90321bd-0774-4cbe-9782-8abf9caa8328.png)

[2021-12-17 03:47] mnoguier commented on #1192
I'm not to familiar with this, but maybe I can contribute with a little guidance?

[2021-12-17 03:49] mnoguier commented on #1192
It seems like this would be possible using the Flask library in Python, but any further suggestions would be appreciated?

[2021-12-17 06:39] brylie commented on #127
@mnoguier, sounds good. I've assigned you to the issue. Thanks :smiley:

[2021-12-17 06:41] brylie commented on #227
One idea is to just expunge the fields with personally identifiable information, such as `first_name`, `last_name`, and `email`.

The basic goal is to preserve the integrity of other content, without a cascading deletion when allowing a user to mark their account as deleted. Another approach would be to use `on_delete=SET_NULL` for any related foreign key relationships.

[2021-12-17 06:42] brylie commented on #1192
@mnoguier, this project uses the Django framework. Adding Flask would create unnecessary complexity.

[2021-12-21 17:35] #1192 closed, assigned to topguns837

[2021-12-21 17:40] gorkemarslan commented on #833
Our new URL is [https://civi.wiki/](https://civi.wiki/).

This issue is solved by #1212.

[2021-12-21 17:40] #833 closed, assigned to nobody

[2022-01-03 17:34] AbhijithGanesh commented on #1199
@brylie I'll work on this and finish it by 06-01-2021 (IST)

[2022-01-06 16:33] Sofis16 opened #1230 "SRS"
### Idea summary

Writing a Software Requirements Specification

### Further details

Hello I am a student of the Aristotle University and i want to contribute to your project by writing a Software Requirements Specificationi if you do not have one already or by any other way in this category.

[2022-01-06 17:36] brylie commented on #1230
Sure, that would be great! Thanks for offering to help :smiley:

[2022-01-06 21:46] morento101 opened #1231 "Refactor function-based view to class-based"
### Idea summary

Rewrite function-based view to class-based and add docstring

### Further details

In the accounts app's view, there is a function-based view called user_profile:
[code]
All views in this file are created using classes, so I think it will be great to rewrite this view for better sticking to the code style. Moreover, this view has no docstring. I'm new to contributing to Open Sour

[2022-01-06 22:52] edwardjimi commented on #1152
Hi, I would like to get involved with helping CiviWiki. Could I help?
I'm currently learning Python and Java Script on Code Cademy but have no experience with Backbone or Django.

[2022-01-06 23:20] morento101 commented on #1231
I started some coding and am almost done. I have noticed that @login_required and @full_profile decorators are only used in this view. The first decorator can be replaced by mixin and the second by adding approximately three lines of code in the view. I don't think that there is any need to create custom decorators for such purposes

[2022-01-07 08:44] brylie commented on #1152
@edwardjimi, thanks for your interest. Let's give @AmarDeepak some time to see how they progress.

[2022-01-07 14:16] #1231 closed, assigned to morento101

[2022-01-07 20:27] edwardjimi commented on #1152
Thanks for getting back to me @brylie. Happy to help where and when needed.

[2022-01-07 23:43] ratchek commented on #227
Hi @mnoguier! How's the issue going?

@brylie I'm not saying which approach is better, I'd just like to point out that one benefit of going with the first option (expunging personally identifiable information) is that it would aid a lot of future tasks. For example if somebody created an account, created a bunch of different civis, then immediately deleted the account. That is some indication of a

[2022-01-10 10:02] gorkemarslan opened #1235 "Upgrade Python to 3.8.12"
In the project, we've specified the minimum version of Python as 3.7. Nevertheless, it should be upgraded to 3.8.12 to be able to be compatible with Django 4. After this change, we'll upgrade Django to 4, which is the last release. (PR #1234)

- [ ] Update [main.yml ](https://github.com/CiviWiki/OpenCiviWiki/blob/develop/.github/workflows/main.yml) to have Python 3.8.12

- [ ] Update our [contribu

[2022-01-11 15:58] ArdaGunduz00 commented on #1235
I will help the first open source projects, can I join?

[2022-01-11 16:54] gorkemarslan commented on #1235
Hi Arda,
There is a pending PR (#1237 ) to solve this issue. I'll approve that PR in a little while.

Thank you for your interest. If you want, you can look at the other issues in the project.

[2022-01-11 16:55] ArdaGunduz00 commented on #1235
Thanks.
I will look into other issues

[2022-01-12 05:11] kevinmenear commented on #1139
@blurryface18 are you any good with animation? That'll help. I found this video: https://www.youtube.com/watch?v=-Kd2xeEMb9s. It seems like a good place to start. I'd like to build/run CiviWiki locally to get some visuals. Is this possible? If so - can someone please give me some direction on how to get started? I've crawled through the source code and am at a loss.

[2022-01-26 17:35] gorkemarslan opened #1244 "Update django-notifications-hq"
Since the current version of `django-notifications-hq` is not compatible with `Django 4` and the new release of this package seems not possible for now, we can adjust the `requirements` of this project so that `requirements` contains the commit number that solves compatibility with `Django 4`, rather than the release version.

[2022-01-27 08:33] brylie commented on #1244
@gorkemarslan can you link to the upstream issue in `django-notifications-hq` tracking the Django 4 compatible release?

[2022-01-27 08:38] gorkemarslan commented on #1244
Yes, sure @brylie.

The issue opened to solve the compatibility with Django 4 is [here](https://github.com/django-notifications/django-notifications/issues/322).

You can check out the issue questioning the new release 1.7 [here](https://github.com/django-notifications/django-notifications/issues/326).

[2022-01-27 16:50] #1235 closed, assigned to nobody

[2022-01-30 19:57] AbhijithGanesh opened #1248 "[BUG]:Workflow failure"
### Description

The github workflows for Python environment 3.10 is failing and needs to be patched for the Pull requests to be tested.

### What should have happened?

_No response_

### What browser(s) are you seeing the problem on?

_No response_

### Further details

_No response_

[2022-01-30 20:02] gorkemarslan commented on #1248
@AbhijithGanesh, #1246 aimed to solve this issue. I don't know how to re-run tests for the already opened PRs after changing the workflow for the tests. The one thing that comes to my mind is to commit empty messages in these PRs. @brylie, do you know how to deal with that?

[2022-01-30 20:03] AbhijithGanesh commented on #1248
There should be an option in actions to re run the tests. It is possible to re run them

[2022-01-30 20:04] AbhijithGanesh commented on #1248
I don't think the patch worked because despite the merge, the tests are failing in our master branch.

[2022-01-30 20:05] gorkemarslan commented on #1248
It runs the previous workflow which was originally worked when the PR had been opened, so not the current one.

[2022-01-30 20:18] gorkemarslan commented on #1248
@AbhijithGanesh, okay I understand the issue. We need to keep the branches updated with the develop branch because these branches have the Python 3.10 tests in their workflows. So they need to get merged into the develop branch.

[2022-01-31 08:11] #1244 closed, assigned to gorkemarslan

[2022-01-31 09:21] gorkemarslan opened #1249 "Update Django to 4.0.1"
We need to update Django to 4, i.e. the latest version, in this project. Otherwise, security checks fail.

- [ ] Change requirements file to include Django 4
- [ ] Make modifications to run the project with Django 4

[2022-01-31 10:30] #1249 closed, assigned to gorkemarslan

[2022-02-02 05:26] gorkemarslan commented on #1248
@AbhijithGanesh, PRs #1245, #1246, #1249, #1251 make the workflow runs without a problem. We decreased the version of Python to a more stable version (3.8). We also updated Django to 4 so that there won't be any security failure. These all fix this issue. Thanks for your notice.

[2022-02-02 05:26] #1248 closed, assigned to nobody

[2022-02-04 14:07] topguns837 commented on #166
Is this issue still open ?

[2022-02-04 14:46] brylie commented on #166
We don't have a privacy policy for the time being.

[2022-02-05 17:09] topguns837 commented on #183
Can I work on the 4th feature (Email notifications opt-out form) ?

[2022-02-06 14:28] brylie commented on #183
Sure

[2022-02-15 11:15] Sofis16 commented on #1230
Hello I've got some questions about the hardware components of the system.Which devices does it support and are there some specific connections between software components such as databases,operating systems?If these answers are written somewhere in the project lead me there so i can find them myself!

[2022-02-15 18:44] brylie commented on #1230
We are using the Django web application development framework. It runs across multiple platforms but is usually deployed to Linux. We don't require a specific database, but will eventually target PostgreSQL.

Further details about system requirements and compatibility can likely be found on the following websites.

- https://www.djangoproject.com/
- https://www.postgresql.org/

[2022-02-17 15:33] Emeka-Ugbanu-hub commented on #1139
I would love to help with this

[2022-02-17 16:41] kevinmenear commented on #1139
Hi @Emeka-Ugbanu-hub how would you like to help?

[2022-02-17 16:44] Emeka-Ugbanu-hub commented on #1139
maybe help with the introductory video @brylie mentioned

[2022-02-17 16:47] kevinmenear commented on #1139
Ok, great! What skills do you have that you can apply to the video development?

[2022-02-17 16:51] Emeka-Ugbanu-hub commented on #1139
Javascript

[2022-02-17 16:59] kevinmenear commented on #1139
Ok - I have had trouble getting the software to run. Maybe you can work on that and get some screen recordings for the video.

[2022-02-17 17:18] Emeka-Ugbanu-hub commented on #1139
Ok I'll do that, so i have to clone this repo and get it to run

[2022-02-17 17:19] Emeka-Ugbanu-hub commented on #1139
and what do i screen record

[2022-02-17 19:21] kevinmenear commented on #1139
Yes - if you can get it to run, screen record anything you can get of using the UI.

[2022-02-17 19:22] Emeka-Ugbanu-hub commented on #1139
ok i'll do that

[2022-02-17 19:27] kevinmenear commented on #1139
Great!

[2022-02-18 00:46] Emeka-Ugbanu-hub commented on #1139
i would have love to help with this but it's a python project

[2022-02-18 00:57] kevinmenear commented on #1139
Ok, no worries.

[2022-02-18 02:26] kevinmenear commented on #1139
@brylie can you please give me some help in getting CiviWiki running?

[2022-02-18 07:16] brylie commented on #1139
@kevinmenear, sure. Start by setting up a CiviWiki development environment as [outlined in the contributing guide](https://github.com/CiviWiki/OpenCiviWiki/blob/develop/CONTRIBUTING.md#development). Let me know if you encounter any specific errors or blockers.

[2022-03-23 02:54] xuro4 commented on #227
Hi, is this still open for contribution? My friend and I are seniors at the University of Michigan with previous experience in Python. We're trying to get involved in open source projects and thought CiviWiki was pretty cool

[2022-04-08 10:42] parimalakettymuthu commented on #1152
@brylie - looking for a task.. though beginner to Python but having little work experience in other languages.

[2022-04-08 11:50] brylie commented on #1152
Thanks, @parikvinu. This is a somewhat challenging task since we need to convert templates from Backbone to Django syntax and prepare the template context in Django views. Would you like to give it a try?

[2022-04-08 12:12] parimalakettymuthu commented on #1152
@brylie  - sure. Can give it a try. Are there any sample templates to refer to?

[2022-04-08 13:12] parikvinu commented on #1152
@brylie -- following are the blocks of verbatim for the threads.html file --

thread-template
thread-wiki-template
edit-wiki-template
thread-nav-template
thread-body-template
thread-response-template
profile-button-template
civi-template
response-template
new-civi-template
new-response-template
Edit-thread-template

I meant the Django templates (migrated ones) for referring on code structure and m

[2022-04-09 12:01] Shraddha063 commented on #1139
Hello, Can I work on this issue to make my first open source contribution??

[2022-04-13 07:04] xuro4 commented on #227
Bumping @brylie @ratchek for any updates / guidance!

[2022-04-13 10:21] brylie commented on #1152
@parimalakettymuthu basically, we can create the templates from scratch or borrow from the existing Backbone code, which is primarily HTML. We can use the Django documentation for reference related to the [Django template syntax](https://docs.djangoproject.com/en/4.0/ref/templates/language/).

[2022-04-17 15:06] #227 closed

[2022-05-20 10:22] Divyashree-iyer commented on #127
If this issue is still open I would like to be assigned.
But i have some doubts that I would like to get cleared before starting -
1. what is the main purpose here? Do we simply need to keep the first name and last name mandatory? if yes then it has already been solved by @khushkaushal
2. if you want to keep the first name and last name as optional but give a default value as "ANONYMOUS"
3.  or ch

[2022-06-09 11:17] LexxLuey commented on #1152
Is this issue still open?

[2022-06-09 13:07] brylie commented on #1152
@LexxLuey, yes.

[2022-06-09 13:21] LexxLuey commented on #1152
Please assign the task to me. I would love to contribute. I have time on my hands

[2022-06-10 08:41] brylie commented on #1152
Thanks @LexxLuey! Feel free to make the threads app from scratch rather than wrestling with the Backbone code.

[2022-06-20 01:46] godfreyJo commented on #1152
Here to give a helping hand

[2022-06-20 09:00] brylie commented on #1152
Thanks @godfreyJo. @LexxLuey, how can @godfreyJo be of assistance?

[2022-06-20 09:12] LexxLuey commented on #1152
Oh most definately... is there a medium where we can have an online meet concerning the task @godfreyJo @brylie?

[2022-06-21 02:26] prakharrathi25 commented on #1145
@brylie are we considering shipping it through docker anytime soon? I think we can add that feature now?

[2022-06-22 08:53] LexxLuey commented on #1152
@brylie he can help me rewrite the view for the page. @godfreyJo, is it possible to sync up anytime soon via a virtual meet?

[2022-06-22 08:57] godfreyJo commented on #1152
@LexxLuey I am okay, I wonder if you are okay for a quick one in the next 10 minutes.  you can schedule and share the link: godfreyoyugi@gmail.com

[2022-06-22 12:50] brylie commented on #1145
A Docker image could prove useful in the near-term, so feel free to take this issue :-)

[2022-06-22 16:55] prakharrathi25 commented on #1145
Sure, sounds good. I would love to take this issue.

[2022-06-24 04:29] anurag629 commented on #1200
Hey, is this issue is resolved or not

[2022-06-24 04:32] anurag629 commented on #183
Hey, i want to work on this issue

[2022-06-24 06:50] brylie commented on #1200
The issue remains open. The best path forward is likely to build a simple "thread.html" from scratch using Django template syntax, rather than porting the existing Backbone.js code.

[2022-06-24 06:52] #1145 closed, assigned to prakharrathi25

[2022-06-26 20:11] abdz-128 commented on #1152
Hi,
I am new here looking for easy open source projects. Willing to help out in Python and Cpp.

[2022-06-28 06:21] brylie commented on #1152
Welcome @abdz-128

Please feel free to introduce yourself here:

https://github.com/CiviWiki/OpenCiviWiki/discussions/995

[2022-06-28 08:21] abdz-128 commented on #1152
@brylie Okay
Introduced myself over there

[2022-07-24 09:30] ksharma20 commented on #1152
Is there something, I can help with, too ? @brylie

[2022-08-15 00:43] iftekar2 commented on #1139
Hello!
I have been learning Python and I created some projects. I am interested in contributing to your project. Is there anything that I can contribute to?

Thank You

[2022-08-15 00:57] KevinMenearED commented on #1139
Hi iftekar2 - I have been meaning to get to this for ages. Can you try to get CiviWiki running on your local machine and record your screen, showing yourself walking through the tool? This can help with developing media for this project.

[2022-08-15 01:13] iftekar2 commented on #1139
KeninMenearED I would love to help you with that. Can you please tell me how I can run the cod in my local machine? Because this is the first time I am contributing to an open-source project.

[2022-08-15 01:44] KevinMenearED commented on #1139
For sure - check out brylie's message on this issue from Feb 18. You can find instructions at the link he shared.

[2022-08-17 12:37] shashwatpandeyvns commented on #127
Hi,
I would like contribute to the project. How can start this journey? Please, Enlighten me.

[2022-08-25 12:36] brylie opened #1295 "Use Poetry for Python package management"
### Idea summary

Poetry makes Python package management a bit more developer friendly than pip alone.

### Further details

In order to simplify our package management, such as updating to the latest compatible versions of all packages, we should adopt the Poetry package manager.

## Alternatives considered

Pipenv was popular for some time, but suffers from some controversy and stewardship issue

[2022-08-25 12:43] brylie opened #1297 "Update Dockerfile to use Poetry"
Once we have switched to using Poetry for package management, we need to update our Dockerfile to use Poetry as well.

## Further details

The Dockerfile currently uses `pip` to install requirements based on `requirements/dev.txt`, which inherits from our base requirements. We can update our Dockerfile to use Poetry to install dependencies (without a virtual environment, since that may be brittle)

[2022-08-30 23:07] #1295 closed, assigned to nobody

[2022-09-10 20:20] ritsvishalcs commented on #1139
I'm new to open source and I want to contribute can anyone help me please

[2022-09-11 09:34] brylie commented on #1139
What are your skills and interests that bring you to open source?

[2022-09-11 16:42] gsousa92 opened #1302 ""Post-processing 'rest_framework/css/bootstrap.min.css' failed!" on static collection"
### Description

Hi!

When running `docker-compose exec web python project/manage.py collectstatic` I get the the following output:

[code]
After searching a bit, found the following [issue](https://github.com/encode/django-rest-framework/issues/4950) on djangorestframework repo, and after downgrading django 4.1.0 to 4.0.7, this issue disappeared, so there's a high chance it's some package mismatc

[2022-09-18 08:13] werberger commented on #127
Looking for first contribution. Relatively new to Python but this looks achievable. Is it being worked on by anyone? Please assign me the issue if not.

Any idea why it keeps getting started and seemingly fixed but nothing merged?

[2022-09-18 14:09] brylie opened #1303 "Update GitHub Actions to use Poetry"
### Idea summary

Our GitHub Actions should now use Poetry instead of pip

### Further details

We recently switched to using Poetry for project dependency management. However, our GitHub Actions runners still use pip.

https://github.com/CiviWiki/OpenCiviWiki/blob/f330cc63d90aa4ee5a573c8598d58d5da1282d8c/.github/workflows/main.yml#L21-L24

## Task

- [ ] the GitHub actions runner should run Poetr

[2022-09-18 14:13] brylie opened #1304 "Remove REST endpoints from project"
### Idea summary

Remove all REST endpoints and the Django REST framework from the project

### Further details

We need to simplify this project architecture. The original decision to split the code into backend and frontend projects proved to be unsustainable.

## Task
- [ ] all REST endpoint code should be removed from project
- [ ] all REST dependencies (e.g. Django REST Framework and CORS hea

[2022-09-23 01:55] HuangLiPang commented on #1304
Hello @brylie,

I think I can work on this.
For the rest endpoint, do you mean all the `view` and `viewset` of the `rest_framework` and all api.py and url.py files?

[2022-09-24 11:35] brylie opened #1307 "Remove Dockerfile/docker-compose.yml"
### Idea summary

Remove Docker support for the timebeing.

### Further details

We want to focus our effort on feature development and provide only one supported way to run the software. Currently, developers can use Poetry or Docker to run the project. However, the Docker approach is currently unsupported and has less documentation, if any.

## Task

- [x] remove the Dockerfile and docker-compos

[2022-09-24 11:36] brylie commented on #1307
Note: since this issue will be linked to a pull request, we can easily add the Docker support again in the future.

[2022-09-24 11:40] #1302 closed, assigned to nobody

[2022-09-24 11:42] brylie commented on #1302
Try again with the latest `develop` branch.

Also, please use Poetry for project development, as we are temporarily removing Docker support from our developer docs #1307

[2022-09-24 11:43] brylie opened #1309 "Rename `master` branch to `main`"
### Idea summary

We want to use the term `main` for our primary branch to encourage community comfort.

### Further details

_No response_

[2022-09-24 11:50] brylie opened #1310 "Create a functional landing page"
### Idea summary

The landing page is currently semi-broken. We need a basic landing page.

![image](https://user-images.githubusercontent.com/17307/192096468-a58df2fb-3cee-4ca5-b5a5-9ba07b624cd5.png)

### Further details

Re-create the original landing page, pictured below, without any Backbone logic. Just use plain HTML/CSS and Bootstrap.

![127 0 0 1_8000_ (1)](https://user-images.githubusercon

[2022-09-24 11:52] brylie opened #1311 "Salvage project templates for later use"
### Idea summary

Try to preserve as much template code as possible, without Backbone.

### Further details

We are moving away from Backbone and will need to create new Django templates for all views. Try to salvage as much existing template markup as is possible.

[2022-09-24 11:58] brylie commented on #1309
Done.

[2022-09-24 11:58] #1309 closed, assigned to brylie

[2022-09-24 12:00] #1307 closed, assigned to brylie

[2022-09-24 12:39] brylie opened #1331 "Add pre-commit to project"
The `pre-commit` script can help enforce good code practices. Similarly, Pre-Commit CI can auto-check pre-commit rules on pull requests.

## Task

- [ ] configure `pre-commit` for this project
- [ ] choose some useful hooks: https://pre-commit.com/hooks.html
    - [ ] black
    - [ ] isort
    - [ ] flake8
    - [ ] pyupgrade
    - [ ] django-upgrade
    - [ ] curlylint
    - [ ] dhjhtml

## Resou

[2022-09-24 13:35] brylie commented on #1304
Yes, but only the urls and views that are serving JSON.

[2022-09-24 16:58] HuangLiPang commented on #1304
@brylie Got it. Can I take this?

[2022-09-25 15:20] brylie commented on #1304
Thanks. I've assigned you

[2022-09-25 19:39] #1303 closed, assigned to nobody

[2022-09-26 18:55] ApoorvaKashyap commented on #1297
Hi!
Would like to work on this.
Just to clarify, you only want to add `poetry install`?

[2022-09-27 07:29] brylie commented on #1297
Ah, sorry. I removed the Dockerfile in #1307

[2022-09-27 07:29] #1297 closed, assigned to nobody

[2022-09-27 10:41] brylie commented on #1297
@ApoorvaKashyap, are there any other tasks that you would like to consider?

[2022-09-27 14:58] ApoorvaKashyap commented on #1310
Would like to work on this, if possible. Preferably for hacktober. :upside_down_face:

[2022-09-27 15:11] brylie commented on #1310
Sounds good

[2022-09-28 10:25] Ni3dzwi3dz commented on #1331
I`d love to give it a try!

[2022-09-28 10:57] brylie opened #1342 "Improve code quality and developer experience"
### Idea summary

The following tasks are intended to improve the overall code quality and developer experience.

### Further details

The book Boost Your Django DX contains many improvements for healthy and fun Django project development.
Epic

Implement the following DX improvements

- [x] #1343
- [x] #1344
- [x] #1345
- [x] #1346
- [x] #1347
- [x] #1348
- [x] #1349
- [x] #1350
- [x] #1351
- [x]

[2022-09-28 10:57] brylie opened #1343 "use ipython for dev shell"
## Task

- [ ] install IPython with the command `poetry add ipython --group dev`

[2022-09-28 10:57] brylie opened #1344 "add django-debug-toolbar"
## Task

- [ ] install `django-debug-toolbar` with the command `poetry add django-debug-toolbar --group dev`
- [ ] follow the [remaining installation instructions](https://django-debug-toolbar.readthedocs.io/en/latest/installation.html)

[2022-09-28 10:57] brylie opened #1345 "enable watchman"

[2022-09-28 10:57] brylie opened #1346 "add django-browser-reload"
## Task

- [ ] follow the [installation instructions](https://github.com/adamchainz/django-browser-reload#installation) to enable `django-browser-reload` for this project

[2022-09-28 10:57] brylie opened #1347 "enable Rich terminal output"
## Task

- [ ] add Rich to this project with the command `poetry add rich --group dev`
- [ ] follow the Rich [configuration instructions](https://rich.readthedocs.io/en/stable/introduction.html)
- [ ] add the following code to the `LOGGING = {...}` configuration in the project settings

[code]

[code]

[2022-09-28 10:57] brylie opened #1348 "add EditorConfig"
## Task

- [ ] add a `.editorconfig` file to the root directory of this project with the following contents
- [ ] add a note to the CONTRIBUTING guide about configuring .editorconfig support for VSCode and PyCharm

[code]

[2022-09-28 10:57] brylie opened #1349 "configure mypy with django-stubs"
## Task

- [ ] add mypy support in this project with the command `poetry add mypy --group dev`
- [ ] add django-stubbs with the following command `poetry add --group dev django-stubs[compatible-mypy]`
- [ ] add the following configuration to our `pyproject.toml`
- [ ] depending on issue #1331, [enable mypy in our pre-commit settings](https://github.com/pre-commit/mirrors-mypy)
[code]

[2022-09-28 10:57] brylie opened #1350 "add development fixtures"
Model factories can help us scaffold content quickly for development purposes.

Let's define a `factory.py` file in every app containing a `models.py`. The `factory.py` files will contain factories for the models in the same app. E.g.,

- project/categories/models.py - model definitions for categories app
- project/categories/factory.py - factory definitions for categories app

## Task

- [ ] add

[2022-09-28 10:57] brylie opened #1351 "disable auto-named migration"
## Task

- [ ] create a file `project/core/management/commands/makemigrations.py` with the following content

[code]

[2022-09-28 10:57] brylie opened #1352 "enable django-linear-migrationss"
## Task

- [ ] add `django-linear-migrations` with the following command `poetry add django-linear-migrations --group dev`
- [ ] follow the rest of the [django-linear-migrations configuration instructions](https://github.com/adamchainz/django-linear-migrations#installation)

[2022-09-28 11:08] brylie commented on #1345
Closing as it Watchman may pose unnecessary difficulty for new contributors.

[2022-09-28 11:08] #1345 closed, assigned to nobody

[2022-09-28 11:30] #1230 closed, assigned to nobody

[2022-09-28 14:47] ApoorvaKashyap commented on #1349
Would like to work on this.

[2022-09-28 14:48] ApoorvaKashyap commented on #1347
Would like to work on this.

[2022-09-28 20:05] hmajid2301 commented on #1343
I can take this!

[2022-09-28 20:05] hmajid2301 commented on #1348
I can take this

[2022-09-29 07:25] brylie opened #1355 "Add social badges to README"
### Idea summary

Add social badges to README so people can connect with our community

### Further details

_No response_

[2022-09-29 07:42] brylie opened #1357 "Project stewardship - 2022, week 39"
### Idea summary

This week, I'm stewarding the following tasks/PRs.

Development
- https://github.com/CiviWiki/OpenCiviWiki/issues/1355
- https://github.com/CiviWiki/OpenCiviWiki/pull/1356

Project management
- Meta: https://github.com/CiviWiki/OpenCiviWiki/issues/1342
- https://github.com/CiviWiki/OpenCiviWiki/issues/1349
- https://github.com/CiviWiki/OpenCiviWiki/issues/1348
- https://github.co

[2022-09-29 17:16] didiermichel opened #1358 "replace binary file with markdown"
### Description

I can see in the repository that there is a binary file `develop/docs/design/CiviWiki_Key_Functionality_Report.odt`

### What should have happened?

It is not a good practice to save binary in git repository.  It would be better to have a plain text file (md for example) and export it to odt on the fly if you really need it in that format.

## Task

- [x] convert the contents of C

[2022-09-29 23:07] daaavo commented on #1344
Hi! I'd like to take this issue, is there something else I've to do besides following the contrib.md file? It's my first time in the hacktoberfest btw

[2022-09-29 23:09] daaavo commented on #1331
Hi i'd like to try it! It's only configuring the pre-commit or I could add a .toml file to manage the args for the hooks?

[2022-09-30 10:47] brylie commented on #1331
Hi @daaavo. Thanks for your interest in helping CiviWiki. Since @Ni3dzwi3dz is currently assigned to this task, would you consider taking a different task?

- https://github.com/CiviWiki/OpenCiviWiki/labels/good%20first%20issue

[2022-09-30 10:48] brylie commented on #1344
Thanks, @daaavo! I'll assign you to this task.

[2022-09-30 11:04] brylie commented on #1358
@didiermichel, would you like to convert the document to Markdown text?

[2022-09-30 11:42] Walexero commented on #1346
Hello, would be willing to work on this issue

[2022-09-30 11:44] Walexero commented on #1350
Would love to work on this issue, and would need your help with completing the second requirements

[2022-09-30 11:57] didiermichel commented on #1358
Sure, That would be my pleasure.
I see there is also this odt file:
`/docs/Organization/CiviWiki Privacy Policy.odt`

I can convert them both in markdown file.

I was also wondering if those files are served by the application at some point.

[2022-09-30 15:02] Ni3dzwi3dz commented on #1331
Hi, yes, i`m still in the game. Week at work was tought, but i`ll try to send PR on sunday

[2022-09-30 16:42] brylie commented on #1346
Thanks, @Walexero 😀

[2022-09-30 16:45] brylie commented on #1358
The application doesn't serve them. I'm also unsure how relevant the contents are, so converting to Markdown offers an excellent opportunity to check their validity.

[2022-09-30 16:46] brylie commented on #1350
Ok. Let's start with one issue at a time for now.

[2022-09-30 19:27] daaavo commented on #1344
Thanks I'll start as soon as the hacktoberfest begins :D

[2022-09-30 21:16] #1355 closed, assigned to brylie

[2022-09-30 22:12] gorkemarslan commented on #1304
@brylie, further investigation is needed for this task because the front end partially uses REST. If we remove REST endpoints and views from the project we will lose track of the whole logic of these parts. (Of course, they are accessible via git) Right now, the front end does not work as expected. I feel like things will be more complicated if we just remove REST. So we should migrate Django rest

[2022-09-30 22:50] gorkemarslan opened #1361 "Pages (including landing page) are broken"
### Description

Landing page is broken:

<img width="1436" alt="image" src="https://user-images.githubusercontent.com/16780927/193367261-cb276333-31d0-4a98-9c0d-d1dacd3def76.png">

If we investigate the error on console:

`cw is not defined` error is raised on several pages

<img width="551" alt="image" src="https://user-images.githubusercontent.com/16780927/193366454-d0ea708b-e7ac-47fa-8256-efbf

[2022-10-01 01:38] SethAngell commented on #1352
Hey! I’d love to jump in a help out with this issue if no one else is working it! Seems like a good starting place :)

[2022-10-01 08:29] itsrajatrai commented on #1352
@brylie Would love to work on this ? Can you assign this issue to me ?

[2022-10-01 12:05] ApoorvaKashyap commented on #1347
Do you only want to show the warnings or every message generated by django?

[2022-10-01 15:17] HuangLiPang commented on #1304
@gorkemarslan Thanks for your clarification. So should I migrate drf to Django first?

[2022-10-01 18:34] Walexero commented on #1346
okay, i guess i would get my hands off this then

[2022-10-01 18:37] Walexero commented on #1350
okay, would start working in it, would, would make  a pull request now

[2022-10-01 21:52] anurag629 commented on #1351
Hey i want to work on this issue. Kindly assign me on this and also guide me in further steps

[2022-10-02 07:47] harshxtanwar commented on #1351
Hey, I'd love to work on this issue, can I get assigned to this task along with some guidance @brylie

[2022-10-02 12:00] Walexero commented on #1350
Have already added factory boy into the project with the provided command, can you expatiate on the second task

[2022-10-02 12:02] Walexero commented on #1350
do you mean to define or decline?

[2022-10-03 13:44] i-m-karanagarwal commented on #1200
Hy @brylie, I would like to work on this. Could you assign this to me? And also please brief me about the files that I may use to fix this.

[2022-10-03 18:16] daaavo commented on #1344
Hello @brylie can you check my PR to add the django debug toolbar

[2022-10-04 05:52] brylie commented on #1351
@simar5244 please add a comment in this issue to indicate that you have claimed it. GitHub won't let me assign you to the issue unless you have commented here. Any pull request should be accompanied by an issue, such as this one, that is assigned to the pull request author.

[2022-10-04 05:55] #1361 closed, assigned to gorkemarslan

[2022-10-04 05:58] #1343 closed, assigned to hmajid2301

[2022-10-04 06:29] brylie opened #1372 "Enable mypy in our pre-commit settings"
### Idea summary

Continued from #1331

### Further details

Enable mypy in our pre-commit settings by adding [mirrors-mypy](https://github.com/pre-commit/mirrors-mypy).

[2022-10-04 06:30] #1349 closed, assigned to ApoorvaKashyap

[2022-10-04 06:40] brylie commented on #1346
@Walexero, sorry for the confusion. I seem to have forgotten to assign you to the issue when you claimed it.

@Mohammed-Saif0 , thank you for working on the issue in pull-request #1366. However, we will give @Walexero the opportunity to work on this issue since they claimed it four days ago.

[2022-10-04 06:40] brylie commented on #1346
Sorry again for the confusion.

[2022-10-04 06:47] brylie opened #1374 "Help inform new contributors about pull-request workflow"
### Idea summary

Make sure contributors know to claim issues before opening a pull request.

### Further details

We have received several pull requests that were related to unclaimed issues. This has led to some confusion regarding which issues had been claimed, where multiple people wanted to work on the same task.

## Task

- [ ] make it clear to new contributors that they should claim a relat

[2022-10-04 07:25] brylie opened #1376 "Add dev documentation about setting environment variables"
### Idea summary

Add instructions for setting project environment variables for local development.

### Further details

This project uses environment variables for local development. However, not all developers know how to set the environment variables for this project.

## Task

- [ ] add developer documentation for setting env variables
- [ ] update our sample environment variables to include

[2022-10-04 07:45] brylie opened #1377 "Update grammar in contributing guide"
### Idea summary

Improve the grammar in our contributing guide with an automated grammar checker.

### Further details

_No response_

[2022-10-04 08:17] Atharva1802 commented on #1377
I want to resolve the given issue. Can you assign it to me please?

[2022-10-04 08:49] Walexero commented on #1346
okay thanks, would start working on it, i have another issue opened, have completed one of the tasks remains the second, please respond on the issue page

[2022-10-04 09:47] topguns837 commented on #1377
I am interested in working on this issue.

[2022-10-04 09:52] brylie commented on #1357
Closing now that week 39 is finished.

[2022-10-04 09:52] #1357 closed, assigned to brylie

[2022-10-04 09:53] brylie opened #1378 "Project stewardship - 2022, week 40"
### Idea summary

Overview of my project management/stewardship activities for 2022 week 40.

### Further details

Tasks opened

- https://github.com/CiviWiki/OpenCiviWiki/issues/1377
- https://github.com/CiviWiki/OpenCiviWiki/issues/1374
- https://github.com/CiviWiki/OpenCiviWiki/issues/1376
- https://github.com/CiviWiki/OpenCiviWiki/issues/1406

Discussions participating

- https://github.com/Ci

[2022-10-04 09:54] brylie commented on #1352
Hei @SethAngell and @therajatrai. Thank you for offering to help CiviWiki :-)

I'll assign @SethAngell since they first claimed the issue.

@therajatrai, is there any other task you would like to take?

[2022-10-04 09:55] brylie commented on #1347
Let's start with errors and warnings.

[2022-10-04 09:57] brylie commented on #1304
OK, let's put this task on hold while we develop a specific migration roadmap. Right now, the roadmap is huge and ill-defined.

[2022-10-04 09:57] #1304 closed, assigned to HuangLiPang

[2022-10-04 09:58] brylie commented on #1350
I meant "define". Good catch.

[2022-10-04 10:06] brylie commented on #1200
@i-m-karanagarwal, I added more details about the task in the description and links to the relevant files.

[2022-10-04 10:07] brylie commented on #1377
Thank you for your interest. I am already assigned to this task. Is there any other task you would like to take?

[2022-10-04 10:07] Anuj-Kumar-AJ commented on #1372
hi @brylie, I want work for fixing on this issue, can you assign it to me.

[2022-10-04 10:13] brylie commented on #1331
Hei all. Since we don't yet have a pull request for this issue and it is blocking other work, I'll unassign the issue to open it for other developers.

[2022-10-04 10:15] brylie commented on #1372
Thanks, @Anuj-Kumar-AJ. We have not yet configured `pre-commit` for the project. As such, this issue should now be closed as being part of #1331

[2022-10-04 10:17] brylie commented on #1331
@daaavo, since you offered to claim this issue four days ago, you should have the first opportunity to take it forward. Do you want to take this issue, or should we leave it open to another developer?

[2022-10-04 10:17] Anuj-Kumar-AJ commented on #1331
hi @brylie thanks for letting us know that this issue is open now, I would like to work on it. Can you please assign it to me.

[2022-10-04 10:21] brylie commented on #1331
@Anuj-Kumar-AJ, thank you for offering to take this issue. I'll assign you since @daaavo [has a task](https://github.com/CiviWiki/OpenCiviWiki/issues/1344) now.

[2022-10-04 10:22] brylie commented on #1344
PR reviewed :-)

[2022-10-04 10:33] Walexero commented on #1350
is there a specific folder you want me to define the initial factory_boy factory into and a specific filename to be used. Please expatiate

[2022-10-04 10:36] therajatrai commented on #1352
@brylie https://github.com/CiviWiki/OpenCiviWiki/issues/1376#issue-1395787473 is this open ?

[2022-10-04 10:38] itsrajatrai commented on #1352
https://github.com/CiviWiki/OpenCiviWiki/issues/1376#issue-1395787473  Can I work on this ?

[2022-10-04 10:38] itsrajatrai commented on #1352
@brylie

[2022-10-04 10:41] brylie commented on #1352
@therajatrai, since @SethAngell is currently assigned, we'll have to find a different task for you to take. Check the issues list for any issue that is not presently assigned.

Also, please don't spam the issue discussion.

[2022-10-04 10:44] brylie commented on #1350
Let's define a `factory.py` file in every app where we also have a `models.py`. The `factory.py` files will contain factories for the models in the **same** app. E.g.,

- `project/categories/models.py` - model definitions for `categories` app
- `project/categories/factory.py` - factory definitions for `categories` app

[2022-10-04 10:48] Walexero commented on #1350
okay, would get it done now

[2022-10-04 11:53] simar5244 commented on #1351
@brylie Issue Claimed. PR #1359

[2022-10-04 17:44] Ni3dzwi3dz commented on #1331
Terribly sorry for the delay - i just send a PR

[2022-10-04 18:07] brylie opened #1383 "Fix CI caching"
### Idea summary

Ensure our CI can use cached versions of Poetry.

### Further details

Our CI is supposed to use cache for Poetry. However, there never seems to be a cache hit, meaning Poetry is installed with each CI run.

## Task

- [ ] enable the CI pipeline to use a cached Poetry installation

[2022-10-04 18:07] #1347 closed, assigned to ApoorvaKashyap

[2022-10-04 18:17] brylie opened #1384 "Add instructions for fixing poetry.lock conflicts"
### Idea summary

We should help contributors resolve conflicts in the poetry.lock file, which is happening quite often.

### Further details

Add the following to our CONTRIBUITING.md to help other developers.

1. check out the `develop` branch with `git checkout develop`
2. update the `develop` branch with `git pull`
3. check out your branch with `git checkout my-branch`
4. attempt to merge `dev

[2022-10-04 18:22] mazen-r commented on #1384
Hello, can you assign this issue to me please ?

[2022-10-04 18:22] #1344 closed, assigned to daaavo

[2022-10-04 18:34] brylie commented on #1372
Hei @Anuj-Kumar-AJ. Let's experiment with mypy-pre commit. We may need to configure Django-stubs, so we get fewer type errors.

[2022-10-04 18:36] #1331 closed, assigned to Ni3dzwi3dz

[2022-10-04 18:39] #1348 closed, assigned to hmajid2301

[2022-10-04 20:20] didiermichel commented on #1358
I created PR: https://github.com/CiviWiki/OpenCiviWiki/pull/1389
It is ready for review.

[2022-10-05 02:45] didiermichel commented on #1383
Hello @brylie,
I am interested in this issue.
But I am not sure to understand the issue here.  Several actions logs show actual use of dependencies cached and reuse.(ex: https://github.com/CiviWiki/OpenCiviWiki/actions/runs/3184602940). So only poetry is reinstalled each time. not the dependencies.
But there is no actual cache for poetry installation itself.
So is the idea to add such a support?
A

[2022-10-05 06:41] brylie commented on #1383
Ah, I didn't see the dependency cache hits, probably because we've been changing dependencies lately.

It would be nice to re-use our Poetry install, if possible. What do you think?

[2022-10-05 10:01] #1374 closed, assigned to brylie

[2022-10-05 10:01] #1376 closed, assigned to brylie

[2022-10-05 10:01] #1377 closed, assigned to brylie

[2022-10-05 10:02] brylie commented on #1378
m: 2
t: 1

[2022-10-05 12:39] didiermichel commented on #1383
I think is is a good idea, but I am wondering about consequences to have 2 caching systems: one for poetry and one for other dependencies installed by poetry.
In case of a change in poetry (that should not happen quite often) I think we would like to also reinstall dependencies even is poetry.pock hasn't changed.
So maybe having one caching with poth poetry and dependencies is acceptable.
I guess

[2022-10-05 13:50] mittal-gunjit commented on #1206
Did somebody do this already? I was hoping to do this myself but I couldn't replicate the issue. By the way, I am using chrome Version 105.0.5195.125 on an M1 pro chip(ARM 64).

[2022-10-05 18:37] gorkemarslan commented on #1152
I'd like to take over this task.

[2022-10-05 18:42] gorkemarslan commented on #1189
Duplicate of #1152

[2022-10-05 18:42] #1189 closed, assigned to nobody

[2022-10-05 18:49] #1358 closed, assigned to didiermichel

[2022-10-05 18:55] #1352 closed, assigned to SethAngell

[2022-10-05 19:01] brylie commented on #1383
I noticed that the Poetry step takes only around 15 seconds, so it isn't too much of a burden. However, it is probably worth caching Poetry to save CPU resources and energy.

[2022-10-05 19:12] brylie opened #1396 "FileError when editing user profile settings"
### Description

After registering and filling in my initial profile, I attempt to visit the Settings screen via the user menu (pictured below).

![image](https://user-images.githubusercontent.com/17307/194142702-6e41e2ea-39cc-4298-bf30-37f98835fd99.png)

When I click the "Settings" link, I am taken to the settings page at http://localhost:8000/settings/

The following `FileError` messages are dis

[2022-10-05 19:14] gorkemarslan commented on #1396
The issue will be fixed by https://github.com/CiviWiki/OpenCiviWiki/pull/1393/commits/fc9f81d831b50e611150ce2b8680fe44f2332d10 there are leading spaces in static tags

[2022-10-05 19:16] brylie opened #1397 "Settings form doesn't seem to submit"
### Description

After registering and filling in my initial profile, I attempt to visit the Settings screen via the user menu (pictured below).

![image](https://user-images.githubusercontent.com/17307/194142702-6e41e2ea-39cc-4298-bf30-37f98835fd99.png)

When I click the "Settings" link, I am taken to the settings page at http://localhost:8000/settings/

When I try to submit the form, nothing see

[2022-10-05 19:17] brylie commented on #1206
I think we can close this issue in favor of the following.

- #1397
- #1396

[2022-10-05 19:17] #1206 closed, assigned to nobody

[2022-10-05 19:37] #1384 closed, assigned to mazen-r

[2022-10-05 19:44] #1199 closed, assigned to gorkemarslan

[2022-10-05 19:44] #1187 closed, assigned to gorkemarslan

[2022-10-05 19:44] #1396 closed, assigned to nobody

[2022-10-05 19:52] #1351 closed, assigned to simar5244

[2022-10-05 20:51] gorkemarslan commented on #1397
@brylie, I couldn't replicate the error. I think #1393 fixed it. It almost fixes everything on our suffering planet. 😛

Could you check the page again?

[2022-10-05 21:30] Walexero commented on #1200
Hello @brylie would be willing to work on this issue if its still open

[2022-10-05 21:45] #1397 closed, assigned to nobody

[2022-10-05 21:47] brylie commented on #1200
This issue is currently assigned to @i-m-karanagarwal

[2022-10-05 21:49] brylie commented on #1378
W: 1

[2022-10-05 23:07] Walexero commented on #1200
okay

[2022-10-06 06:15] aryankeluskar commented on #1342
I volunteer to complete #1346

[2022-10-06 09:13] brylie commented on #1342
Please add a comment in issue #1346. That way, we can see who is currently assigned and decide whether to re-assign the task.

[2022-10-06 18:32] i-m-karanagarwal commented on #1200
Hy @brylie, Do I need to make changes here in order to show the followed users??

![Screenshot from 2022-10-07 00-00-21](https://user-images.githubusercontent.com/77572300/194391665-ff6e2ee4-b17e-4be1-b607-c98504715274.png)

[2022-10-06 18:34] i-m-karanagarwal commented on #1200
And also I got these errors while the script
![Screenshot from 2022-10-07 00-03-42](https://user-images.githubusercontent.com/77572300/194391838-a5d691df-e4d2-49c5-8c5c-783cab251669.png)
 manage.py is running

[2022-10-06 20:13] srishti666 commented on #1310
I would like to work on this, could you please assign me

[2022-10-06 20:18] brylie commented on #1310
@srishti666 thank you for your interest. As is indicated on this page, @ApoorvaKashyap is currently assigned to this issue.

Would you consider taking a different task?

[2022-10-06 20:23] brylie commented on #1200
I'm not sure what might be causing session corruption.

@gorkemarslan, have you seen any errors like those pictured above?

[2022-10-06 21:58] srishti666 commented on #1310
yea sure

[2022-10-06 21:58] srishti666 commented on #1310
yea sure

[2022-10-06 21:59] srishti666 commented on #1310
yea sure

[2022-10-07 05:06] coderrohanpahwa opened #1403 "Error while using pre-commit install"
### Description

When trying to use pre-commit install , I got an error pre-commit command not found . Hence must be add in dependencies file.

[2022-10-07 05:40] brylie commented on #1403
@coderrohanpahwa, thanks for this report :-)

I've opened a pull request to fix the issue by adding `pre-commit` to our `dev` dependencies.

[2022-10-07 05:57] brylie commented on #1151
@gorkemarslan, were you recently working on this task?

[2022-10-07 06:09] brylie opened #1405 "Port all `core` templates to Django template syntax"
Some templates in our `core` app currently use Backbone.js template syntax.

## Task

Port the following template from Backbone to Django view/template syntax.

all templates in `core` app should
- [ ] work without any JavaScript (Backbone.js)
- [ ] use only Django template syntax, such as `{% for solution in solutions %}`

all templates in `core` app should not contain any
- [ ] Backbone.js templ

[2022-10-07 06:21] brylie opened #1406 "Research standards-based frameworks for web UI components"
### Idea summary

We need a standards-based (i.e., CSS, HTML, and Web Components) approach to defining UI components.

### Further details

## Constraints

Any UI design system pattern library or framework adopted by this project should be:

- simple (avoid build tools and other complexities if possible)
- standards-based (use only CSS, JS, HTML, Web Components, and related standards defined by W3

[2022-10-07 06:29] srishti666 commented on #1310
yea sure

[2022-10-07 06:34] brylie commented on #1406
@srishti666, would you like to work on this task?

[2022-10-07 06:35] brylie commented on #1311
Closing as duplicate

[2022-10-07 06:35] #1311 closed, assigned to brylie

[2022-10-07 06:36] brylie commented on #1144
Closing as `wontfix` for now.

[2022-10-07 06:36] #1144 closed, assigned to nobody

[2022-10-07 06:36] brylie commented on #1086
Closing, as this is pretty much complete.

[2022-10-07 06:36] #1086 closed, assigned to nobody

[2022-10-07 06:37] brylie commented on #885
I propose we create a new organization and move the `OpenCiviWiki` repository to that organization to have complete stewardship control.

[2022-10-07 06:40] brylie commented on #868
Closing as `wontfix`

[2022-10-07 06:40] #868 closed, assigned to nobody

[2022-10-07 06:42] brylie commented on #183
Closing as out-of-scope for 2.x milestone and the limited resources of the CiviWiki organization.

[2022-10-07 06:42] #183 closed

[2022-10-07 06:42] brylie commented on #125
Closing as `wontfix`

[2022-10-07 06:42] #125 closed

[2022-10-07 06:44] #885 closed, assigned to brylie

[2022-10-07 06:46] #1139 closed, assigned to nobody

[2022-10-07 06:49] brylie commented on #126
Let's see if we can verify this bug with the recent CiviWiki codebase.

[2022-10-07 07:26] gorkemarslan commented on #1151
Yes, but I worked only on the first task.

[2022-10-07 07:33] Anuj-Kumar-AJ commented on #1372
Hi @brylie , sorry for the delay . It was my first PR , anyways
I have send PR for this issue.

https://github.com/CiviWiki/OpenCiviWiki/pull/1416/commits/c155a35a30dfa6048d1faaf1aaf81c39e906d040

[2022-10-07 10:31] gorkemarslan commented on #1200
I will be investigating what causes this issue an try to open a PR to fix it.

Edit: This generally happens because of change in SECRET_KEY. We have recently changed how to get the secret key from .env file. I try to make further improvement to fix it. 👍

[2022-10-07 13:05] srishti666 commented on #1406
I would love to work on this but cannot understand the task. Actually, I'm a beginner so I'm having problems.

[2022-10-07 13:07] brylie opened #1419 "Register admin for remaining models"
We haven't registered all project models with the Django Admin, making it difficult to manage content in a centralized manner.

## Task

For each model in our project,
- [ ] register the model with the Django Admin, if not already registered

## Instructions

Start by reading the following guides.

- Django [working with the Django admin](https://docs.djangoproject.com/en/4.1/ref/contrib/admin/) -

[2022-10-07 13:10] aitorres commented on #1419
Hi! I could take on this issue during the weekend if that's okay 😊

[2022-10-07 15:46] brylie commented on #1419
Thanks, @aitorres! :smiley:

[2022-10-07 16:15] brylie commented on #1151
Yes, I had forgotten that you were working on a different task. Sorry for the confusion. :smiley:

[2022-10-07 16:25] #1403 closed, assigned to nobody

[2022-10-07 16:31] brylie commented on #1406
@srishti666, would you like to be a beta tester and find potential bugs? If so, I can create a task specifically for you.

[2022-10-07 16:45] brylie commented on #1378
T 0.5
F: 2

[2022-10-08 05:49] coderrohanpahwa commented on #1419
Hi , want to work to this issue

[2022-10-08 07:03] srishti666 commented on #1406
No thanks, I think I'm not fit for this task

[2022-10-08 08:15] dayitachaudhuri commented on #1405
Hi, I would like to work on this issue over the weekend. Please assign it to me.

[2022-10-08 08:17] gorkemarslan commented on #1405
You can start working on it. 👍

[2022-10-08 10:20] gorkemarslan commented on #1419
Hi @coderrohanpahwa, since @aitorres has been assigned to this task, do you want to look at other issues in the project to contribute?

[2022-10-08 12:24] i-m-karanagarwal commented on #1200
??

[2022-10-08 19:49] coderrohanpahwa commented on #1419
Yes , I want to contribute in the project

[2022-10-09 09:44] brylie commented on #1200
@i-m-karanagarwal, I believe the list of followed users would display on the "Following" tab.

[2022-10-09 10:09] brylie commented on #1405
@dayitachaudhuri, thanks for taking on this task! I'm available to help if you have any questions or difficulties.

[2022-10-09 10:24] #1383 closed, assigned to didiermichel

[2022-10-11 00:54] silvarthur commented on #147
Hey @brylie, could you assign me to this issue?

[2022-10-11 01:10] silvarthur commented on #126
@brylie, may I work on this one as well?

[2022-10-11 05:38] brylie commented on #126
@silvarthur, sure. Let's just be cautious about how much work we take at once. Hopefully, this and #147 won't be too difficult.

[2022-10-11 05:54] brylie opened #1425 "Project stewardship - 2022, week 41"
### Description

This issue is a placeholder to document my stewardship activities during the week of 2022, week 41.

Issues opened/mentored

- https://github.com/CiviWiki/OpenCiviWiki/issues/1426
- https://github.com/CiviWiki/OpenCiviWiki/issues/1427

PRs contributed

 - https://github.com/CiviWiki/OpenCiviWiki/pull/1428

Issues taken

- https://github.com/CiviWiki/OpenCiviWiki/issues/1151

PRS r

[2022-10-11 05:56] brylie commented on #1425
M: 0.5

[2022-10-11 06:00] brylie commented on #1151
I'll take a look at this task today and start a PR.

[2022-10-11 06:12] brylie opened #1426 "Fix `notifications` deprecation errors"
### Description

When running management commands, I see the following deprecation warnings.

[code]

### What should have happened?

There should be no deprecation errors when running management commands.

**Upstream issue**: https://github.com/django-notifications/django-notifications/issues/344

[2022-10-11 06:16] brylie opened #1427 "Fix symmetrical relationship warning"
### Idea summary

Our Civi model has a relationship to itself with a `related_name` defined, causing the following warning to appear.

### Further details

[code]

## Task

- [ ] ensure the above warning doesn't display anymore
    - e.g., remove the `related_name` argument, or set it to `+`

[2022-10-11 07:32] brylie opened #1429 "[Epic] reimplement user profile tabs and feed"
:construction: This epic is a placeholder for several tasks that have not yet been defined. :construction:
## Goal

Starting from a more straightforward project footprint, we want to rebuild some features that were removed to deprecate the project Backbone JavaScript. While the initial pull request removes some features from the accounts app, we will use this epic to re-implement the features usin

[2022-10-11 07:54] DamyanBG commented on #1426
Hello, I want to contirbute.

[2022-10-11 08:56] poorvaditya18 commented on #1427
Hey, I'm interested in working on this issue. Can you please elaborate more?

[2022-10-11 09:18] brylie commented on #1378
Closing since week 40 is past.

[2022-10-11 09:18] #1378 closed, assigned to brylie

[2022-10-11 09:30] brylie commented on #1426
Thanks, @DamyanBG! I'll assign you to the issue.

[2022-10-11 09:30] brylie commented on #1427
Thanks, @poorvaditya18! I'll assign you to the issue.

[2022-10-11 09:44] brylie commented on #1151
Note: my goal is to remove the `accounts` Backbone JS while preserving templates and view code. That way, we can re-implement the features as a community, possibly during Hacktoberfest. Also, the Backbone JS is a significant blocker, so this PR will remove the blocking code/complexity.

[2022-10-11 09:55] poorvaditya18 commented on #1427
Can you specify the path where I could exactly find this function?

[2022-10-11 10:04] brylie commented on #1427
It looks like the warning message stems from the following line.

https://github.com/CiviWiki/OpenCiviWiki/blob/034d8df40ff6224c352f8bddfc3c1a162163f55a/project/threads/models.py#L227

[2022-10-11 13:41] Anuj-Kumar-AJ commented on #1425
hi
@brylie, i am having doubts about what to do in this issue, because all the issue's in this section that you have mentioned is taken already.

[2022-10-11 14:46] gorkemarslan commented on #1151
@brylie, you don't have to migrate all views. I think you are already aware of that but let me write down my thoughts to recap our strategy once again. 😄  For example, we don't use `get_card()` view [anymore](https://github.com/CiviWiki/OpenCiviWiki/pull/1393/files#diff-a5768efd0433161392de5509bf5750338af021185fc6153bfab491e4082f2b9dL155). I forgot to remove this view and the related URL from the

[2022-10-11 17:27] kobistar commented on #1129
Hello,
@brylie Can I assign issue #1151 ?

[2022-10-11 17:30] kobistar commented on #1151
Hello,
@brylie Can I assign issue #1151 ?, but I will only convert API views to Django views.

[2022-10-11 17:32] PrakharMundra commented on #1419
Hi can I contribute in this issue?

[2022-10-12 04:56] poorvaditya18 commented on #1427
I am facing the issue while running  python manage.py runserver . Could you tell me the steps/commands how to start it ?

[2022-10-12 06:24] brylie commented on #1425
@Anuj-Kumar-AJ, this is an issue where I track activities I do for the CiviWiki project. It's more of a meta-issue. I just forgot to self-assign :-)

[2022-10-12 06:24] brylie commented on #1425
T: 2

[2022-10-12 06:28] brylie commented on #1151
@kobistar, thank you for offering to help with this issue. Due to the complexity, I'd like to continue working on this task. Once the task is complete, we should be able to open some new issues with a much smaller size that would be good for Hacktoberfest/first issues.

[2022-10-12 06:38] brylie commented on #1427
@poorvaditya18, please follow the [instructions in our development guide](https://github.com/CiviWiki/OpenCiviWiki/blob/develop/CONTRIBUTING.md#development). If you encounter any issues, let us know which step is failing and the specific error so we can help troubleshoot.

What error are you getting when running `python manage.py runserver`?

[2022-10-12 06:43] brylie commented on #1419
Thank you, @coderrohanpahwa and @PrakharMundra, for offering to take this issue. Currently, @aitorres is assigned to the task. Let's give @aitorres some more time to work on the issue.

[2022-10-12 07:40] DamyanBG commented on #1426
@brylie I can't see deprecation warnings when I am executing management commands.

[2022-10-12 09:34] DamyanBG commented on #1426
I made a PR.

[2022-10-12 09:38] DamyanBG commented on #1426
Usually I found better solution - I installed packaging and changed distlib with packaging in the files in lib\site-packages\notifications\base\ which have this warning message, but I do not have experience with poetry and I am not able to save the changes.

[2022-10-12 13:05] DamyanBG commented on #1426
I found that my solution is wrong. I closed my PR. I will restart my work.

[2022-10-12 15:02] silvarthur commented on #126
Ok, @brylie . I will be working only on those two issues you assigned to me.

[2022-10-12 15:23] brylie commented on #1426
When creating a pull request that will resolve an issue, please [link the pull request to the related issue(s)](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue) by using one of the [supported keywords](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-key

[2022-10-12 18:14] quinnrdavis commented on #127
I'd like to take this on. Can I ask for some clarification on what the desired functionality is? Do we want the user to not be able to delete their first and last name? Or make first and last name not mandatory?

[2022-10-12 18:29] brylie commented on #127
@quinnrdavis, thanks! I'll assign you.

[2022-10-12 18:35] quinnrdavis commented on #127
Thanks! I am able to reproduce the bug. I notice that the registration page does not let you continue without something in both the first and last name fields so I assume we don't want any users with a blank first or last name? It seems at odds with the comments above about defaulting a blank name to ANONYMOUS so I'd just like to understand what precisely our goal is.

[2022-10-12 18:38] brylie commented on #127
Ah, right. This issue will be resolved with PR #1428

[2022-10-12 18:41] brylie commented on #1425
W: 2

[2022-10-12 18:49] quinnrdavis commented on #127
I can't really work on this without knowing what the goal is so I'm gonna go ahead and unassign myself for now. If you know the direction you want to go you can reassign me and I'll be happy to try and figure it out.

[2022-10-12 18:51] brylie commented on #127
I believe the name fields should be made optional, and the templates should show the username when the name fields are not available.

[2022-10-12 18:54] quinnrdavis commented on #127
Great! That sounds very doable. If you would like to assign me again I can work on that.

[2022-10-13 07:41] DamyanBG commented on #1426
I opened pull request.

[2022-10-13 13:58] Anuj-Kumar-AJ commented on #1425
hi, @brylie , can I ask you, what you commit with words and number. like W:2 or M:0.5 or T: 2
please do tell i am so confuse about this, and i want know. haha :)

[2022-10-14 05:59] brylie commented on #127
If it's not too much of a difficulty. Let's move the `first_name` and `last_name` fields to the `Profile` model instead of `Account`. The fields will need to be set to `None` on the `Account` model.

[code]

[2022-10-14 06:22] brylie commented on #1425
Those are the number of hours I spend each corresponding day:

- M: Monday
- T: Tuesday
- W: Wednesday
- Th: Thursday
- F: Friday

[2022-10-14 10:55] PrakharMundra commented on #1419
Hi,
Is the work finished?
Can I take it if it is still available?

[2022-10-14 11:39] PrakharMundra commented on #1200
Hi
Is this open
Would love to work on it

[2022-10-16 07:18] macintushar commented on #1427
Hey I'm interested in contributing to this issue

[2022-10-16 08:47] brylie commented on #1419
@aitorres, can you give us a status update? Should we re-assign this issue?

[2022-10-16 08:48] brylie commented on #1200
The issue is currently assigned to @i-m-karanagarwal and is blocked by pull request #1428

[2022-10-16 09:44] brylie commented on #1427
@poorvaditya18, are you still working on this task, or should we assign it to @macintushar?

[2022-10-16 09:53] poorvaditya18 commented on #1427
Yes I'm working on it.

[2022-10-16 22:57] aitorres commented on #1419
Hi @brylie, so sorry for the delay. I had a personal / family situation this week and will be unable to complete the change :-( I'm unassigning myself from the issue. Again, so sorry for the radio silence and thanks for the opportunity 🙏

[2022-10-17 00:40] TimOsahenru commented on #1419
Hello @brylie if this issue is still open I'll love to be assigned to it. Thank you!

[2022-10-17 00:43] TimOsahenru commented on #1405
I'll also love to work on this if this issue is still open ... please let me know if it is available

[2022-10-17 16:17] brylie commented on #1419
@aitorres, all good. I hope things are alright for you and your family.

@TimOsahenru, thank you for your offer to help. I'll assign you to the task.

[2022-10-17 16:18] brylie commented on #1405
@dayitachaudhuri is currently assigned to this task.

[2022-10-17 16:58] TimOsahenru commented on #1419
Thank you 🙏

[2022-10-18 04:13] TimOsahenru commented on #1419
Hello @brylie I've successfully solved this issue (I guess), but I'm experiencing a bit of a challenge committing my changes(I'm new to open source) below is the error message when I try to commit changes

pyproject.toml:1: error: Error importing plugin "mypy_django_plugin.main": No module named 'mypy_django_plugin'
Found 1 error in 1 file (errors prevented further checking)

[2022-10-18 06:11] brylie commented on #1419
Hm. I think I encountered that issue before, also.

For now, let's just run ´poetry remove mypy´ and also remove the related django stubs ´poetry remove django-stubs´ package.

Delete the following lines from ´pyproject.toml´after uninstalling ´mypy´ and ´django-stubs´.

[code]

[2022-10-18 06:13] brylie opened #1435 "Project stewardship - 2022, week 42"
### Idea summary

This is a placeholder issue to collect my project stewardship activities for 2022 week 42

### Further details

Issues opened
- https://github.com/CiviWiki/OpenCiviWiki/issues/1440

PRs opened/developed

- https://github.com/CiviWiki/OpenCiviWiki/pull/1441
- https://github.com/CiviWiki/OpenCiviWiki/pull/1432

Issues mentored

- https://github.com/CiviWiki/OpenCiviWiki/issues/1419

[2022-10-18 06:14] brylie commented on #1435
Tue: 2.5

[2022-10-18 06:36] #1425 closed, assigned to brylie

[2022-10-18 17:25] daaavo commented on #1346
Hello is this issue still open? if it's so i'd like to give it a try

[2022-10-18 17:35] brylie commented on #1346
Hi @daaavo. @Walexero is still assigned to this issue but may like some help if you ask them.

[2022-10-18 19:39] gorkemarslan commented on #1152
@brylie, I will move `accounts/feed.html` file to `threads` app. Then I will port the template to Django template syntax. The template basically renders thread list, trending issues, draft threads, etc.

I am planning to create `ThreadListView` to render this template. In this case, I will rename the template file to `thread_list.html` or `threads.html`. I can also keep using `FeedView`. What do y

[2022-10-18 19:57] brylie commented on #1152
Thanks that will help. :smiley:

I'm heading to bed now, but I'll check for more comments ASAP.

[2022-10-18 22:53] silvarthur commented on #126
Hello, @brylie. I have just opened the pull request that fixes this problem.

https://github.com/CiviWiki/OpenCiviWiki/pull/1436

[2022-10-19 01:39] TimOsahenru commented on #1419
Hello @brylie thanks for the tip it worked, I've successfully committed changes and made a pull request... I'll be waiting for a feedback from you.

[2022-10-19 07:45] brylie opened #1438 "Reconsider design of Civi model relationships"
### Idea summary

Currently, we are using a somewhat linear relationship between Civis, where problems have causes and causes have solutions. However, the relationships between problems, causes, and solutions are non-linear. For example, a solution to one problem might cause others (e.g., [climate engineering](https://en.wikipedia.org/wiki/Climate_engineering) solutions may cause widespread proble

[2022-10-19 15:34] brylie commented on #1419
@TimOsahenru, I've added some instructions in the issue description.

[2022-10-19 15:36] brylie commented on #1435
Wed: 0.5

[2022-10-19 15:37] brylie commented on #1419
@PrakharMundra, would you like to work with @TimOsahenru on this issue?

[2022-10-21 05:24] #126 closed

[2022-10-21 05:39] brylie opened #1440 "Mypy causing errors"
### Description

We are seeing errors stemming from `mypy` that are blocking development. It turns out that our `mypy` configuration may be incorrect. Adding type analysis to this project will take more considered care.

At this time, it is probably easier to just remove `mypy` and reconsider whether to add it at a later time.

[2022-10-21 05:41] brylie commented on #1435
Thu: 1
Fri: 2

[2022-10-21 15:54] #1151 closed, assigned to brylie

[2022-10-21 16:09] brylie opened #1442 "Fix our Matrix chatroom badge"
### Description

When I view the README, I see that our Matrix chat badge is failing to render correctly.

![image](https://user-images.githubusercontent.com/17307/197240703-b9c940ae-b8a7-473f-a74a-61db3101e0f0.png)

This may be because the badge is trying to get a count of active users via an unstable API.

### What should have happened?

I would expect to see a user-friendly badge that invites m

[2022-10-21 16:44] frey0-0 commented on #1442
@brylie I would like to try to do this. Please assign

[2022-10-21 17:21] zafar-hussain commented on #1442
@brylie you are most welcome

[2022-10-21 17:31] brylie commented on #1442
Thanks, @zafar-hussain :smiley:

[2022-10-21 17:32] #1442 closed, assigned to zafar-hussain

[2022-10-21 17:36] frey0-0 commented on #1442
@brylie the badge still doesn't link to the URL. Can I do that?

[2022-10-21 18:15] brylie opened #1445 "Add "Civis" tab to the user profile view"
We recently removed some features from the user Profile view and now want to reimplement them using only Django.

This task will be to add a "Civis" tab to the user profile view. The tab should link to a sub-path of the user profile so it is clear to the viewer that they are viewing Civis related to the user.

## Task
All of these tasks should be done in the `accounts` app.

- [ ] create a Django

[2022-10-21 18:15] brylie opened #1446 "Add "Followers" tab to the user profile view"
We recently removed some features from the user Profile view and now want to reimplement them using only Django.

This task will be to add a "Followers" tab to the user profile view. The tab should link to a sub-path of the user profile so it is clear to the viewer that they are viewing followers related to the user.

## Task
All of these tasks should be done in the `accounts` app.

- [ ] create a

[2022-10-21 18:15] brylie opened #1447 "Add "Following" tab to the user profile view"
We recently removed some features from the user Profile view and now want to reimplement them using only Django.

This task will be to add a "Following" tab to the user profile view. The tab should link to a sub-path of the user profile, so it is clear to the viewer that they are viewing users that a particular user is following.

## Task
All of these tasks should be done in the `accounts` app.

-

[2022-10-21 18:15] brylie opened #1448 "Add "Issues" tab to the user profile view"
We recently removed some features from the user Profile view and now want to reimplement them using only Django.

This task will be to add an "Issues" tab to the user profile view. The tab should link to a sub-path of the user profile so it is clear to the viewer that they are viewing Issues related to the user.

## Task
All of these tasks should be done in the `accounts` app.

- [ ] create a Djan

[2022-10-21 18:15] brylie opened #1449 "Add "Activity" tab to the user profile view"
To be defined.

Note: we may not have a functioning "user activity" feature, so we may need further design/development work.

[2022-10-21 18:15] brylie opened #1450 "Reimagine user Feed view"
To be defined...

[2022-10-21 18:15] brylie opened #1451 "Reimplement user categories feature"
We recently removed some features from the user Profile view and now want to reimplement them using only Django.

This task will be to add a "categories" field to the User Profile ("settings") view).

## Task

All of these tasks should be done in the `accounts` app.

- [ ] determine how to add a multi-select field to a Django form
- [ ] users should be able to select zero or more categories when e

[2022-10-21 18:31] brylie opened #1452 "Create a base template used for all UserProfile sub-views"
We recently removed some features from the user Profile view and now want to reimplement them using only Django.

This task will be to add a base template, extending `base.html`, that is used for all sub-views of the user profile.

## Task
All of these tasks should be done in the `accounts` app.

- [x] create a new template `accounts/templates/accounts/user_profile_base.html`
- [x] make sure the `

[2022-10-21 19:06] gorkemarslan commented on #1450
Since the merge request of #1152 will be responsible for displaying the feed template properly, I am assigning myself to this issue.

[2022-10-22 05:37] #1440 closed, assigned to brylie

[2022-10-22 06:14] aidanmatchette commented on #1452
Hey is this issue ope?If so I would like to take it.

[2022-10-22 06:16] brylie commented on #1452
Thanks @aidanmatchette. I'll assign you :-)

[2022-10-22 18:09] #1452 closed, assigned to aidanmatchette

[2022-10-26 03:57] TimOsahenru commented on #1419
Hello @brylie @PrakharMundra  I'm having issues with committing my changes I have modified the pyproject.toml file but I'm still getting an error message

project\common\utils.py:3: error: Library stubs not installed for "requests" (or incompatible with Python 3.10)
project\common\utils.py:3: note: Hint: "python3 -m pip install types-requests"
project\common\utils.py:3: note: (or run "mypy --insta

[2022-10-26 07:45] brylie commented on #1419
@TimOsahenru, we have removed the `mypy` and `django-stubs` dependencies from this project in PR #1441. If you are getting errors related to `mypy` or `django-stubs`, your development branch is likely out of date. Make sure you are working from the *latest* development branch.

[2022-10-26 20:57] bigbuckalex opened #1455 "Following contributing guide, migration step failing"
### Description

I am following the contributing guide and I am getting this error message on the ["Run migrations"](https://github.com/CiviWiki/OpenCiviWiki/blob/develop/CONTRIBUTING.md#run-migrations) step:

[code]

### What should have happened?

_No response_

### What browser(s) are you seeing the problem on?

Not applicable

### Further details

Full error message:
[code]

[2022-10-27 04:36] #1419 closed, assigned to TimOsahenru

[2022-10-27 04:42] 8bitaby commented on #1448
Can you please assign this issue to me?

[2022-10-27 04:43] brylie commented on #1455
There was an error in the installation guide that may have led to the above error.

Make sure you run `poetry install` from the repository root directory before changing the guide into the `project/` subdirectory.

The migrations worked for me when I attempted them just now.

[2022-10-27 07:33] TimOsahenru commented on #1451
Hello @brylie I'll love to work on this issue please assign it to me.

[2022-10-27 19:38] TimOsahenru commented on #1451
Hello @brylie haven't heard from you, please
should I go ahead?

[2022-10-27 21:33] bigbuckalex commented on #1455
I've tried deleting and re-cloning the repo and I still get the same error. Here is a video of the process, am I doing anything wrong?

https://user-images.githubusercontent.com/13971705/198401749-02b06836-abfc-4b39-ae0f-d5c4fdb2f850.mp4

[2022-10-28 06:29] brylie commented on #1455
Can you upload a video where it creates the initial Poetry virtual environment?

[2022-10-28 06:31] brylie commented on #1451
@TimOsahenru, thanks for taking this issue. I'll assign you.

Please keep in mind that people are working in different time zones worldwide and typically in their spare time, so they might not be able to respond immediately when mentioned.

[2022-10-28 18:50] bigbuckalex commented on #1455
Is this what you mean? I deleted the poetry environment so `poetry install` would create a new virtual environment.

https://user-images.githubusercontent.com/13971705/198710073-ae82b925-eb95-4d47-bae1-2cb9cfa671cf.mp4

[2022-10-30 18:12] brylie commented on #1455
@gorkemarslan are you able to spot anything that might be causing this bug?

[2022-10-30 20:20] gorkemarslan commented on #1455
@bigbuckalex, what operating system are you using?

As far as I understand, the Django framework cannot connect your local database because it cannot validate the database configs.

Can you try to replace the database configs in your settings.py file

https://github.com/CiviWiki/OpenCiviWiki/blob/549cd035ca43a63a1dc6b7e2f79154b80a1a9a61/project/core/settings.py#L118-L130

with the default one:

[c

[2022-11-01 03:53] TimOsahenru commented on #1451
Hello @brylie I am having a bit of a challenge displaying the list of categories; the issue is, it just display's as a plain list instead of a clickable selective list, please I need assistance on how to execute this, below is a screenshot of my code and a description of my challenge. Please I need your assistance

![1](https://user-images.githubusercontent.com/93861430/199154757-d7ef0518-44aa-4d9

[2022-11-01 06:07] brylie commented on #1451
Go ahead and commit your code, push the changes to GitHub, and open a pull request where we can discuss the code. That will help move the discussion forward since reviewers can also check out your code.

I think the solution may be to use the ModelMultipleChoiceField:

https://docs.djangoproject.com/en/4.1/ref/forms/fields/#modelmultiplechoicefield

[2022-11-03 13:38] BrunoFNRodrigues commented on #1446
I'd like to work on this issue.

[2022-11-03 14:21] werberger commented on #127
I have finally got my branch set up. However I am unable to reproduce the issue. When I register it only asks for Username, Email, and Password....?

[2022-11-03 16:54] bigbuckalex commented on #1455
@gorkemarslan I am using [Pop!_OS 22.04](https://pop.system76.com/)

Replacing the database configs allowed me to run the migrations. Thank you!

[2022-11-03 19:28] darshanip commented on #1427
Let me know if it is up for grab, @poorvaditya18 & @brylie.

[2022-11-04 14:25] wippo-devops commented on #1447
I would like to work on this.

[2022-11-05 02:57] smhavens commented on #1445
Hi, I would be interested in taking this on. Do you think this could be done in two weeks or less?

[2022-11-05 08:49] brylie commented on #127
Yes, we've removed the account setup "wizard" so users have a more straightforward onboarding process. However, users can edit their profile to fill in more details by clicking the profile link in the navigation menu.

[2022-11-05 08:50] brylie commented on #1427
I've assigned you both since you have both expressed interest.

[2022-11-05 08:51] brylie commented on #1445
I believe it could be managed in a weekend, with focused effort.

[2022-11-06 06:38] werberger commented on #127
I should have said that I can edit a logged in user from the 'Settings' menu item and add or delete the first and/or last names and it does not throw any error, nor ask me to complete registration.

Perhaps I'm misunderstanding the problem, or have not installed it properly (as I also cannot add issues of interest, or create new threads).

[2022-11-06 07:56] werberger commented on #1427
Hi @brylie , being new to Open Source, I'm not sure what the etiquette is... I believe I've got a fix for this so I'm just putting it in here (but if this is a fix and people are happy for me to go through the steps, I'd love to be assigned and able to make my first contribution to open source)

in  ...project\threads\models.py line 234

[2022-11-06 10:51] brylie commented on #127
OK, well, it seems this may be a non-issue. This old bug came out of our QA process and may have been indirectly resolved along the way. Thanks for investigating, @werberger!

[2022-11-06 10:51] brylie commented on #127
@all-contributors please add @werberger for bug, qa

[2022-11-06 10:51] #127 closed

[2022-11-06 11:11] werberger commented on #127
I may have commented too soon ◞‸◟

I was playing around in the admin console and think I've found it still exists.

That is, if you try and save a _Profile_ with empty _First name_ or _Last name_.

You are able to save a _User_ with name fields empty, just not a _Profile_.

Do you want to reopen this or create a new issue?

[2022-11-06 11:14] brylie commented on #127
Let's open a new issue so we can start the discussion fresh.

[2022-11-06 11:16] brylie commented on #1427
That looks like the correct solution. We'll give @darshanip and @poorvaditya18 some time to resolve the issue.

[2022-11-06 11:30] werberger commented on #1445
Appreciate this was assigned yesterday, but if @smhavens doesn't get it done in their needed timeframe, would be keen to have a go.

[2022-11-06 11:32] werberger commented on #1448
Again, can I put my hand up for next in line? No pressure @8bitaby

@brylie is it just spam if I put the same comment in the other two similar issues?

[2022-11-06 11:54] werberger commented on #127
sorry, did you want me to open the new issue @brylie?

[2022-11-06 12:24] brylie commented on #127
Yeah. Open the issue, and we will discuss the ideal solution.

[2022-11-06 12:26] brylie commented on #1445
Let's check back in a couple of days.

[2022-11-06 12:32] brylie commented on #1448
@werberger, since most of the CiviWiki issues have been claimed, would you like to take a task in another open-source project? I'm also developing Companionship Care, and there are several open issues marked as "help wanted":

[[werberger](https://github.com/werberger)](https://github.com/CompanionshipCare/companionship-care/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22)

[2022-11-06 12:44] werberger opened #1465 "Inconsistent Required status for First name and Last name fields in Profiles and Users classes in Admin Console"
### Description

In the Admin Console, you are not able to save a _Profile_ with empty _First name_ or _Last name_.

However, you are able to save a _User_ with name fields empty.

### What should have happened?

_No response_

### What browser(s) are you seeing the problem on?

_No response_

### Further details

If the desired outcome is that the _Profile_ can be saved with empty name fields the

[2022-11-08 16:36] ilaiyengar commented on #1465
Hi, I am a first time contributor! Would this be a good first issue that I can assist with?

[2022-11-08 18:42] brylie commented on #1465
@werberger may want to claim this issue.

[2022-11-09 01:12] werberger commented on #1465
yeah. thanks @brylie and sorry @ilaiyengar - if it's any consolation it will also be my first contribution.

[2022-11-10 14:55] #1427 closed, assigned to darshanip, poorvaditya18

[2022-11-13 14:36] belalmn-cmu commented on #1447
Regarding the newly created following tab, I noticed that there were no added unit testcases provided in the accounts/views_tests.py

We've created some testcases that are consistent with other provided testcases. I'd like to provide these as a new PR.

Please let me know if this is possible and/or if we need to create a new issue for this implementation.

[2022-11-15 11:07] brylie commented on #1447
Sure thing, thanks! Just open the new pull request and link it to this issue.

[2022-11-25 16:47] mCarrr commented on #1445
Hi everyone, i would like to help with this issue if is necessary

[2022-11-26 00:09] smhavens commented on #1445
Unfortunately I won't be able to continue working on this. Feel free to assign to anyone else.

[2022-11-28 18:58] audreyelim commented on #1445
Hi, I'm willing to take this on with @riajots @Rbatchu2 and @FredKhayat, and we can finish it within the next few days